[2017-03-07 18:58] clash99 opened #1233 "Hide location edit and delete buttons for project users"
### Steps to reproduce the error

- Look at the location detail for a project that you have project user permissions.

### Actual behavior

- I can view the edit and delete buttons but when I try to do anything, I'm denied.

### Expected behavior

- I would expect the edit and delete buttons to be hidden if a user doesn't have permissions to edit or delete.  (Same is true for location relationship

[2017-03-07 19:00] dpalomino commented on #1227
I've been testing a bit and have not been able to reproduce it. I've:

1.  logged in
2. navigate through a couple of projects
3. edit url manually and going to /dashboard or /
4. logged out

And works for me with Chrome and Firefox. Do we have a clear steps to reproduce?

[2017-03-07 19:14] SteadyCadence commented on #1127
Since this issue is on hold until the new map is released could we note that shrinking or moving the scale bar may also be required for a good mobile experience?

The scale bar prohibits users from clicking the "point" button on mobile.

[2017-03-07 19:14] dpalomino commented on #1226
Wow, this is quite weird. It only happens with that location type... I think we should fix it.

[2017-03-07 19:25] SteadyCadence opened #1234 "Language Support Error Message (on Staging)"
### Steps to reproduce the error

1. Create a project with a questionnaire that has at least two language options (in this case French and English)
2. Go to the overview page and look at the language toggle option on the top right.  View the green question mark icon that says that the language you are using is not supported.

### Actual behavior

When I toggle the languages in the questionnaire, I

[2017-03-07 19:27] dpalomino commented on #1222
I cannot reproduce either.

[2017-03-07 19:51] wonderchook commented on #1226
We just need to remove it as an option, right?

[2017-03-07 19:52] wonderchook commented on #1227
Do you have to be already logged in? I also could not reproduce, but I was not currently logged into staging.

[2017-03-07 19:59] wonderchook commented on #1232
@dpalomino are you clicking on the members panel to add a new member of on the down error next to "Add project"?

[2017-03-07 20:40] yoshi2095 commented on #1221
@amplifi, I am working on this bug. Thanks.

[2017-03-07 21:49] wonderchook opened #1236 "Show Password Should be Available on Reset Password/Change Pages Too"
When signing up for an account there is a "show password" option, this is not the case for password reset or the change password pages.

[2017-03-07 22:37] SteadyCadence opened #1238 "Error when uploading questionaires with accents in the name columns"
### Steps to reproduce the error

1. Create a questionnaire in French (or a language with accents).  Use words with accents in the name (keys) column, like pièces.
2.  Upload questionnaire to a new project
3. Get an error message like `[row : 103] Invalid question name [fournies_pièces]Names must begin with a letter, colon, or underscore.Subsequent characters can include numbers, dashes, and perio

[2017-03-07 22:43] wonderchook opened #1239 "Project User Can See Forms but Not Download Them in ODK"
A user with "project user" permissions can see forms in ODK and then select to download them but it then gives a "403 Forbidden" error. I think it is probably better if they can't see the form at all, since getting the forbidden error is a bit confusing.

[2017-03-07 22:44] wonderchook commented on #1238
Btw does this happen with other fonts as well?

[2017-03-07 22:48] clash99 opened #1241 "I can see members on Organization Overview but "View all" members tells me no"
### Steps to reproduce the error

For all users within that organization:  Public User, Project User, Data Collector, Project Manager

Below the organization members on the rights, select the "View all" button.

### Actual behavior

I'm seeing the members on the Organization Overview but when I select the "View all" button below, I get a "You don't have permission to view members of this organizat

[2017-03-07 22:52] clash99 commented on #1241
I think this is a regression, originally fixed with #728

[2017-03-07 23:20] Divya063 commented on #1236
@wonderchook but  there is a prompt box of "show password" option by the firefox browser in password reset or the change password pages.

[2017-03-07 23:29] wonderchook commented on #1236
Can you attach a screenshot? It isn't there on Chrome

[2017-03-07 23:39] clash99 opened #1242 "Remove confirm password fields"
With the new "show password" option, I think we can remove the second password field (confirm password).  Typically the confirm password is to enable the user to verify they correctly typed in the password in the first masked password field.   Thoughts?

[2017-03-07 23:55] wonderchook commented on #1242
Reasonable to me, who wants to enter their password twice anyway? Though we should probably fix this ticket at the same time #1236

[2017-03-08 00:06] wonderchook commented on #1165
So the examples provided by Mapzen work with IE, so something to keep in mind.

https://mapzen.github.io/leaflet-geocoder/examples/index.html
https://github.com/mapzen/leaflet-geocoder/tree/master/examples

[2017-03-08 02:05] clash99 commented on #1236
Would like same integration as #1240.

[2017-03-08 06:19] amplifi commented on #1242
We shouldn't remove the confirm password field, because we shouldn't be encouraging users to show their password in plaintext. I'm on the fence about having unmasking as a feature to begin with, but we shouldn't make that the only way for users to verify their passwords. Having to use the forgotten password link is a negative UX, and it's only a matter of time before someone exposes their password

[2017-03-08 08:57] oliverroick commented on #1121
@niharika1995 Sorry for the belated response, I needed to find some time to look into this first. So `iross` is a special case because they are a superuser.

`is_administrator` is a flag that is usually used to work our wether to display buttons for managing the organization (e.g.; edit membership, edit org details). It is added through [`OrgAdminCheckMixin`](https://github.com/Cadasta/cadasta-pla

[2017-03-08 09:38] dpalomino commented on #1223
As agreed in the search check-in, @seav was going to work on this to fix it this week (thanks Eugene!).

[2017-03-08 09:39] Divya063 commented on #967
@oliverroick it's okay

[2017-03-08 09:51] oliverroick commented on #967
Thank you!

[2017-03-08 09:51] #967 closed

[2017-03-08 09:51] bjohare opened #1244 "SMAP: Implement frontend toolchain"
Part of the Map Single Page App epic (#1031)

# Task

SMAP adds a lot of additional javascript. We currently have no process for compressing and uglifying JS resources. We should modernize our frontend toolchain to take advantage of developments in this area.. see http://owaislone.org/blog/modern-frontends-with-django/

[2017-03-08 09:58] dpalomino commented on #1226
Ah ok, true. Sorry, I misunderstood the issue. Reprioritizing and assigning to me to remove this option in the S3 files.

[2017-03-08 10:15] yoshi2095 commented on #1221
@amplifi I have fixed this issue. Please review. #1245

[2017-03-08 10:19] dpalomino commented on #1232
@wonderchook, I was clicking on the "Members" icon on the left first, and then the "+Add" icon on top right corner to add a new member and then I got the permission denied messages. But I am assuming that the behaviour will be the same when selecting the "Add org member"

Behaviour is not being always the same, now I can reproduce steps 1 to 3 with a new org, but after logging out and in I am now

[2017-03-08 15:04] clash99 commented on #1106
@oliverroick and @wonderchook:  I agree.  After a role change, the user should stay on the member page.

Here is a quick flow:

![orgmember-rolechange](https://cloud.githubusercontent.com/assets/1119621/23709172/32e16fc0-03de-11e7-890f-92e48a5baf2f.png)

[2017-03-08 15:07] clash99 commented on #1106
@dpalomino I think this could be first-contributor friendly.  What do you think?

[2017-03-08 15:40] clash99 commented on #1227
I confirmed that this was an issue again today where the logout link just redirected me to the dashboard again and again.  After clearing the cache it seemed to go away.

[2017-03-08 16:06] clash99 commented on #1222
Update: Tried to recreate yesterday's bug and its working correctly now.

[2017-03-08 17:01] dpalomino commented on #1222
Then I think we can close this and reopen if happens again...

[2017-03-08 17:01] #1222 closed

[2017-03-08 17:32] oliverroick commented on #1106
@clash99 So when you just save the project permissions and don't change the org membership, you're redirected to the members list? — There's already a PR for that, which is almost ready, we actually need to clarify that.

[2017-03-08 18:19] valaparthvi commented on #1159
Are sample data and sample questionnaires available to load and test? If so, where can I find them?

[2017-03-08 18:33] clash99 opened #1250 "403 after sign in"
### Steps to reproduce the error

- Sign in as existing user.

### Actual behavior

- Receiving 403.

### Expected behavior

- Would expect to be redirected to the dashboard.

If I hit refresh, I do get redirected to the dashboard and sign-in was successful.

This is a sporadic error I've received about a dozen times over the past 2 days.  I just want to document it in case others are seeing the s

[2017-03-08 18:37] Sanny26 commented on #1106
Following

[2017-03-08 18:41] dpalomino commented on #1241
Good catch @clash99. I've seen that this is not happening with org admins, only with regular users (all profiles as you stated).

[2017-03-08 19:01] dpalomino commented on #1250
I haven't seen any 403 in te last couple of days. @amplifi do you know if we can see something in the logs?

[2017-03-08 19:09] dpalomino commented on #1187
ok, so this now seems to be fixed. Please reopen if needed.

[2017-03-08 19:09] #1187 closed

[2017-03-08 19:11] dpalomino commented on #1119
I think that was related with querying a text within labels (issue #1111). Please reopen if needed.

[2017-03-08 19:11] #1119 closed

[2017-03-08 19:24] laura-barluzzi commented on #1159
Hi @SteadyCadence @dpalomino, I'm looking at this bug and I was wondering if I got it right -- does this ask to just enable users to import data .WKB? Along with CSV and XLSX? Is there any other related issue? Thanks.

[2017-03-08 19:43] SteadyCadence commented on #1159
Hey @laura-barluzzi!

WKB is a geometry format.  Users would be able to import CSV and XLSX with the WKB format (instead of the WKT format, which is the only one Cadasta currently supports).

http://gis.stackexchange.com/questions/3808/how-to-convert-wkb-to-wkt

@bjohare may have some suggestions as well.

[2017-03-08 20:22] linzjax commented on #1241
So this was only half fixed with #728. It made the list no longer visible to non-org members, but didn't add permission to allow org members access to the page. Opening a PR now.

[2017-03-08 21:00] SteadyCadence opened #1252 "Excel Export :: Update column headers to be more specific (like 'type' => 'party_type')"
### Steps to reproduce the error

1. Go to a project and click the Export option
2. Export to Excel and view the column header names.

### Suggestions

Using `type` and `name` as headers are too vague.  It will likely confuse users.  Also, these name changes will make the import back into Cadasta more clear (related to https://github.com/Cadasta/cadasta-platform/issues/1090)

Renamings:
`type` =>

[2017-03-09 00:03] khantaalaman commented on #1220
The bug has been fixed.

Supporting GIF:

![optimised](https://cloud.githubusercontent.com/assets/18065231/23729769/d2b987ca-0489-11e7-908f-3175f5f929b6.gif)

PS: Sorry for buggy GIFs.

[2017-03-09 05:04] SteadyCadence opened #1253 "Form Upload :: Form Does not show up on GeoODK (staging)"
### Steps to reproduce the error

1. Create New project and upload attached questionnaire to project.
2. View a successful import.  Add a location, party/relationship, etc
3. Go to `/collect` and see form has not been submitted. Sign in to GeoODk, refresh form management-- form does not show up.

[arc-questionaire-v0.1.xlsx](https://github.com/Cadasta/cadasta-platform/files/829813/arc-questionaire

[2017-03-09 06:25] valaparthvi commented on #1231
I would like to work on this issue if no one else is working on it? Can I go ahead?

[2017-03-09 08:55] bjohare opened #1254 "Review location geometry creation via imports and ODK"
### The issue

Its currently possible to create locations with empty or null geometries via imports and ODK form submissions. It should not be possible to do this. We should consider making `geometry` a `required` field on the `SpatialUnit` model. We should add stricter validation on imports and form submissions and reject locations with missing geometries.

### Actual behavior

Location records c

[2017-03-09 11:12] valaparthvi commented on #1011
hey @oliverroick , this feature looks interesting and I don't think it has been implemented yet.So if no one else is working on it, I would like to work on it. I haven't figured out the exact way to implement this, but I would like to try. So can I get started with it?

[2017-03-09 11:17] rishabhiitbhu commented on #1231
I would like to work on this issue.

[2017-03-09 11:25] oliverroick commented on #1011
Hey @valaparthvi, thanks for your interest.

We haven't defined any requirements nor have we done any design work, which usually precedes the implementation of more complex features like this. There are a lot of questions that need to be considered (e.g. Who can invite users?, What information will be required to create a preliminary user account?, How will the data model for this feature look lik

[2017-03-09 11:26] bjohare commented on #1231
@valaparthvi and @rishabhiitbhu thanks for your interest but this is not a 'First Contribution Friendly' issue, please find another issue with the first contribution label.

[2017-03-09 11:35] rishabhiitbhu commented on #1231
@bjohare almost all 'First Contribution Friendly' issues have already PRs. It would not be good to raise PR for those issues. I want to work for this issue. Please let me try for it. I want to learn about cadasta-platform, rather than getting my PR merged. thanks

[2017-03-09 11:35] valaparthvi commented on #1231
@bjohare okay.

[2017-03-09 11:40] bjohare commented on #1231
@rishabhiitbhu ok that's fair enough, please feel free to go ahead. @valaparthvi, if you want to try this as well, please go ahead. We'll work out the PR stuff later.

[2017-03-09 11:42] valaparthvi commented on #1011
Hey @oliverroick, Even I thought about few problems that you mentioned above and I understand it would be difficult to come up with a solution without having the necessary information. I was interested in the Backend development of this feature, but I guess I'll just wait until requirements and design are clear.

Also, I would like to learn how features like this one are developed from scratch, so

[2017-03-09 11:47] valaparthvi commented on #1231
@bjohare I've submitted my first PR for another issue, so it's okay if @rishabhiitbhu wants to solve this issue. I'll find another issue to work on.

[2017-03-09 11:52] dpalomino commented on #1253
Hi @SteadyCadence! Maybe we can review when you have a moment. I've not seen this issue with other forms, I think it could be due to some format issues with the form.

[2017-03-09 11:54] rishabhiitbhu commented on #1231
@bjohare okay. @valaparthvi thanks for your support.

[2017-03-09 12:01] dpalomino commented on #1252
Thanks for raising this @SteadyCadence. Yes, I think that would be useful, agree with the comments. Something to consider fixing later on....

[2017-03-09 12:47] bjohare commented on #1231
thanks @valaparthvi

[2017-03-09 12:56] dpalomino commented on #1238
This is because names need to only include letters (without accents, etc), numbers and/or underscores, and start with a letter. AFAIK this is a limitation of xforms, not ours...

With labels this is not happening of course.

I think we should be safe closing this issue. Please reopen if I'm missing something.

[2017-03-09 12:56] #1238 closed

[2017-03-09 12:58] dpalomino commented on #1234
Hi, @clash99 already fixed this issue (thanks Candra!).

See new text:
![screen shot 2017-03-09 at 13 57 14](https://cloud.githubusercontent.com/assets/17198051/23751175/6f01daec-04d0-11e7-984b-64b54b9d7841.png)

Please reopen if needed.

[2017-03-09 12:58] #1234 closed

[2017-03-09 13:06] khantaalaman commented on #610
@wondercook Has this been worked upon?

[2017-03-09 13:31] oliverroick commented on #1224
I had a look at this and the problem was not so much the use of emojis per se but rather that the name contained only emojis. That resulted in an empty slug which broke the platform. If you have a name like "I need 🍺" everything is ok because the resulting slug is `i-need`.

We can make emoji-only names for organizations and projects work, if we use a default slug whenever slugifying a name result

[2017-03-09 13:42] amplifi commented on #1224
The empty slug broke the platform, but the emoji char also caused breaks in ElasticSearch. If we're going to support emoji we'll need to make sure it's supported throughout; ES, imports, exports, ODK, etc.

[2017-03-09 14:01] amarlearning commented on #564
@wonderchook @clash99  Anyone working on this?
I would like to work on this.

[2017-03-09 14:16] linzjax commented on #1224
I've been using emoji's when testing ODK on my local-env and they translated to the platform without any complaints, but that was before we had ES.

[2017-03-09 14:18] clash99 commented on #1234
Thanks for closing @dpalomino  - sorry @SteadyCadence, I didn't realize there was an issue filed.

[2017-03-09 14:28] pranjaltale16 commented on #975
@clash99, Hello I would like to work on this and add a tagline to right of the logo.
1. What is the exact tagline that I have to add?
2. Do I have to add an image for it or plain text?

[2017-03-09 15:02] rishabhiitbhu commented on #1231
@bjohare
### Steps taken:
- Created a project.
- Added [Standard cadasta questionnaire](https://s3-us-west-2.amazonaws.com/cadasta-resources/sample-forms/standard_cadasta_questionnaire.xlsx) as questionnaire.
- Added a location, followed by adding a relationship for that location, with "NATIONAL ID NUMBER" (national_id) and "MOBILE NUMBER" (mobile_number) as intergers.
-Under "Parties" overview of

[2017-03-09 15:16] clash99 opened #1255 "Add ability to add descriptions to some dropdowns"
I would like to explore solutions to add descriptions to some of our dropdowns to provide users more information when making their selection.

I think the member profile page is a good place to start.  For example, for member roles we could provide a line or two that would help the user understand the differences between selections.

Below is a quick mock of what I was thinking:

![orgmember-dropd

[2017-03-09 15:17] clash99 commented on #1255
@dpalomino and @wonderchook - I was thinking this would be good for first-contribution friendly.  Thoughts?

[2017-03-09 15:17] bjohare commented on #1231
@rishabhiitbhu I can't see the second screenshot you posted above.. I've just confirmed this on platform-staging.cadasta.org

[2017-03-09 15:38] clash99 opened #1256 "Rework Member Profile page into two sections"
Rework Member Profile Page so that it is two columns instead of one.  Since left and the right sections have separate actions, I think it will be more intuitive this way.

Quick mockup for general idea:

![two columns](https://cloud.githubusercontent.com/assets/1119621/23757299/063ae7d4-04ac-11e7-9078-02a62bf21884.png)

[2017-03-09 15:39] clash99 commented on #1256
@dpalomino and @wonderchook - I think this if first contributor-friendly.  Thoughts?

[2017-03-09 15:41] dpalomino commented on #1255
Hi @clash99. I think it's a great idea (and agree that member profile page is a good place to start with). I think we should be ok with the first-contribution-friendly.

Another good place would be when adding a relationship to a location, in the drop-down menu for the relationship type (partners usually ask for the difference among these types):

![screen shot 2017-03-09 at 16 39 58](https://clou

[2017-03-09 15:44] dpalomino opened #1257 "Incorrect text when adding a relationship through GUI"
### Steps to reproduce the error

1. Select one location and add a relationship
2. In the Relationship details, the following text appears:
"What is the social tenure type?"
![screen shot 2017-03-09 at 16 41 36](https://cloud.githubusercontent.com/assets/17198051/23757619/abb360de-04e7-11e7-85b2-6ae2e161b293.png)

However it'd be better not to use the term "social tenure", I'd suggest to use:
"Wha

[2017-03-09 15:46] rishabhiitbhu commented on #1231
I have edited the link, It may be visible to you now. I have checked it on local development server (forked repo, branch master) and on demo.cadasta.org both same results. Will checkout platform-staging.cadasta.org

[2017-03-09 15:47] dpalomino commented on #1256
hi @clash99. I agree, it looks nice. I think it'd be a good first-contributor yes.

[2017-03-09 15:54] rishabhiitbhu commented on #1231
@bjohare I signed in on platform-staging.cadasta.org with "iross" user. Created a new project with standard-cadasta-questionnaire. Imported same xls file which I had downloaded from local development server. Checked out the newly created party and it gives me same results, i.e., NO conversion from integer to float.

here is the [link](https://platform-staging.cadasta.org/organizations/ir-test/proj

[2017-03-09 16:01] seav commented on #1255
I think we can reuse the same solution we did for the party selection field when creating a new relationship.

[2017-03-09 16:10] bjohare commented on #1231
Ok @rishabhiitbhu thanks for your investigation, I'll have a closer look at this and see if I missed something at my end..

[2017-03-09 16:22] khantaalaman commented on #1256
Please review whenever possible.

Thanks!

[2017-03-09 16:34] bjohare commented on #1231
@rishabhiitbhu would you mind sanity checking this import? Please register a new user account and create a new project from scratch using the standard cadasta questionnaire. Thanks.
[testing_integers.xlsx](https://github.com/Cadasta/cadasta-platform/files/831632/testing_integers.xlsx)

[2017-03-09 16:44] oliverroick commented on #1220
Just curious, is that something that happens in other forms as well? Say the project form for example? If yes, we need a generic solution that works across all forms and all fields.

[2017-03-09 16:52] khantaalaman commented on #1220
Cool @oliverroick , I will look into this and update the PR accordingly. By the way, I anyway need to update the PR for making the work "Name" lowercase. Sorry to have skipped that by mistake.

Thanks!

[2017-03-09 16:57] linzjax opened #1259 "Formatting issue with dataTables and lots of resources"
### Steps to reproduce the error
- Add more than 10 resources to a location or relationship

### Actual behavior
In full screen view:

<img width="1280" alt="screen shot 2017-03-09 at 11 54 11 am" src="https://cloud.githubusercontent.com/assets/8128188/23761017/6fdbfd46-04bf-11e7-8fde-e297e83eb865.png">

The arrows overlap rows slightly or (if the screen is slightly smaller), the arrows jump down

[2017-03-09 17:06] clash99 commented on #1255
@seav good idea - contributors can use that as a point of reference.

[2017-03-09 17:16] khantaalaman commented on #1255
@clash99 I am taking this one. Facing a small problem though, as I unable to find the work implemented for `party-selection` while creating a new relationship as @seav mentioned.
The local branch on which I was checking this is in sync with this project's master branch. It will be really helpful if you can post a screenshot of the similar implementation that has already been worked upon.

Thanks!

[2017-03-09 17:20] rishabhiitbhu commented on #1231
@bjohare Sure.

[2017-03-09 17:20] bjohare commented on #1227
@dpalomino I haven't been able to reproduce this in the last two days. I suggest we close this and reopen if it reappears?

[2017-03-09 17:43] SteadyCadence opened #1260 "Enhancement :: Add user that can only submit data on the mobile device (and not view project on web)"
Hfh would like to have a user that only has the ability to collect data on GeoODK.  Their permissions will be limited to submitting data.  They cannot access details on Cadasta when they log in (they will be a public user on the site).

This user role could be considered the "data collector" and then the permissions of the current data collector can be "project maintainer".  We can discuss further

[2017-03-09 17:52] rishabhiitbhu commented on #1231
@bjohare I registered a new user account. Created a new organisation. Created a new project under that organisation using standard cadasta questionnaire. Imported same xls file. Got same results as before. Imported the file you linked in previous comment. Got same results. Screenshot attached.
![3](https://cloud.githubusercontent.com/assets/17473589/23763358/3e7feef0-051f-11e7-914d-7704b985816a.pn

[2017-03-09 17:54] bjohare commented on #1231
@rishabhiitbhu what values do you get for Individual party types?

[2017-03-09 17:56] rishabhiitbhu commented on #1231
@bjohare same Integer values (no float). Screenshot attached:
![4](https://cloud.githubusercontent.com/assets/17473589/23763478/c4d12708-051f-11e7-9905-18d091bcbe67.png)

[2017-03-09 18:14] bjohare commented on #1231
@rishabhiitbhu ok, thanks for your help. We'll need to do some investigation as @dpalomino has just confirmed the issue again using https://github.com/Cadasta/cadasta-platform/files/831632/testing_integers.xlsx

[2017-03-09 18:30] dpalomino commented on #1260
Thanks @SteadyCadence!

Added in the backlog, id 68.00.

**User Story**

As a project manager, I want to grant permissions to a "mobile data collector only" member of my organization, so she will be only able to submit data through xforms but not able to view/edit data through the GUI

**Description**

There will be a new role (Mobile Data Collector Only, name TBC) defined, so:
 - This user will b

[2017-03-09 18:50] rishabhiitbhu commented on #1231
@bjohare I got the error this time. Actually the attached image of individual party in my last comment is that of my own imported xls file. When I imported your testing_integers.xlsx file, it changed the integer values to float for individual party. Sorry for misunderstanding.
Screenshot attached.
![5](https://cloud.githubusercontent.com/assets/17473589/23765441/3b451c30-0527-11e7-98b2-741a440f383

[2017-03-09 19:24] dpalomino commented on #1253
confirmed with @SteadyCadence that was due the form, we can close this issue :)

[2017-03-09 19:24] #1253 closed

[2017-03-09 20:26] MappingKat opened #1261 "Add translation ability for required questions (party_type, party_name, etc)"
### Steps to reproduce the error

1. Create a project and upload a non-english form
2. Add a location in the project. View all questions except the required ones are in the proper language.
3. Click the supported languages option on the footer and notice that doesn't translate the questions either.

### Actual behavior

English is hard coded into the questions and answers of the required fields.

[2017-03-09 20:35] wonderchook commented on #1261
I'm thinking this might be best approached with the task to allow other types for the required questions. (Though parties would still need to be fixed)

[2017-03-09 20:45] wonderchook commented on #1260
@dpalomino I think if we outlined this specifically with the naming thing it could be First Contributor Friendly.

[2017-03-09 20:53] SteadyCadence commented on #1261
@wonderchook, @dpalomino and I were talking about this and he suggested that we make those questions available in transifex. That's a decent workaround.

We will run into problems with that if a user translates the questions correctly in an XLS form, in Hindi for example, and is unable to view those translations on the web.  But it works with ODK...

[2017-03-09 20:54] wonderchook commented on #1261
Yeah, that makes sense. I just meant if we were going to go fiddle with this I think we just do the two together.

[2017-03-09 21:23] clash99 opened #1262 "Link members on Organizational Overview page directly to member profile"
# Outreachy/GSoC candidates: A PR for this issue has been approved and is waiting to be merged.

We need to add a link from the member name on the Organizational Overview page directly to the Member Detail page.

**Member list on right column here:**

![screenshot 2017-03-09 15 17 43](https://cloud.githubusercontent.com/assets/1119621/23771216/cac241f4-04db-11e7-8ea0-115bb90a2449.png)

**Should li

[2017-03-09 21:23] clash99 commented on #1262
@dpalomino I'm marking this as first contributor friendly.  Feel free to remove it if you don't agree.

[2017-03-09 22:57] clash99 opened #1264 "Add thumbnail preview to edit resources page"
Currently there isn't a thumbnail preview on the edit resources page.  Ideally we could use the same 128 X 128 on the resource detail page and add it to the resource edit page.

**Current page:**

![screenshot 2017-03-09 16 56 17](https://cloud.githubusercontent.com/assets/1119621/23774470/6406f032-04e9-11e7-8b6a-a03f791216d2.png)

**Proposed change:**

![edit preview](https://cloud.githubusercont

[2017-03-09 22:58] clash99 commented on #1264
@dpalomino Marking as first contribution friendly.  Feel free to remove if you disagree.

[2017-03-09 23:23] khantaalaman commented on #1264
A PR has been submitted for this issue. Please suggest further improvement.

Supporting screenshot:

![screenshot from 2017-03-10 04-50-49](https://cloud.githubusercontent.com/assets/18065231/23775203/79efa25e-054d-11e7-8cfc-8cd1dbba9e28.png)

Thanks!

[2017-03-09 23:26] clash99 opened #1267 "Identify resource file size"
For our users with slower connections, it would be good for them to know the file sizes of our resources before they choose to download them.  Can we add this next to the file names and the download buttons?

[2017-03-09 23:27] clash99 commented on #1267
@oliverroick and @amplifi - before I create any mocks for this, can you let me know if this is able to be first-contributor friendly or are there security concerns or other issues I'm not aware of?  Thanks!

[2017-03-09 23:52] laura-barluzzi commented on #1216
Hi @oliverroick, has this been fixed?

[2017-03-10 00:11] laura-barluzzi commented on #1233
Hi @clash99, I'm interested in working on this. I get the general idea for which the buttons should be hidden if the user cannot use them, but is a user with "project permission" allowed to make changes or not? This is unclear to me. Thanks.

[2017-03-10 00:31] wonderchook commented on #1233
@laura-barluzzi you mean the "project user"? They should not be able to make changes

[2017-03-10 01:03] #1092 closed

[2017-03-10 01:05] clash99 commented on #1092
@SteadyCadence - This has been fixed and should be reviewable in the next release to staging.  Feel free to reopen at that time if it isn't as you intended.  Thanks!

[2017-03-10 01:14] clash99 commented on #110
@dpalomino Is this first contributor friendly?  I think it would be important for a contributor to outline their thought process before working on any code.  Thoughts?

[2017-03-10 01:20] clash99 commented on #429
This seems like a duplicate of the more detailed #559.

[2017-03-10 01:20] #429 closed

[2017-03-10 01:21] wonderchook commented on #110
I think if they outlined their process it could be.

[2017-03-10 01:27] clash99 commented on #110
@wonderchook - cool, thanks!  I'll update the description with those details.

[2017-03-10 01:28] wonderchook commented on #1257
agreed

[2017-03-10 01:34] wonderchook commented on #564
@amarlearning sure! Just review this first: https://github.com/Cadasta/cadasta-project-ideas/wiki/GSoC-Outreachy-Issue-Contribution-Process

[2017-03-10 01:36] laura-barluzzi commented on #1233
Hi @clash99  and @wonderchook, I fixed this; please take a look at #1268 and let me know what you think.

[2017-03-10 02:00] wonderchook opened #1269 "Emails from Cadasta should have a human readable name"
When you receive emails from the Cadasta platform right now it just shows as "platform" in many email clients. It should instead show "Cadasta Platform" to do this we need to add a human readable name when we send emails.

[2017-03-10 03:44] SteadyCadence opened #1270 "Number of project listed on org index includes active AND archived projects"
While viewing the organization index, I noticed that it listed 8 projects in the Demo account-- even though there are only 3 active projects.

![screen shot 2017-03-09 at 8 41 23 pm](https://cloud.githubusercontent.com/assets/25337622/23781238/1c2e9e34-0509-11e7-8655-1f69c3626cda.png)

Since I cannot delete projects (only archive them), I would only like to see the total of 3 on the list.

Up for

[2017-03-10 07:05] rishabhiitbhu commented on #1269
@wonderchook I registered on Cadasta plaform with username "ags", confirmation email I got was:

When I tried to reset my password, the email I got :
You're receiving this email because you or someone else has requested a password reset for your user account at Cadasta Platform.

I need a clarification, the email client is platform@cadasta.org, are you talking of changing this?

[2017-03-10 07:24] valaparthvi opened #1271 "Unmentioned file types when uploading a new resource."
[Add a new Resource](https://docs.cadasta.org/en/04-records.html#project-resources) suggests that acceptable file types are:
.pdf
.mp3
.mp4
.doc
.docx
.jpg
.png
.gif
.tiff
.xls
.xlsx
.xml

While Adding a new resource to any project, not all the file types(xls, xlsx, gif, tiff) are mentioned. Is there a reason for not mentioning these file types?

### Steps to reproduce the error
1) Open a Project

[2017-03-10 07:28] oliverroick commented on #1216
@laura-barluzzi There are some PRs dealing with this, which are close to completion. No need to start with this.

[2017-03-10 07:30] amplifi commented on #1267
@clash No issues here 👍

[2017-03-10 07:42] amplifi commented on #1250
@dpalomino There are sporadic 403 http responses on the POST to account/login/ in staging, demo, and production. This isn't an "error" necessarily; as far as the logs are concerned that's the appropriate behavior for invalid CSRF tokens. Django handles CSRF, so we'd have to check that it's being implemented correctly on the platform side.

[2017-03-10 08:24] #1213 closed

[2017-03-10 08:42] #1223 closed

[2017-03-10 08:47] pranjaltale16 commented on #110
@wonderchook @clash99
Hello, I would like to work on this issue.

In order to add an Image upload option:
  1. A new field will be added in User model like 'user_image = models.ImageField()' with all the parameters defined and for image cropper we can use [django-image-cropper](https://github.com/jonasundderwolf/django-image-cropping), also this field will have constraint `blank = True` so that in

[2017-03-10 08:59] #1216 closed

[2017-03-10 08:59] #1217 closed

[2017-03-10 08:59] #1236 closed

[2017-03-10 09:26] #910 closed

[2017-03-10 09:34] Shruti9520 commented on #1257
@dpalomino Can I work on this issue?

[2017-03-10 09:37] bjohare commented on #1254
Related to https://github.com/Cadasta/cadasta-platform/issues/1113

[2017-03-10 10:03] dpalomino commented on #1257
Sure @Shruti9520, you can work on this issue.

I think you're not seeing the wrong message because it is the first party in that project. If you first add a party, and then repeat the operation described in the STR, you will see the wrong string. With the first party created in the project the strings are ok.

See screenshot:
![screen shot 2017-03-10 at 11 02 56](https://cloud.githubusercontent.co

[2017-03-10 10:23] amplifi opened #1272 "Password reset should not confirm or deny existence of account"
### Steps to reproduce the error

Attempt a password reset for an email address that does not correspond to a platform user account.

### Actual behavior

The error message indicates there's no user account for that email address. This of course means that if the reset password submission is approved, a valid account exists for that email address.

<img width="500" alt="screen shot 2017-03-10 at 6

[2017-03-10 10:35] Shruti9520 commented on #1257
@dpalomino I can't see the wrong message even if I add second or third party. Also "Tenure Notes" part isn't visible. Will you please see the screenshot-

![cadasta2](https://cloud.githubusercontent.com/assets/20228417/23791995/2f5a6c52-05ab-11e7-9753-25bb35d2e522.png)

Thanks :)

[2017-03-10 10:46] dpalomino commented on #1257
Ahh I see now. The bug only appears [in staging](https://platform-staging.cadasta.org) not in demo.

[2017-03-10 11:03] amplifi opened #1273 "User session has no expiry"
### Steps to reproduce the error

Log in to any platform user account.

### Actual behavior

User session has no expiry; the cookie never expires so the session can persist until the user manually logs out of the platform.

This means for **any** user who logs in, if they don't click to log out, **anyone using the same computer up to one year after them could access the platform without needing to

[2017-03-10 11:33] rjain111 commented on #1269
Hi @wonderchook
I would like to work on this issue.
From what I have understood, we basically need to change
DEFAULT_FROM_EMAIL = 'platform@cadasta.org'
to
DEFAULT_FROM_EMAIL = 'Cadasta Platform<platform@cadasta.org>'
This will add a human readable name ('Cadasta Platform') to every mail sent from platform@cadasta.org.
What do you think?

[2017-03-10 12:08] seav commented on #1257
@dpalomino, this is a defect on the questionnaire, not the platform. The platform took the “social tenure” wording from the project's questionnaire.

[2017-03-10 12:27] bjohare commented on #1231
Ok @rishabhiitbhu, thanks for confirming that. Could you post your import file so we can investigate this further? If necessary, please sanitize before sharing publicly.

[2017-03-10 12:45] dpalomino commented on #1257
Ah thanks @seav! I didn't notice it. Closing the issue then.

@Shruti9520, sorry for the inconvenience, this is not actually a bug. Please feel free to choose any other "First Contribution Friendly" issue to fix. Thanks!

[2017-03-10 12:45] #1257 closed

[2017-03-10 13:02] aklife97 commented on #1272
Hi, I would like to take up this issue.
Django allauth does not by default provide this functionality as we can see [here](https://github.com/pennersr/django-allauth/issues/1307)
So as a solution
I can create `ResetPasswordForm` class and have  a custom clean_email method in it.
Now from inside the function, I can check simply get the email and put the user in self.users
Now save would be run (eve

[2017-03-10 13:15] Shruti9520 commented on #1271
@dpalomino @valaparthvi  Can I take this issue? :)

[2017-03-10 13:20] valaparthvi commented on #1271
@Shruti9520 sure, I don't mind.
@dpalomino Do you think there is a specific reason for not mentioning those types?

[2017-03-10 13:43] aishwarya-an commented on #1271
@valaparthvi Hi, I am Aishwarya. I am new to open source contribution. Can you please guide me as to , under which branch do i make the pull request for this issue?
Thanks.

[2017-03-10 13:47] valaparthvi commented on #1271
hey @aishwarya-an you can follow [this guideline](https://devwiki.corp.cadasta.org/Git%20workflow) and also [this](https://github.com/Cadasta/cadasta-project-ideas/wiki/GSoC-Outreachy-Issue-Contribution-Process) to make your contribution.

[2017-03-10 13:51] aishwarya-an commented on #1271
@valaparthvi  Thanks.

[2017-03-10 13:52] aishwarya-an commented on #1271
@valaparthvi  Can i make a pull request even though i have not been assigned this issue.

[2017-03-10 14:04] clash99 commented on #1270
I agree - lets have it show only the active projects.  I think that is assumed.

Another place we should verify only active numbers are showing is on the project overview page - the locations, parties and resources.

[2017-03-10 14:05] clash99 commented on #1270
@dpalomino Added a low priority to this bug and made first contributor friendly.  Feel free to change if you don't agree.

[2017-03-10 14:06] pranjaltale16 commented on #110
Hello,
I checked for the file-upload in resources app and came know about **django-buckets**.
So, I believe it would be better to use `S3FileField` instead of `models.ImageField` for image upload.
I have tried it on my local account and it seems to be working fine.

[2017-03-10 14:19] linzjax commented on #432
@dpalomino: FYI: Once the update is integrated into ODK, we'll need to revisit the error messages being sent. Most of them are not clear or optimized for real users.

[2017-03-10 14:26] wonderchook commented on #1273
@SteadyCadence thoughts on what the expiry should be?

[2017-03-10 14:28] wonderchook commented on #1272
@amplifi should we also not confirm that an email has been sent?

[2017-03-10 14:32] bjohare commented on #110
Hi @pranjaltale16, thanks for your proposed outline. You should address the requirement that profile images need to be displayed at different sizes at various points in the platform. See guidelines for first time contributors in @ian-ross's original post above. See https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/resources/models.py for possible approaches.

[2017-03-10 14:36] aklife97 commented on #1272
@wonderchook I just sent a PR. I have also added a 2 tests to check if mail is sent or not. This should suffice to confirm whether email has been sent.

[2017-03-10 14:37] amplifi commented on #1272
@wonderchook I usually see messages similar to "Your email address has been submitted. If it matches an account on the Cadasta Platform, you will receive an email shortly with instructions for resetting your password." etc

[2017-03-10 14:45] wonderchook commented on #1272
@aklife97 this issue was not marked new contributor friendly nor had we decided exactly how to fix it yet. Can you review this before starting on another issue: https://github.com/Cadasta/cadasta-project-ideas/wiki/GSoC-Outreachy-Issue-Contribution-Process

[2017-03-10 14:47] aklife97 commented on #1272
@wonderchook Okay, Sorry. Would keep it in mind.

[2017-03-10 14:50] wonderchook commented on #432
@linzjax this is already in GeoODK, I believe the next ODK release is in a few weeks as well.

@dpalomino this should be a task for a sprint.

[2017-03-10 14:51] pranjaltale16 commented on #110
Hello, @bjohare
For

I believe it's better to save a single image and apply required dimensions at each place directly in templates / CSS.
If there is something else in order to approach this please explain.

And for `/cadasta/resources/models.py` I have implemented image upload using `S3FileField` on my local account and it is working fine.
Is there anything else to look upon?

[2017-03-10 15:01] bjohare commented on #110
@pranjaltale16 according to what you're proposing,  we would need to send the full image to the client in cases where we only need to send a thumbnail, for example in the profile section of the top bar and in places where we list users. This is not an acceptable approach.

[2017-03-10 15:06] valaparthvi commented on #1271
hey @aishwarya-an @Shruti9520 , both of you made same changes and have made a PR, but I am not authorized to merge PRs. @dpalomino can you help here?

[2017-03-10 15:45] dpalomino commented on #432
@linzjax @wonderchook
ok, added in the backlog for being tracked. Are those messages available in a single file or similar, so we can review them? If they are, I can take a look and make some suggestions.

[2017-03-10 15:51] linzjax commented on #432
Not really. Currently, they're whatever error message django throws with `Location error:`, `Party error:` etc. in front of them. It might be worth dividing up the code so that errors are thrown at more specific times so that we can give clearer feedback. Right now, if _anything_ in the create_<record> process breaks, it throws one error, so it's hard to figure out where in the process things went

[2017-03-10 16:03] valaparthvi commented on #1259
hey @linzjax , It seems to be working fine for me. I hope this is what you were talking about.
![screenshot from 2017-03-10 21-29-12](https://cloud.githubusercontent.com/assets/11015077/23802354/0eaac546-05d9-11e7-9e21-d9e04339cf16.png)

[2017-03-10 16:16] valaparthvi commented on #1259
I'm sorry I didn't notice before, but it does happen when the screen size is small.

[2017-03-10 16:28] oliverroick commented on #1271
Both PRs are exactly the same; it's going to have to be first come, first serve.

[2017-03-10 16:32] valaparthvi commented on #1271
okay @oliverroick

[2017-03-10 16:56] seav opened #1282 "Project data language selector UI can be improved"
1. When a user has no permission to view project data, the project data language selector still appears even though it's useless for the user.
2. On smaller screens, the selector and its tool tip are not displayed properly.

![screen shot 2017-03-11 at 00 52 35](https://cloud.githubusercontent.com/assets/873653/23804584/77f27d52-05f5-11e7-97f9-19904debb9c5.png)

[2017-03-10 17:00] pranjaltale16 commented on #110
@bjohare I thought of two methods to work upon:
1. Generate and save a thumbnail image simultaneously along with the original image(but this needs more space or more storage).
2. While sending the image to templates we can send it after processing it with either `PIL` library or [easy-thumbnails](https://github.com/SmileyChris/easy-thumbnails).

The second one would be a better option I suppose.
I

[2017-03-10 17:01] wonderchook commented on #1242
@amplifi I was not understanding what you brought up regarding demos until checking out staging today!

Okay so I think there are couple things we should consider, here are my thoughts:
* I don't think the password unmask button should be on the login at all. Agreed on not accidentally revealing password
* I do think we should remove the password confirm box, but then we need the reveal button on

[2017-03-10 17:05] clash99 commented on #1242
I agree on both points. If this is final, I can make the changes today.  Just let me know....

[2017-03-10 17:13] rishabhiitbhu commented on #1231
@bjohare this is my import file.
[import_test.xlsx](https://github.com/Cadasta/cadasta-platform/files/834615/import_test.xlsx)

[2017-03-10 17:20] wonderchook commented on #1242
@dpalomino in agreement on this? I think we need to remove the unmasking on login prior to release no matter what

[2017-03-10 17:35] wonderchook commented on #110
@pranjaltale16 it would be better to do all processing when the profile photo is uploaded. What you are suggesting now would work now, but would cause undue load on the server so as traffic to Cadasta increases would be problematic.

[2017-03-10 17:35] dpalomino commented on #1242
Hi @wonderchook @clash99 @amplifi.  Yes agree on both points as well.

[2017-03-10 17:37] clash99 commented on #1106
@oliverroick sorry for the delay - just saw this.  Yes, the Save button should redirect to members list.

[2017-03-10 17:40] oliverroick commented on #1106
👍  The PR is approved!

[2017-03-10 18:01] clash99 commented on #1242
**Rules I used to make changes:**
- Entering your current password = no unmask option.
- Entering a new password = mask option.
- Removed second confirm password field.

Pages with new changes:

**Login**

![screenshot 2017-03-10 11 39 13](https://cloud.githubusercontent.com/assets/1119621/23806828/d7e89d6c-0588-11e7-8941-71876c84f5a8.png)

**Register**

![screenshot 2017-03-10 11 40 18](https://c

[2017-03-10 18:12] pranjaltale16 commented on #110
@wonderchook @bjohare
So it would be a better option to continue with point 1 that is

[2017-03-10 18:28] niharika1995 opened #1283 "Superusers do not have the permission `org.users.*`"
### Steps to reproduce the error

In the Django shell:

[code]

### Actual behavior

As shown above.

### Expected behavior

[code]

[2017-03-10 18:50] #1283 closed

[2017-03-10 18:57] niharika1995 commented on #1042
Should I check whether `request.user` has the permission `org.users.list` or a simple check for `is_member` good enough?

[2017-03-10 19:39] rishabhiitbhu opened #1284 "AssertionError at /api/v1/users/<user-name>/"
### Steps to reproduce the error
- Login with superuser (ex: 'iross' on local development server)
- visit /api/v1/users/**user-name**/

### Actual behavior

- AssertionError :

### Expected behavior

According to Docs [link](https://devwiki.corp.cadasta.org/User%20management%20API#get-a-single-user) superuser should be able to see specific user's details (ex: first_name, last_name, email ) and sho

[2017-03-10 19:42] rishabhiitbhu commented on #1284
I would like to take up this issue.
Approach:
- /vagrant/cadasta/organization/urls/api/users.py URL conf needs to be fixed.
- URL keyword needs to named "username".

[2017-03-10 20:05] SteadyCadence commented on #1127
I spoke with Frank this morning and a majority of his participants in Indonesia are using their mobile phones for data collection and admin work (review/editing).  I think it is very important to enable users to collect data on the mobile/tablet phones.  In other words, I am trying to bring attention to this issue as it is prohibiting users from collecting date on their mobile phones. :)

[2017-03-10 20:14] wonderchook commented on #1284
@dpalomino thoughts on this? The super users do have bugs but since I think I'm the only one that really uses that feature, it hasn't been that big a deal.

[2017-03-10 20:16] wonderchook commented on #1127
@SteadyCadence appreciate the feedback, we still can't really work on it until the refactoring is done. @clash99 we should think through how all the map interactions with on mobile to make sure it is possible. Then go through the list after the refactor and fix the ones that don't work.

[2017-03-10 20:26] SteadyCadence opened #1285 "Import Issue :: Party file imports successfully but does not associate with location id"
### Steps to reproduce the error

1. Imported location data (geom, location_type) with one file (clicked only the location option on the import)
2. Imported party data (location_id, party_name, party_type, etc).  Import is successful!
3. When I review the party tab all of the rows have been added successfully.  However, when I go to a location there are no relationships associated with the locatio

[2017-03-10 20:26] rishabhiitbhu opened #1286 "Change Password: User gets password updated even if new password is same as old password."
### Steps to reproduce the error

- Create a User.
- Update password with new password exactly same as old password.

### Actual behavior

- Password gets updated.

### Expected behavior

- Form validation error should be raised i.e., User should be shown a Flash message saying "Password must differ from old password."

[2017-03-10 20:31] rishabhiitbhu commented on #1286
I would like to take up this issue.

Approach:

- Every Change password form submission passes through `ChangePasswordMixin` of `/cadasta/accounts/forms.py` once the user enters old password (correct) same as new password we can get them compared (extracting them from self.cleaned_data) and raise form.ValidationError with message "Password must differ from old password."
- Add test cases to test t

[2017-03-10 21:23] SteadyCadence opened #1289 "Needs Investigation :: Overview Map Zooms to Extent of One Particular Polygon"
### Steps to reproduce the error

1. Imported location geometry and data for this project
2. Overview map seems to really like one certain polygon as it zooms in to the extent of the polygon

See https://demo.cadasta.org/organizations/cadasta-demo-organization/projects/smallholder-farmers/

Now that I think about it... I did start adding parcels in India and then removed those manually and importe

[2017-03-10 23:32] wonderchook commented on #1269
I believe that is true. I think you probably need a space in there though.

[2017-03-10 23:48] wonderchook commented on #610
@khantaalaman no but it also not completely designed yet. @clash99 do you have mocks of this?

[2017-03-10 23:51] laura-barluzzi commented on #1159
Hi @SteadyCadence , @bjohare  and @dpalomino. I wanted to share with you my idea to approach this issue so that I work on it in the next days. I think I can fix this by doing 3 jobs:

1. Create a file `test_wkb.csv` with location_geometry in WKB format;
2. Modify the file `test_importers.py` by adding `self.test_wkb = '/organization/tests/files/test_wkb.csv'` and by creating a method  `test_import

[2017-03-11 02:45] laura-barluzzi commented on #1159
I added a unit test for importing WKB and the test actually passed. It seems that the import of WKB formats already works. You can see here my [last commit](https://github.com/laura-barluzzi/cadasta-platform/commit/c0fa249021bd9829728ce6c95db567b1f68786f9) that adds the test on the branch bugfix/#1159.

Is there anything else to do to support WKB?

[2017-03-11 17:39] kwateng opened #1291 "Typo in test classes"
existend word need rename as existent in cadasta/party/tests/test_views_default.py and /cadasta/spatial/tests/test_views_default.py

[2017-03-11 17:42] SteadyCadence commented on #1131
I think this may be related to #1289

[2017-03-11 17:44] clash99 commented on #1242
I've submitted a PR to remove mask option from current password fields on login and change password fields since that is needed for this sprint.  Removing the confirm password field is going to take more time.

[2017-03-11 17:48] kwateng commented on #1291
Corrected in https://github.com/Cadasta/cadasta-platform/pull/1293

[2017-03-11 18:03] #1271 closed

[2017-03-12 12:56] hiteshgarg14 commented on #724
Hello,
I would like to solve this issue. I will be approaching this issue by using django-sendmail and using PasswordChangeView.

[2017-03-13 05:57] wonderchook commented on #724
@hiteshgarg14 can you provide more information. Including what the steps would be as well as proposed text for the email?

[2017-03-13 08:20] jack17529 commented on #1165
@wonderchook , please help when I run ./runserver I am getting this error -
Traceback (most recent call last):
  File "/home/jack/Desktop/cadasta-platform-master/cadasta/manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python2.7/dist-packages/django/core/management/__init__.py", line 367, in execute_from_command_line
    utility.execute()
  File "/usr

[2017-03-13 09:20] amplifi opened #1294 "Add SSL to dev VM"
Add self-signed SSL config to the development VM, then move the cookie settings from #1273 to the default file.

[2017-03-13 09:50] amplifi commented on #1242
@wonderchook 👍 Agreed on both points, too. @clash The mocks look good to me!

[2017-03-13 13:57] wonderchook commented on #1165
@jack17529 not the right place to ask this question. gitter is the right place to ask it.

[2017-03-13 14:34] dpalomino commented on #1289
Hi @SteadyCadence,

I don't have permissions to see that location. Is this then a dup of #1131?

[2017-03-13 14:51] dpalomino commented on #1272
I think that would be sufficient...

[2017-03-13 15:00] dpalomino commented on #1242
Hi @clash99, also looks good to me!

[2017-03-13 15:30] hiteshgarg14 commented on #724
In PasswordChangeView I will define a post function and by using that whenever there will a post request to this view I will use django-sendmail to send a confirmation mail to the related user.
The format of text for email will be:-

Subject:- Changed Password On {{ site_name }}
Body:-
You have recently changed your password at {{ site_name }}.
If this was not you then contact us for further infor

[2017-03-13 15:49] maitrishroff1995 opened #1296 "Verification email : user is allowed to access site without verification"
**Steps to reproduce the error**

1. click on 'Register'
2. enter details
3. when submitted, the email is sent but the user can browse the website even if email verification is not done

### Actual behavior

1. User registers and is logged in
2. Without verification, the user is allowed to browse
3. The user is allowed to log out and log in again without issues

### Expected behavior
1. When the u

[2017-03-13 16:20] oliverroick commented on #1296
This is expected behaviour, the user can use the site for 48 hours without verification. If the email is not verified after 48 hours, the user will be deactivated.

[2017-03-13 16:20] #1296 closed

[2017-03-13 16:43] oliverroick commented on #724
Hi @hiteshgarg14, thanks for your interest in fixing this issue. We have already two PRs ongoing to fix this issue, one of which will likely be accepted to resolve the issue. You can work on the issue but it's unlikely that your contribution will land in `master`.

[2017-03-13 16:57] sourabhtk37 commented on #1282
Taking this up

[2017-03-13 17:00] oliverroick commented on #1282
@sourabhtk37 Please provide an outline how you want to approach to fix this issue before starting the work. Please refer to the [Issue Contribution Process](https://github.com/Cadasta/cadasta-project-ideas/wiki/GSoC-Outreachy-Issue-Contribution-Process) for more information

[2017-03-13 17:05] sourabhtk37 commented on #1282
Simple:
Put a check on template checking whether the user has permission or not.
something like {% if user.permissions % }.
Please do suggest any other method. @oliverroick

[2017-03-14 04:52] MappingKat commented on #1159
@laura-barluzzi Interesting! Let me take a deeper dive tomorrow. I remember running into an issue when I tried importing a WKB geometry. And now I can't remember what the issue was exactly.

Ill get back to you tomorrow. Thanks for your hard work and patience!

[2017-03-14 04:54] MappingKat commented on #1159
Oops used personal GitHub account. I'm @steadycadence.

[2017-03-14 07:32] oliverroick commented on #1282
@sourabhtk37 How will you find out how a user has permission or not?

[2017-03-14 14:36] linzjax opened #1299 "The 'x' on the location delete modal isn't working"
### Steps to reproduce the error
- Go to a location
- Click on the delete icon
- Change your mind and click the 'x' at the top of the modal.

### Actual behavior
- Nothing happens

### Expected behavior
- Modal should disappear.

[2017-03-14 15:33] dpalomino commented on #1227
Hi @bjohare. Yep, I agree. I haven't been able either. Please anyone reopen if reappears.

Thanks :-)

[2017-03-14 15:33] #1227 closed

[2017-03-14 15:51] Nasreen123 commented on #564
Hi @amarlearning are you still interested in working on this?  If not I would like to, or perhaps we could collaborate?

[2017-03-14 16:29] wonderchook commented on #1105
@saurabhgoyaliitr there are multiple pull requests open for this ticket. You are certainly welcome to work on it, but it is unlikely to get merged into the master branch. I would suggest working on another ticket that doesn't already have multiple solutions for it.

[2017-03-14 16:49] pranjaltale16 commented on #110
@wonderchook @bjohare
Can you please look at this, is it okay to continue with this or is there anything else to look upon to before start working?

[2017-03-14 16:58] oliverroick commented on #110
@pranjaltale16 Yes, you need to process the image when it's uploaded. We already have functionality to create thumbnails in place for resources. Please have a look at those parts, I'm sure there is code you can re-use. It might need some refactoring though to make it generic.

[2017-03-14 17:03] bjohare commented on #110
@pranjaltale16 have a look at https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/resources/models.py again. We create thumbnails when the resource is uploaded. There is also a `thumbnails` property which gives access to the thumbnail url. For user profile photos we would need to have multiple versions of the profile image at different sizes but the principle is exactly the same.

[2017-03-14 17:08] sourabhtk37 commented on #1282
tutelary can check for the permission I suppose. Can you guide me as the code is not well commented(I can help you in commenting the code, but I need a better understanding from something like a sitemap).

[2017-03-14 17:14] pranjaltale16 commented on #110
@oliverroick @bjohare
Thanks for the reference, I just went through it and it indeed can be used to create profile thumbnails.
Can I start working on it now?

[2017-03-14 17:15] bjohare commented on #110
@pranjaltale16 please go ahead..

[2017-03-14 17:16] pranjaltale16 commented on #110
@bjohare Thanks!

[2017-03-14 17:47] amarlearning commented on #564
@Nasreen123 It's all yours :smile:

[2017-03-14 17:56] SteadyCadence commented on #1159
@laura-barluzzi, you are right!  It does already support WKB.  Excellent.  I must have done something funky with some multi-polygons.

That test will still be helpful.

[2017-03-14 18:20] laura-barluzzi commented on #1159
@MappingKat great to hear! Should I do a PR with the tests then?

[2017-03-15 01:34] seav opened #1302 "A resource with the filename "resources.xlsx" cannot be exported correctly"
### Steps to reproduce the error
1. Add a resource named "resources.xlsx" to a project
2. Export the resources of that project.

### Actual behavior
The zip file contains a different resources.xlsx file, which contains data for the resources.

### Expected behavior
The zip file contains the original resource file intact.

[2017-03-15 02:02] seav opened #1303 "Resources with the same filename cannot be exported correctly"
### Steps to reproduce the error
1. Add a resource to a project.
2. Add a different resource with the same filename to that project.
3. Export the resources of that project.

### Actual behavior
Extracting the zip file will only produce one of the 2 resources.

### Expected behavior
Extracting the zip file will produce both resources intact.

[2017-03-15 05:05] khantaalaman commented on #1117
@wonderchook There was some delays on this from my side due to my mid-semester exams. I am looking forward to start working on this very soon. My approach for taking this up is as follows:

1. Adding another column for checkboxes in the project_list.
2. If there are any checkboxes selected, the option to delete resources will be shown. Clicking this will show a conformation modal.
3. The link to c

[2017-03-15 09:22] Sanny26 commented on #1303
Can I try to solve this issue? Can we append last_updated time at the end of the filename to avoid this?

[2017-03-15 11:07] dpalomino commented on #1303
Hi @Sanny26, thanks! Unless @seav thinks otherwise, I think that is a good idea. I like the proposal of adding the timestamp to the filename, but I'd restrict this only in the case of having another resource with the same file name (i.e. not appending this by default). Other alternative would be appending and incremental number (_2, _3, etc).

[2017-03-15 11:08] dpalomino commented on #1302
Hi @seav. Is this a dup of #1303? Ta!

[2017-03-15 11:21] Sanny26 commented on #690
I would like to work on this issue. Can someone point me to some resource/example/docs about this issue/use case?

[2017-03-15 13:15] ViktoriaErokhina commented on #1302
Hi!

My name is Viktoria and I would like to fix this bug as part of my application to Outreachy project.

The idea I have is the following: to make an increment stamp. There are severals ways how to do that. The easiest one is just to create a dictionary <Filename, Count>. In case we care a lot about memory it's also possible to do with dictionary, but instead of having filename, we could use it'

[2017-03-15 13:16] ViktoriaErokhina commented on #1303
Hi!

My name is Viktoria and I would like to fix this bug as part of my application to Outreachy project.

The idea I have is the following: to make an increment stamp. There are severals ways how to do that. The easiest one is just to create a dictionary <Filename, Count>. In case we care a lot about memory it's also possible to do with dictionary, but instead of having filename, we could use it'

[2017-03-15 13:52] wonderchook commented on #1286
@rishabhiitbhu is your intention to only check to make sure it isn't the same as the last password?

@amplifi should we be implementing a greater password history than this?

[2017-03-15 13:57] wonderchook commented on #690
@Sanny26 GPX is a pretty well known standard. Read up on that. Not sure what other information I can share with you.

[2017-03-15 15:24] Nasreen123 commented on #564
@amarlearning  thanks for the fast reply!

[2017-03-15 15:25] Nasreen123 commented on #564
@clash99 @wonderchook I’d like to make a proposal to work on this issue.

I have enabled Arabic on my local copy of the site, and here are some things I think would improve the layout (and how I am thinking to do them):

In the main projects page:
- Increase h1 height to prevent letters being cut at the bottom
- Increase the width of the “table-num” div to prevent it overlapping with the div which

[2017-03-15 15:48] rishabhiitbhu commented on #1286
@wonderchook yes, currently my intention is to make sure it isn't the same as the last password. I think implementing a greater password history would be great.

[2017-03-15 15:54] SteadyCadence commented on #1159
Thanks!  The team will review when we have time!  Thank you, @laura-barluzzi!

[2017-03-15 16:11] wonderchook commented on #1117
@khantaalaman neither the requirements for this are defined nor is it marked as being "First Contributor Friendly". I'd suggest waiting for confirmation from @dpalomino that how you have suggested approaching it is appropriate or choosing a ticket marked for first time contributors.

[2017-03-15 16:19] SteadyCadence commented on #1289
@dpalomino The issue is the Overview map.  When you click on the project, it zooms right in to a polygon instead of giving you an overview.

I think it must be an import or multi-polygon issue.  If I have access to the Leaflet object I can figure it out, but I dont know how to grab that in the console....

![broken-overview-map](https://cloud.githubusercontent.com/assets/25337622/23958801/d58b69d0

[2017-03-15 17:04] dpalomino commented on #1232
As it is only happening with "dpalomino" account, for now decreasing priority to medium.

[2017-03-15 17:19] dpalomino commented on #1261
Currently we think it is only happening with forms using a non-English language as the default language. We will be doing more testing about this.

[2017-03-15 17:22] SteadyCadence commented on #1261
You can use this form to test: https://drive.google.com/file/d/0Bwu69XKTjUmwdmlFVm01UUNrMnM/view?usp=sharing

[2017-03-15 17:38] dpalomino commented on #1127
To be tested after the SMAP work is completed.

[2017-03-15 17:45] dpalomino commented on #299
Dup of #1127.

[2017-03-15 17:45] #299 closed

[2017-03-15 18:32] clash99 commented on #590
This will not be an issue with the new project creation wizard ( #966 ).  The proposed project "about" page for non-project members will just show a project map with locations with zero interaction.  There is no additional navigation within the project.  I'm closing this issue @dpalomino.

[2017-03-15 18:32] #590 closed

[2017-03-15 19:11] clash99 commented on #1289
The map was set to fit the boundaries of the locations (meaning if you only had one location, it would zoom in to that).  I've changed it to fit the boundaries of the project.

[2017-03-15 19:18] clash99 commented on #718
Related to #701

[2017-03-15 19:20] clash99 commented on #701
Related to #718 and #1031. It will be in theory solved when upgrading django-leaflet (to be checked).

[2017-03-15 19:22] clash99 commented on #718
@linzjax - I assigned this to you since my understanding is that it will be solved with the SMAP.  If this isn't the case then you can assign back to me.

[2017-03-15 19:23] clash99 commented on #701
Closing since this is a duplicate of #718.  Should be solved with SMAP.

[2017-03-15 19:23] #701 closed

[2017-03-15 19:28] clash99 commented on #1289
**Before:**
![screenshot 2017-03-15 13 56 06](https://cloud.githubusercontent.com/assets/1119621/23967035/6df5d2d8-098b-11e7-8e1b-be32168ccfd6.png)

**After:**
![screenshot 2017-03-15 14 27 51](https://cloud.githubusercontent.com/assets/1119621/23967085/9cc7d228-098b-11e7-835f-cd11d6d2c4c4.png)

[2017-03-15 21:35] clash99 commented on #1165
While testing on browser stack - windows 10, internet explorer 11, leaflet-touch styles are overriding other styles for leaflet-pelias-expanded and other styles.

![screenshot 2017-03-15 16 32 03](https://cloud.githubusercontent.com/assets/1119621/23971754/380e302c-099d-11e7-8702-e9de1f541252.png)

[2017-03-15 22:09] jack17529 commented on #1165
@clash99 can you please help me solve my issue?

[2017-03-15 23:15] clash99 commented on #1165
@jack17529 - Have you tried looking here?  https://gitter.im/Cadasta/cadasta

[2017-03-16 00:57] narayanaditya95 opened #1306 "Incorrect rendering at Location Details page"
### Steps to reproduce the error

1. Go to a location detail page.
2. Add one or more relationships.

### Actual behavior

![screen shot 2017-03-16 at 6 14 55 am](https://cloud.githubusercontent.com/assets/6830800/23976944/15368440-0a11-11e7-9238-712ff32e69d7.png)

### Expected behavior

![screen shot 2017-03-16 at 6 27 19 am](https://cloud.githubusercontent.com/assets/6830800/23977016/8bddb230-0a

[2017-03-16 00:58] narayanaditya95 commented on #1306
Removing the css class `top-add` remove the negative bottom margin and fixes the issue. Can I submit a PR to fix the same?

[2017-03-16 01:40] aishwarya-an commented on #1252
@SteadyCadence  Hi, I am Aishwarya. I would like fix this bug as a part of my application to Outreachy project. Can I take this issue?

[2017-03-16 02:19] clash99 commented on #1165
Some screenshots of fixed search from browserstack:

<img width="1426" alt="screenshot 2017-03-15 20 58 17" src="https://cloud.githubusercontent.com/assets/1119621/23979012/fa94611c-09c4-11e7-99f1-8b1e5b32d80d.png">
<img width="1421" alt="screenshot 2017-03-15 21 06 59" src="https://cloud.githubusercontent.com/assets/1119621/23979026/04a4e780-09c5-11e7-96a3-29e649b6308d.png">
<img width="1425" alt

[2017-03-16 03:33] SteadyCadence commented on #1252
@aishwarya-an, Of course! Let me know if you need any files or have any questions!

[2017-03-16 05:55] rishabhiitbhu opened #1308 "Typo in flash message after incorrect login."
### Steps to reproduce the error

- Login with wrong credentials.

### Actual behavior

![screenshot from 2017-03-16 10-57-17](https://cloud.githubusercontent.com/assets/17473589/23983579/ec378fb0-0a3a-11e7-942e-4f4578547e96.png)

### Expected behavior

![screenshot from 2017-03-16 11-24-11](https://cloud.githubusercontent.com/assets/17473589/23983629/300e4e2c-0a3b-11e7-9973-a212d663e05b.png)

[2017-03-16 06:01] rishabhiitbhu commented on #1308
I would like to take up this issue.

### Approach

- I have found that this message is created at `LoginForm` class of `allauth.account.forms.py` [link](https://github.com/pennersr/django-allauth/blob/master/allauth/account/forms.py#L87)
- I will create a new `LoginForm` class in `accounts/forms.py` inheriting `LoginForm` of  `allauth.account.forms.py` and overwrite the message.
- Edit `ALLAUTH_FO

[2017-03-16 12:52] dpalomino commented on #1306
thanks @narayanaditya95. Where are you testing this? In [staging](https://platform-staging.cadasta.org) or [demo](https://demo.cadasta.org)? Are you using a tablet or a mobile device?

I cannot reproduce the issue with a laptop.

[2017-03-16 13:22] linzjax commented on #1306
This formating is caused by a Datatable extension not being loaded. The photos above are also missing the search bar and the pagination information. (I ran into this during the smap work)

[2017-03-16 15:31] narayanaditya95 commented on #1306
True. I cannot reproduce it now. The extension loads fine now.

[2017-03-16 17:29] #1299 closed

[2017-03-16 17:37] #1306 closed

[2017-03-16 18:02] #1291 closed

[2017-03-16 18:25] #1221 closed

[2017-03-16 18:32] dpalomino opened #1309 "Weird "}" symbol when including more than one relationship fields in a xlsform"
### Steps to reproduce the error

1. Create a project with more than one field in the "tenure_relationship_attributes"
2. Add a location
3. Add a relationship and a party via GUI
4. In the web form, a weird "}" appears.

See screenshot:

![screen shot 2017-03-16 at 19 24 56](https://cloud.githubusercontent.com/assets/17198051/24012553/b684a558-0a7e-11e7-88e7-bec267d9dcd1.png)

However, if there is

[2017-03-16 18:37] linzjax commented on #1206
Addressing in PR #1205

[2017-03-16 18:37] linzjax commented on #1207
Addressing in PR #1205

[2017-03-16 18:42] #1114 closed

[2017-03-16 18:43] SteadyCadence commented on #1309
I converted the questionaire to xml and there doesnt seem to be an extra "}" in there.

Had to save it as a .txt file because .xml is not supported in GH.

[tester-script.txt](https://github.com/Cadasta/cadasta-platform/files/848698/tester-script.txt)

[2017-03-16 19:07] linzjax opened #1310 "SMAP: Accessing a location or relationship from url should center on location geometry"
### Steps to reproduce the error
- Access a location through a direct URL rather than GUI

### Actual behavior
- Map stays on project extent which is loaded by default

### Expected behavior
- Zoom to current location's geometry.

[2017-03-16 19:10] #1002 closed

[2017-03-16 19:10] linzjax commented on #1310
The current solution for this (in PR #1205) works if the tile has already been loaded. If the location is outside of the project extent, it can't find it (because it doesn't exist yet).

[2017-03-16 19:45] #1090 closed

[2017-03-16 21:07] wonderchook commented on #1308
I think the text should be "The username and/or password you specified are not correct."

Other than that you can take this up.

[2017-03-17 03:17] SteadyCadence opened #1311 "Questionnaires :: Add ability to use `numeric_strings` from XLS Forms"
Currently, we support `integer`, `text`, `date`, `select_one`, `select_multiple`, etc in the form building process.

However, there is a nine digit limit on integers. Some parts of the world where we work have 10 digit phone numbers. Therefore, it would be beneficial to have an option where you can add 10 digits while opening up the numeric keyboard. The "numeric string" is the perfect solution!

[2017-03-17 06:35] #1102 closed

[2017-03-17 06:58] #1106 closed

[2017-03-17 07:10] rishabhiitbhu commented on #1308
@wonderchook thanks for your suggestion. I have applied your suggested changes in my PR.

[2017-03-17 07:46] #1105 closed

[2017-03-17 08:00] #1262 closed

[2017-03-17 08:21] #1256 closed

[2017-03-17 13:06] Sanny26 commented on #1303
@dpalomino Can I open a PR or should I wait ?

[2017-03-17 15:49] SteadyCadence commented on #1311
@oliverroick Is this pretty complicated?  If so, I can remove this issue and put it in the backlog-- rather than up here.

[2017-03-17 16:11] oliverroick commented on #1311
Oh sorry, I meant to write a comment here why I removed the label. Yes, it's more complicated because `django-jsonattrs` needs to be extended for this.

[2017-03-17 17:48] linzjax commented on #1309
There's a stray `}` in the template around datepicker, which is why it shows up on a calendar question. I'll submit a PR

[2017-03-17 17:49] dpalomino commented on #1311
It is included in the backlog (id 73.00) as a low priority feature.

[2017-03-17 17:52] dpalomino commented on #1303
hi @Sanny26. Sure, feel free to open a PR. Thanks for your cooperation!

[2017-03-18 00:19] aadityasg commented on #1303
Hi @dpalomino, I have created a PR for this which uses the approach of appending an incremental counter at the end of filename (only for those which are having duplicate names). Please review the PR.

[2017-03-19 15:58] brymut commented on #1147
Hi, is anyone still working on this issue?

[2017-03-20 05:58] bethschechter opened #1318 "Search not working"
### Steps to reproduce the error

1. log in to Demo
2. Go to Organization: Cadasta Foundation: The Official Demo Organization
3. Click on any of the projects
4. Click on Search
5. Enter the name of a party that you know is part of the project
6. Search returns a database error

### Actual behavior

This is the database error

![image](https://cloud.githubusercontent.com/assets/3361475/24089779/7c7

[2017-03-20 06:48] amplifi commented on #1318
Investigating

[2017-03-20 06:59] bethschechter commented on #1318
thank you!

[2017-03-20 07:00] bethschechter commented on #1318
@rishabhiitbhu thank you for trying! i'm sure one of those guys will come online soon and get you the info you need. :)

[2017-03-20 07:37] amplifi commented on #1318
@bethschechter This error should be resolved now.

@rishabhiitbhu Superuser access is restricted; I recommend focusing on issues labeled as "First Contribution Friendly" and those requiring basic user access. All testing should be conducted in the development VM (not on the demo or production platform sites). Thanks!

[2017-03-20 07:37] #1318 closed

[2017-03-20 08:43] oliverroick commented on #1147
@brymut There are two active PRs, which we are currently reviewing. No need to get started with this.

[2017-03-20 10:30] rishabhiitbhu opened #1319 "Adding forgot username functionality."
### Why this is neccessary?

- When a new account is created, user is sent a email like this:

Here username is sent with the email. Suppose user edits his/her profile by updating username, no email regarding changes is sent via email, and suppose after some time forgets the username, there's NO way to recover it back.

Some approaches towards this issue:

1.
- Modify login process, by including l

[2017-03-20 13:09] amplifi commented on #1286
@rishabhiitbhu Our current password policy doesn't require uniqueness against previous passwords. This is by design, so this issue is not a bug. It's not advised to implement both length/complexity requirements and password history (the same goes for forced password changes). This tends to result in less security as well as a poorer UX. Users often follow predictable patterns when changing their p

[2017-03-20 13:09] #1286 closed

[2017-03-20 13:15] #1309 closed

[2017-03-20 18:59] SteadyCadence opened #1321 "Unclear Error (QuestionOption matching query) when Click on Location In Imported Project"
I thought I submitted this on Friday, but I cant find it in the issue list...

### Steps to reproduce the error

 I think this is what I ran into before when I thought WKB was not supported. In this case, I am not sure if it is associated with the questionnaire or the geometries I am trying to import-- I did try multiple geometries and they all successfully imported but I still get an error when I

[2017-03-20 19:58] linzjax commented on #1321
The land_type and tenure_type names in choices need to be capitalized to map properly (`AP` instead of `ap`).

[2017-03-20 20:38] linzjax opened #1322 "API: Resources uploaded via that API do not display image preview"
### Steps to reproduce the error
- Find an aws link to a resource already uploaded
- send a post request to `/api/v1/organization/<blah>/projects/<blarg>/spatial/<blarf-id>/resources/ file=<aws_link> name='blarg' original_file='image.jpg' AUTHORIZATION:'Token <api key>'`

### Actual behavior
- Resource gets added to the location, but there's no preview image
- When you download it, it is the corre

[2017-03-20 21:12] pranjaltale16 commented on #110
Hello again,
I have made prior changes with reference to profile image upload.
I have added `S3FileField` for profile image upload also I added thumbnail function in order to save its thumbnail image.
I have added corresponding photos to header area and the member permissions page but I can't find the dashboard option in overview page, please help me out.

[2017-03-20 22:33] aadityasg commented on #1267
@clash99 @amplifi Is there any pending discussion on this issue? Or we intend to display download size next to various options on export page before user actually downloads the file?

![image](https://cloud.githubusercontent.com/assets/1060179/24124773/b2b32920-0d9b-11e7-8a87-9428eafe4cb7.png)

[2017-03-20 22:51] wonderchook commented on #110
Can you point me to the mock up above you are referring to? It might not exist yet.

[2017-03-20 23:53] clash99 commented on #1267
@aadityasg Sorry, not ready for this one yet.

[2017-03-20 23:55] clash99 commented on #110
@pranjaltale16 - The dashboard isn't developed yet.  It is still in discussion.

[2017-03-21 00:14] MappingKat commented on #1321
wow!  I thought I had fixed that.  Thank you!

[2017-03-21 00:15] SteadyCadence commented on #1321
Wow!  I did not even think to look at the choices sheet.  I thought I had fixed those.  Thank you!

[2017-03-21 00:15] #1321 closed

[2017-03-21 00:22] seav commented on #1321
Shouldn't we make the platform more robust by also allowing lowercase forms as input and mapping them to uppercase internally? If we can make things just a bit more fault-tolerant, I think it would be better.

[2017-03-21 03:00] pranjaltale16 commented on #110
@clash99 @wonderchook [here](https://cloud.githubusercontent.com/assets/1119621/23778436/c319ccaa-04ff-11e7-857b-19ac7722cd68.png) is the link for the mock-up that I was talking about
I am done with other things, I will make a make a Pull Request then.
Thanks.

[2017-03-21 13:00] dpalomino commented on #1319
Hi @rishabhiitbhu. Thanks for raising this and for your interest .

I believe it is already possible to login using the mail address (not only the username) but the UI message is not properly updated.

[2017-03-21 13:03] dpalomino opened #1323 "Sign in username/email texts"
### Steps to reproduce the error
Go to the login page

![screen shot 2017-03-21 at 14 00 31](https://cloud.githubusercontent.com/assets/17198051/24148405/ef6db7a6-0e3e-11e7-9536-262dca43c269.png)

You're able to login using your email address (not only the username) but the UI is only asking for the username.

We should change the text, instead "Username" using "Username or email address".

[2017-03-21 13:25] seav commented on #1308
So I've looked into this and this defect is caused by a mismatch between the form field label and the allowed authentication method.

In our login page template, we use the label "Username" for the login field: https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/templates/allauth/account/login.html#L48

However, we have specified that the user can use either their username or email add

[2017-03-21 13:31] seav commented on #1323
This is actually related to #1308.

[2017-03-21 13:40] khantaalaman commented on #1322
I would like to take this up.

I need help with two things in the link:

1.  Generate AWS link?
2.  API Key?

Thanks!

[2017-03-21 13:45] dpalomino commented on #1135
Agreed with @amplifi to try to include this in the next sprint (to be confirmed, tentatively assigning to Sprint 16), with the list of file types mentioned above. We can use 10MB as a file size limit for now.

[2017-03-21 14:39] rishabhiitbhu commented on #1308
@seav thanks for looking into it.
I raised an issue #1319 which intends to add login with email too as it will be helpful if user forget his/her username. So `username_email` in [here](https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/config/settings/default.py#L136) is good.

Changing label "Username" to "Username or e-mail" will change the lable of text input field, which is correc

[2017-03-21 14:49] rishabhiitbhu commented on #1319
@dpalomino Thanks for your suggestion. I didn't know that login with email (not only username) was also possible. I raised issue #1308 and in discussion @seav found out that we need to modify [this](https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/templates/allauth/account/login.html#L48) lable in `allauth/account/login.html` from "Username" to "Username and e-mail" as according to

[2017-03-21 14:59] dpalomino commented on #1117
Thanks a lot @khantaalaman for your contribution and sorry for the delay answering.

So I understand that you are proposing in step 4 to ask for confirmation of delation for each of the files individually. Is that right? Do you have a mockup or screenshot for the different steps?

@clash99, could you please take a look and give us your thoughts? Thanks!

[2017-03-21 15:10] seav commented on #1308
The error message is the default provided by django-allauth. I don't think overriding it without a good reason is OK. If the label is now "Username or e-mail", then the error message now makes more sense because the user will associate "login" with either the username or the email address that they provided.

[2017-03-21 15:12] rishabhiitbhu commented on #1308
@seav thanks, I got it.
Should I update lable [here](https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/templates/allauth/account/login.html#L48) and update my PR, reverting all other changes?

[2017-03-21 15:16] dpalomino commented on #1284
Thanks @rishabhiitbhu for raising the issue and for your collaboration. As @wonderchook was mentioning, there are some super user issues that we are not currently targeting because has very low impact.

I'd suggest to take a look at some of [the issues](https://github.com/Cadasta/cadasta-platform/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3A%22first%20contribution%20friendly%22) that a

[2017-03-21 15:21] rishabhiitbhu commented on #1284
@dpalomino thanks for your suggestion.

[2017-03-21 15:25] dpalomino commented on #1250
I think we can close this issue for now. Please reopen if you think this is happening too frequently.

Thanks!

[2017-03-21 15:25] #1250 closed

[2017-03-21 15:35] #1319 closed

[2017-03-21 15:44] dpalomino commented on #1260
Thanks @wonderchook and sorry for the late reply.

I'm more inclined for "Mobile Data Collector Only", as the user will not be able to "collect" data using GUI, and maybe it's going to be understood better. Do you agree @wonderchook?

[2017-03-21 15:53] clash99 commented on #564
Hi @Nasreen123 - looks like you have some good ideas to move forward with.  We can work out some of the smaller details in progress.

Here are some initial thoughts:
-  I agree moving bootstrap rtl link into new rtl.scss seems like the best way to go.
-  The "back" link has been removed in the latest release so that shouldn't be a problem.

Let me know if/when you have other questions.  Feel free

[2017-03-21 15:53] khantaalaman commented on #1117
![screenshot from 2017-03-21 21-16-02](https://cloud.githubusercontent.com/assets/18065231/24156274/22e50b6a-0e7c-11e7-9670-4fa394ce96e9.png)

@dpalomino I've added such a delete glyph, which appears only when some resource is selected. How do you plan to have conformations for deletion of more than one resource? It would be great if @clash99 could look into this.

Although this issue is not first

[2017-03-21 15:55] clash99 commented on #1117
@dpalomino - Can you confirm who has the permission to perform this action?  I think its important to make sure the permissions are set correctly.

[2017-03-21 16:01] oliverroick commented on #1284
This issue in itself is valid and should be fixed at some point. Re-opening this.

[2017-03-21 16:25] rishabhiitbhu commented on #1284
@oliverroick we need to rename the URL keyword 'slug' to 'username' in https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/organization/urls/api/users.py this will solve this issue. I can create a PR to fix this if you say so.

[2017-03-21 16:41] oliverroick commented on #1322
For developing and local testing purposes you won't need an AWS access key. Have a look at the way we create thumbnails when uploading a file via the UI, it should give you a sufficient example how to approach it.

[2017-03-21 16:42] dpalomino commented on #1226
I've updated the files in S3 removing the PX option. Let me know if you see any other issue.

In addition, we are in the process of updating these sample files in the documentation:
https://docs.cadasta.org/en/09-XLSForms.html

[2017-03-21 16:42] #1226 closed

[2017-03-21 16:51] dpalomino commented on #1117
Thanks @clash99.

I think for individual resource deletion, Data Collector and Project Manager should be able to perform the action. For removing multiple resources, I think we should restrict to only project managers. What do you think?

[2017-03-21 17:04] SteadyCadence commented on #1321
@seav Yes!  I think that would be a good idea-- I think we should be lower-casing all values.

[2017-03-21 17:06] oliverroick commented on #1308
There's issue #1323 and PR #1324 to address the label issue. I think we should close this issue, plus the corresponding PR.

[2017-03-21 17:07] oliverroick commented on #1284
I don't mind if you pick this up. Bear in mind, though, that this is a lower priority issue so it might take a while till we review and merge the PR.

[2017-03-21 17:28] rishabhiitbhu commented on #1284
@oliverroick I'm fine with that. :)

[2017-03-21 18:58] linzjax opened #1327 "SMAP: Router actions blocked during tile loading process"
### Steps to reproduce the error
- Go to a project with lots of records
- While "loading locations" is displayed, click on a location and click "Open Location"

### Actual behavior
- continue to wait

### Expected behavior
- Tile loading is a non-blocking async call.

[2017-03-21 19:29] linzjax commented on #1061
What's the expected use case of this? Is it for a single user switching back and forth between pages who needs to quickly return to their last map location? Is it someone who wants to share the project but have a specific subsection of it displayed initially? If I'm sharing a project at a specific map location, would I expect to have to manually 'save and share' the position, or would the URL be a

[2017-03-21 20:46] wonderchook commented on #1061
@linzjax I would expect it to be auto-generated for me. I currently use this on other sites to both share a location and also to save one for myself.

[2017-03-22 05:55] rishabhiitbhu commented on #1308
@seav I think we can make the login error message more explicit. The error message is created by `clean` method of `allauth.accout.LoginForm` class.  I inherited the class in `cadasta/accounts/forms.py` and did some work [link](https://github.com/rishabhiitbhu/cadasta-platform/blob/logintest/cadasta/accounts/forms.py#L66) to make this error message truly explicit.
We allow "@" in usernames while r

[2017-03-22 07:45] oliverroick commented on #1061
@linzjax What I had in mind was that the map location is part of the URL so that you can copy and share or save it. So whenever you pan or zoom the map the URL should be updated.

[2017-03-22 07:57] oliverroick commented on #1308
@rishabhiitbhu Thank you for looking into this. I don't think that adding your solution will add much benefit, though. Users know which login method they used, so the standard error message is sufficient (that's obviously an assumption, we haven't run any user tests on this). Adding 22 lines of code only to change one word in an error message adds too much complexity for a very minor problem. I we

[2017-03-22 07:59] rishabhiitbhu commented on #1308
@oliverroick I got it. I think this issue should be closed.

[2017-03-22 15:53] #1107 closed

[2017-03-22 16:31] #1241 closed

[2017-03-22 16:52] #1308 closed

[2017-03-22 17:09] #1289 closed

[2017-03-22 17:26] #1272 closed

[2017-03-22 17:31] clash99 opened #1331 "Wrong style used in party detail page"
### Steps to reproduce the error

Visit the detail page for a party

### Actual behavior

Main panel had some shading that shouldn't bee there.

### Expected behavior

Should use same layout and classes as Resources index.

**Panel should resemble this page:**
<img width="1364" alt="screenshot 2017-03-22 12 27 11" src="https://cloud.githubusercontent.com/assets/1119621/24211812/3153b1ea-0efb-11e7-

[2017-03-22 17:32] clash99 commented on #1331
@dpalomino - I marked this first contribution friendly.  Feel free to update if you disagree.  Thanks!

[2017-03-22 17:52] wonderchook commented on #1260
@dpalomino I think "Mobile Data Collector" is probably better since it is a bit shorter.

[2017-03-22 17:58] #1042 closed

[2017-03-22 18:08] linzjax commented on #1061
Ok, that makes sense. Would you want to be able to do this for every view (overview, location detail, relationship detail, etc.)?

[2017-03-22 18:10] wonderchook commented on #1061
Yes, I think every view. People will want to be able to send links to each other and end up the same view of the data.

[2017-03-22 18:20] #1159 closed

[2017-03-22 18:34] #1323 closed

[2017-03-22 18:35] alukach commented on #1254
@bjohare Is there a difference between _empty_ and _null_ geometries?  Am I correct in that _empty_ geometry is still a valid `GEOSGeometry` object while `null` geometry would simply be a `None` object?

[2017-03-22 18:38] wonderchook commented on #1254
@bjohare so originally it was supposed to be possible to create a location with a location that was described instead of having coordinates not sure if this is related. We could decide to deal with that particular use case later though.

[2017-03-22 19:04] alukach commented on #1254
@wonderchook @bjohare

I suppose the most important thing to then answer is:

Should the system support `SpatialUnit` instances that have either empty or null geometries?

- If yes:
  - We should update the `SpatialUnit.pre_save` signal handler `check_extent()` to not run `reassign_spatial_geometry()` if the `instance.geometry` is empty (it already works around the idea that `instance.geometry` co

[2017-03-22 20:11] rishabhiitbhu commented on #1322
@linzjax could you explain me what do you mean by aws link, is it the link where uploaded resources get stored (like `/media/s3/uploads/resources...`) ?
I have solved this issue but I have another question suppose If we add this [image-link](https://cdn4.iconfinder.com/data/icons/new-google-logo-2015/400/new-google-favicon-512.png) as `file` in post request then also this issue occures. Should I s

[2017-03-22 20:13] #946 closed

[2017-03-22 20:25] wonderchook commented on #1254
@dpalomino @SteadyCadence I'm inclined to think some partners will want to import data that doesn't have geometries and then add the geometries later (for example from satellite imagery in the Cadasta web interface).

What do you think and if this is a non-issue then we will require geoms (though I suspect this will cause an issue for someone importing data at some point).

[2017-03-22 22:31] seav commented on #1254
@wonderchook: the problem that this issue causes right now is that the export operation throws an error when it encounters locations that don't have a geometry. So the question goes back to whether we really require geometries as mentioned by @alukach. Whatever the answer, we will adjust the platform code as needed.

[2017-03-23 01:39] niharika1995 opened #1333 "Browser Incompatibility: User dropdown does not work in Safari on Project pages"
### Steps to reproduce the error

1. Use Safari browser.
2. Head to <http://127.0.0.1:8000/organizations/cadasta/projects/london-2/>
3. Click on _User dropdown_ in the header.

### Actual behavior

Nothing happens.

### Expected behavior

A dropdown must appear.

[2017-03-23 02:09] clash99 commented on #1333
Hi @niharika1995.  Thanks for reporting this bug but I haven't able to reproduce this.  Which device and version of Safari are you using?

Here are the three I've tested:
- Safari 5.1 on Windows 10
- Safari 8 on OS X Yosemite
- Safari 6 on OS X Lion

Here is what I'm seeing:
<img width="215" alt="screenshot 2017-03-22 20 58 09" src="https://cloud.githubusercontent.com/assets/1119621/24228633/868d9

[2017-03-23 02:13] niharika1995 commented on #1333
Hi @clash99,

I am using Safari 10 on OS X Sierra. Also, looks like you are on the _dashboard_ page. The bug is only seen on _project_ pages.

[2017-03-23 02:19] niharika1995 commented on #1333
Screencast:

![0XBtBx](http://i.makeagif.com/media/3-23-2017/0XBtBx.gif)

[2017-03-23 02:27] clash99 commented on #1333
Same result - can't reproduce using BrowserStack (our cross-browser QA tool).  Perhaps someone else will be able to verify either way...

<img width="1438" alt="screenshot 2017-03-22 21 24 08" src="https://cloud.githubusercontent.com/assets/1119621/24229150/38cb59aa-0f46-11e7-9ee1-174767e2e11d.png">

[2017-03-23 02:42] niharika1995 commented on #1333
The bug is only seen inside the incognito (private) mode. Closing the issue as it works fine in a normal window.

[2017-03-23 02:42] #1333 closed

[2017-03-23 03:21] clash99 commented on #1333
Very strange - I'll make a mental note in case we come across this in other areas so I can troubleshoot.  Thanks for the heads-up.

[2017-03-23 03:54] niharika1995 commented on #1322
The problem occurs because the `mime_type` of the resource isn't set to `image/jpeg` anytime during the request-response cycle. In the web UI, the `mime_type` is set using code in `file-upload.js`.

IMO, the best solution to this problem would be to set `mime_type` of the _Resource_ object within its `save` method and trim it out of `file_upload.js`.
Should I proceed with this approach?

[2017-03-23 05:29] rishabhiitbhu commented on #1322
@niharika1995 you are correct that the problem occurs because the `mime_type` of resource isn't set while and after post request to api and in the web UI the `mime_type` is set by `file-upload.js`.

I have solved this issue using a different approach. While creating through post request to api, the _resource_ object is created by `create` method in `ResourceSerializer` class of `resource/serialize

[2017-03-23 08:18] niharika1995 opened #1334 "Pending migration not bundled"
### Steps to reproduce the error

1. Log into the VM.
2. Run `python manage.py makemigrations`

### Actual behavior

Migrations are created.

### Expected behavior

No migration should be created.

[2017-03-23 09:48] bjohare commented on #1254
@alukach there is a difference between `empty` and `null` geometries. Its possible to create a valid `empty` `GEOSGeometry` from a WKT string like `'POLYGON EMPTY'`. Passing `None` or `' '` to the `GEOSGeometry` constructor will raise an exception. We could support `empty` geometries but as you mentioned we'd need to fix the `pre_save` method on `SpatialUnit`. As @seav says, we would also need to

[2017-03-23 10:49] rishabhiitbhu commented on #1331
@clash99 I have looked into it and I found that in `party/party_list.html` there's an extra css class `default` attached with panel div, removing it fixes this issue.
so basically `div.panel-body.detail` needs to be changed to `div.panel-body`.
I would open a PR if you say so.

[2017-03-23 11:14] dpalomino commented on #1254
@wonderchook @bjohare @alukach @seav

Thanks to all for raising this and for the useful discussion. Although it is not a very typical case, I do also think that partners would need to import without any geometry defined so I think we should allow that case (at least when importing).

Indeed we've already seen this case. We worked with a partner that imported data related to villages with some reco

[2017-03-23 11:42] dpalomino commented on #1260
Ok, perfect. We can use then "Mobile Data Collector". Tagging this as First Contribution Friendly.

[2017-03-23 13:25] clash99 commented on #1331
Sounds good @rishabhiitbhu - make it happen :)

[2017-03-23 15:10] clash99 commented on #1267
@aadityasg That would be a great idea too but this task is for individual resources, not the downloading of multiple.  I'm hoping to put more requirements for this together today.  I will also pass on this idea to our project owner since I believe its a good idea.  Thanks!

[2017-03-23 16:11] linzjax commented on #1061
Per conversation on #smap slack, I'm going to use the following URL pattern:
`/organizations/<org-slug>/projects/<proj-slug>/#/<current_router_location>/?coords=<zoom>/<lat>/<lng>/`

[2017-03-23 16:16] alukach commented on #1254
@dpalomino Thanks!  This gives me what I need to go ahead.

[2017-03-23 16:30] clash99 commented on #1267
I've updated the title and description of this task to better match what we are trying to do.

@dpalomino - I'm marking this first-contributor friendly.  Please remove if you disagree.

[2017-03-23 17:01] dpalomino commented on #1267
Thanks @clash99! Yes I agree.

I think we should show the size of "Resources" and "All data" in Download project data:

![screen shot 2017-03-23 at 17 56 25](https://cloud.githubusercontent.com/assets/17198051/24259797/3911a854-0ff2-11e7-9b60-83ad2e4c23dc.png)

And in the details of each individual resources (probably a line before "Added on..."):

![screen shot 2017-03-23 at 17 56 57](https://clo

[2017-03-23 17:10] clash99 commented on #1267
Its sounds good but I'm not sure if we know the file sizes ahead of time for the data download options.  I think we should add anything outside of the resource detail page in another task for investigation.  Sound reasonable @dpalomino?

[2017-03-23 17:15] seav commented on #1267
I would **strongly** advise against including the file size for the project data download feature. To get this information, we would need to actually generate the files to be downloaded for all options, potentially wasting CPU cycles and S3 accesses for resources in case the user decides to cancel.

[2017-03-23 17:21] oliverroick commented on #1196
This isn't a priority at the moment. Closing...

[2017-03-23 17:21] #1196 closed

[2017-03-23 17:27] clash99 commented on #1267
I was thinking that might be the case @seav.  Thanks for clarifying.

[2017-03-24 09:41] dpalomino commented on #1267
Thanks for the heads-up @seav, I wasn't aware of this complication. Let's then go with the original proposal for the individual resources only (unless we can find out a workaround to estimate an approximate size for downloading all the resources).

[2017-03-24 14:24] clash99 opened #1342 "Resource detail different than other detail pages"
### Steps to reproduce the error

Visit resource detail page

### Actual behavior

Missing page title style on other detail pages
Also edit page doesn't show resource title at all

### Expected behavior

Should match

![screenshot 2017-03-24 09 22 13](https://cloud.githubusercontent.com/assets/1119621/24298302/90dbac7a-1073-11e7-9442-7555fcb3bcd4.png)
![screenshot 2017-03-24 09 22 23](https://clou

[2017-03-24 14:27] clash99 commented on #1342
Update resource detail and edit page to have titles that match other detail pages.

![screenshot 2017-03-24 09 20 12](https://cloud.githubusercontent.com/assets/1119621/24298401/e9ff3f42-1073-11e7-8fa1-413bd8b9c5d9.png)
![screenshot 2017-03-24 09 20 20](https://cloud.githubusercontent.com/assets/1119621/24298402/ea004518-1073-11e7-8161-982834175d4d.png)
![screenshot 2017-03-24 09 18 10](https://cl

[2017-03-24 15:27] amplifi commented on #1157
Also applies to XLSForms/questionnaires/imports; no validation currently implemented, code is accepted.

[2017-03-24 15:43] #1331 closed

[2017-03-24 19:49] Shruti9520 commented on #1342
@clash99 @dpalomino Can I take this issue? :)

[2017-03-24 19:54] wonderchook commented on #1342
@Shruti9520 if you look above @clash99 has already submitted a pull request, so not. Thanks for your interest though

[2017-03-24 19:56] Shruti9520 commented on #1342
@wonderchook Sorry! I didn't notice that.

[2017-03-24 20:39] Nasreen123 commented on #564
Hi @clash99! I will start working on the specific things I listed above
Thank you!

[2017-03-24 22:12] laura-barluzzi commented on #1239
Hi @wonderchook , I believe I addressed a similar issue (see #1233) via my PR #1268. I believe I could try to apply the same logic here: limiting the view of the form and using an additional permission test. I'll have a look at this.

[2017-03-24 23:14] Nasreen123 commented on #564
Hi @clash99! I will start working on the specific things I listed above
Thank you!

[2017-03-25 01:49] Nasreen123 commented on #564
@clash99 I submitted a pull request for the first few changes (I created the new file, and added styling for the projects page).

I will work on the individual project pages next.

[2017-03-25 06:23] alukach commented on #1254
@seav I've put together #1344 to resolve the issue of importing empty geometries (#1113), however it still allows for `None` and empty `SpatialUnit.geometry` values to be stored. Can you direct me to a log where an issue occurs during an export operation?  If so, I can hopefully roll that fix into #1344 as well.

[2017-03-25 08:27] seav commented on #1254
@alukach, I'm not sure if you already have access to our Opbeat account, but here's an example error encountered when trying to export a location that has `geometry` = `None`: https://opbeat.com/cadasta/platform-demo/errors/83/

Here, the platform is populating the `geometry.ewkt` column of the XLSX file but since `geometry` = `None`, the operation throws an error because `None` does not have the

[2017-03-25 09:38] wonderchook commented on #1239
@laura-barluzzi I'm not sure this needs the same approach. I think it is likely a bug in the permissions, since the user shouldn't be offered the forms at all. That is the point where they should get the 403 error not when they try to download the forms.

[2017-03-25 20:49] EkaterinaSemenova commented on #1267
As far as I understand, to implement this feature we need to add additional properties (e.g. file_size, image_dimensions etc.) to either Resource model or underlying S3File. Which way sounds more reasonable for you?

[2017-03-26 10:55] artiladdha commented on #724
I am interested to working on this issue.So please let me know if it is not solved yet.

[2017-03-26 10:58] seav commented on #724
Hi @artiladdha, thanks for your interest in fixing this issue, but we already have an approved PR (#1174) to solve this issue. Please select another bug to work on.

[2017-03-26 19:08] artiladdha commented on #724
Okay! Thanks:)

[2017-03-27 04:26] #1147 closed

[2017-03-27 09:33] Tahirih-Natang opened #1346 "[ui] [enhancement] Make header "add dropdown buttons" contextual"
### Steps to reproduce the error
Go to Organisations page.
On header, there is an "Add project" drop down button.
Click on the Members section on the left, though we are on the members section, the header dropdown button still reads "Add project", in its drop down, there is an "add member option", and this has the same effect as the add button in the page content.

### Expected behavior
Remove the

[2017-03-27 09:35] Tahirih-Natang commented on #1346
@clash99 @wonderchook Please I would like to know if this could be a first contribution friendly issue.

[2017-03-27 09:50] kera99 commented on #1255
Hello @clash99 @wonderchook @khantaalaman @seav @dpalomino ,

Please I would like to have updates on this. Is someone working on this ? Has the pull request been submitted?
If not, I would like to work on this.
Thanks.

[2017-03-27 10:33] artiladdha commented on #1322
I would like to work on this.

[2017-03-27 11:16] oliverroick commented on #1322
@artiladdha There's already a PR for this. You can work on this issue for the sake of applying for an internship but it's not very likely your work will end up in the platform

[2017-03-27 12:23] artiladdha commented on #1322
Then please suggest me issue which is not yet solved.

[2017-03-27 12:29] artiladdha commented on #1334
I would like to work on this issue.

[2017-03-27 12:32] wonderchook commented on #1346
@Tahirih-Natang sorry this is intentional and not considered a bug. Thanks for reporting though.

[2017-03-27 12:32] #1346 closed

[2017-03-27 12:33] pamungkaski commented on #1270
Hi, i would like to work on this issue as my GSoC first task>
My approach going to be check wheteher the project already archived or not. if it's not archived then inc num_project else continue

[2017-03-27 12:34] wonderchook commented on #1334
@niharika1995 this is the expected behavior when running that command. Could you elaborate as to why you think it is a bug.

[2017-03-27 12:37] wonderchook commented on #1270
@pamungkaski sounds good, if you want to go ahead

[2017-03-27 12:38] oliverroick commented on #1334
@wonderchook There's one migration that should have been created but wasn't. It's not a big deal because the migration in question would just add some meta options for two models. So this should be fixed but it's not urgent at the moment

[2017-03-27 12:38] wonderchook commented on #1270
@pamungkaski actually I just realized someone else is working on it. You could try it, but it is unlikely to get merged into the main code base. I would suggest looking for another issue.

[2017-03-27 12:39] wonderchook commented on #1334
ah okay, @niharika1995 you might want to update your bug report. The actual and expected behaviors are reversed.

[2017-03-27 12:42] niharika1995 commented on #1334
@wonderchook I am not sure that is correct. No migrations should be created, ideally.

I proposed that we add another test on Travis `python manage.py makemigrations --check`. It returns a non-zero exit code when there are changes not reflected in migrations.

[2017-03-27 13:35] artiladdha commented on #1260
hey,I would like to work on this issue.

[2017-03-27 14:10] kera99 commented on #1282
Hi @oliverroick @sourabhtk37 @seav @wonderchook ,
please is there any update on this?
I would like to work on this, if there are no updates.

Thanks

[2017-03-27 14:17] kera99 commented on #975
HI @clash99 ,

Can I work on this for GSoC17 ?

Thanks.

[2017-03-27 14:20] kera99 commented on #973
Hi,
Please can I work on this for GSoC17 ?
Thanks

[2017-03-27 14:28] wonderchook commented on #1260
@artiladdha okay so outline how you would approach it in a comment here.

[2017-03-27 14:28] sourabhtk37 commented on #1282
@kera99 This is a low priority bug, so focus is on other issues rt now but feel free to share your approach.

[2017-03-27 14:49] #1269 closed

[2017-03-27 14:50] #1284 closed

[2017-03-27 14:54] kera99 commented on #1282
@sourabhtk37 Here is how I would go about the issue:

- In the organization/views/default.py, I will make sure that the require permission is passed in the context data of the page displayed. If it is not, I shall add it(The permissions are stored in the db).

- In the template concerned, I shall isolate the header block that contains the language selection. I shall basically put it in a seperated

[2017-03-27 15:35] #1242 closed

[2017-03-27 19:06] linzjax commented on #1322
FYI if others are still looking at this: For uploading resources to AWS we're using a custom library called [django-buckets](https://github.com/Cadasta/django-buckets). The s3/uploads/resources/ is a from the FakeS3Storage used to mimic an S3 library in production, but the actual URLs will be different. Part of the problem is that with the `file_upload.js` you're given the full file to work with,

[2017-03-27 22:30] khantaalaman commented on #1117
Hi @clash99, can you please give me some direction about UI for this? I believe to be stuck on the final levels of the implementation for this.

Thanks!

[2017-03-27 22:49] khantaalaman commented on #610
@clash99 Can you please help me in getting a direction for working over this issue?

Thanks!

[2017-03-27 22:55] bethschechter opened #1350 "Some specific formats for GPX files are failing (500 error)"
### Steps to reproduce the error

Have .gpx (or a .xml made with a .gpx)
Go to attach it as a resource to a project

### Actual behavior

Get platform error

### Expected behavior

The file should be attached to the project.

//

Specific files are attached below:

[gpx-xml.zip](https://github.com/Cadasta/cadasta-platform/files/874017/gpx-xml.zip)

[2017-03-27 23:35] khantaalaman commented on #1118
@dpalomino @amplifi Is the issue still persisting? It seems to be fixed to me.

Thanks!

[2017-03-28 04:05] niharika1995 commented on #1322
@linzjax Is there a particular drawback on simply guessing the mimetype based on the file extension (if I am not wrong, that is what happens within `file_upload.js`? I do not see why does there need to exist a db-field `mime_type` when it can be ascertained at runtime.

[2017-03-28 05:37] amplifi commented on #1118
@khantaalaman This issue has not yet been fixed.

[2017-03-28 06:52] pamungkaski commented on #1260
Hi, currently i'm working on GSoC proposal and i found this issue and it is related to the project on my proposal.
I am planning to work on this issue on my community bonding period.
My approach will be :
- I'm going to work on the organization/models.py to create another Project Role and Permissions(Mobile data collector).
- I'm going to create test to make sure that this role has the exact behav

[2017-03-28 06:59] khantaalaman commented on #1267
@clash99 @seav A PR has been submitted for this issue. Please review whenever possible.

Thanks!

[2017-03-28 09:38] khantaalaman opened #1354 "Archived resources are also shown in search results."
### Steps to reproduce the error

1. Create a resource and archive it.
2. Use search to find the resource.
3. Clicking on the resource from the search results will give DoesNotExist exception.

### Actual behavior

Archived resources appear in search results.

### Expected behavior

Archived resources should not appear in project search results.

[2017-03-28 10:44] wonderchook commented on #1354
@clash99 I'm inclined to say we shouldn't show the archived ones by default but there should be a way to select that you want to see them.

[2017-03-28 11:00] wonderchook commented on #1260
@pamungkaski have you looked at how the permissions are configured for the other users? It goes beyond just adding what you are suggesting. Look in cadasta/config/permissions

[2017-03-28 11:03] wonderchook commented on #610
@khantaalaman this is not marked "First Contributor Friendly" and we aren't in a rush to design it.

[2017-03-28 11:06] khantaalaman commented on #610
No problem @wonderchook
Thanks! :)

[2017-03-28 11:44] pamungkaski commented on #1260
hi @wonderchook thanks for your response
Hmmm.. so the approach should be creating another JSON file called 'Mobile Data Collector" and after that working on the models ?
if that is correct, i'm going to start work on this issue

[2017-03-28 11:55] wonderchook commented on #1260
@pamungkaski have you outlined all the places that need to be updated to add another user type?

[2017-03-28 12:19] pamungkaski commented on #1260
hi @wonderchook thank you for your response
I think the places need to updated are the intersection of the Public user(defaut.json) and the data-collector.json
it is:
- organization
- party
- spatial
- organization/projects
- resource

[2017-03-28 12:27] pranjaltale16 commented on #1294
@amplifi
Instead of using a self-signed certificate, I would suggest using a free open-source Certificate Signing authority like Let's Encrypt. Because using a self-signed certificate would require users to add it to the list of confirmed security exceptions, which on the first view creates an impact of insecure website. If you want to, I can explain the process.

[2017-03-28 12:44] seav commented on #1294
@pranjaltale16, since the certificate is only going to be added to the development VM and not a public-facing website, using a self-signed certificate is actually the correct approach. Besides, we access the development VM using the `localhost` hostname or an IP address so a Let's Encrypt certificate will not work because there is no registered domain name that the Let's Encrypt certificate can va

[2017-03-28 12:45] amplifi commented on #1294
@pranjaltale16 This issue is for adding SSL to the development VM, which is run locally by Cadasta developers. In the VM, platform is run under localhost which is unsupported by Let's Encrypt and other CAs. There is more complexity to this issue. I recommend you look for issues marked "First Contributor Friendly."

[2017-03-28 12:50] amplifi commented on #1267
@clash99 @dpalomino @seav It would actually be trivial to obtain reasonable file size estimates for all resources and all project data downloads. S3 maintains metadata including file size and type, so files shouldn't need to be downloaded to obtain a size estimate. However, this would be inefficiently handled under the current platform code and should be included in the async I/O work.

[2017-03-28 13:10] dpalomino commented on #1117
Hi @khantaalaman. @clash99 is on PTO this week, what do you need?

[2017-03-28 13:34] oliverroick commented on #1260
Hi @pamungkaski,

so I looked into this a bit further. Here's the steps you would need to take:

- Add a new permission to the project model because you would grant the contribute via ODK permission to the whole project.
- Add the permission to existing policies (superuser, org admins, project admins, data contributor).
- Create a new policy and project role for the ODK contributor role.
- Add the

[2017-03-28 13:43] pamungkaski commented on #1260
hi @oliverroick thanks for your response
Actually i would still love to complete this issue even it is not part of my GSoC first task.
I still can finish the first task on https://github.com/Cadasta/cadasta-platform/pull/1357
If i accepted at GSoC i will do this project as part of my community bonding if it not finished yet.
But for now, i am going to dive on what you've advised and trying to impl

[2017-03-28 13:51] dpalomino commented on #1267
Thanks a lot @amplifi. It'd be great if we can include it in the async i/o yes (#490).

[2017-03-28 14:17] pranjaltale16 commented on #1294
@amplifi @seav, Sure I will look for First Contributor Friendly issues.

[2017-03-28 15:30] #1273 closed

[2017-03-28 15:55] #1334 closed

[2017-03-28 18:12] linzjax commented on #1061
## Order of operations:
### Open a new tab and paste in the URL.
Does the URL have `/?coords=`?
__Yes:__
1. Zoom to coordinate location.

__No:__
1. Check if there is a zoom to function: project_extent, location_bounds
2. Zoom to this specific requirement
3. Then add coordinates to URL.

### If the hash changes:
Was it just the coordinates changing?
__Yes:__
Ignore and move on with your life.

__N

[2017-03-29 04:45] amplifi commented on #1322
@niharika1995 Deriving the mimetype has to be done cautiously, as it's very easy for a user to upload a malicious file with a fake extension or to pass a header via API that declares a mimetype that doesn't actually match the file. Any mimetype received needs to be verified before acceptance.

[2017-03-29 04:56] amplifi commented on #1322
Resolving this issue will require adding a secure process by which we derive and/or verify the mimetype of the uploaded file, saving mimetype to the resources table in the db (and writing to S3 metadata if not already populated), quarantining files for which a user-specified mimetype doesn't match the derived mimetype and applying additional processing, then generating and displaying the appropria

[2017-03-29 15:23] seav commented on #1354
@wonderchook: For all intents and purposes, archived resources are considered deleted in the eyes of platform users (we actually use the term "delete" instead of "archive"), and only superusers are able to view archived resources and potentially unarchive them. So for the search feature, I think there should be no option to be able to see archived resources. (Superusers have access to the database

[2017-03-29 15:41] wonderchook commented on #1354
@seav I think that makes sense!

[2017-03-29 16:06] dpalomino commented on #1354
@amplifi, can you please take a look and let us know if that sounds good for you? ta!

[2017-03-29 16:10] dpalomino commented on #1350
Need more testing to find out what the root cause really is.

[2017-03-29 16:20] dpalomino commented on #1285
Closing for now, found a workaround for this.

[2017-03-29 16:20] #1285 closed

[2017-03-29 16:26] dpalomino commented on #1261
Workaround is to use two languages, we need to investigate further.

[2017-03-29 16:27] dpalomino commented on #1259
@clash99, can you please take a look to this? thanks!

[2017-03-29 16:32] dpalomino commented on #1254
Need to be tested with GeoODK.

[2017-03-29 16:39] dpalomino commented on #1220
To be tested if that is reproducible in other forms (like for projects).

[2017-03-29 16:41] dpalomino commented on #1131
This will be addressed with the SMAP work, to be checked then.

[2017-03-29 16:42] dpalomino commented on #919
We have the new test cases spreadsheet, so we can close this issue.

[2017-03-29 16:42] #919 closed

[2017-03-29 18:05] pamungkaski opened #1360 "When trying to delete party, the 'x' button on top right of delete confirmation box is not working"
### Steps to reproduce the error

- Try to delete party
- Press the 'x' button

### Actual behavior

- The button is not working at all

### Expected behavior

- The page will back at the party detail

[2017-03-29 22:34] dpalomino commented on #1220
Retested in the forms for creating projects. Interestingly behaviour is slightly different:

1. Trying to create an empty name project > proper error message shown ("This field is required")
2. Trying to use an existing name > Error message is cleared and proper message is shown ("Project with this name already exists in this organization")

However inverting the order (first use an existing name

[2017-03-30 01:02] #1113 closed

[2017-03-30 22:14] hiteshgarg14 commented on #922
@wonderchook @seav I am interested in solving this issue. Since there is no active PR reference on this issue, So please assign me this issue.

[2017-03-31 04:50] khantaalaman commented on #1220
Hi @dpalomino, the PR has been updated and now takes care of error messages while creating a new project.
Perhaps, as @oliverroick mentioned about having a generic solution taking care of all forms and related fields, I believe we should add a similar logic ( as in PR ) to one of the js files instead of specific `.html` files. In case we are going for that, I was planning to add necessary piece of

[2017-03-31 05:50] amplifi commented on #1354
@dpalomino Yes, ES queries should include a filter to exclude data that is archived.

However, it is incorrect that archived data should be excluded at the ES level. We want ES to be consistent with the database, so that search results provided to the users are as accurate as possible. Because multiple users could be archiving resources, and superusers should be able to see archived resources, mai

[2017-03-31 05:55] khantaalaman commented on #1354
HI @amplifi,
I went through parts of Elasticsearch doc last evening and found [this portion](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-filter-context.html) of the doc to be relevant in order to achieve desired results.
It would be really great if you could tell whether I am heading in the right direction to find the correct solution.
Thanks!

[2017-03-31 06:12] amplifi commented on #1354
@khantaalaman That's the correct documentation; we should add a filter to our ElasticSearch query to exclude archived resources.

[2017-03-31 06:33] #1165 closed

[2017-03-31 07:46] #724 closed

[2017-03-31 09:58] dpalomino commented on #1360
Thanks @pamungkaski for raising this!

@clash99, can you please take a look?

[2017-03-31 09:59] dpalomino commented on #1360
BTW, it's reproducible with several browsers (tested with Chrome and FF).

[2017-03-31 10:33] pamungkaski commented on #1360
@dpalomino safari also.

[2017-03-31 10:54] khantaalaman commented on #1360
To solve this bug,
In `party_delete.html` (/templates/party) at line 10, replace the complete `button` tag with the following:
`<a href="{% url 'parties:detail' object.organization.slug object.slug party.id %}"  class="close">&times;</a>`

@dpalomino I have already solved a similar bug in my PR #1299. Should I go ahead and submit a PR for this one too?

[2017-03-31 11:06] dpalomino commented on #1360
Sure @khantaalaman! Thanks!

[2017-03-31 13:46] pamungkaski commented on #1360
@khantaalaman thx dude

[2017-03-31 17:06] bethschechter opened #1365 "Remove language around Standard and Minimal Questionnaire (or questionnaires in general)"
I'm making a project to document importing GPX files, but when I uploaded a my form I got this message:

![image](https://cloud.githubusercontent.com/assets/3361475/24560802/6d480658-1601-11e7-971a-25b6ecd22b5c.png)

We no longer use the Standard and Minimum questionnaire; also the language has been changed to Cadasta XLS form

The types we're using can be found at this URL:
https://docs.cadasta.o

[2017-03-31 18:24] wonderchook commented on #1365
@dpalomino I think it would be worth updating this in the next sprint.

[2017-04-01 11:29] yoshi2095 commented on #1255
@clash99 @seav I have fixed this issue. After hours of researching, I realised that cadasta uses Select2 for modifying the "select dropdown" interfaces. And I found that, it was the same solution you used in the party selection field when creating a new relationship. My solution works perfectly. Have tested and it gives exactly the required result as expected. Have created the pull request for the

[2017-04-01 11:30] yoshi2095 commented on #1255
#1367 here's the PR.

[2017-04-02 14:57] amplifi opened #1370 "Subsequent activation emails not sent for inactive user accounts"
### Steps to reproduce the error

Register an account but do not click the link in the activation email. Allow the account to be marked inactive after waiting period, then try logging in with the account again.

<img width="479" src="https://cloud.githubusercontent.com/assets/4269749/24588257/099c340e-17ef-11e7-8ea2-8a1798a57954.png">

### Actual behavior

The error message as above states that an

[2017-04-02 17:01] valaparthvi commented on #1370
Hey @amplifi, I have tried this one before and I think it does resend an activation mail. But still I'll make sure of the issue, and I would like to solve this one if no one is working. Thanks.

[2017-04-02 19:18] valaparthvi commented on #1370
Hey @amplifi, so I tried reproducing the error on my local environment.
1) I did `vagrant ssh`
2) Created new user account named "student".
3) logged out and logged back in
4) It showed `Account Inactive` page, but no confirmation mail is sent.
![screenshot from 2017-04-03 00-37-26](https://cloud.githubusercontent.com/assets/11015077/24590150/f13a45ec-1805-11e7-966e-587f0252b7ea.png)

5) I did `ct

[2017-04-02 19:37] rishabhiitbhu commented on #1370
@valaparthvi @amplifi I have found that `send_email_confirmation` method has a COOLDOWN_PERIOD set as 3 minutes. According to allauth:

    E-mail verification mails are sent:
    a) Explicitly: when a user signs up
    b) Implicitly: when a user attempts to log in using an unverified
    e-mail while EMAIL_VERIFICATION is mandatory.
    Especially in case of b), we want to limit the number of mai

[2017-04-03 02:40] amplifi commented on #1370
This isn't a case of the expected 3-minute delay. I have four inactive user accounts across staging and demo that have not received activation emails after log in attempts on Thursday last week. Our SMTP service also shows no activation emails triggered for these accounts. I'll be investigating further.

[2017-04-03 06:49] valaparthvi commented on #1370
okay @amplifi

[2017-04-03 09:30] amplifi commented on #1322
Will be addressed in #490

[2017-04-03 10:59] dpalomino commented on #1365
Thanks @bethschechter for raising this. Yes @wonderchook I agree that we should fix this in the next sprint.

Also note that the link to the xlsform section in the user guide is not properly updated either, it should be:
https://docs.cadasta.org/en/09-XLSForms.html

I'd suggest to include the following text:

"For assistance with questionnaires view our user guide. To help you get started three sa

[2017-04-03 14:23] amplifi commented on #1138
Additional requirements for update + username log: https://devwiki.corp.cadasta.org/History%20Log

[2017-04-03 14:55] #1148 closed

[2017-04-04 06:13] yoshi2095 commented on #1220
@khantaalaman it's in cadasta/organization/tests/test_forms.py line 68. Am I right @dpalomino @oliverroick

[2017-04-04 06:30] khantaalaman commented on #1220
@yoshi2095 I have already mentioned it as the location where we would have to make the change and it's a test.

I am not getting the file responsible for the feature itself and not the test.

[2017-04-04 07:23] #1140 closed

[2017-04-04 10:16] oliverroick opened #1373 "SHP download breaks when there are empty geometries"
### Steps to reproduce the error

1. Create a project that contains empty geometries (you can import data from [import-2-questionnaire.zip](https://github.com/Cadasta/cadasta-platform/files/765045/import-2-questionnaire.zip)
2. Download data; select "SHP" or "All Data"

### Actual behavior

Server error is thrown; see the [corresponding log on Opbeat](https://opbeat.com/cadasta/platform-staging/er

[2017-04-04 10:31] amplifi opened #1374 "Notification text not updated for"
### Steps to reproduce the error

Submit the password reset form with any email address, valid or not.

### Actual behavior

Notification on screen still reads, "We have sent you an email. Please contact us if you do not receive it within a few minutes."

### Expected behavior

Notification should be updated as per comments in #1272 to avoid implication that email address corresponds to a valid ac

[2017-04-04 11:15] dpalomino commented on #1373
Also related to #1113 .

AFAIK, there are no projects with empty geometries yet, but as we will allow them through imports as discussed in #1254, so I think we need to fix this (although not super urgent).

[2017-04-04 11:26] dpalomino opened #1376 "No password verification when changing account's mail address"
### Steps to reproduce the error

1. Go to Edit Profile
2. Change mail address

### Actual behavior

User is not prompted to verify their password to confirm identity.

All the other fixes described in bug #1140 are properly included though:
1. Confirmation mail to new email address does not include username
2. The mail address is not actually updated until the verification link is clicked
3. Corr

[2017-04-04 11:36] amplifi commented on #1376
@dpalomino Agreed, should have to confirm password before changing user details.

[2017-04-04 11:58] wonderchook commented on #1376
I think this is a priority prior to the release.

[2017-04-04 12:00] amplifi opened #1377 "Clear search box formatting and URL change"
### Steps to reproduce the error

Submit a search term, click 'X' to clear the search field.

### Actual behavior

'X' appears before any search text has been entered, and is misaligned (Safari & Chrome on Mac OS) as shown:

<img width="773" alt="screen shot 2017-04-04 at 6 52 38 pm" src="https://cloud.githubusercontent.com/assets/4269749/24655473/a367c5e2-1968-11e7-9203-bfbe8bf0130b.png">

<img w

[2017-04-04 12:16] seav commented on #1377
I don't have Mac OS, but I can't reproduce this on Firefox and Chrome on both Linux and Android.

Also, I instructed the intern applicant to no longer clear the page URL when the clear button is clicked. This is because we don't update the page URL when users type in or update the search input (but without clicking the search button yet) and clicking the clear button is effectively the same as sel

[2017-04-04 12:17] khantaalaman commented on #1377
Hi @amplifi I implemented the clear search-box functionality in PR #1171.

Just now I re-checked this on my Mac (OS X El Capitan) and found it to be working fine in Chrome as well as Safari. Following are the screenshots:

![screen shot 2017-04-04 at 5 39 34 pm](https://cloud.githubusercontent.com/assets/18065231/24656062/7f06ceb4-195e-11e7-977c-9ccf35e8e0b2.png)

![screen shot 2017-04-04 at 5 42

[2017-04-04 12:34] amplifi commented on #1377
Same appearance as my screenshots above in Safari (10.0.3) and Chrome (57), both El Capitan and Sierra.

Alignment is also broken in Safari on iOS 10.3.1 (iPhone 6) as shown:

![image](https://cloud.githubusercontent.com/assets/4269749/24656689/9ff05d02-196d-11e7-851e-ef7756461a45.png)

[2017-04-04 12:37] seav commented on #1377
I can confirm that on narrow screens, the alignment is not perfect. The iOS screenshot is the same on Firefox and Chrome on Android when in portrait mode.

[2017-04-04 12:44] amplifi commented on #1377
@seav re: no longer resetting the URL; there's no note of such change in requirements in the corresponding Issue or PR -- if your original instruction from #1181 to clear the URL was in error, we should be updating accordingly.

[2017-04-04 13:03] seav commented on #1377
@amplifi, there is a comment of the change in the page URL behavior in the PR, but it's hidden in GItHub because it was attached to an outdated code: https://github.com/Cadasta/cadasta-platform/pull/1171#discussion_r105172485

But agreed that any changes should be documented, preferably visible.

[2017-04-04 13:20] oliverroick opened #1378 "Location geometries are not stored"
### Steps to reproduce the error

1. Edit a location's geometry
2. Save the form without saving the geometry first (i.e. clicking that little "Save" button in the map toolbar.

### Actual behavior

The geometry is not updated.

### Expected behavior

The geometry should be saved either way. (It works when you save the geometry first).

[2017-04-04 13:30] seav commented on #1378
This feature works on Firefox/Linux but not on Chrome/Linux. The idea is that when the user clicks the big "Save" button, the map edit mode "Save" link will be clicked first. The JS event for the big button click is [here](https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/templates/spatial/location_edit.html#L57) and the JS event trigger for the edit mode click is [here](https://gith

[2017-04-04 14:48] linzjax opened #1379 "CSS: Long email spills outside of member profile"
### Steps to reproduce the error
[Osx, Chrome]
Add a user with a ridiculously long email.
Add them to an organization
View their member details within the organization.
Slowly decrease your browser window size to right before it switches to tablet view.

### Actual behavior
The email spills out of the member profile box.
<img width="255" alt="screen shot 2017-04-04 at 10 43 33 am" src="https://clo

[2017-04-04 15:58] seav opened #1380 "Deleted resources are included in the project data download"
### Steps to reproduce the error
1. Delete a resource in project.
2. Download the project data (select the "Resources" or "All data" option).

### Actual behavior
The deleted resource is included in the downloaded zip file and is listed in resources.xlsx.

### Expected behavior
The deleted resource should not be included.

### Notes
The filter in this queryset should also include `archived=False`:

[2017-04-04 16:10] dpalomino commented on #1378
Hi @seav, @oliverroick

I can confirm same behavior in MacOS, working fine with FF but not with Chrome or Safari.

[2017-04-04 16:11] dpalomino commented on #1379
I'd say wrap, but @clash99 is the biggest authority here :)

[2017-04-04 16:13] clash99 commented on #1379
Added ability to break and wrap for really long emails addresses and modified last login css.

<img width="1440" alt="screenshot 2017-04-04 11 11 57" src="https://cloud.githubusercontent.com/assets/1119621/24667060/aec673d4-1927-11e7-8b17-6bd16bdda5de.png">

[2017-04-04 16:54] clash99 opened #1382 "Search showing duplicate entries"
### Steps to reproduce the error

On staging in Lakeview River Project, search for "rw" (for right-of-way).

### Actual behavior

Seeing duplicate entries for same location, with same links.  There is only one location in this project.

### Expected behavior

See only one entry for a location.

<img width="1440" alt="screenshot 2017-04-04 11 39 26" src="https://cloud.githubusercontent.com/assets/1

[2017-04-04 17:06] clash99 commented on #1382
More details:
- Search for "cat" is only showing "Laser Cat" party
- Search for "cats" is showing duplicate entries for "Flying saucer cats" resource

It seems like "cat" would show an entry for "Laser Cat" party and "Flying saucer cats".

<img width="1439" alt="screenshot 2017-04-04 12 03 38" src="https://cloud.githubusercontent.com/assets/1119621/24669163/f4c299ec-192e-11e7-9fa5-8739144d84da.png

[2017-04-04 17:11] seav commented on #1382
Re "cat" vs. "cats", this will be resolved as part of #1118.

[2017-04-04 17:14] linzjax opened #1383 "Platform Error thrown when accessing an org member that's been removed"
### Steps to reproduce the error
- Add a member to an organization.
- Grab their member detail page URL
- Remove them from the organization
- Go back to their member detail page URL

Similarly, if you try to view member details of a user that doesn't exist, you get a 404 not found.

### Actual behavior
- Triggers platform error

### Expected behavior
- Redirected with a "user not a member of this

[2017-04-04 19:28] yoshi2095 commented on #1264
Hi, @clash99 @dpalomino I was going through the bug Cadasta/cadasta-platform#1264. I was wondering what exactly happens in the background when I click the (Remove) link. I mean, I was searching through the code base to find this link because it links through the `{{form.file}}` tag in the resources/form.html template, but couldn't find it. All I want to figure out is, after clicking on this link,

[2017-04-04 19:39] Sanny26 commented on #1373
I'm trying to reproduce this error. When I try to import a file in zip, it throws a tuple index out of range error and a warning on select import field page(step 2)
![screenshot from 2017-04-05 01 04 43](https://cloud.githubusercontent.com/assets/16081303/24675295/32fd14a4-199c-11e7-9f7b-2866ad18e458.png)

Am I doing anything wrong?

[2017-04-04 19:55] linzjax commented on #1382
Adding to this: Only one of the two links works. The other gets a 404 error.

[2017-04-04 20:00] Sanny26 commented on #1383
Can I fix this issue?

[2017-04-04 20:01] linzjax opened #1384 "Public Users can still view `records/locations` and `records/parties`"
### Steps to reproduce the error
Add a user to an organization and assign them as a Public User for a project.
Login as that user and go to that project page.
Add `/records/locations/` to the URL.
::or::
Add `/records/parties/` to the URL

### Actual behavior
They see a stripped down version of the "map" page.
They see a list of party names and types.
They don't have access to any details.

### Ex

[2017-04-04 20:30] rishabhiitbhu commented on #1380
Hi @seav  and @dpalomino,  I have reproduced the error on my local setup and filtering queryset with `archived=False` [here](https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/organization/download/resources.py#L52) fixes the bug.
I would like to open a PR solving this bug, if you say so.

[2017-04-04 20:39] linzjax commented on #1383
@Sanny26 You're of course welcome to work on it. As a heads up, if you were hoping to work on it as part of an application process for GSoC or Outreachy, the deadline for those have passed and it won't necessarily be considered as part of your application.

If you just wanted to work on it for fun, that's also totally fine. Either way, have at it!

[2017-04-04 22:00] clash99 commented on #1264
@yoshi2095 and @khantaalaman - So the current solution doesn't work because the form is reused on things like adding new resources so as-is, it is broken when uploading a new resource.  See screenshot below.  The file upload is mostly contained in file-upload.js.  I hope that helps.  Let me know if you have any questions.

<img width="924" alt="screenshot 2017-04-04 16 55 29" src="https://cloud.gi

[2017-04-05 07:16] amplifi commented on #1382
According to index timestamps, the partial data duplication for this index occurred when the staging update interval was modified to sync more frequently for the QA period. Confirmed only this project was affected, potential scope of issue limited to staging env only and not possible to occur under normal operation. Added a check anyway to smooth large interval changes, but it's gold-plating at th

[2017-04-05 08:28] dpalomino commented on #1382
Thanks  @amplifi for digging into this (the duplicated stuff)! As we discussed the the search check-in meeting, closing this issue for now as it is a unusual case that in addition can only happening in staging.

For the 404, it will be checked separately.

[2017-04-05 08:28] #1382 closed

[2017-04-05 09:28] oliverroick commented on #1373
@Sanny26 Have you loaded the questionnaire in the Zip first and then tried to import the data?

[2017-04-05 10:00] oliverroick commented on #1220
We're using [Parsley](http://parsleyjs.org/) to do client-side form validation. There might be a way to make Parsley use the same element to display error messages that Django does. That way you can have Parsley take care of the problem and it will be added to all forms.

If that's not possible, you can add that functionality to `form_submit_once` but I would then rename the file to a more generic

[2017-04-05 10:16] oliverroick commented on #1384
This is expected behaviour; there's a discussion about this in [#961](https://github.com/Cadasta/cadasta-platform/issues/961#issuecomment-273828884).

The behaviour is the way it is because we wanted to make listing parties consistent with listing location (or rather putting them on the map). We said you could see locations on the map, but you can't access location details if you're a public user.

[2017-04-05 15:36] linzjax commented on #1384
Ah fair enough. It just felt like I had found "secret" pages since there wasn't a way to navigate to these pages in through the UI, but if this has all been discussed before I will go ahead and close this.

[2017-04-05 15:36] #1384 closed

[2017-04-06 05:06] amplifi opened #1387 "Upgrade Django: Security vulns"
Two CVEs reported. We can update to security release 1.10.7 for now, but should update to 1.11 when possible.

[2017-04-06 12:02] #1379 closed

[2017-04-06 12:45] #1374 closed

[2017-04-06 15:40] clash99 commented on #1342
Added some of the prep work of the details table for #1267

[2017-04-06 17:14] clash99 commented on #1040
Hi @linzjax - I tried to recreate this bug today and was redirected to dashboard with a "no permissions" message.  I think this is probably correct - at least its not to github!  When you get a chance, can you verify that this bug no longer exists?

What I'm seeing:
<img width="1366" alt="screenshot 2017-04-06 12 09 42" src="https://cloud.githubusercontent.com/assets/1119621/24766847/81092792-1ac2

[2017-04-06 17:20] clash99 commented on #875
This shouldn't be as big an issue in the new project pages where you "turn on" the drawing tools to modify the project boundary. I don't think its worth the time creating a workaround with that project on the horizon.  Feel free to reopen @dpalomino if you don't agree.

[2017-04-06 17:20] #875 closed

[2017-04-06 17:28] linzjax commented on #1040
Gosh I have no idea what's happening.
I added a new link up-top that doesn't work for me, and redirects me to github.
If I go to the platform (any other page) I have a `not allowed to view location` error message waiting for me.
If I paste the link into the url bar up-top, I get redirect to the dashboard.

[2017-04-06 17:31] linzjax commented on #1040
I might have something to do with the HTTP_REFERER. If I access it through a link outside of the platform, I was technically "referred" from another page so it kicks me back to that. If it's a new link/tab, there's no referrer, so it kicks me to the dashboard. For what it's worth, I'm partially addressing this in SMAP (at least for locations/relationships you're not allowed to view)

[2017-04-06 19:29] valaparthvi opened #1389 "Users with inactive account/unverified email should not be added to any organization"
### Steps to reproduce the error
1) Make a new account, and do not verify the account.
2) Add that inactive account to an organization.

I created a username called "vatsal", and it has not been verified yet.
I added "vatsal" to an organization called "ABC" that I had created.

### Actual behavior
That member will be added to the organization without any error.
"vatsal" was successfully added to t

[2017-04-06 19:36] clash99 commented on #1040
A-ha!  I see it now....(the bug, not the fix yet!)  thanks for taking the time @linzjax

[2017-04-06 19:36] wonderchook commented on #1389
@valaparthvi thanks for this idea. I think this would make things complicated for org administrators. It is pretty typical to make a bunch of accounts for users and then add them to an org all at once. So if they had to wait until they were verified the process would be more difficult for them.

[2017-04-06 19:36] #1389 closed

[2017-04-06 20:27] clash99 commented on #1069
@dpalomino - In talking with @alukach today, he mentioned needing a place for users to see status or possibly link to background processes (think importing or exporting of large files).  I think the user dashboard and possibly the project dashboard may be the right place to include this.  Just wanted to drop you a quick note since we mentioned trying to better define user dashboard requirements th

[2017-04-06 20:46] clash99 commented on #1040
**WIP notes**

http://localhost:8000/organizations/chandras-test-organization/projects/chandras-test-project/records/locations/pqapbd3dh6y2crtrwb8vwbgc/

If I am not signed in, redirected to **Hello? Have we met**.
- After signing in with location view permission, directed to location detail as expected.
- After signing in without location view permission, directed to project overview page with "Y

[2017-04-06 21:38] clash99 commented on #1365
@dpalomino - Let me know what you think of below.  Its a hybrid of what you have above and user guide document.

<img width="918" alt="screenshot 2017-04-06 16 33 38" src="https://cloud.githubusercontent.com/assets/1119621/24776547/df9a226a-1ae6-11e7-83dd-f267f67383b7.png">

------------------------------------------------------

@bethschechter - just noticed two small changes to user guide:  1)

[2017-04-06 21:50] niharika1995 commented on #1233
FWIW, this issue has been fixed by #1268

[2017-04-07 01:21] clash99 commented on #1259
Made modifications to datatables and search datatables:
- Changed order of elements so pagination is first and floats right
- Made length menu wrap to second line when screen becomes very narrow
- Changed length menu to have "per page" in dropdown and removed outside labels
- Changed css to adjust border and padding

<img width="1391" alt="screenshot 2017-04-06 20 18 30" src="https://cloud.githubu

[2017-04-07 01:58] wonderchook commented on #1365
I don't like the explanations. I think they should specific to the use case and we should leave the one to many or one to one stuff out of describing of what people do.

[2017-04-07 06:34] #1233 closed

[2017-04-07 06:36] valaparthvi commented on #1389
okay, @wonderchook. I understand things would get complicated if org admins had to wait until a user had verified the account. But, once inactive account(user) is added to an org, do you think it would be a good idea to send a reminder to that user to activate their account?

[2017-04-07 06:41] oliverroick commented on #1389
Users get a reminder when they try to log in the next time. I don't think it's necessary to send this extra email.

[2017-04-07 08:26] valaparthvi commented on #1389
okay, @oliverroick.

[2017-04-07 10:25] seav opened #1392 "[Enhancement] Prefill the resource name field with the filename"
I would imagine that in the majority of instances, users would want the name of their resource to be similar, if not the same, as the resource filename. In that case, it might make things easier for the user if the resource upload form prefills the name field with the uploaded filename sans extension and with underscores converted to spaces.

[2017-04-07 14:07] bethschechter commented on #1365
@wonderchook @clash99 copy this!

Before I make the changes, I want to bring in @dpalomino and @SteadyCadence. David and Katrina, does this make sense to you?

If not it might be worth jumping on a quick call to discuss.

Another question: if we do this, do we need to make a starter xlsform for each of our use cases, like Sustainable Sourcing??

[2017-04-07 14:39] dpalomino commented on #1069
Thanks @clash99! Yes I agree, thanks for the heads-up!

[2017-04-07 14:43] bethschechter commented on #1365
@wonderchook @clash99 we have agreement on how to describe these, but I likely won't have the descriptions done til early next week. Unless I can bust through a quick thing today - we'll see!!

[2017-04-07 15:37] #1387 closed

[2017-04-07 20:12] clash99 commented on #561
@dpalomino - Agree, let's close this and we can tackle on a feature basis.

[2017-04-07 20:12] #561 closed

[2017-04-07 22:13] clash99 commented on #1350
WIP - Can be uploaded if all points are contained in same track segment.  Blows up with multiple track segment.s

[2017-04-08 03:12] #1376 closed

[2017-04-08 03:57] laura-barluzzi commented on #1118
Hi @seav, is this issue still open? I tried to use the search after entering inside my project but it looks like the search doesn't work with exact string either now.. it doesn't find any party name and resource name. Did it use to work for any exact string?

[2017-04-09 04:57] valaparthvi commented on #1011
hey @oliverroick, I want to work on this one, or at least try to implement it. If you don't mind, can I plan out a proposal for this one?

[2017-04-10 08:32] dpalomino commented on #1350
Thanks for testing @clash99! @bjohare, do you think this would be something difficult to fix?

[2017-04-10 10:33] dpalomino commented on #966
Final version for the requirements is [here](https://drive.google.com/open?id=1CqxKhhZTqjYfYIAbRYuXardbX9BYLEoKWJCudOkWt8A).

Currently outlining user stories and tasks, check [here](https://drive.google.com/open?id=1hpS2wEGD93_s9-8lMeHOf4xrfoKMezwjfx3E5F6-geg).

Last version of wireframes [here](https://drive.google.com/open?id=0BzpiEtMtHC3rTzREZkY4b3dYSUU).

In Sprint 16 we will work on creating

[2017-04-10 10:45] dpalomino opened #1394 "Research task to improve the management of jsonattrs and questionnaires"
This is a task to track the research activity related to how to properly handle jsonattrs and questionnaires in the platform, as agreed in the sprint plan. The result would be likely to produce a decision record with some architectural decisions and future tasks outlined.

@oliverroick please let us know if you prefer to manage this differently.

[2017-04-10 12:26] oliverroick commented on #1011
Like I said before, this is quite a complex feature; so before you start writing any code, I would suggest you write up a detailed proposal and think this through from different angles. I would write it up in a Google Doc so it's easier for us to comment on.

[2017-04-10 12:31] valaparthvi commented on #1011
yes @oliverroick, that is what I was suggesting, creating a proposal. I will start working on it then. Thanks.

[2017-04-10 13:25] wonderchook opened #1396 "Duplicate Project Name Slug Causes Server Error"
If a project happens to have the same slug name as an existing project then the error is not caught.

IntegrityError at /projects/new/
duplicate key value violates unique constraint "organization_project_slug_key"
DETAIL:  Key (slug)=(general-test-again) already exists.

This should be handled gracefully and make a slug that is not a duplicate.

[2017-04-10 14:36] oliverroick opened #1397 "Catch and ignore QuestionOption.DoesNotExist"
### Steps to reproduce the error

1. Create a project and upload a questionnaire that does not contain the complete list of options for standard fields. For example, use the standard questionnaire and remove one of the location type options.
2. Go to the location detail page.

### Actual behavior

Server error is thrown.

### Expected behavior

The exception should be caught and ignored.

### Expl

[2017-04-10 14:39] oliverroick commented on #1383
[Example exception](https://opbeat.com/cadasta/platform-staging/errors/143/)

[2017-04-10 14:53] oliverroick commented on #1350
Here's the corresponding [error log](https://opbeat.com/cadasta/platform-staging/errors/131/)

[2017-04-10 15:06] oliverroick opened #1398 "Handle TypeError more gracefully"
Handle `TypeError` more gracefully in the API. Instead of throwing 500, the response should be HTTP 400 including an error message instead of 500.

[Example exception](https://opbeat.com/cadasta/platform-staging/errors/139/).

[2017-04-10 15:36] amplifi commented on #1396
This would be a regression of #162

[2017-04-10 16:22] clash99 commented on #954
@dpalomino - do you think we can mark this closed since we have an approved set of wireframes?

[2017-04-10 18:39] niharika1995 commented on #1396
Cannot reproduce the bug on my VM.

[2017-04-11 03:29] alukach opened #1400 "Asynchronous Exports"
Based on [DR 0006: Asynchronous Import and Export](https://github.com/Cadasta/decision-records/blob/master/0006_asynchronous_import_and_export.md), this task is focused on refactoring the data export tooling to support asynchronous operations.

Asynchronous tasks should be scheduled by placing messages into a queue (most likely hosted via SQS). Celery seems like a reasonable tool to enable this. A

[2017-04-11 11:04] dpalomino commented on #954
Yes, I agree @clash99. I'm keeping #966 open for outlining the user stories and tasks, and generally discussing regarding phases and MVP.

[2017-04-11 11:04] #954 closed

[2017-04-11 11:11] dpalomino commented on #1396
Hi, I think @oliverroick you were involved in solving the issue #162, can you take a look pls?

[2017-04-11 13:56] oliverroick commented on #1396
@wonderchook I can't reproduce this anymore on staging or the dev VM. I've seen the issue before but now it seems to be gone. Can you check again if this is still broken?

[2017-04-11 20:57] clash99 commented on #1282
Making adjustments to css file for smaller screens.

[2017-04-11 21:34] SteadyCadence opened #1405 "Added an Org on Demo and Don't have permissions to access members"
### Steps to reproduce the error

1. Create Organization
2. Go to Member tab to add a member and receive error message.

### Actual behavior

An error message pops up indicating I cannot add members to an org I created.

<img width="1101" alt="screen shot 2017-04-11 at 3 33 07 pm" src="https://cloud.githubusercontent.com/assets/25337622/24931887/49350c60-1ecc-11e7-81ac-fff80fd80896.png">

### Expe

[2017-04-11 21:42] SteadyCadence commented on #1405
Logging in and out fixes the issue... but we should fix it.

[2017-04-11 21:45] wonderchook commented on #1405
@SteadyCadence are you able to reproduce it? Is it happening consistently? I agree about fixing it, but trying to get more to go on.

[2017-04-11 21:54] SteadyCadence commented on #1190
I am working on another form that requires signatures.  Can we discuss this further this week?  The form I am working on does not require any photos-- only signatures.

[2017-04-11 21:57] wonderchook commented on #1190
So I am not sure discussion is really required. We can though. What is remaining for this:

1. Clear requirements written
2. Prioritized in the backlog

cc @dpalomino

[2017-04-12 15:58] SteadyCadence commented on #1405
I tried reproducing on staging and could not.  I think there must be a specific caching/session setting that causes the permissions to act a little wacky.  Not sure what it is yet.

[2017-04-12 16:08] dpalomino commented on #1405
@clash99 volunteered to take a look, thanks!!!!

[2017-04-12 16:18] dpalomino commented on #1378
To be reviewed after the SMAP is deployed.

[2017-04-12 16:22] amplifi commented on #1405
All of the settings on staging and demo are the same, so variation between environments would be caused by something else. @SteadyCadence, on staging you're a member of 4 orgs and 0 projects. On demo, you're a member of 15 orgs and 2 projects. This sounds like a possible duplicate of #1232?

[2017-04-12 16:25] dpalomino commented on #1354
@amplifi Comment from triage: Archived resources shouldn't be indexed. Can you please take a look Adrienne?

[2017-04-12 16:34] amplifi commented on #1354
@dpalomino Please see my comment above; I've already addressed the idea that archived resources shouldn't be indexed and it is incorrect: https://github.com/Cadasta/cadasta-platform/issues/1354#issuecomment-290622487

We should not be maintaining two inconsistent data sets, and we should never be implementing features based on the assumption that super users will be manually accessing and manipula

[2017-04-12 16:34] dpalomino commented on #1350
We need to do some more research to know if this is a valid format, and how partner managed to have this GPX file. GPX file should not be modified in the way.

@bjohare can you please take a look, and see why this format is breaking the platform?

[2017-04-12 16:40] dpalomino commented on #1254
It should be fixed now, closing the issue.

[2017-04-12 16:40] #1254 closed

[2017-04-12 16:43] SteadyCadence commented on #1405
I was just thinking that... I am going to try again on demo to see if it is consistent.

[2017-04-12 16:45] dpalomino commented on #1220
@clash99 volunteered to take a look, thanks!

[2017-04-12 17:47] clash99 commented on #1350
According to the [GPX 1.1 spec](http://www.topografix.com/GPX/1/1/#type_trksegType), a track with multiple track segments is a correct format.

**A Track Segment holds a list of Track Points which are logically connected in order. To represent a single GPS track where GPS reception was lost, or the GPS receiver was turned off, start a new Track Segment for each continuous span of track data.**

If

[2017-04-12 19:46] SteadyCadence commented on #1405
Yes, it continues to happen in demo.  So that seems likely the issue... Hm. I will need to be able to set up demo accounts in the future so this could be a problem.  For now, I can have partners set up the accounts if need be.

[2017-04-12 19:46] SteadyCadence commented on #1405
Duplicate of #1232.

[2017-04-12 19:46] #1405 closed

[2017-04-12 19:47] SteadyCadence commented on #1232
I have experienced this issue as well with 15 orgs.

[2017-04-12 19:47] wonderchook commented on #1232
@SteadyCadence so it is consistent now with your account?

[2017-04-12 19:53] SteadyCadence commented on #1232
yes, I believe so. I forgot that I can logout/login to add members.  So this can be low priority.

[2017-04-12 20:01] wonderchook commented on #1232
@dpalomino what happens if you logout/login to add members?

On production neither of you have nearly as many orgs associated with you, right?

[2017-04-12 20:03] SteadyCadence commented on #1232
Correct.  And partners typically set up their own account on production.

[2017-04-12 20:24] wonderchook commented on #1232
@SteadyCadence would it be possible to try removing a bunch of orgs from that account. Just to see if it starts working again?

[2017-04-12 20:28] SteadyCadence commented on #1232
Sure.  I will work on that tomorrow when I have some more time.

[2017-04-12 23:05] dpalomino commented on #1190
@SteadyCadence @wonderchook

Yes, it's in the backlog (id 71.00), with medium priority. Requirements are quite straight forward I think as we just need to support the _signature_ field type in the xforms which is indeed just an image. I think it shouldn't be difficult to implement. Maybe we could target as a small task for the next sprint?

[2017-04-13 08:19] #1270 closed

[2017-04-13 08:33] #1360 closed

[2017-04-13 08:50] #1380 closed

[2017-04-13 09:06] #1259 closed

[2017-04-13 15:08] SteadyCadence commented on #1350
Thanks @clash99.  It sounds to me like we need logic in Cadasta that connects the track segments if they are in track tags together.

[2017-04-13 19:30] clash99 commented on #1027
These are part of the project wizard project.  I'm closing this task.

[2017-04-13 19:30] #1027 closed

[2017-04-13 19:32] clash99 commented on #975
Closing this for now.  We are going to be adding demo/staging to right of logo.  After communications person is hired, we may want to bring this issue up with them but will need to consider spacing, etc. at that time.

[2017-04-13 19:32] #975 closed

[2017-04-14 18:35] clash99 commented on #1220
This string is translated in current format so added explicit validation message.

![screenshot 2017-04-14 13 31 27](https://cloud.githubusercontent.com/assets/1119621/25052353/0c3cfafa-2117-11e7-98d4-0b1cebf76828.png)

[2017-04-14 21:36] clash99 commented on #1365
@bethschechter - Any updates here?

[2017-04-14 21:57] clash99 commented on #1084
@SteadyCadence - I can make this change but it would be helpful if you could provide a link or screenshot so I could make sure I'm make the correct adjustment.

[2017-04-15 00:39] SteadyCadence commented on #1084
@clash99 I'm thinking we could wait until the new map features are out. So maybe address this issue then? Or maybe we could screen share next week. I can show some example projects where the clustering tolerance is not ideal.

[2017-04-17 09:46] dpalomino commented on #1084
Yes, I agree with that @SteadyCadence.

cc @linzjax for her info.

[2017-04-17 13:35] wonderchook commented on #1190
@dpalomino possibly it depends on how all the other priorities line up. So that is up to you! (What do you define as a "small task"?)

[2017-04-17 15:00] clash99 opened #1408 "Simplify js calls"
While bugfixing, I noticed our datatables cdn file has jquery and bootstrap included, which means we are pulling in these files twice.  Also looking at other ways to improve other factors affecting page load times.

[2017-04-17 16:59] bethschechter commented on #1365
@clash99 i will get these to you today. very sorry, travel threw me off.

[2017-04-17 17:19] dpalomino commented on #1190
Yes @wonderchook , I think it would be probably easy to implement as it is just an image that is using a different label in the xform document, so ODK interprets this as a signature and then send the image.

Ping'ing @linzjax (thanks!) for a quick rough estimation, as she has been working on other resource stuff for xforms....

[2017-04-17 21:54] bethschechter commented on #1365
@wonderchook @clash99 here is some (hopefully better) copy around these forms, which I've added to the documentation. Do you think more info is needed?

//

To get started, choose the form that most closely matches your documentation needs.

* The [Customary Rights Form](https://docs.google.com/spreadsheets/d/1MHg6iok4SkDxN2NdMVt3P2W9UZe81VxH6CpAz_eUtOY/pub?output=xlsx) is designed for documenting

[2017-04-18 13:24] #1303 closed

[2017-04-18 13:24] #1302 closed

[2017-04-18 13:55] clash99 commented on #1365
Hi @bethschechter - thanks for the text.  I've made the updates so take a look and let me know if its approved.  Thanks, Chandra

![screenshot 2017-04-18 08 53 44](https://cloud.githubusercontent.com/assets/1119621/25134228/abcfa25c-2414-11e7-8561-5647395ac08a.png)

[2017-04-18 14:44] linzjax commented on #1190
So if it really is just an image, I think as long as it has the `name` column is appropriately labeled (`party_resource_<whatever>`), then it should already work as far as ODK submission goes. It would then just require updating the questionnaire model to accept that question type. Barring unforeseen complications, I don't think it would take long at all.

[2017-04-18 14:50] linzjax commented on #1084
I had been asking about this because a fix that I made to one thing broke clustering. I wanted to make sure before I put too much time into fixing it whether or not we would want to keep using it in the future. I'm going to continue to try and fix it, if for no other reason than my pride, but it we have strong feelings about it one way or the other that would be good to know.

[2017-04-18 15:19] linzjax commented on #1084
So the one thing I will say, having now (sort of) fixed it, is that including deflate/clustering in projects that have a couple thousand records causes my browser to slow down so much it crashes. It's possible I'm just not going about it the right way, but it's pretty rough.

[2017-04-18 17:51] bethschechter commented on #1365
works for me!

[2017-04-18 17:57] clash99 commented on #1365
@bethschechter and @dpalomino - does this mean we should remove the old questionnaires housed on AWS?

[2017-04-18 18:46] bethschechter commented on #1365
I say yes

On Apr 18, 2017 10:57 AM, "Chandra Lash" <notifications@github.com> wrote:

@bethschechter <https://github.com/bethschechter> and @dpalomino
<https://github.com/dpalomino> - does this mean we should remove the old
questionnaires housed on AWS?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Cadasta/cadasta-platfor

[2017-04-18 19:24] SteadyCadence commented on #1084
@linzjax If it is slowing down the map loading, I would skip fixing that for now....  There are mainly two use cases for clustering:  improving map performance and showing how many overlapping points there are in one area.   There are not too many use cases with the latter option, so I think we can temporarily skip clustering for the time being... unless someone has any other opinions.  @wondercho

[2017-04-18 20:42] MappingKat opened #1411 "PDF Generator :: Format PDF Form"
Took a peek at the PDF Form branch.  The print out form needs some formatting ❤️ (ie reduce the large breaks between choice values, remove colored background, tidy up the header, etc)

see https://drive.google.com/open?id=0Bwu69XKTjUmwNjNkUXNNUDFiWUE

![screen shot 2017-04-18 at 2 38 34 pm](https://cloud.githubusercontent.com/assets/1077436/25151962/c0da13b4-2444-11e7-9fcc-cf0f9fab31ff.png)

[2017-04-18 20:42] #1411 closed

[2017-04-18 20:43] SteadyCadence opened #1412 "PDF Generator :: Format PDF Form"
Took a peek at the PDF Form branch.  The print out form needs some formatting ❤️ (ie reduce the large breaks between choice values, remove colored background, tidy up the header, etc)

see https://drive.google.com/open?id=0Bwu69XKTjUmwNjNkUXNNUDFiWUE

![screen shot 2017-04-18 at 2 38 34 pm](https://cloud.githubusercontent.com/assets/1077436/25151962/c0da13b4-2444-11e7-9fcc-cf0f9fab31ff.png)

[2017-04-18 20:43] SteadyCadence commented on #1412
We also need to discuss the longitude and latitude fields.  Currently, we do not support adding those coordinates in Cadasta.

[2017-04-18 22:58] wonderchook opened #1413 "API Should Handle Locations with Z Values without a 500 error"
This happened through the QGIS plugin. If you try to upload geoms with a Z value a 500 error comes back. I don't think there is a reason we shouldn't be able to use data with a z value. At a min this should fail gracefully, but even better accept the data.

Here is the file I was using:

https://drive.google.com/drive/folders/0B6yvvj_4PdlPQVZKRVhPSldOXzg?usp=sharing

[2017-04-18 23:50] wonderchook opened #1414 "Ability to Manually Enter Latitude and Longitude"
Currently to add a location you have to digitize the geometries. Users should be able to manually enter the latitude and longitude.

For an initial feature release this should only apply to points, but we can see later then if there is desire for me.

[2017-04-18 23:50] wonderchook commented on #1412
@SteadyCadence I added that #1414 tracking

[2017-04-19 13:22] wonderchook commented on #1084
The performance reason would be server side clustering so I think we can wait on that.

[2017-04-19 14:16] SteadyCadence commented on #1414
Useful feature since it is related to the paper forms #1412!

[2017-04-19 17:44] clash99 commented on #1084
Sounds like this task can be closed based on comments here and our discussion in the dev meeting this morning.  I'm closing and we can re-open in the future if needed but with the new smap, it would probably be related to that project.

[2017-04-19 17:44] #1084 closed

[2017-04-19 18:23] dpalomino commented on #1190
Great, thanks a lot @linzjax. Then I think it'd be worth to target it soon (next sprint I think?). This is useful for partners and some of them are already requesting it...

[2017-04-19 18:24] dpalomino commented on #1365
Yes,they can be removed. Thanks @bethschechter and @clash99!

[2017-04-19 18:48] dpalomino commented on #1412
It is in the backlog (with medium priority, 290; id=37.00). Originally was for manually adding the coordinates via ODK and web UI, but maybe we can prioritize to manually add coordinates via web UI. Maybe adding a "Insert manual coordinates" option in the drawing tools?

[2017-04-19 18:52] dpalomino commented on #1414
Related to backlog item 37.00.

[2017-04-19 19:01] Sanny26 commented on #1383
To fix this issue, I think it would be nice to add a OrgMemberCheck class in mixins.py, and use this wherever required. Should I go ahead with this approach?

[2017-04-19 20:57] wonderchook commented on #1412
@dpalomino I think the ODK part is actually not that bad either since it is just a different data type I believe in the form.

[2017-04-20 10:14] oliverroick commented on #1190
We need clear requirements for this, just supporting the field type won't do the job.

I'm assuming partners want the signature field so people can sign that the information provided in a form is correct. Now a form usually has three entities: a location, a relationship, and a party. If we treat signatures as a resource, where does the image go? To only one of the entities? All three of them? Do p

[2017-04-20 10:53] #592 closed

[2017-04-20 11:35] #1365 closed

[2017-04-20 13:55] wonderchook commented on #1190
In agreement with @oliverroick to be clear my comments above were related to the discussion, but did not mean we are ready to build.

[2017-04-20 19:29] amplifi opened #1418 "Superuser management tools"
Currently, there's no functionality for centralized management of projects or organizations, and staging and demo environments are cluttered with (mostly internal) test projects. This negatively impacts performance, stability, security, complexity of future development & migrations, and public-facing site aesthetics. It also leaves us with no option but manual intervention at the database level wh

[2017-04-20 19:37] linzjax opened #1419 "Long filenames breaking formatting in attach modal and location detail panel."
### Steps to reproduce the error
Upload a resource with an silly long name.

### Actual behavior
<img width="930" alt="screen shot 2017-04-20 at 2 34 50 pm" src="https://cloud.githubusercontent.com/assets/8128188/25249223/c2d6f428-25d6-11e7-8f5c-b2b0748096a5.png">

<img width="431" alt="screen shot 2017-04-20 at 2 35 30 pm" src="https://cloud.githubusercontent.com/assets/8128188/25249226/c5a9d846-

[2017-04-20 21:07] amplifi commented on #1418
I also like @SteadyCadence's idea to add a message/banner on demo letting users know orgs and projects are subject to pruning in that env. It'd be a good heads up even if we're not doing any kind of scheduled refresh.

[2017-04-20 21:33] wonderchook commented on #1418
So the issue with refreshing on the demo environment is we need to think about how we are going to better manage users who we don't have contact with. How do we make sure people don't do "real" things on the demo environment? Should there be 2 environments in the first place, are there features that would make this all easier.

[2017-04-20 22:08] amplifi commented on #1418
@wonderchook The superuser tools I'm proposing for batch archiving and deletion would eliminate the need for demo env refreshes. I was including @SteadyCadence's suggestion of messaging because I think it's important to notify casual users up front that their projects may not be retained, so that we're able to archive/delete as warranted.

[2017-04-20 22:11] wonderchook commented on #1418
@amplifi okay, was only concerned about the not retaining them. The tools all read as the right thing to me.

I think eventually we might want to consider a way to import projects across servers. I think that might be more if/when we have multiple installations including on users networks.

[2017-04-21 04:53] amplifi commented on #1418
@wonderchook Are there use cases that wouldn't be covered by a user's ability to export a project then import it on another platform instance? Enabling any private inter-environment routes would breach our isolation of environments, and I'm not sure we should be routing project data over public internet once it's in the platform (if the user chooses to do so via export/import, I think that exposur

[2017-04-21 16:33] linzjax opened #1421 "SMAP: Location adding/editing/deleting"
Since we don't have an open PR for this yet, I'm creating this issue as a place to collect my notes.
I don't know how much of this you already know, but here's my two cents FWIW:

### General:

- [x] `_createNew` in Editor, line 145: `feature.properties.url = 'records/location/new';` should be `'records/location/new/`

- [x]  `onLayerClick` in Editor, line 246: the `window.location.href = "#/" + f

[2017-04-21 16:47] dpalomino commented on #1190
Thanks @oliverroick @wonderchook for all the feedback.

So this was my original thinking:
- signatures are resources that can be associated with any of the entity types (locations, parties, relationships). Type is _signature_ as specified in http://xlsform.org/.
- To do so, we use the same syntax as we've been using for other resources in the field name: **party_resource_\***, **location_resource_

[2017-04-21 16:50] dpalomino commented on #1419
thanks @linzjax  :-) @clash99, can you take a look please?

[2017-04-21 16:59] dpalomino commented on #1418
At least for now I think with the export/import functionality we should be fine for moving projects from demo to platform (it is not a very common scenario). It would be nice though to have a workaround to download the xlsform used in the original project (now when the project already contains some data it's not possible to download it):

![screen shot 2017-04-21 at 18 58 01](https://cloud.githubu

[2017-04-21 17:01] valaparthvi opened #1422 "No notification email is sent after adding a user to an organization."
According to the [documentation](https://devwiki.corp.cadasta.org/3.0%20Organizations#add-members-modal)

### Steps to reproduce the error
1) Add a user to an organization.

### Actual behavior
No notification email is sent to the user notifying they have been added to the organization.

### Expected behavior
A notification email must be sent to the user.

[2017-04-21 17:05] amplifi commented on #1418
@dpalomino The xlsform download sounds like it should be a user-facing option. It'd be good to have a separate issue for tracking that.

[2017-04-21 17:06] dpalomino commented on #1418
ok, thanks @amplifi. I will open it now.

[2017-04-21 17:13] dpalomino opened #1423 "Ability to download xlsform when data have been submitted to the project"
When a project is empty the project manager is able to download the xlsform, and to upload a new one and change the data schema.

When data is submitted then we lock the update of the xslform, but user should be still able to download the xlsform. This is also important for duplicating and migrating projects.

![screen shot 2017-04-21 at 18 58 01](https://cloud.githubusercontent.com/assets/1719805

[2017-04-21 19:02] valaparthvi commented on #1011
Hey @oliverroick, I have created a proposal for this feature in a Google Doc. You can check it [here](https://docs.google.com/document/d/1DEisv8wPMxxQUU-7sIvYDgTREnyAUyLuAXv8sa0NwRg/edit?usp=sharing)
Let me know what needs to be changed.

[2017-04-22 01:40] seav commented on #1422
Possibly related to #453.

[2017-04-22 07:12] valaparthvi commented on #1422
I didn't quite understand when you said 'only via the API'. How are you suggesting this feature be implemented?

[2017-04-22 17:03] linzjax commented on #1244
So based on the bit of research I've done it seems like our two best options are [grunt](https://gruntjs.com/) or [gulp](http://gulpjs.com/). Webpack and the like might be better in the future because it requires fewer dependencies, but it also requires a _whole_ lot more setup.

Although Gulp seems to be (slightly) faster and more flexible, given that we are a django forward group, I would recomm

[2017-04-24 05:52] #1342 closed

[2017-04-24 06:28] amplifi opened #1426 "Remove outdated docs in AWS"
Follow-up action from #1410: Remove outdated spreadsheets in AWS now that we are using Google Docs. Adjust bucket access accordingly. Confirm Google Docs permissions are configured correctly.

[2017-04-24 06:32] amplifi opened #1427 "Transifex files update"
Follow-up action from #1407: Update Transifex files for duplicate organization validation error.

[2017-04-24 15:59] wonderchook commented on #1190
This makes sense to me. We should have a signature type resource though it is only an image. That way if we do reporting later we can handle them in a special way if needed.

[2017-04-24 17:53] dpalomino commented on #453
Hi, I think probably this more a bug than a enhancement IMO. The behaviour should be coherent for both API and web UI....

[2017-04-24 17:54] dpalomino commented on #1422
Hi @valaparthvi, thanks a lot for raising this!

Yes, indeed this is a duplicated issue of #453 as @seav mentioned. I think notification shoujld be sent in both circumstances, but currently is only working (or implemented) in the API.

Closing this issue and doing the follow up in #453, please @valaparthvi feel free to jump in there.

[2017-04-24 17:54] #1422 closed

[2017-04-24 17:56] valaparthvi commented on #1422
okay @dpalomino

[2017-04-25 03:09] clash99 commented on #1412
**Changes made to the pdf printing:**

- Condensed unnecessary spacing
- Aligned fields for improved printing layout
- Removed gray background
- Added page numbers
- Moved questionnaire title and form date created to footer of first page
- Improved css

<img width="539" alt="screenshot 2017-04-24 22 04 23" src="https://cloud.githubusercontent.com/assets/1119621/25367266/367ce052-293a-11e7-83b8-18c

[2017-04-25 04:18] SteadyCadence commented on #1421
I'm noticing a bug on the current map interactions.  When editing a geometry...
...polygon: the map zooms to the extent of the polygon
...polyline:  at the moment cant create a polyline (filing a bug for that one)
...point (BUG): the map zooms out to the world map

[2017-04-25 10:21] dpalomino commented on #1412
Looks very nice @clash99. Thanks! :-)

[2017-04-25 11:14] dpalomino commented on #1072
Hi @bethschechter. I think this is also relevant to you, something to keep in mind...

[2017-04-25 11:17] dpalomino commented on #1011
Items 65.* in the backlog.

[2017-04-25 11:25] dpalomino commented on #976
@bethschechter

This is to build something similar to the work that we did for xlsforms. Creating some sample CSV files showing how to import a basic project.

I think for the XLSX format would not be necessary as it is using the downloading data from other Cadasta project.

[2017-04-25 11:31] dpalomino commented on #966
Here there are the user stories and general tasks planned for Phase 1, already reviewed by team.
https://docs.google.com/spreadsheets/d/1hpS2wEGD93_s9-8lMeHOf4xrfoKMezwjfx3E5F6-geg/edit#gid=857963959

I think we can close this for now. Please reopen if needed.

[2017-04-25 11:31] #966 closed

[2017-04-25 12:02] dpalomino commented on #654
I think we can close this issue once the decision record was created. Please reopen if needed.

[2017-04-25 12:02] #654 closed

[2017-04-25 12:16] dpalomino commented on #460
I think we can remove this for now, with global projects already implemented and the new approach for project extent with the project designer this is now a lower priority. Please reopen if needed.

[2017-04-25 12:16] #460 closed

[2017-04-25 12:18] dpalomino commented on #448
I think that was already covered, closing the issue. Please reopen if needed.

[2017-04-25 12:18] #448 closed

[2017-04-25 12:23] dpalomino commented on #376
@bjohare, do you think this is still applicable or should we close the issue? Thanks!

[2017-04-25 12:29] dpalomino commented on #343
I think this issue is not longer needed. Please reopen if needed.

[2017-04-25 12:29] #343 closed

[2017-04-25 12:35] dpalomino commented on #110
Backlog id 13.00

[2017-04-25 15:46] wonderchook commented on #1412
this looks good to release for testing I think we need to do it in conjunction with the lat/long data entry

@dpalomino thoughts on prioritizing the lat/long for the first release after smap is done?

[2017-04-25 21:10] clash99 commented on #1412
Part of #1409 PR.

[2017-04-26 13:23] seav commented on #1421
This is related to #718.

[2017-04-26 13:34] dpalomino commented on #1412
Yes @wonderchook , agree on prioritizing. I was thinking to add a task for the wireframes/requirements in this sprint, what do you think @clash99?

[2017-04-26 13:54] clash99 commented on #1412
sounds good @dpalomino

[2017-04-26 14:01] dpalomino commented on #811
Hi,

I'm trying to recap here the requirements for this feature. In the first stage we will be only considering location areas and not boundary lengths for polylines. Polylines are far less frequent and perimeter length information has not been required by any partner.

I'm just compiling the requirements taking into account all of your contributions (thanks!)

**User Stories**
1. As a user, I wan

[2017-04-26 14:19] seav commented on #811
How many significant figures or decimal places should be shown when displaying area values?

[2017-04-26 14:25] seav commented on #811
I also assume that the area values also need to be included in the project/search export as an additional column?

[2017-04-26 14:53] dpalomino commented on #811
Good point @seav, thanks for the heads-up. I think with two decimal figures would be enough. And yes, we need to include them in the project/search exports....

[2017-04-26 15:49] oliverroick opened #1430 "Add unique constraints to questionnaire models"
Following from this [earlier discussion](https://github.com/Cadasta/cadasta-platform/pull/1372#discussion_r111317830) we should add the following unique constraints to `questionnaires` models to secure data integrity.

- `QuestionGroup`: `(name, questionnaire)`
- `Question`: `(name, questionnaire)`
- `QuestionOption`: `(name, question)`

[2017-04-26 16:10] dpalomino commented on #1412
@bjohare, do we need to fix something else here?

[2017-04-26 16:13] dpalomino commented on #1373
To be addressed in Sprint 17

[2017-04-26 16:15] dpalomino commented on #1350
This should be fixed after releasing the import async process.

[2017-04-26 16:19] dpalomino commented on #1350
Has to do with the specific format, @bjohare can you please take a look when you have a moment?

[2017-04-26 16:28] #1220 closed

[2017-04-26 17:48] SteadyCadence commented on #811
Just curious, where are the measurements going to be viewed on the GUI?  Will it be a field/value on the location attributes?  Or a number on the polygon in the map?

[2017-04-26 18:21] SteadyCadence commented on #1250
I just had this happen to me on demo in Chrome.

[2017-04-26 18:35] dpalomino commented on #811
Hi @SteadyCadence

In the [Map Interactions wireframes](https://drive.google.com/open?id=0BzpiEtMtHC3rTXktREpOdU5uZzQ) (for instance look at page 5), close to location type.

[2017-04-26 18:37] SteadyCadence opened #1431 "Work in Progress :: Shapefile Export Issues"
### Steps to reproduce the error

1. Go to a project with data and export to a shapefile.

### Notes
- [ ] project extent is exported in the shapefile (http://arcg.is/zrS5O)
- [ ] only ids are included in the attribute table of the polygon (ihttps://demo.cadasta.org/organizations/itc-university-of-twente/projects/itc-customary-rights/)

[2017-04-26 18:42] SteadyCadence commented on #811
Ah gotcha.  Didn't see that before.  Will that field be read-only?

I am wondering if there will be instances where the measurement is a little off and someone needs to adjust the measurement manually?

[2017-04-26 19:34] dpalomino commented on #811
It would be read only I think, the other option I guess would be difficult to handle. Partners I think can include an additional area field for registering other areas (like those in deeds etc)....

[2017-04-26 19:36] wonderchook commented on #811
I don't think they should be able to change the area measurement that is automatically calculated. They would need to use another field if they were going to manual enter areas.

[2017-04-26 22:02] SteadyCadence opened #1432 "`title` column headers are not allowed in QGIS because of the name we use in XLS Forms for the name of our questionaires"
### Steps to reproduce the error

1. Create a questionnaire (or try to upload a layer in the QGIS plugin) that has a column header named `title`.
2. `title` is not a unique column header because we use that name for our form name field...

### Actual behavior

"title" is already taken in the Cadasta schema for the name of the questionnaire.  We should name it to something less common, like "form_n

[2017-04-26 23:16] wonderchook opened #1433 "Bulk API Upload"
Currently, to add records to the platform it is 1 request per record. It would be nice to have an API option to upload multiple records at once through one connection.

[2017-04-27 15:33] wonderchook opened #1434 "Date are inconsistent between display/edit in location"
2017/01/01 is a valid, date but when I make edits to other attributes and save I'm told "Enter a valid date"

![image](https://cloud.githubusercontent.com/assets/67992/25491121/e1037366-2b23-11e7-9cd5-775f7704d86c.png)

Then when I make the date valid and save it I am shown it in the original format

![image](https://cloud.githubusercontent.com/assets/67992/25491189/0f6abf52-2b24-11e7-9b18-44aad29

[2017-04-27 15:45] wonderchook opened #1435 "If reserved column type is submitted to API 500 error is returned"
For example if I create a location with the attribute "party_type". I think there should be a more clean response than the 500 error.

(Could also check for this in the QGIS api if that is more appropriate, but I think it could come up with other integrations as well)

[2017-04-27 16:52] clash99 commented on #1418
Here are two options for bulk archiving of projects by a super user.  The first option is more scalable since it also allows for the additional delete option.  Initially only the archive action would be available in the dropdown.  The second mock only allows for archiving but would be quicker development time (I believe).

![project index - option 1](https://cloud.githubusercontent.com/assets/1119

[2017-04-27 18:21] wonderchook commented on #1418
I'm a little afraid of the 1st one, but I think it is what we need.

What if the archive button was added next to the projects like the 2nd and then the 1st was delete only where you could select multiple? Should we require reauthentication for deleting?

[2017-04-27 19:30] clash99 commented on #1418
For the first option, I think there should be a confirmation modal for both archive and delete actions.  I was even wondering if a project should have to be archived to be eligible to be deleted.  Or does that extra step make sense?  The case would be to avoid deleting projects that really should just be archived.  The flow would be to select "Archived" from the top display dropdown, check the box

[2017-04-27 19:50] wonderchook commented on #1418
I was thinking a project has to be archived to be deleted too. I think we want to make it pretty hard to delete things.

[2017-04-27 20:41] clash99 commented on #1419
Added css to allow long file names to wrap.

<img width="456" alt="screenshot 2017-04-27 15 40 47" src="https://cloud.githubusercontent.com/assets/1119621/25503425/fbffa360-2b5f-11e7-8c5d-259913b71ca2.png">
<img width="1438" alt="screenshot 2017-04-27 15 40 58" src="https://cloud.githubusercontent.com/assets/1119621/25503426/fc010052-2b5f-11e7-829f-b28e14231db3.png">

[2017-04-27 21:23] SteadyCadence opened #1436 "Script or CLI to bulk import resources"
Currently, there is no way to bulk upload resources that are stored locally on a user's computer.

We need a script or command line interface that allows a user to loop through photos/pdfs stored locally and upload them to the associate party/location/relationship.

The focus is on the ability to (1) upload resources to our AWS server (2) painlessly associate that resource to the property endpoint

[2017-04-27 21:29] wonderchook commented on #1436
Who would you see as running this? Would this be specific to the programs team?

I'm thinking that for our users being able to drag and drop bulk upload through the web UI would be more useful for them.

@alukach can you outline what you were thinking here?

[2017-04-27 21:42] clash99 commented on #1434
Notes - Entering 01/01/2017 or 2017-01-01 seems to work.  As mentioned above, 2017/01/01 doesn't work.  01-01-2017 doesn't work either.

[2017-04-27 21:47] clash99 commented on #1436
Are we thinking a dropzone type of element? (The user would still need to be on the correct party/location/relationship. After loading to the project library, a user can associate them with other entities already.)

[2017-04-28 10:00] dpalomino commented on #1435
Thanks @wonderchook. Also something to have in mind for the form builder (to check in js probably that there are not reserved names in the filed names). I can draft a list of reserved names to filter...

[2017-04-28 10:15] dpalomino opened #1438 "Skip logic (relevant conditions) through the web UI"
I think this would be a quite useful feature for partners that are using GUI to submit new information.

**User Stories**

**Epic**: As a user I want to use the skip logic (relevant conditions in xforms) when I am submitting/updating/reading entity data

1. As a data collector I want to use the skip logic (relevant conditions in xforms) when I am submitting new records related with either location

[2017-04-28 10:45] dpalomino commented on #1436
Yes, there is a need for a specific partner that has potentially hundreds of thousands of resources to be uploaded, so we need a automatic way to do this. It would be one of us running the script, not the partner.

Thanks in advance @alukach, happy to catch up if needed!

Thanks @clash99! I think this will be very useful for a less "extreme" case where the number of resources to upload/import woul

[2017-04-28 11:12] #923 closed

[2017-04-28 14:29] wonderchook commented on #1436
@clash99 I was thinking something like that. I think we are talking about two different features potentialy and I want to make sure we build something that will be useful.

[2017-04-28 14:39] wonderchook commented on #1436
@dpalomino we need to decide if this is a one-off vs. a reusable component. This is also something that could be outsourced since it is separate from the platform.

[2017-04-28 14:40] wonderchook commented on #1438
@dpalomino can you write out an example of this? I don't fully understand the user stories.

[2017-04-28 16:17] dpalomino commented on #1438
Hi @wonderchook. Yes, so for instance, with the xform in ODK, we can create some logic for the questions to be showed up, like:

1. Topic
   a. Access to land
   b. Women land rights

2. (Only for Access to land) Sub-topic:
  a. Financing
  b. Lack of legal recognition

3. (Only for Women land rights) Sub-topic:
  a. Gender violence
  b. Evidentiary documents

etc. This works very nicely in ODK/Ge

[2017-04-28 17:11] alukach commented on #1436
Agreed that there are two features being discussed.  For the sake of discussion, let's operate with the mentality that we're talking about 1000 resource files.

## Drag-n-Drop Solution

As @clash99 mentioned, the user would still need to be on the correct party/location/relationship view. I'm still understanding this the UI and workflow, can people comment on how arduous this would be for 1k resou

[2017-04-28 18:03] wonderchook opened #1440 "Drag-n-Drop to Bulk Upload Resources"
Are we thinking a dropzone type of area? (The user would still need to be on the correct party/location/relationship. After loading to the project library, a user can associate them with other entities already.)

Something like this where you can load multiple resources at once?  (this is old but an example of what I'm trying to describe)
<img width="981" alt="screenshot 2017-04-27 16 52 31" src="

[2017-04-28 18:04] wonderchook commented on #1436
created a new ticket #1440 to track the GUI version

[2017-04-28 19:22] clash99 commented on #744
This has been completed in the english files. It can stay in the translated files due to language variations.

[2017-04-28 19:22] #744 closed

[2017-04-28 21:23] SteadyCadence commented on #1440
I would like to suggest a more scaleable way to bulk import resources.

At the moment, it is a lot of work to go into each party/location page and upload resources.

I suggest we have a table view where users can drag and drop resources into each row.   That way a user can have the table view and a folder open with the list of photos they want to upload-- and they can just drag and drop photos to

[2017-04-28 21:50] bethschechter commented on #1072
@dpalomino thank you! definitely keeping in mind. LMK when it's time to create the wizard :)

[2017-04-28 22:32] wonderchook commented on #1440
@SteadyCadence thanks for the input. No reason to sketch something else out yet. This will go into the backlog and then be further developed when prioritized appropriately.

[2017-05-01 12:28] seav commented on #1440
I'd like to pipe in that when we were first implementing the import feature, we already had a bit of discussion on how to include resources (and attaching them to the correct entities) in the import process via the UI. See #833.

Based on our discussion we decided that making this resource import UI easy to use for partners and given that we expect that our partners would not have the best Interne

[2017-05-01 15:13] #830 closed

[2017-05-01 15:40] #1118 closed

[2017-05-01 15:40] #1354 closed

[2017-05-01 16:35] wonderchook opened #1444 "Project Designer"
Description: Manual XLSForm generation is a tedious time-consuming prone to errors task, and something that generally partners are not able to do on their own. The Project Designer will create a friendly gui to help partners design their projects.

Requirements: https://docs.google.com/document/d/1utsBsIAj9C1PEkXqFPFERQ9VpqGnGBTvS-IkBYJkgAA/edit#

[2017-05-01 16:40] wonderchook opened #1445 "Field Papers - Integration with Cadasta"
Updated format:

### Problem Statement

Field Papers is a tool to help you create a multi-page atlas, manually define the geometries within it, and then collect information scanning these atlases.

### Context / Use Case

Being able to support Field Papers would provide a good differentiator for Cadasta, as will be offering a possibility to work with paper maps to partners that are working with pa

[2017-05-01 16:45] wonderchook opened #1446 "Color Coding for Locations"
Using different colors for highlighting specific locations in a map (such as location_type or other locations matching specific queries) is useful for partners to quickly check things like, "which HH are under a risk of eviction?".

[2017-05-01 16:45] wonderchook opened #1447 "Project Dashboard"
# Project Dashboard

## Wireframes

- [Download wireframes (Pages 6, 7 and 8)](https://drive.google.com/open?id=0BzpiEtMtHC3rTzREZkY4b3dYSUU)

**Note:** The wireframes currently contain that we won't implement in this first stage (for example; activity feeds, user profile pictures, project cover photos). Focus on the things that we can support now without adding any new features.

## Task breakdow

[2017-05-01 16:50] wonderchook opened #1448 "User Invites"
Sends invites to users to register in the Cadasta platform and then they are automatically joined to a org and project.

[2017-05-01 16:51] wonderchook opened #1449 "Preloading ODK Data"
Ability to preload some data into ODK available on the platform so data can be updata or completed

More info:
https://opendatakit.org/help/form-design/data-preloading/"

[2017-05-01 16:55] wonderchook opened #1450 "Use Cadasta without an Email Address"
use Cadasta platform without the need of having a mail address attached to my account

Decision record: https://github.com/Cadasta/decision-records/blob/master/DR_0003_supporting-phone-numbers.md

[2017-05-01 16:58] wonderchook opened #1451 "location-to-location relationships"
Allow location-to-location relationships

[2017-05-01 16:58] wonderchook commented on #30
@dpalomino thoughts on closing this? I don't think we are moving this way anytime soon

[2017-05-01 17:01] wonderchook opened #1452 "Repeat within entities"
collect multiple attributes of a field within a single entity

https://devwiki.corp.cadasta.org/XLS%20repeat%20feature

[2017-05-01 17:03] wonderchook opened #1453 "Ability to use multiple forms per project"
"Partners want to have different questionnaires ready for the same project (covering for instance different levels of detail, or different versions of the same questionnaire), with new or deleted or modified fields.

This will be part of the Project Wizard epic, targeted for Phase 2. "

[2017-05-01 17:04] wonderchook opened #1454 "Add GeoJSON Layers to Project"
Include GeoJSON Layers as additional layers in my project

https://devwiki.corp.cadasta.org/Additional%20GeoJSON%20Layers

[2017-05-01 17:06] wonderchook opened #1455 "Webhooks"
setup push notifications (alerts) based on the events configured (containing information about the changed data)

We can include US about:
 - Mail notifications (when password changes, data is collected, project is archived, etc)
 - SMS notifications
 - HTTP POST from an external server
 - Reverse geocoding (suggest addresses from coordinates in Cadasta, like https://geoservices.tamu.edu/Services/

[2017-05-01 17:12] wonderchook opened #1456 "Semi-Custom Reporting"
Draft Requirements: https://devwiki.corp.cadasta.org/Semi-Custom%20Reporting

generate reports from data in the platform for users

"We should provide some funcitonality to generate custom reports (considering the permissions of the users generating the report). This could include status reports at project level, a hh report for applying for some kind of tenure recognision, etc.

Example of report

[2017-05-01 17:31] wonderchook commented on #629
@dpalomino to discuss with @aliensunrise

[2017-05-01 18:42] wonderchook commented on #18
closing this, can reopen later if relevant

[2017-05-01 18:42] #18 closed

[2017-05-01 18:43] wonderchook commented on #30
closing and can be reopened later

[2017-05-01 18:43] #30 closed

[2017-05-01 18:44] wonderchook commented on #152
closing until attribution needs change

[2017-05-01 18:44] #152 closed

[2017-05-01 18:44] wonderchook commented on #157
closing in favor of fixing date formatting errors first

[2017-05-01 18:44] #157 closed

[2017-05-01 18:53] wonderchook commented on #208
@dpalomino I think I'm going to close this for now, since it seems far off in the backlog. Reopen if you think otherwise

[2017-05-01 18:53] #208 closed

[2017-05-01 18:56] wonderchook commented on #245
I'm thinking we can handle this more individually for now.

[2017-05-01 18:56] #245 closed

[2017-05-01 19:00] wonderchook commented on #376
I'm going to close this and we can reopen for specific issues and triage that way

[2017-05-01 19:10] wonderchook commented on #384
I'm going to close this. @dpalomino since we are really only archiving right now I think this is right.

[2017-05-01 19:10] #384 closed

[2017-05-01 19:11] #376 closed

[2017-05-01 19:13] wonderchook commented on #432
@SteadyCadence I'm thinking we could prioritize improving this. Any specific issues that you think exact errors could help?