[2016-11-15 08:27] oliverroick commented on #927
I think, @seav is right. The user receives an email to confirm their email address, which will activate the account.

The behaviour described above is correct, I think we can close this.

[2016-11-15 08:53] amplifi commented on #927
Does this cover the case where the user doesn't have an email address?

[2016-11-15 09:17] wonderchook commented on #927
Not sure that makes sense. We shouldn't be assuming people should be able to get emails. Long term I think the issue is we need to make an Architecture Design Proposal about how we deal with users without email addresses.

[2016-11-15 17:58] clash99 commented on #737
Hi @kavindya89 - I'm looking forward to meeting you for your internship - congratulations!

Thank you for your work on this but we are going to go ahead and work on this internally for the upcoming sprint.  Let me know if you have any questions.

[2016-11-16 11:28] bjohare opened #935 "'Conditional' attributes not exported during download process"
### Steps to reproduce the error

Download `XLS` data from a project which has a schema defining attributes based on entity type. The 'conditional' attributes are not exported.

### Actual behavior

Attributes which are defined according to entity type are not exported.

### Expected behavior

All data in the project should be exported.

[2016-11-16 14:15] bjohare opened #936 "Review the use of hard-coded jsonattrs schema selectors in platform code"
### The issue

At several points in the platform, `django-jsonattrs` schema selectors are hard coded as `project.organization.id, project.id, project.current_questionnaire`. In particular, this occurs in the [TenureRelationshipAdd](https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/spatial/views/default.py#L187) view, in the base [Exporter](https://github.com/Cadasta/cadasta-platform/

[2016-11-16 17:13] dpalomino commented on #925
Thanks Ian for volunteering!

[2016-11-16 17:20] dpalomino commented on #875
To be checked when upgrading Leaflet. Changed to low-priority.

[2016-11-16 20:31] clash99 commented on #825
Here is the proposed flow for a Public User for Projects and Organizations:

![2 0_ public user](https://cloud.githubusercontent.com/assets/1119621/20364522/0ebc3878-ac09-11e6-8516-e029c87e2ae3.png)

![3 0_ public user](https://cloud.githubusercontent.com/assets/1119621/20364566/40de67c2-ac09-11e6-8577-416fd1dfd534.png)

For the new messaging on the sign in page I have updated it to:

Because we c

[2016-11-16 22:28] clash99 commented on #825
Here is the layout flow for Project and Organizations for the different user roles:  https://drive.google.com/a/cadasta.org/file/d/0BzpiEtMtHC3renRpeXVZLXNyQlE/view?usp=sharing

In summary here are my recommendations:
- Remove the inner subnav for non-project members for both projects and organizations
- Remove project overview stats for public users
- Add new sign in language on project overview

[2016-11-17 13:44] clash99 commented on #677
Here is the proposed flow for a Public User for Projects and Organizations:

![2 0_ public user](https://cloud.githubusercontent.com/assets/1119621/20364522/0ebc3878-ac09-11e6-8516-e029c87e2ae3.png)

![3 0_ public user](https://cloud.githubusercontent.com/assets/1119621/20364566/40de67c2-ac09-11e6-8577-416fd1dfd534.png)

For the new messaging on the sign in page I have updated it to:

Because we c

[2016-11-17 13:44] clash99 commented on #677
Here is the layout flow for Project and Organizations for the different user roles:  https://drive.google.com/a/cadasta.org/file/d/0BzpiEtMtHC3renRpeXVZLXNyQlE/view?usp=sharing

In summary here are my recommendations:
- Remove the inner subnav for non-project members for both projects and organizations
- Remove project overview stats for public users
- Add new sign in language on project overview

[2016-11-17 23:57] clash99 commented on #677
New sign in page for redirected users:
<img width="1336" alt="screenshot 2016-11-17 17 42 56" src="https://cloud.githubusercontent.com/assets/1119621/20412607/639987da-aced-11e6-8152-e13250d510a0.png">

[2016-11-18 07:25] wonderchook commented on #936
@bjohare did you mean to make this an epic or a bug?

[2016-11-18 09:24] manoramahp commented on #900
Faced the same issue after upgrading to ubuntu 16.04.
`pip install ansible==2.1.2.0` fix the issue.

[2016-11-18 09:45] bjohare commented on #936
@wonderchook maybe I'm misusing the `Epic` label, I understood it as a 'meta' label for issues that touch several areas of the platform..

[2016-11-18 16:19] dpalomino commented on #592
Just noticed that select_multiple fields are also affected by this issue. So the types affected are:
- select_one
- integer
- decimal
- select_multiple

Same workaround works with select_multiple (setting this as required with a default value). Moving this to medium prio for discussion.

[2016-11-18 16:27] clash99 commented on #677
**Anonymous User layout**

Organization Overview

<img width="1403" alt="screenshot 2016-11-18 10 25 24" src="https://cloud.githubusercontent.com/assets/1119621/20437393/6170338c-ad79-11e6-8e24-cf52f9bd7489.png">

Project Overview
<img width="1403" alt="screenshot 2016-11-18 10 26 58" src="https://cloud.githubusercontent.com/assets/1119621/20437440/91202362-ad79-11e6-95db-74ce35d7f25c.png">

[2016-11-18 16:31] clash99 commented on #677
**Registered User with no permissions**

Organization Overview (same as Anonymous User)

Project Overview (no sidebar nav)

<img width="1402" alt="screenshot 2016-11-18 10 31 09" src="https://cloud.githubusercontent.com/assets/1119621/20437582/261503ac-ad7a-11e6-9d01-3fe536231bb7.png">

[2016-11-18 16:34] clash99 commented on #677
**Registered User with project permissions** (views vary slightly based on granular permissions)

Organization Overview (unchanged)

<img width="1403" alt="screenshot 2016-11-18 10 32 53" src="https://cloud.githubusercontent.com/assets/1119621/20437681/7b5b5a50-ad7a-11e6-8616-6eb1dd442523.png">

Project Overview (unchanged)

<img width="1402" alt="screenshot 2016-11-18 10 32 40" src="https://cloud

[2016-11-18 21:32] clash99 opened #943 "Ability to request permission to gain access to project data"
Related to #677

This is to add an option for registered users with no project permissions to request access.   There was a discussion as to where this would be sent (the PM?) and if this would be a configurable option at the project or even organization level.

Here is the layout flow for Project and Organizations for the different user roles: https://drive.google.com/a/cadasta.org/file/d/0BzpiEt

[2016-11-19 01:55] clash99 commented on #825
I've updated the search wireframes based on our latest discussion: https://drive.google.com/open?id=0BzpiEtMtHC3rVFlVelgzNHBxaUk

I have the phases broken out as such:

**Phase 1**
- Adding keyword search box
- New simplified search results page (no tabs, narrow results options, etc.)
- No changes to other platform pages

**Phase 2**
- Adding entity tabs
- Adding narrow results options in sidebar

[2016-11-21 05:08] wonderchook commented on #936
@bjohare an epic should be a label for a specific feature. So if there was a series of mini-features for an area of the platform we would use it.

[2016-11-21 15:20] dpalomino commented on #943
Thanks @clash99. Included in the backlog (id 49.00).

I think maybe  the access request should be sent to the organization's administrators:
- An email with the link to the organization's members section, the userid and the details of the request for the project/role
- In the future user dashboard, this could appear in a "Pending requests" section

[2016-11-21 15:33] dpalomino commented on #825
Thanks really a lot @clash99 for the fantastic wireframes! I think that covers everything for phase 1, and for the following.

@seav @linzjax please let us know if you this makes sense to you.

[2016-11-22 11:11] #737 closed

[2016-11-22 11:57] #880 closed

[2016-11-22 13:51] #932 closed

[2016-11-23 14:35] oliverroick commented on #825
Some things we should discuss before we start implementing the search UI.

### General

- The timeline to complete the full implementation until the end of sprint 13 is unrealistic. We are already halfway through sprint 11; I think, phase one and two will take at least two sprints each.

### Phase 1

- Sort dropdown: “Sort by relevance” — is this something we get from Elastic search?
- Pagination:

[2016-11-23 19:06] dpalomino commented on #825
Thanks a lot @oliverroick for the feedback, let's discuss later on during the dev call.

Regarding the "search guidelines", I can draft the texts for this.

[2016-11-24 12:43] amplifi opened #945 "Implement exponential back-off for password attempts"
As a follow-up to password criteria and Argon2, we should implement exponential back-off for password attempts. This would replace our current model of locking attempts after x incorrect tries.

[2016-11-24 13:47] amplifi opened #946 "Make usernames case insensitive"
Usernames are currently case sensitive, allowing the existence of both "username" and "USERNAME". The platform should parse usernames as case insensitive to disallow this occurrence.

[2016-11-25 17:13] #914 closed

[2016-11-29 14:06] seav opened #949 "After PR #944 was merged, projects have disappeared from the dashboard map"
### Steps to reproduce the error
Go to the dashboard.

### Actual behavior
No projects are shown on the map.

### Expected behavior
Projects should still be seen on the map.

[2016-11-29 15:19] linzjax opened #950 "Password reset is unavailable for users who have forgotten their password"
### Steps to reproduce the error
- Forget what your password is
- Click on forget password
- Get asked to login using old password to request a new password because you forgot your old one.

### Actual behavior
Currently the user will just get stuck in a loop and constantly be redirected to the sign in page.

### Expected behavior
Be taken directly to the reset password page.

[2016-11-29 16:55] dpalomino commented on #735
After a conversation with @clash99 we decided to skip the Full name requirement (i.e. preventing passwords with words contained in the full name). There could be conflicts due to Full name not being a mandatory field, and also because users can update their Full name after creating the account.

It's been also agreed to require a minimum length of 3 characters for the username (we currently have n

[2016-11-29 19:57] dpalomino commented on #654
Related to discussion regarding changes in questionnaires:

https://github.com/Cadasta/decision-records/pull/4

[2016-11-30 10:07] #876 closed

[2016-11-30 11:42] #949 closed

[2016-11-30 17:08] dpalomino commented on #927
Apart from the user without mail address registered (that's being discussed separately), this is now working as expected, so we can close the issue.

[2016-11-30 17:08] #927 closed

[2016-11-30 17:14] dpalomino commented on #718
@seav, do we have any update on this? thanks!

[2016-12-01 05:17] clash99 commented on #735
@dpalomino - Please review the help-text and error messages for the password field below.  Its complicated so let me know if you have ideas on how to simplify any of the messaging.  I'm going to wait for approval before entering them in transifex for translation.

**Other ideas for ui improvements (future sprint):**
- Implement a password strength indicator that will provide user instant feedback

[2016-12-01 11:47] dpalomino commented on #735
Thanks a lot @clash99. They look good to me. Yes, I think the password strength indicator would be quite useful for the future.

[2016-12-01 12:17] dpalomino opened #953 "Security: Logging and alerting policy design"
Tracking issue for defining a policy regarding logging and alerting for any suspicious activity.

[2016-12-01 12:25] dpalomino opened #954 "Project Creation Wizard Wireframes"
Tracking issue for wireframes and requirements regarding creating XLSForms through the web GUI.

[2016-12-01 12:34] dpalomino opened #955 "Search results: entity tabs"
Linked to #825 for records search epic. Complete requirements are included [in the wiki](https://devwiki.corp.cadasta.org/Search%20and%20Filtering). Wireframes [here](https://drive.google.com/open?id=0BzpiEtMtHC3rVFlVelgzNHBxaUk).

Implement tabs separating entities for showing the search results:
- All (default)
- Locations
- Relationships
- Parties
- Resources

[2016-12-01 13:17] dpalomino opened #956 "Search results: filtering"
Linked to #825 for records search epic. Complete requirements are included [in the wiki](https://devwiki.corp.cadasta.org/Search%20and%20Filtering). Wireframes [here](https://drive.google.com/open?id=0BzpiEtMtHC3rVFlVelgzNHBxaUk).

Implementing filters to narrow down the results per entity type (details in the wireframes).

Summary:
- Filters will be disabled or hidden in entities with no results

[2016-12-01 13:43] dpalomino opened #957 "Allow minimum changes in XLSForms"
As discussed in https://github.com/Cadasta/decision-records/pull/4, we would allow some minimum non-risky changes when updating questionnaires in existing projects with actual data.

The detailed description of what is allowed and not can be found [in the decision record](https://github.com/Cadasta/decision-records/pull/4).

[2016-12-01 14:47] #950 closed

[2016-12-01 16:35] clash99 opened #960 "Permissions issue: Data Collector Role"
### Steps to reproduce the error

Based off this user's permissions (which I setup locally):
![screenshot 2016-12-01 08 13 12](https://cloud.githubusercontent.com/assets/1119621/20801996/361343be-b7b0-11e6-9c1e-9e1923c0fd51.png)

The user should have data collector rights to the Pekapuran Laut Test Project.  Generally this user should have the ability to view/add/edit all locations, relationships,

[2016-12-01 16:46] clash99 opened #961 "Permissions issue: Public user role within an organization"
### Steps to reproduce the error

Based off this user's permissions (which I setup locally):
![screenshot 2016-12-01 08 13 12](https://cloud.githubusercontent.com/assets/1119621/20801996/361343be-b7b0-11e6-9c1e-9e1923c0fd51.png)

The user should have public user rights to the H4H Test Project.  Generally this user should have the  ability to view the project overview page with the locations on the

[2016-12-01 22:00] clash99 commented on #768
Added party index into project subnav.  I think we may want to enhance this page in the future similar to resource index.  Perhaps add # of relationships for each party, date added, other useful info? (future sprint)

<img width="534" alt="screenshot 2016-12-01 15 47 38" src="https://cloud.githubusercontent.com/assets/1119621/20814462/54d54994-b7df-11e6-98fe-75d3aafb67d6.png">
<img width="1361" al

[2016-12-02 09:31] seav commented on #718
I had already filed a PR last month: https://github.com/makinacorpus/django-leaflet/pull/171

[2016-12-02 12:38] #931 closed

[2016-12-02 15:03] linzjax opened #964 "Project locations no longer displaying on any of the project pages"
### Steps to reproduce the error
(based on the latest version of master)
Go to any project page that has spatial units.

### Actual behavior
The full global map is displayed with no polygons on it.

### Expected behavior
Project location polygons displayed.

[2016-12-02 15:07] oliverroick commented on #964
Possible duplicate of #949? #949 is fixed in #951.

[2016-12-02 17:31] #832 closed

[2016-12-05 10:30] dpalomino opened #966 "Project Creation Wizard Requirements"
Tracking issue for requirements regarding creating XLSForms through the web GUI.

We will be using #954 for tracking wireframes.

[2016-12-05 10:31] dpalomino commented on #954
We will be tracking the wireframes through this task, and in #966 will be used for requirements.

[2016-12-05 14:55] #735 closed

[2016-12-05 15:15] dpalomino commented on #825
I've drafted some search guidelines in this doc:
https://docs.google.com/document/d/16RevzILdt8HrWd5TEX9D5R7nQoEef1kf4x104FsUEXU/edit#

- Phase 1: only basic query build advices
- Phase 2: Phase 1, plus:
   - help for advanced queries
   - filters (sidebar, entity tabs), downloads
   - help for the advanced search GUI
- Phase 3: TBD

[2016-12-05 15:25] clash99 opened #967 "Implement password strength indicator"
Related to #735, add an interactive password strength indicator.  Ideally we would have some metrics in place to make sure this enhances the experiences instead of deterring registrations.

[2016-12-05 22:50] dpalomino commented on #945
Thanks @linzjax for volunteering to take a look on this!

[2016-12-06 00:02] seav commented on #537
It seems that after upgrading to Django 1.9.11 (or even 1.9.10), this issue has been fixed. I can now clear out the URL for organizations and projects.

[2016-12-06 09:28] bjohare commented on #774
In the case of XLS imports, missing worksheets could also be reported earlier, rather than at the end of the wizard steps.

[2016-12-06 12:10] bjohare opened #969 "XForms missing constraints and default values"
### Steps to reproduce the error

Download an existing Questionnaire from *platform-staging.cadasta.org* using ODKCollect. Default values, `required` and `relevant` constraints are missing. I've confirmed this by looking at the raw xml coming from the platform.. for example, the form at:

https://platform-staging.cadasta.org/collect/formList/kzqan5pmwsu6k3tuskf3y3x6/

has the following `bind` elem

[2016-12-06 12:31] bjohare opened #970 "Malformed error message during import when a required attribute is missing"
### Steps to reproduce the error

Create a new project and upload a questionnaire. Import a file in which an attribute required by the project schema is missing. The platform reports the error but the message is malformed:

![malformed_error](https://cloud.githubusercontent.com/assets/3308136/20925510/54edfee8-bbaf-11e6-9f73-974796b03020.png)

### Expected behavior

The error message should be for

[2016-12-06 13:24] jimux opened #971 "pip upgrade needs root"
### Steps to reproduce the error

I checked out the source tree and ran
vagrant up --provision

### Actual behavior

The VM build failed at step "Upgrade to latest PIP version":
  Installing collected packages: pip
  Found existing installation: pip 1.5.4
  Not uninstalling pip at /usr/lib/python2.7/dist-packages, owned by OS
  Can't roll back pip; was not uninstalled

### Expected behavior

"chan

[2016-12-06 13:27] ian-ross commented on #971
I think this is a duplicate of https://github.com/Cadasta/cadasta-platform/issues/900

[2016-12-06 13:51] jimux commented on #971
My mistake. I was only searching open issues when I checked. `pip install ansible==2.1.2.0` fixed it right up. Perhaps a note to that effect could be added to the README. Ansible 2.2 was also resulting in the "Install requirements" step looking for Python.h in the wrong place.

[2016-12-06 13:55] ian-ross commented on #971
Yeah, there's a bad bug in the `pip` module in Ansible 2.2 that more or less completely breaks conventional use of Python virtual environments.  There's an issue open for it so I hope it'll be fixed in the next Ansible release.

[2016-12-06 14:21] oliverroick opened #972 "Files are deleted from S3 before a model instance is saved"
### Steps to reproduce the error

1. Create a resource or upload an XLSForm to a project and save.
2. Edit the resource or project and click "remove" next to the file field.
3. Cancel editing.
4. Try to access the file on S3.

### Actual behavior

The file is deleted from S3, whether the model instance is saved or not. If the user removes the file from the field and then cancels editing, the datab

[2016-12-06 14:28] oliverroick commented on #537
Doesn't work on staging.

[2016-12-06 14:43] seav commented on #537
That's weird. It indeed doesn't work now. But I'm sure it worked with v1.3.0-alpha.1. I wonder what changed.

[2016-12-06 18:34] linzjax commented on #803
This a regression caused by deferring attributes for parties and spatial_units. I've got a fix for it in the works.

[2016-12-06 19:47] clash99 opened #973 "Enhancements to party index page"
We should enhance the party index page page similar to resource index. Perhaps add # of relationships for each party, date added, other useful info.  Also consider ability to add party from this page.

[2016-12-06 19:48] wonderchook commented on #973
I'm wondering if the green "add location" button should be rethought a little bit if it becomes possible to add party from this page. Thinking perhaps it should be a "add" button instead but not specific. Or maybe be contextual.

[2016-12-06 20:12] clash99 opened #975 "Add platform tagline to right of logo"
Add tagline to right of logo

Inspired by LandMark (http://www.landmarkmap.org/)

[2016-12-06 20:40] clash99 commented on #825
I've updated the search wireframes with the following:

- Removed sprint numbers
- Reworked search to exclude tabs and only be in right sidebar.  Dynamic presentation of options will be based upon users selection.  The presents more of a funnel-down approach.  The tab option is still viable if we would like to discuss as a team.

[2016-12-06 21:10] wonderchook opened #976 "xlsx imports should be more clear it is "Cadasta format""
I was able to fairly easily import data from Global Forest Watch using a csv format, when I tried to do the same with excel it didn't work. I think this is because I'm supposed to be reimporting "Cadasta" format data. Is that correct @bjohare?

As an enhancement we might want to let people import a flat file in xlsx the same as they do with CSV, but for the time being let's just try to make things

[2016-12-06 23:17] wonderchook opened #977 "Add helper files/text to import page"
We should include some helpers as to what people need for their import page. Similar to the project creation page.

![import-page](https://cloud.githubusercontent.com/assets/67992/20948064/e9d84556-bbc6-11e6-936f-00f446c98a43.jpg)

@bethschechter not urgent was thinking this will come up when you write the documentation for this sprint.

[2016-12-06 23:38] wonderchook opened #978 "Data Collector User Can't Download Forms"
I created a new org and project. I then created a new user and added them to the org as a member and the project as a Data Collector. Then I entered the users credentials into GeoODK and I was able to list the available forms but not download one. I'm getting a 403 error (see screenshot)

![screenshot_20161206-153331](https://cloud.githubusercontent.com/assets/67992/20948631/dd2236de-bbc9-11e6-908

[2016-12-06 23:41] wonderchook commented on #978
I have confirmed this is not the case on demo, so this appears to be issue brought up in the current sprint.

[2016-12-07 09:56] bjohare commented on #976
@wonderchook that's right, the excel import is just for 'Cadasta' format at the moment, ie it expects one or more of `locations`, `parties`, `relationships` worksheets to be present.

[2016-12-07 10:28] oliverroick commented on #978
I updated a few permission policies, which affect form download. This might be because the policies have not been updated on staging using `./manage.py loadpolicies --update`. Can you confirm, @amplifi?

[2016-12-07 10:50] amplifi commented on #978
@oliverroick @wonderchook I've run `loadpolicies --update` on staging; is the error still occurring?

[2016-12-07 13:51] bjohare commented on #978
Can confirm this is working.

[2016-12-07 14:15] amplifi commented on #978
Thanks, @bjohare! I'm updating the provisioning side and management command to better handle this.

[2016-12-07 15:07] #677 closed

[2016-12-07 15:09] clash99 commented on #970
I will take look at this from ui and also earlier layout question.

[2016-12-07 15:13] bjohare commented on #970
@clash99  the malformed error is fixed in https://github.com/Cadasta/cadasta-platform/tree/regression/%23970

[2016-12-07 15:37] clash99 opened #979 "Typo"
Misspelled "disabled"

<img width="934" alt="screenshot 2016-12-07 09 35 50" src="https://cloud.githubusercontent.com/assets/1119621/20974075/b1772a5c-bc60-11e6-8504-400397b938ee.png">

[2016-12-07 16:05] seav commented on #829
@clash99, can you create the search icon on the project sub-navigation bar, similar to [this one](https://github.com/Cadasta/cadasta-platform/blob/59a8d0cfb60f125ce16d20c7ae8027f9df231699/cadasta/core/static/img/icon-parties.png)?

[2016-12-07 17:27] clash99 commented on #979
Updated text

<img width="977" alt="screenshot 2016-12-07 11 26 42" src="https://cloud.githubusercontent.com/assets/1119621/20978854/1ccae460-bc70-11e6-9bd6-377390cd9aee.png">

[2016-12-07 17:37] wonderchook commented on #978
Yes, is working now.

[2016-12-07 17:37] #978 closed

[2016-12-07 17:49] wonderchook commented on #976
@clash99 @bethschechter thoughts on making this more clear for users? I was thinking with xlsx we might want to note "import data from another Cadasta project" or something like that.

[2016-12-07 18:55] clash99 commented on #976
@wonderchook as I work on the questionnaires in the upcoming weeks I will probably have more ideas...  for right now can we provide a sample file for them to download similar to what we do for questionnaires?  And then if they want to import it into the project they are able to do that.  Wouldn't these files have to be inline with the project questionnaire?  If so then we should have a sample for

[2016-12-07 19:42] clash99 commented on #829
@seav Here you go:
![icon-search](https://cloud.githubusercontent.com/assets/1119621/20983687/fe7eb140-bc82-11e6-9c05-9c55c8a0bbee.png)

[2016-12-07 21:37] linzjax commented on #945
Do we currently have any lock out method in place?

[2016-12-07 22:14] clash99 commented on #945
Here is the message I'm getting after 6 attempts:

<img width="689" alt="screenshot 2016-12-07 16 12 14" src="https://cloud.githubusercontent.com/assets/1119621/20988868/301cd794-bc98-11e6-8d54-abd0828b1694.png">

[2016-12-07 23:49] seav commented on #829
@clash99, awesome! Thanks!

[2016-12-08 01:39] wonderchook opened #983 "Need to be a way for Superusers to Reset Passwords"
There should be a little more user management available to superusers. I'm thinking the following:

1. Change an email address associated with an account
2. Send password reset email to users

@dpalomino @amplifi thoughts?

[2016-12-08 02:01] bethschechter opened #984 "Broken password reset on staging"
### Steps to reproduce the error

1. Forget password (optional)
2. Click link to Reset Password
3. Go to inbox, where the reset link is
4. Click the link
5. Attempt to create new password

### Actual behavior

I would expect this would result in a successful reset.

### Expected behavior

I did not get to reset my password. Instead, I got the error messages shown in the image below.

In addition t

[2016-12-08 02:07] clash99 commented on #984
@bethschechter looks like you are meeting all the Upper/Lower/Number/Character requirements but the conflict is coming from your username and/or email. Can you provide those combos you tried?

[2016-12-08 02:08] bethschechter commented on #984
Sure @clash99. It was from the email bschechter@cadasta.org

[2016-12-08 02:28] bethschechter opened #985 "Broken password for demo users"
### Steps to reproduce the error

1. Navigate to instructions for signing in as a demo user (under the ? in top nav)
2. Enter username: demo
3. Enter password: password

### Actual behavior

Password did not work

### Expected behavior

Expected that password would work

![image](https://cloud.githubusercontent.com/assets/3361475/20995300/f057929e-bcaa-11e6-9c9d-b755ea2f2eca.png)

[2016-12-08 02:44] amplifi commented on #985
I'm guessing this password was changed to something different either during testing or by a user. I've reset it to 'password' to match the help prompts. We should consider a mechanism to ensure this account's credentials aren't changed.

[2016-12-08 02:49] bethschechter commented on #985
thanks, I can confirm that this is working.

[2016-12-08 03:32] wonderchook commented on #984
@clash99 I was having the same problem with user "kate11"

[2016-12-08 03:37] clash99 commented on #984
@wonderchook - on the password forgotten page or on the registration page?  I'm able to recreate it from the emailed password link but not on the registration page.

[2016-12-08 03:39] amplifi commented on #983
As a superuser, I'd also like to see the last login times for my users, whether or not they've verified their account, a list of which orgs/projects/etc they have access to, and a way to batch revoke privileges for a user. I'll think on some others.

[2016-12-08 03:54] clash99 commented on #984
@oliverroick - looks like the username and email values aren't getting passed through to the password reset by key page (via email link).  I will look at it more tomorrow.

[2016-12-08 04:05] clash99 commented on #984
Fixed error message in pull request #986

[2016-12-08 05:24] clash99 commented on #984
Password validation is also failing on server-side for this.

[2016-12-08 08:02] oliverroick commented on #984
@clash99 I recovered the original solution before my cleanup from [here](https://github.com/Cadasta/cadasta-platform/blob/fd8ece7834a406142e475347bb373b4228d5d091/cadasta/templates/allauth/account/password_reset_from_key.html) and tested to reset the password. The problem is when the user is not signed in `{{user.email}}` and `{{user.username}}` are empty and the validation fails both with your an

[2016-12-08 11:52] oliverroick commented on #984
I addressed the issue (PR #988) by removing client-side validation from the password reset view. Let me explain: I had a PR ready that adds the user's username and email to the template and enables client-side validation. In this particular case, however, we might open a security hole, when we make the user's credentials public. If someone gets hold of the password reset link, they will get the us

[2016-12-08 14:31] #984 closed

[2016-12-08 14:54] clash99 commented on #970
Brian fixed the error so I'm only making a few ui changes with this one.  Related to #976, we should consider removing the first radio button question at that time and be able to deduct the value with the file type uploaded.

<img width="648" alt="screenshot 2016-12-08 08 52 00" src="https://cloud.githubusercontent.com/assets/1119621/21014493/e862410a-bd23-11e6-9bad-29486dc7cb9f.png">

[2016-12-08 14:56] #969 closed

[2016-12-08 15:03] #979 closed

[2016-12-08 15:03] #686 closed

[2016-12-08 15:06] clash99 commented on #976
Related to #970 - we should be able eliminate the file type question (csv vs xlsx) based on what file type the user uploads.

<img width="832" alt="screenshot 2016-12-08 09 05 55" src="https://cloud.githubusercontent.com/assets/1119621/21014950/96ebaf8a-bd25-11e6-9549-d299d86afd1b.png">

[2016-12-08 15:07] #985 closed

[2016-12-08 15:14] amplifi opened #990 "Demo user password"
Anyone using the `demo` account on the demo platform can change its password and/or update the email address associated with the account.

There's no 'real' data on demo, but it does pose an inconvenience to prospective site users if they are unable to access the platform by following our prompts.

We could either:

1. Implement superuser functionality to prevent a user from changing their passwor

[2016-12-08 15:20] clash99 commented on #990
@amplifi I agree with #1 but - how would this work?  Would the user be able to see the profile links and pages?  Should we use some sort of messaging informing the user that the demo account profile information isn't able to be modified?

[2016-12-08 15:49] amplifi commented on #990
@clash99 Tough question. I think it's valuable for the demo user to be able to see the Edit Profile link and the profile page, with the fields/buttons greyed out and a message displayed, to get an idea of the full feature set. For a field agent, that wouldn't add value but I don't think it would be detrimental. Depends on whether there are other potential use cases, too.

[2016-12-08 16:30] clash99 commented on #990
@amplifi I agree - its good to show a demo user the profile options. I'm trying to think of how to do this without making it such a one-off, but maybe that can't be avoided.

Flow suggestion:
- Don't change anything about the profile forms or links to them
- As demo user submits profile form, not accept any of the changes and provide a message saying something like "Thank you for viewing our profi

[2016-12-08 16:54] linzjax opened #993 "On view party details page, the map tab is highlighted"
### Steps to reproduce the error
Click parties
view an individual party's page.

### Actual behavior
<img width="1280" alt="screen shot 2016-12-08 at 11 52 18 am" src="https://cloud.githubusercontent.com/assets/8128188/21018955/e720ba42-bd3c-11e6-9f49-8358ea81fd7e.png">

### Expected behavior
The parties tab would stay highlighted

[2016-12-08 17:19] clash99 opened #994 "Organize project list to show user membership"
Maybe this is an idea for the user dashboard, but as the project index grows it would be helpful to be able to sort out what projects I am a member of.

Initial ideas:
- Add an indicator to display which projects user belongs to
- Have a dropdown to filter by membership
- Group projects that you belong to above others?

[2016-12-08 17:35] clash99 commented on #993
Second choice for party icon btw:
![screenshot 2016-12-08 11 34 13](https://cloud.githubusercontent.com/assets/1119621/21020485/5002ca9e-bd3a-11e6-909f-7b249f5ba0f3.png)

Updated left subnav so party detail shows highlighted parties tab:
<img width="1070" alt="screenshot 2016-12-08 11 32 26" src="https://cloud.githubusercontent.com/assets/1119621/21020433/1c7bf02e-bd3a-11e6-96bc-0a99dc3526a3.png">

[2016-12-08 21:01] wonderchook commented on #994
I think also a way to see what orgs you are a member of would also be helpful. This might be felt more acutely by Cadasta team members but I know I get lost right now already in projects and orgs.

[2016-12-08 22:02] wonderchook commented on #976
I think eliminating that selection might make things a bit easier. I think we should wait until the user can import files in xlsx and csv that are the same format. Regarding the sample files to download it is true right now they need to define their schema. So maybe we just make a sample file of the minimum required fields and then have a link to the documentation that examples how to create a s

[2016-12-09 11:58] #970 closed

[2016-12-12 05:34] ragsagar commented on #990
How about adding a form validation in `ChangePasswordForm` to show an error message like "_Demo user cannot change password._"  after checking if the user is `settings.DEMO_USER_ACCOUNT`.

[2016-12-12 06:08] nastynoel opened #998 "Incorrect URL - "reach out to us" in user guide"
On the Importing Data page (https://docs.cadasta.org/en/08-upload.html) of the user guide, the "reach out to us" links all point to this URL.....

http//cadasta.org/contact/

[2016-12-12 06:10] nastynoel opened #999 "Link to Questionnaire in Importing Data page doesn't work"
This link - https://docs.cadasta.org/en/08-upload.html#09-XLSForms.md goes nowhere when I click on it from the Importing Data page

[2016-12-12 10:44] dpalomino commented on #967
Backlog id #36.02.

[2016-12-12 14:13] dpalomino commented on #973
Thanks @clash99 for raising this.

Yes, I agree. In addition to the party name and type already included, I think maybe we could include the following columns (also to be consistent with the Resources page):
- Contributor
- Last Updated
- Attached to (and here include the number of relationships that the party is attached to)

The green button I also think it should include the "Add party". Maybe

[2016-12-12 15:33] dpalomino commented on #993
I think this issue is already solved, I cannot reproduce it in demo or production.

[2016-12-12 15:33] #993 closed

[2016-12-12 15:44] dpalomino commented on #994
I was also thinking about including this in the future user dashboards (backlog id 44.00), among other information:
- Links to the organizations the user is a member of
- Links to the projects the user is a member of
- Some statistics, like number of projects and orgs, number of locations you contributed, etc.

[2016-12-12 15:52] wonderchook commented on #973
I like the contextual button as @dpalomino suggested.

[2016-12-12 17:32] wonderchook commented on #999
@nastynoel I assume this is documentation?

[2016-12-12 17:34] wonderchook commented on #999
Issue moved to [Cadasta/cadasta-docs #7](https://github.com/Cadasta/cadasta-docs/issues/7) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-12 17:34] #999 closed

[2016-12-12 17:52] #998 closed

[2016-12-12 17:52] wonderchook commented on #998
Issue moved to [Cadasta/cadasta-docs #8](https://github.com/Cadasta/cadasta-docs/issues/8) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-12 19:00] dpalomino opened #1001 "Including relationship details in party detail page"
Currently we can check the different relationships that are attached to a single location (Open Location > Relationships tab), but we have no way to check the different relationships that are attached to one single party (for instance, different parcels owned by a single farmer).

A way to provide this information would be to include the list of relationships in the Party detail page (we are now p

[2016-12-12 19:22] dpalomino opened #1002 "Include Search and Go-To-My-Location in Overview and Map pages"
# Outreachy/GSoC candidates: A PR for this issue has been approved and is waiting to be merged.

Currently in the dashboard page we are showing the following map tools:
- Zoom in/out
- Search
- Go-to-my-location

![screen shot 2016-12-12 at 20 04 26_](https://cloud.githubusercontent.com/assets/17198051/21113089/86054dee-c0a8-11e6-9f89-dbf4d2339d47.jpg)

But either in Overview and Map pages for pro

[2016-12-12 23:04] clash99 opened #1003 "Missing translation strings"
Untranslated strings in Indonesian and Portuguese that need updating.

[2016-12-13 17:23] wonderchook opened #1005 "Line Tool Should Inform User they Need to use the Polygon Tool to Draw Polygons"
Feedback on the drawing tools. It is not clear to some users that they need to select the polygon tool to draw polygons when using the line tool. Having a messages making it clear they need to switch tools would make it easier for the user.

@clash99 thoughts?

[2016-12-13 17:57] clash99 commented on #1005
Couple of thoughts here:

1)  @bethschechter and I have discussed the need for a "how-to" video demonstration to be available on the map editing pages.  This would provide a step-by-step guide on how to interact with the map editing tools.

2)  We can add a quick overlay triggered by a "?" that shows a tooltip-type of key that defines the map controls.

3)  We can improve the current single contro

[2016-12-14 00:16] wonderchook commented on #1005
@oliverroick @seav aka "mappy people" thoughts on this?

Also here is a screenshot from the main OSM web editor iD. It requires you to pick the type, but the buttons are much bigger and more clear.

![id-editor](https://cloud.githubusercontent.com/assets/67992/21164670/6d543b6e-c14f-11e6-9ea6-255257062f39.jpg)

[2016-12-14 00:27] wonderchook commented on #983
@dpalomino added you for addition to the backlog

[2016-12-14 00:33] wonderchook commented on #964
@linzjax can you confirm this is fixed?

[2016-12-14 11:00] dpalomino commented on #983
Thanks @wonderchook. Included, backlog id 61.00.

[2016-12-14 11:15] seav commented on #1005
If we can influence upstream (Leaflet.draw) to have a better and not-confusing UI, that would be great. I hesitate to implement a custom solution just for our platform.

[2016-12-14 11:18] wonderchook commented on #1005
@seav I'm thinking we are unlikely to be able to do that much influence. I do think we could potentially make the buttons bigger and labeled though.

[2016-12-14 15:15] linzjax commented on #964
Confirmed 👍

[2016-12-14 16:04] #964 closed

[2016-12-14 17:29] dpalomino commented on #803
Already fixed. Closing issue.

[2016-12-14 17:29] #803 closed

[2016-12-15 10:44] dpalomino opened #1008 "Permissions issue: user changed from DC to PU in a project is still able to add/edit/delete records"
### Steps to reproduce the error

(tested in demo)

1. Have a regular member of the organization with public user permissions to several projects. Some of these projects have been created before the release of Sprint 11 and others after the release of Sprint 11.
2. Access to a project created before release of Sprint 11. Apart from the issue #961 already known, otherwise the behaviour is "correct"

[2016-12-15 13:22] amplifi commented on #1008
Note: This occurs after a user has been made Data Collector for a project, then changed back to a Public User.

[2016-12-15 13:30] bjohare commented on #1008
Affects permissions for form downloads to ODK also.

[2016-12-15 13:36] dpalomino commented on #1008
Thanks really a lot @amplifi and @bjohare! Now that we know that is indeed related to changing user profile and not happening with all PU, we can move this to medium priority for now I think.

[2016-12-15 19:04] dpalomino commented on #861
We're starting to work with more local languages and probably we'd need to implement this soon. Summary was to include a new drop-down menu to select language to use in the labels.

Ideally we could include this drop-down menu only in the pages where the labels are shown (location detail, party detail, etc), and only if there are languages in labels currently not available in the platform. What do

[2016-12-15 19:05] dpalomino commented on #861
Added to backlog id 62.00.

[2016-12-15 19:10] dpalomino opened #1009 "Need an approach to have forms with languages in forms not supported in Django"
Currently we are not supporting forms containing labels in languages that are not supported in Django (see list [here](https://github.com/django/django/tree/master/django/conf/locale)). This is problem because the list of supported languages in django is relatively short and partners need to work with forms in many different local languages.

We need to do some research/testing to see if we can in

[2016-12-16 14:28] oliverroick commented on #1005
I think, we can either try to change the look and positioning via CSS or research if there are means to create a custom UI (i.e. bigger/different buttons) and still use the functionality of Leaflet.Draw. We could, for instance, implement a custom toolbar using [the API](https://leaflet.github.io/Leaflet.draw/docs/leaflet-draw-latest.html).

Chandra's suggestion #4 fits in here as well. If users se

[2016-12-16 15:40] oliverroick opened #1011 "Ability to invite users to an organization"
When organization admins want to add users as members of their organization, the users currently need to have an account created beforehand.

We should add the ability to invite any user to an organization by providing an email address (or phone number at some point). When a user is asked to join an organization, a preliminary user account is set up so organization admins can set the user’s permis

[2016-12-19 08:38] oliverroick opened #1013 "Icon lookups for audio files fail"
### Steps to reproduce the error

In settings, we have defined a `dict` (`MIME_LOOKUP`) to lookup the thumbnail icon for the resource's mime type. The corresponding thumbnail images are stored on our production S3 bucket.

For of the audio mime types, the lookup will fail because there is not file in the bucket. For mime type `audio/3gpp`there is no file called `3gpp.png` in the bucket.

### Actua

[2016-12-19 14:13] clash99 commented on #1013
Do we just need a 3gpp.png or are there others?  I can also make a generic "audio" png.

[2016-12-19 14:22] clash99 commented on #1013
There is a new 3GPP and AUDIO png added here:  https://drive.google.com/drive/folders/0BzpiEtMtHC3rbXRya0FiVVU2bm8?usp=sharing

Let me know if any others need to be created.

[2016-12-19 15:19] oliverroick commented on #1013
@clash99 Thanks for preparing those images.

If we want to have a custom icon for each of the audio types, we'd need create a whole heap of images, [see here](https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/config/settings/default.py#L349-L489). That's why I thought we'd go with a generic audio icon for all the less common formats.

[2016-12-20 09:49] dpalomino commented on #1009
@oliverroick Maybe something we can take a look as we will be upgrading to django 1.10? Thanks a bunch!

[2016-12-20 17:19] oliverroick commented on #1009
I thought about this a little and here's what I believe we need to do (I'm sure I'm missing some of the in-depth details here though):

- Find and implement a way to validate language codes provided with the XLSForms. Ideally, we would verify codes against a list of language codes, which also contains language names in different languages that we can use to populate an additional select field.
- I

[2016-12-21 09:29] oliverroick commented on #990
I would suggest a lightweight solution. Instead of disabling fields or making them read-only, I would implement the method [`clean`](https://docs.djangoproject.com/en/1.10/ref/forms/validation/#cleaning-and-validating-fields-that-depend-on-each-other) in both `accounts.forms.ProfileForm` and `accounts.forms.ChangePasswordForm`. Inside `clean` we can check whether the current environment is `demo.c

[2016-12-21 11:34] #925 closed

[2016-12-21 13:13] dpalomino commented on #1009
Thanks @oliverroick for the detailed analysis!

I think we have three different requirements here:
1.  Showing in GUI the labels in languages that are not supported in Django
2. Showing in xfoms used by ODK and GeoODK the labels in languages that are not supported in Django
3. Being able to filling in forms in GUI using a language/script not supported in Django
4. Being able to filling in xforms i

[2016-12-22 10:26] dpalomino opened #1016 "Localize platform in Spanish"
Spanish is already available [in Transifex](https://www.transifex.com/cadasta/cadasta-platform/language/es/), we should include it in the platform.

Thanks a lot @clash99 for taking this!

[2016-12-22 10:28] dpalomino opened #1017 "Localize platform in French"
French is already available [in Transifex](https://www.transifex.com/cadasta/cadasta-platform/language/fr/), we should include it in the platform.

Thanks a lot @clash99 for taking this!

[2016-12-22 11:12] dpalomino commented on #1009
Ok, so I've done this quick test:

1. Finding something written in a not supported language:
![screen shot 2016-12-22 at 12 07 33](https://cloud.githubusercontent.com/assets/17198051/21423847/7be0c0ac-c83f-11e6-8b91-18b9894da9ed.png)

2. Copy and paste in a field from a testing project:
![screen shot 2016-12-22 at 12 07 45](https://cloud.githubusercontent.com/assets/17198051/21423868/97212c6c-c83f

[2016-12-22 12:11] seav opened #1018 "Editing project details does not succeed"
### Steps to reproduce the error
1. Have a project that already has records.
1. Go to the project's edit details page and change some things (with no errors).
2. Save.

### Actual behavior
The edit details page is reloaded.

### Expected behavior
We go back to the project overview page with updated details.

### Notes
This regression was caused by PR #938. I'm still investigating but it seems disa

[2016-12-22 12:29] seav commented on #1018
I think this bug was cause by this line: https://github.com/Cadasta/cadasta-platform/pull/938/files?w=1#diff-03097180bed8f8452f7330fc368908c2R655

Instead of `self.get`, this should have been `super().post`.

[2016-12-22 16:02] #1003 closed

[2016-12-22 16:12] clash99 commented on #1016
Added translation strings from transifex and added Spanish to footer language dropdown.

![screenshot 2016-12-22 10 05 30](https://cloud.githubusercontent.com/assets/1119621/21431963/256d7c34-c82f-11e6-8039-d19953cb0916.png)

[2016-12-22 16:12] clash99 commented on #1017
Added translation strings from transifex and added French to footer language dropdown.

![screenshot 2016-12-22 10 05 30](https://cloud.githubusercontent.com/assets/1119621/21431963/256d7c34-c82f-11e6-8039-d19953cb0916.png)

[2016-12-24 01:55] bethschechter opened #1021 "Unarchived Project - map won't load"
### Steps to reproduce the error
On demo.cadasta.org...

- Went to organization page for My Land Rights
- Viewed all projects
- Unarchived Mount Hood Rights Mapping
- Went to project page

### Actual behavior

The map fails to load (in Safari, Chrome and Firefox; true after reloads for all)

![image](https://cloud.githubusercontent.com/assets/3361475/21464660/d8543324-c938-11e6-98a6-0f788ad6dc31.p

[2016-12-24 02:11] bethschechter opened #1022 "Import will not accept .xlsx"
### Steps to reproduce the error

On demo...

- Go to Demonstration of Customary Rights
- Go to Import data
- Try to select an xlsx file that I've used before

### Actual behavior

I get an error that the file type is not accepted.

![image](https://cloud.githubusercontent.com/assets/3361475/21464713/3d949420-c93b-11e6-8b39-75f665dfba03.png)

### Expected behavior

I expected the file to upload (s

[2016-12-24 02:23] bethschechter commented on #1022
EDIT: so the problem was that I didn't select xlsx in the options above. However, I think that's a really wonky message to get. It should be, "Select .xlsx above" instead of just "invalid file type." Also, is it necessary for someone to choose which kind of file? Why not simply be able to upload valid file types?

</ .02>

[2016-12-24 05:44] seav commented on #1022
We are actually considering to remove the file type option in the form in favor of checking the actual filename's extension. Please see the relevant discussion at #976.

[2016-12-27 10:36] dpalomino commented on #1021
Hi @bethschechter! I've been taking a look and I think what it's happening here is that the zoom level is so high that we cannot see any detail but only a white page. If you zoom out a bit we can see the map details (at least with the users I've tested with). Can you please take a look and confirm if this is the case?

I suspect that the location in that project is not shown at that zoom level bec

[2016-12-27 13:55] dpalomino opened #1023 "Rework ellipsis menu"
After the review with @clash99 (thanks!), and based on the feedback we have about the ellipsis menu, we will rework the ellipsis menu to have another option that would be better understandable for all users.

[2016-12-27 17:14] clash99 commented on #1023
For top menu next to "Add location" button (only administrators can view this menu).  Recommend still using ellipsis menu for smallest responsive screen since this segment of users is basically non-existent.

![screenshot 2016-12-27 11 08 11](https://cloud.githubusercontent.com/assets/1119621/21504507/2114fbb8-cc25-11e6-8b08-bd153f19d979.png)
![screenshot 2016-12-27 11 07 58](https://cloud.githubu

[2016-12-27 23:05] clash99 commented on #1023
**For Detail pages - location, relationship, party:** (edit and delete are the only menu options)

<img width="749" alt="screenshot 2016-12-27 16 44 55" src="https://cloud.githubusercontent.com/assets/1119621/21510172/e40b303a-cc55-11e6-88af-111a41766f23.png">
<img width="749" alt="screenshot 2016-12-27 17 03 22" src="https://cloud.githubusercontent.com/assets/1119621/21510212/72b00eb4-cc56-11e6-8

[2016-12-27 23:21] clash99 commented on #1023
Added "Location > XXXX" title to edit pages for location details and relationship details to improve context.

![screenshot 2016-12-27 17 20 13](https://cloud.githubusercontent.com/assets/1119621/21510424/c83a03f6-cc58-11e6-8db2-20564f0c3bb7.png)

![screenshot 2016-12-27 17 15 46](https://cloud.githubusercontent.com/assets/1119621/21510372/2444e84c-cc58-11e6-8dd8-b00dafbfab3b.png)

[2016-12-28 16:20] dpalomino commented on #830
@clash99 and I have been reviewing this topic (thanks Chandra!).

To be consistent with the "Download Project Data" (see screenshot attached for reference) we should provide the same options to "Export Search Results". Something like:
- SHP: "A ZIP containing shape files for result locations, relationships, and parties."
- XLS: "A single XLS spreadsheet containing result locations, relationships,

[2017-01-03 05:35] #662 closed

[2017-01-03 05:35] #972 closed

[2017-01-03 05:36] seav commented on #1016
Resolved by #1020

[2017-01-03 05:36] #1016 closed

[2017-01-03 05:36] seav commented on #1017
Resolved by #1020

[2017-01-03 05:36] #1017 closed

[2017-01-03 13:43] oliverroick commented on #893
Below are the results of my research, which discusses possible next steps to improve client-side performance along with an initial high-level task breakdown. If there's anything I have missed or if the discussion is unclear please add to the comments below.

## Improving map performance

We currently have several views that include a map view or load the map in the background if they contain modal

[2017-01-03 16:09] clash99 commented on #559
Link to map interaction flows:  https://drive.google.com/a/cadasta.org/file/d/0BzpiEtMtHC3rSnZMWUVjckNHMHM/view?usp=sharing

Ready for review but I'm still making a few changes (mainly text).  I would still like to add an updated project index and project overview page.

[2017-01-03 16:36] wonderchook commented on #893
Solid research @oliverroick makes sense to me.

Regarding the static files, it would seem to me we might want to have separate S3 buckets for instances. Just seems neater to me is my only reasoning though.

[2017-01-03 19:24] clash99 commented on #830
Design documents have been updated here:  https://drive.google.com/open?id=0BzpiEtMtHC3rVFlVelgzNHBxaUk

**Changes**
- Updated export results modal
- Updated Phase 3 saved search pages

[2017-01-03 21:34] wonderchook commented on #1023
I like this, but I thought we weren't generally letting people delete things. @dpalomino what level of user would be able to delete? One of the issues is until we have full versioning we don't have a way for people to see that something was deleted.

[2017-01-03 23:02] wonderchook commented on #559
Few comments:

1. What do you think of icons instead of drop downs for selecting the entities that are viewed? I'm wondering if that might be more obvious for users.
2. I like the interactions between the maps and the panel. I think it would be good to also think through the cartography for those interactions. What do things look like highlights on the map as far as theme and color.

[2017-01-04 08:10] seav commented on #1008
*Note:* `PU` = Project User role. This is *not* the same as a public user which uses the code `Pb`. A Project User has access to the project's records but cannot manipulate it, while a Public User only has access to the project's overview page, and not any of the records.

I've investigated this for a bit and I think this bug is because the [method that reassigns a user's project policy](https://g

[2017-01-04 08:37] amplifi commented on #893
I agree with @wonderchook on a separate bucket per env; it'll maintain our security isolation, simplify deployment/versioning, and enable us to purge per env as needed. Serving from S3 is just a matter of enabling that feature and updating our links to the new URLs, then I can update the deployment process to collect static files in S3 rather than local. As a heads up, S3 should be fine performanc

[2017-01-04 08:38] seav commented on #960
Hmmm. I would expect that only project managers would be able to import data. I view data collectors as people given the permission to add/edit/delete records one at a time but not being able to bulk add records except through ODK.

[2017-01-04 12:13] wonderchook commented on #1008
@seav could you expand a bit on which parts are making it a mess?

[2017-01-04 20:02] clash99 opened #1027 "Rework "Add location" and "More actions" button in project and org wrappers"
This task is waiting on some permissions documentation/ decisions.

**Add location** - split button to be all data-related actions.  This involves a permission check per action.

- Add new location
- Add new party
- line
- Import data
- Download data

**More actions** - become edit actions for project settings.  This is only available to project managers and roles above.

- Edit project boundary
-

[2017-01-04 20:33] linzjax commented on #945
Couple of questions:
I chose to implement [this version](https://devcentral.f5.com/articles/implementing-the-exponential-backoff-algorithm-to-thwart-dictionary-attacks) of the exponential back-off algorithm. It recommended capping the wait time at 24 hours. Does this work for us?

How long do we want the cache to hold onto login attempts? I currently have it set to 24 hours as well.

Can we set th

[2017-01-04 22:45] seav commented on #893
A general comment for the map performance section is that this seems to be going back towards the one-page app structure that we were originally aiming for before we went with implementing Django views. Given that most of the records pages show a map anyway, it might make sense to tackle this one-page app task as a cohesive whole instead of just targeting the pages that have a map.

[2017-01-04 23:10] seav commented on #1008
@wonderchook: I feel that how we have implemented our permissioning, policies, and roles is not consistent or as clean as it can be. The Public User pseudo-role, for instance, was bolted on when before we set that all org members are Project Users by default.

As another example of inconsistency, we have code that checks a user's role in the organization or project before allowing some features wh

[2017-01-05 00:17] clash99 commented on #559
Updated flows dated 01/04/2017:  https://drive.google.com/a/cadasta.org/file/d/0BzpiEtMtHC3rSnZMWUVjckNHMHM/view?usp=sharing

@wonderchook -

1)  I played with icons but I think an additional map/location marker might be confusing in that area.  Is there another icon you think could represent "locations"?

2)  We should provide a few palette options and then based on the number of location types,

[2017-01-05 08:50] seav commented on #1023
@wonderchook: Based on the code, we've had the record delete feature in the platform for a really long time now since at least June 2016 and this is available to project managers and data collectors, but not project users. While nothing is truly deleted because we have django-simple-history (which we will be using when we finally implement the bitemporal database), it is true that users do not hav

[2017-01-05 08:52] oliverroick commented on #945
24 hours for maximum back-off time and caching sounds reasonable to me. Maybe we can implement those using settings, so we can easily change that later.

No objections to using `LocMemCache` as the default cache for development; if the cache in dev gets too big, we can always move back to `DummyCache` once your work is done. For testing, you can temporarily [overwrite Django settings](https://docs

[2017-01-05 12:59] oliverroick commented on #559
Here are few comments and questions from my end:

- What's the purpose of having both list and map views other than expanding the right-hand panel? It seems to convey the same information. It adds more functionality and complexity to the interface but and doesn't add much value.

## Location lists

- I prefer the alternate proposal as it's much cleaner with the sliding panel option. The separation

[2017-01-05 14:56] clash99 commented on #559
@oliverroick -

1)  The list view vs map view provides the user the option to view the data related to a map or not basically.  My thinking is since all our data is based on a location, it should all be able to be viewed relative to a map.  But you are correct that the location list view and party list view are basically just indexes.

2)  Sound good.  I think the latest version with more filterin

[2017-01-05 17:44] clash99 commented on #1023
cc: @bethschechter This changes ellipsis menu.  Another task is on the horizon that change project and organization wrapper "add" buttons too #1027.

[2017-01-06 01:07] wonderchook commented on #1023
@seav I don't think we want to put delete at the same level as edit though in the interface. I wasn't saying we didn't have the feature, my concern was making it too easy to delete.

[2017-01-06 06:30] seav commented on #559
Just some comments on some of the points raised here:

This redundant view is one possible solution to #496.

Isn't the map tab the locations tab?

Currently. In the future we will be including spatial relationships, and more importantly, party relationships. I would suggest considering this in mind when we make changes related to relationships in the UI.

[2017-01-06 06:36] seav commented on #1023
It will be kinda hard to deemphasize the delete function. Right now, this is hidden together with the edit function and since editing is a common action, users are seeing the delete function anyway. If we go with Chandra's proposal here with a one-click edit button but still hide the delete function behind an ellipsis menu, that menu will only contain the delete function, which makes it weird and

[2017-01-06 06:39] seav commented on #1008
I guess that can help. I was also thinking we can approach this in the same manner that Oliver approached cleaning up the API (#880).

[2017-01-06 06:59] seav commented on #559
Given the map vs. list views, I wonder if we are emphasizing the map too much especially with the alternate proposal of a sliding right panel for the map view. How about if we approach things in reverse: we emphasize lists and tables for displaying project data and then slide in a map or show a map inset to provide geographical context as needed?

[2017-01-06 10:23] oliverroick commented on #990
The most straightforward solution to solve this issue is to add a column to the user model that indicates whether the password can be changed and to raise exceptions in the form and serialisers accordingly:

## Task breakdown

- [ ] Add new field `change_pw` to `User` model. The field is a `BooleanField`, which defaults to `True`.
- [ ] Extend `ChangePasswordForm` to raise an exception if the user

[2017-01-06 10:32] seav commented on #990
Should there be a UI that allows superusers (only?) to set and unset this `change_pw` flag on a user? Alternatively, we can add a Django management command like `setuserchangepw <user> <bool>`.

[2017-01-06 11:12] oliverroick opened #1031 "Map single page app"
This is a huge task. I suggest dividing this into the subtasks I have outlined below. Once we agreed on the task breakdown, we can create issues for each of the tasks for separate tracking and discussions of tasks.

To manage implementation and ensure that more than one person can work on this task (if necessary), we should create a feature branch (e.g. `map-spa`), which serves as the "master" for

[2017-01-06 14:38] clash99 commented on #1023
I know @dpalomino is out this week but some of the feedback I received from the training sessions was that users were having a hard time deleting a location.  The ellipsis menu wasn't intuitive to them.  With eliminating that menu, the current actions of edit and delete were put where you see then now.

The delete does prompt a confirmation modal so it is a two-step process.  If it is an action we

[2017-01-06 15:02] clash99 commented on #559
Thanks @seav - Interesting idea about de-emphasizing the map although I'm guessing that will not be the way most of our users will want to view the data. The platform currently has a disconnect between the raw data (especially parties) and the map.  This approach of showing both simultaneously and contextually is going to allow users a better way to both get an overview as well as hone in on a tar

[2017-01-06 15:37] linzjax commented on #823
This issue has already been addressed. Should we close it?

[2017-01-06 15:39] oliverroick commented on #823
I think it was addressed when you reworked that area, @linzjax?!

[2017-01-06 15:42] linzjax commented on #823
Yeah... I just forgot about this issue... 😂

[2017-01-06 15:43] clash99 commented on #823
![screenshot 2017-01-06 09 42 10](https://cloud.githubusercontent.com/assets/1119621/21723020/8e552640-d3f4-11e6-80a3-35ecb2f36663.png)

It appears fixed.  I'm going to add some css around the "Role Administratior" to it so it appears less confusing.  I'll assign it to myself.

[2017-01-06 15:45] clash99 commented on #823
Any idea on when we are going to get avatars into the platform?  Should we hide this too?  It does reinforce its a person (with a perfectly round head).  Just a thought.

[2017-01-06 15:49] oliverroick commented on #990
I think, a UI would be overkill at this point, a command sounds reasonable. @amplifi Is this something you think is useful, for example during deployment?

[2017-01-06 15:51] clash99 commented on #823
Separated Administrator from Role for clarity:

![screenshot 2017-01-06 09 49 15](https://cloud.githubusercontent.com/assets/1119621/21723353/b3115782-d3f5-11e6-8e43-85c3655f85de.png)

[2017-01-06 16:53] oliverroick commented on #559
@clash99 —

Thanks for your clarifications. I don't have answers to many of the questions I raised. Just wanted to put them out there.

In general, I would _always_ link the map and the list in the right-hand panel. When you zoom in on the map, you see only locations listed that are also on the map or parties who also have a relationship to any location visible on the map. Do I understand this cor

[2017-01-06 21:14] wonderchook commented on #559
@clash99 in addition to reviewing with @dpalomino I think we should think about getting some user feedback prior to building. Or at least more outside the dev team. @oliverroick's point about not being sure about what problem we are trying to solve is valid. I'm not all that sure about how people might want to use the data myself. I can picture use cases for both list and map view, but think we co

[2017-01-06 21:15] wonderchook commented on #990
agreed on holding off on a UI. If it becomes a need beyond the demo users we can think about it later.

[2017-01-06 21:16] wonderchook commented on #1023
there was much "fear" of people accidentally deleting or possibly on purpose deleting things in the past (prior to building out the platform as it is). Perhaps this isn't the same anymore, but might be worth @dpalomino having a conversation with @nastynoel & @fhpichel prior to implementation.

[2017-01-07 06:09] manoramahp opened #1034 "Tab key is not enabled for right drop-down menu in Organization page"
### Steps to reproduce the error

1. Go to Organizations.
2. Select an organization from the list
3. Move between the components using tab key
![selection_053](https://cloud.githubusercontent.com/assets/10743861/21739884/0765e842-d4ce-11e6-8386-16863f23a503.png)

### Actual behavior

Right drop down menu is not getting focus when move between the components using the tab key

### Expected behavior

[2017-01-09 10:06] dpalomino opened #1035 "Unable to list Active/Archived projects in organizations with archived projects"
### Steps to reproduce the error

1. Go to an organization with archived and active projects
2. Try to list the active projects. No results are shown
3. Try to list the archived projects. No results are shown
4. Try to list All projects. Then all projects are properly shown.

Check the video here:
http://screencast.com/t/SqCrlTLfaV8

This is happening in staging, demo and production.

[Please try

[2017-01-09 10:24] seav commented on #1035
I can't reproduce this on both Firefox and Edge in Windows.

[2017-01-09 11:14] seav commented on #1035
As mentioned by @oliverroick on Slack, this only happens when not using the English translation.

I've tracked this down to the following lines:
https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/templates/organization/organization_dashboard.html#L32-L36
https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/core/static/js/dataTables.selectFiltering.js#L23-L38

The strings "T

[2017-01-09 12:52] dpalomino commented on #1023
Hi. As @clash99 was mentioning, we get some feedback from users finding difficult to edit or delete a location, I think the new UI proposal will make this much easier for them.

If we want to restrict the ability of deleting a location, maybe we can make this option only available for project managers and not for data collectors. In any case, happy to chat with @nastynoel and @fhpichel about the d

[2017-01-09 13:24] #1013 closed

[2017-01-09 14:01] dpalomino commented on #960
Thanks @seav for the input. As just discussed, although in theory it makes sense to allow data collectors to import data, as it results in "collecting" new data into the project, in practice this is a task too complex to be performed by data collectors and it will be typically done by project managers. It could be too risky to allow all data collectors to perform this kind of tasks.

So I'd sugges

[2017-01-09 14:03] #893 closed

[2017-01-09 14:06] dpalomino commented on #1022
Closing issue as it is dup of #976.

[2017-01-09 14:06] #1022 closed

[2017-01-09 14:08] dpalomino commented on #1021
Hi @bethschechter. Were you able to check if the zoom level was the cause of the issue?

[2017-01-09 14:12] #1023 closed

[2017-01-09 15:57] dpalomino commented on #861
Adding @clash99 for wireframes.

[2017-01-09 16:26] #1018 closed

[2017-01-09 16:47] linzjax opened #1036 "Permissions Issue: Project Users can submit questionnaires"
### Steps to reproduce the error
1. Assign an org member project user permission on a project.
2. Login as that member in GeoODK Collect (or wherever you like)
3. Download the questionnaire, fill it out, submit it.

### Actual behavior
New data is submitted to the project

### Expected behavior
Step 3 and on should work if it is supposed to match the UI. When I'm logged in as the same user in the

[2017-01-09 16:55] linzjax commented on #1036
Hm... So this is a little weird.
1. you have permission
2. You downloaded the form
3. someone downgrades your permission so that you _no longer_ have permission to download questionnaires
4. if the original questionnaire is still on your device you can still submit data.

However, if you have not yet downloaded the form, and your permissions are removed, you cannot download the form. Not sure how

[2017-01-09 16:56] #904 closed

[2017-01-09 17:12] #945 closed

[2017-01-09 22:05] wonderchook commented on #960
In agreement with that as far as the data collectors not doing imports

[2017-01-10 06:32] wonderchook opened #1037 "User Removed from Organization can still submit questionnaires"
### Steps to reproduce the error

1. Add user to org as Data Collector
2. Download form to ODK
3. Remove user from org
4. Fill out ODK form
5. Submit

### Actual behavior

Data is submitted to the project

### Expected behavior

I would have expected a permissions error

[2017-01-10 07:28] nastynoel commented on #1023
@dpalomino I'm against making it easy for users to delete records and projects, particularly without more background on the number of users who are asking for this and what circumstances are they facing that makes it so important. e.g. would they be less likely to make mistakes if additional training is provided?

For me, this opens up a much more important issue wrt versioning/history. Because we

[2017-01-10 08:46] wonderchook commented on #1023
@amplifi regarding @nastynoel's comments above. We could role back from backups if such a thing happened, right? It just wouldn't be particularly fun.

[2017-01-10 08:56] dpalomino commented on #1037
It seems similar issue to #1036. Permissions are only checked when downloading the form to the app, but not when submitting them to the platform. We will use #1036 to track this, closing issue.

[2017-01-10 08:56] #1037 closed

[2017-01-10 08:58] dpalomino commented on #1036
As @wonderchook confirmed, this issue is also happening when the user is removed from the organization. The problem seems to be that permissions are only checked when downloading the form from the apps, but not when submitting the forms to the platform.

Moving to high-prioirty.

[2017-01-10 09:22] dpalomino commented on #1009
I've been testing also with case (4), filling forms in ODK/GeoODK using languages not supported by django and submitting to the platform, and they are accepted.

Then, we are only missing to show labels in other languages in GUI (1) and apps (2). Probably this has a lower priority for now.

[2017-01-10 10:30] oliverroick opened #1038 "Private project can not be made public"
### Steps to reproduce the error

1. Create a private project or make a public project private.
2. Go to "Edit project details"
3. Set the project to public.
4. Save

### Actual behavior

The project is still private

### Expected behavior

The project should be public.

*Update* This seems to be an issue with Django 1.10, the bug does not occur with 1.9 on my dev VM.

[2017-01-10 10:42] dpalomino commented on #1023
In reality, records are not really deleted (they are still in the database) but it is true that there is no way to recover this "deleted" locations/parties through the GUI until we implement the history log functionality (backlog id 46.00).

An alternative solution could be to have "archived" records (parties or locations) in a similar way than we archive projects, so a project manager could be ac

[2017-01-10 11:31] oliverroick commented on #1036
We have individual permissions for each adding locations, relationships, parties and resources. On the platform we can check each of them individually.

When you upload data from GeoODK however, all record types are uploaded at once. How should we deal with this case — should we check if all actions are permitted? That means if a user can add locations, parties and relationships but no resources,

[2017-01-10 13:04] dpalomino opened #1039 "Internal server error when accessing to some locations"
### Steps to reproduce the error

I've been able to reproduce this issue in both staging and demo, however steps to reproduce are not clear for me.

1. Create a new project using [this questionnaire](https://drive.google.com/open?id=0B26r9x9LftJDUjRSeFRpZXZTakU), which is a real one from one of our partners. It is a multi location based form, multilingual, with quite a lot questions.
2. Project is

[2017-01-10 13:08] amplifi commented on #1023
@wonderchook Correct; we have database backups for each environment. We'd restore whatever was deleted in that situation.

[2017-01-10 14:54] linzjax opened #1040 "Links outside of platform to a record you don't have permission to see triggers odd redirect behavior"
### Steps to reproduce the error
[Click on this link](https://platform-staging.cadasta.org/organizations/the-wall/projects/the-wall/records/locations/89ck7cm2c4jeqdbj7h2rwm65/)

Discovered when I clicked on the link to a location in this [github issue](https://github.com/Cadasta/cadasta-platform/issues/1039)

### Actual behavior
Get redirected to this github issue.

### Expected behavior
Get redir

[2017-01-10 14:59] linzjax commented on #1008
Adding to this: Removing a user from an organization isn't changing their permissions. I deleted a data collector and they can still add/edit/delete records.

[2017-01-10 17:20] clash99 opened #1041 "Column sort by Last Updated not working correctly"
### Steps to reproduce the error

1. Go to projects index page from top nav (can replicate in staging and demo)
2. Select the column header for Last Updated so that it sorts ascending/ descending

### Actual behavior

Rows are not sorted according to date last updated

### Expected behavior

Rows would be sorted according to date last updated

Video here:  http://screencast.com/t/uwfM6gzDQ

[2017-01-10 18:32] linzjax opened #1042 "API: Non-permissioned users can view an organizations users"
### Steps to reproduce the error
using `httpie`:
[code]

### Actual behavior
Response:
[code]
### Expected behavior
Either the `users` section would be an empty array, or `users` would not be included in the response at all.

[2017-01-10 18:37] seav commented on #1041
@clash99: As you may have guessed, this is because the sorting is based on string comparison ("Apr" comes before "Jun" which comes before "May"). I've fixed this by adding a numeric date (seconds since the Unix Epoch) to the date column using DataTables' [`data-sort` HTML attribute](https://datatables.net/examples/advanced_init/html5-data-attributes.html).

I've pushed a fix to the **bugfix/#1041*

[2017-01-10 18:43] wonderchook commented on #1036
How do the import permissions work? I think it is less important to check each individual permission when someone is "bulk" uploading data.

[2017-01-10 18:45] clash99 commented on #1041
Looks good @seav - thanks!

[2017-01-11 08:50] bjohare opened #1045 "Incorrect password validation error"
### Steps to reproduce the error

Navigate to the account registration page at https://platform-staging.cadasta.org/account/signup/. Enter a username, password, confirm password and full name. Leave the email field blank. Click 'Register'. The email validation error is displayed correctly but an incorrect password validation error message is displayed: *'Your password cannot contain your email mai

[2017-01-11 09:47] dpalomino commented on #1040
Just in case it helps, I've seen that using private navigation (incognito window) is working fine and the dashboard is displayed.

[2017-01-11 10:08] bjohare opened #1046 "Platform error while editing project geometry"
### Steps to reproduce the error

This is difficult to reproduce. The exception is a `DataError: value too long for type character varying(2)` when attempting to save a project extent. Seems to be related to assignment of country code to the project based on the extent. The `geography_worldborders` table, for the most part, contains two character `iso2` codes, however 19 have a value of  `-99`. If

[2017-01-11 14:05] linzjax commented on #1040
If you're not logged in it'll direct you to the `Hello, have we met?` page.

[2017-01-11 14:32] linzjax opened #1048 "API: Projects can be deleted via the api"
### Steps to reproduce the error
1. Create a project
2. Run `http DELETE https://platform-staging.cadasta.org/api/v1/organizations/<org-slug>/projects/<proj-slug>/ AUTHORIZATION:"Token <your_token>"`

### Actual behavior
Watch in shock as your project is actually deleted.

### Expected behavior
This definitely should not happen. It should behave the same way an organization does:
[code]

[2017-01-11 14:37] #886 closed

[2017-01-11 15:31] clash99 opened #1050 "Search CSS"
Task to make any necessary css adjustments for new search pages.

[2017-01-12 02:47] wonderchook commented on #936
@bjohare is this partially fixed? I'm noticing the issue with individual vs. group parties is a bit funny. It seems to work when you edit an existing party.

[2017-01-12 05:33] wonderchook opened #1052 "Standard Questionnaire Lacks Corporation specific attributes"
In the standard questionnaire we currently provide sections for specific attributes for individuals and groups. This is lacking for corporations. It appears to work on the platform, but is just missing from the standard questionnaire form.

[2017-01-12 08:26] dpalomino commented on #1052
Hi @wonderchook, thanks for the heads-up. I can create a new version and update the file.

[2017-01-12 13:24] clash99 opened #1053 "Ability to delete a party in a current relationship"
I think we should discuss the ability to delete a party that is currently in a relationship.  It seems to delete the relationship as well, which I believe is the correct action.

I would suggest two things:

1)  If we do allow a party in a current relationship to be deleted, we should update the messaging to inform the user is currently in XX relationship(s) and those will be deleted as well.

![s

[2017-01-12 16:23] bjohare commented on #936
@wonderchook I haven't committed anything for this yet. The reason it 'works' for existing parties is that we only know what attributes are available for a party once we have an actual instance and we know the type. We don't know the type for a party that hasn't been created yet so the conditional attributes can't be rendered on the form.

[2017-01-12 19:57] wonderchook commented on #936
@bjohare related to this. When you switch party types things tend to explode. Will what you are doing assist with this or should I be opening a bug about that as an entirely different thing?

[2017-01-13 05:27] #926 closed

[2017-01-13 05:42] #1041 closed

[2017-01-13 06:15] #1048 closed

[2017-01-13 06:34] #1038 closed

[2017-01-13 09:21] bjohare commented on #936
@wonderchook no need for a separate bug report, its all related. It should be fixed when my changes get merged.

[2017-01-13 09:40] #1036 closed

[2017-01-13 09:54] #1039 closed

[2017-01-13 12:59] dpalomino commented on #1052
I've already updated the standard questionnaire (check [here](https://docs.google.com/spreadsheets/d/18zY-rjpQjmdtOYBjFnJM1cIzFpF5OsTNhw7yJNjr_Wk/edit#gid=1812773706)). Tested against staging and working fine.

@bethschechter, I think we should update that too in the documentation. Do I just update the file in AWS?

[2017-01-13 13:13] dpalomino commented on #1053
Thanks @clash99 for raising this. I'd say updating the messaging to let user know that the party is connected what a number of relationships. Archiving the party seems a better solution but I think it could be difficult to manage, as we would need also to add the unarchive function.

If I am correct, the party is not truly deleted but just not exposed to the GUI but still in the database.

[2017-01-13 17:01] oliverroick opened #1055 "Selecting language dropdown: wireframes"
To track the task. Refer to #861 for further description and discussions.

[2017-01-13 17:02] oliverroick opened #1056 "Selecting language dropdown: research and prototyping"
To track the task. Refer to #861 for further description and discussions.

[2017-01-13 18:00] linzjax opened #1057 "MSPA: Create map scaffolding"
Part of the Map Single Page App epic (#1031)

# Tasks
- [x] Implement a view e.g. ProjectMap and a template that serves the map.
    - The template should include:
       - [x] the map itself
       - [x] the right-hand side panel the display record details.
- [x] Write CSS including transitions to show/hide the panel by changing its CSS class.
- [x] Upgrade to Leaflet 1.0+

[2017-01-13 18:03] linzjax opened #1058 "SMAP: Enable GeoJSON vector tiles"
Part of the Map Single Page App epic (#1031)

# Tasks
- [x] Enable GeoJSON vector tiles
    - [x] Change spatial.asyc.SpatialUnitList so it can serve GeoJSON vector tiles.
    - [x] The view supports the [XYZ tile convention](http://wiki.openstreetmap.org/wiki/Slippy_map_tilenames).
    - [x] Change loading of features on the client-side to support GeoJSON vector tiles.
        - (look at  [TileLa

[2017-01-13 18:06] linzjax opened #1059 "SMAP: Update existing views and templates"
Part of the Map Single Page App epic (#1031)

# Tasks
- [x] Existing views and templates updated so they can be served asynchronously.
- [x] Both the URLs and view classes moved to the async component the corresponding Django app.
- [ ] Scaffolding removed from the HTML template, and only the contents of the right-hand side panel are rendered.

### Affected views

- [x] `organization.views.default

[2017-01-13 18:12] linzjax opened #1060 "SMAP: Implement minimal routing and async loading"
Part of the Map Single Page App epic (#1031)

# Task
- [x] The URL displayed in the address bar is in sync with the current view.
- [x] The view is updated according to the URL when users access the page via a permalink.
    - (Possibly of help: [A JavaScript router in 20 lines](http://joakim.beng.se/blog/posts/a-javascript-router-in-20-lines.html))
- [x] Implement async loading into the client-si

[2017-01-13 18:14] linzjax opened #1061 "SMAP: Store the map position"
Part of the Map Single Page App epic (#1031)

# Task
Store the map position either in the browser session and/or the URL so it can be recovered through a permalink.

---
## Order of operations:
### Open a new tab and paste in the URL.
Does the URL have `/?coords=`?
__Yes:__
1. Zoom to coordinate location.

__No:__
1. Check if there is a zoom to function: project_extent, location_bounds
2. Zoom to

[2017-01-13 18:38] linzjax commented on #1058
For my own reference:
[Beginning of an vector tile boundary box](https://cadasta.slack.com/files/oliverroick/F3RUZ9G07/async.py)
[url config](https://gist.github.com/oliverroick/31037b1df23e3542bbb1c0afaa8702e4)

[2017-01-17 06:33] amplifi commented on #908
Completed using Logstash to index the database to Elasticsearch directly.

[2017-01-17 06:33] #908 closed

[2017-01-17 06:36] amplifi commented on #909
Done using Logstash to sync database with Elasticsearch directly.

[2017-01-17 06:36] #909 closed

[2017-01-17 06:39] amplifi commented on #828
Elasticsearch supports this natively so backend work for this is done.

[2017-01-17 06:41] amplifi commented on #827
Elasticsearch supports this natively so backend work for this is done.

[2017-01-17 06:41] amplifi commented on #826
Elasticsearch supports this natively so backend work for this is done.

[2017-01-17 09:11] #1035 closed

[2017-01-17 17:09] dpalomino opened #1065 "Drop-down menu for active/archived/all projects not appearing in orgs with more than 10 projects"
### Steps to reproduce the error

1. Go to an organization with more than 10 projects
2. Archive one project (not one of the first 10 projects)
3. The drop-down menu for active/archived/all projects doesn't appear

See video here:
https://screencast.com/t/FF7auXqA

### Actual behavior

See above.

### Expected behavior

Drop-down menu for listing active/archived/all projects should appear when the

[2017-01-17 21:17] #823 closed

[2017-01-18 02:21] seav commented on #1065
Oops. I've submitted a PR for this (#1066) that should improve on the solution of #765.

[2017-01-18 15:04] clash99 commented on #1050
Left sidebar responsive css - pulls to right in larger screens, below in smaller screens.

![screenshot 2017-01-18 09 02 37](https://cloud.githubusercontent.com/assets/1119621/22069182/1c237690-dd5d-11e6-8e13-0e5b41dff85b.png)
![screenshot 2017-01-18 09 03 04](https://cloud.githubusercontent.com/assets/1119621/22069183/1c23792e-dd5d-11e6-9ea2-f3800e4bf2ed.png)

[2017-01-18 16:53] oliverroick commented on #537
Resolved with upgrade to Django 1.10

[2017-01-18 16:53] #537 closed

[2017-01-18 17:32] clash99 commented on #559
I think we should consider breaking this into smaller parts for development (and design).  This list of locations offers a solution to #496, which could be implemented separate from some of the other map interaction recommendations.

If we had more user interaction questions, I think we should consider doing some third party testing since its an easy way to get insight to user behavior.  I'm not s

[2017-01-19 12:25] clash99 commented on #559
I'm trying to document what user problems are being addressed on specific wireframes from my perspective before our meeting.

**Map View with Location Index**
![2 2 map with location grouping](https://cloud.githubusercontent.com/assets/1119621/22105358/341e3292-de09-11e6-97a3-278f6feb4b5b.png)

**User problems:**
- Can't select locations when layered below others (#496)
- Can't view locations in a

[2017-01-19 12:37] clash99 opened #1068 "Options for user behaviour tracking"
We need to decide what options we have to safely track user behavior throughout our platform without violating our data security policy.

From a ux perspective I would like to start with general task analysis.  This will be a good starting point to compare usability testing with actual platform use.  Going forward this can also be used as a basis for new enhancements and ensure we are properly opt

[2017-01-19 16:20] oliverroick commented on #961
The [organization member policy grants](https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/config/permissions/org-member.json#L14-L18) `view` permissions on all spatial units of any project in an organization. (Same goes for parties and relationships.)

I can remove the permissions from the policy to fix this issue as described. But I'm not sure that this is correct. @dpalomino can yo

[2017-01-19 16:31] dpalomino commented on #961
Hi @oliverroick. So the Public User should not be able to see the details regarding locations, relationships, parties or resources within the project. Only the project overview page (I think that is the "list" permission?).

I am not sure if I totally understand the code you pointed to. I would say yes unless you think that removing those permissions could have some other collateral effect apart f

[2017-01-19 16:38] oliverroick commented on #960
@clash99 The "import data" link can be found in the "Add location" dropdown and the "More actions" dropdown. Is that correct or should it just be in one of the dropdowns?

[2017-01-19 16:43] oliverroick commented on #961
I'm moving the policies that grant `view` permissions for locations, parties, resources and all relationships into the `project-user` policy document.

That means, if you're an org member but not member of a project you can list everything but not see the details. If you're a "Project User" you can list and see the details.

[2017-01-19 16:45] dpalomino commented on #961
Ok, that's perfect. Thanks!

[2017-01-19 16:54] clash99 commented on #961
Great!  I would love to make a graphic for these permissions to help with testing.  I'll use this as a start.

[2017-01-19 17:58] clash99 commented on #960
@oliverroick It is my understanding that Data Collectors cannot see the second "More Actions" button.  Is that correct?

[2017-01-19 19:40] oliverroick commented on #960
Data collectors can not see the "More actions" button, that's correct. Was just checkin in if it's correct that the link appears in both menus. If so, we leave them in both and I just look at hiding the link when the user can't import.

[2017-01-19 21:20] clash99 commented on #960
That sounds perfect - thank you @oliverroick.

[2017-01-20 01:33] clash99 commented on #339
Renaming this to home page since I think the dashboard will be more personalized, focused on returning users.

[2017-01-20 01:36] clash99 commented on #340
Love this idea!  Would be great for returning user dashboard since unregistered users will just see public.

[2017-01-20 01:45] clash99 opened #1069 "Create dashboard for returning users"
I thought we had a backlog task for this but I think most of the tasks associated are for the unregistered user's "home" page.

After conversations with @wonderchook, @MappingKat , and others, I think we need to start thinking of creating a better dashboard for returning users.  Some ideas to include:

- Updates/ stats on projects user belongs to apart from other projects (currently there isn't a

[2017-01-20 02:36] wonderchook commented on #1069
Indicate what projects have been updated since their last visit. e.g. if new data has been added

[2017-01-20 02:39] wonderchook commented on #1068
should this be a research task for someone to see what the options are out there?

@nastynoel do you have thoughts on this since you were involved in the Terms of Service drafting?

[2017-01-20 02:46] nastynoel commented on #1068
I don't think this would violate our privacy policy in terms of our collection of the data, or what we use it for, i.e. allowing us to improve the Site and the services we provide, such as by better tailoring our content to our users’ needs and preferences; generating and analyzing statistics about your use of the Site

Information Automatically Collected From You – We and our service providers ma

[2017-01-20 03:54] wonderchook commented on #1068
@nastynoel one of the questions was would we collect this information through Google Analytics or a self hosted option.

[2017-01-20 08:30] oliverroick commented on #961
I double check how we handle this in other views. Turns out, the party list is filtered according to the permissions the user has. It lists only parties for which a user also has `party.view` permission.

This is different from how we handle relationships and locations. Is this intended or does this need to be fixed?

[2017-01-20 09:09] dpalomino commented on #1069
Yes, I think this is linked to the User Dashboard feature (id 44.00 in the backlog). Requirements are still not developed, but I was thinking to include information like:
- Organizations information: which orgs they belong to, role (admin/member)
- Projects information: which projects they belong to, role (Project Manager, Data Collector, etc), stats for this projects. (BTW, @wonderchook good idea

[2017-01-20 09:11] dpalomino commented on #1069
Also related with #994.

[2017-01-20 12:27] dpalomino commented on #961
Thanks for the heads-up @oliverroick. I think it is not intended but we were not aware as we didn't have Parties page until recently. In my opinion, I think we should list the parties for which the user has party.list.permission. So that would be coherent with what we do with locations... Does it make sense? Thanks!

[2017-01-20 13:06] oliverroick commented on #961
It does, for consistency at least. I don't understand why we would list things the user can't access (same with putting locations on a map when the user can't access them). I think, it's confusing to users.

[2017-01-20 15:09] clash99 opened #1072 "Create a pre-engagement(?) worksheet"
Based on conversation with @MappingKat (and I'm sure @dpalomino and @fhpichel have lots of ideas too), the idea is to have a "get your thoughts together" kind of worksheet for users to be able to access through the platform and/or cadasta website.  This will serve to consolidate ideas about the project before starting the project creation wizard.  It would also serve a bit as a marketing piece sin

[2017-01-20 18:22] clash99 commented on #1072
@dpalomino suggested some of @fhpichel's FAQ document he is working on might be good to incorporate here too

[2017-01-22 23:20] wonderchook commented on #1072
can you explain further who is going to use this data that is collected? Is this so the programs team can help people get set-up or is this supposed to help the person setting up their project?

What about this form at the bottom here? http://cadasta.org/platform/ Would we expand it further to include specific project needs?

[2017-01-23 01:48] clash99 commented on #1072
@wonderchook - I've renamed it to project creation worksheet since that probably fits better.  Agree @bethschechter should be involved.  I'm assuming she will be writing documentation on creating the questionnaire gui so we can leverage that.  This is more of an exercise for the user creating the project rather than anyone at Cadasta so I don't even think we need to collect the data.  Its more of

[2017-01-23 03:12] nastynoel commented on #1072
@MappingKat and @clash99 - are we confident that users will get immediate value from this versus some materials that would essentially be a pre-cursor to something like this? By that mean, more fundamental training/knowledge materials on the basics of a mapping and documentation project.

I'm in no way advocating for a 98 page document, but would something similar to this http://documents.worldban

[2017-01-23 03:15] wonderchook commented on #1072
@nastynoel in my experience the WB guide is only useful to a certain kind of person. What about trying to figure out how our users learn best and go from there?

[2017-01-23 15:30] #1008 closed

[2017-01-23 15:46] #1065 closed

[2017-01-23 16:04] #960 closed

[2017-01-23 16:26] #990 closed

[2017-01-24 04:25] wonderchook commented on #1052
@dpalomino you should be able to update the file in AWS. @bethschechter might need to update the documentation a tiny bit but I don't think that needs to happen first.

[2017-01-24 05:20] manoramahp opened #1073 "Delete a party results in Map View of a Project"
### Steps to reproduce the error

Select a project from projects page
Go to Parties page by selecting Paties from side bar
Select a party
Delete a party
Confirm delete

### Actual behavior

After confirming Delete, the user is redirected to Map view of the Project

### Expected behavior

User should redirect to Parties view of the Project

[2017-01-24 11:46] dpalomino commented on #1052
Updated in S3. I will follow-up with @bethschechter to update the documentation accordingly for this section:
https://docs.cadasta.org/en/09-XLSForms.html#standard-form

To include the description for the new "Corporation" party attributes.

[2017-01-24 13:13] dpalomino commented on #1073
Thanks for raising this @manoramahp :-)

[2017-01-24 15:51] MappingKat commented on #1069
I think that the current home dashboard is great for Cadasta admin (us).  For partners and organizations, it would be nice to the elements that you all have mentioned.  (For releases and updates, we can use a chat messenger to announce those.)

![existing users](https://cloud.githubusercontent.com/assets/1077436/22254397/b8379382-e211-11e6-9ea9-90b740d5ff18.png)

I think the dashboard should focus

[2017-01-24 18:32] clash99 commented on #861
Below is a proposed placement for this new form language dropdown.  Since this affects viewing form text across various pages within the project, I thought it would best at this project level.  The other option would be sprinkling it through each page next to where the form labels are shown.

![projects-formlanguages](https://cloud.githubusercontent.com/assets/1119621/22261066/23f88c10-e231-11e6-9

[2017-01-25 00:39] nastynoel commented on #559
@clash99 - my two cents.

1. I like the sliding panel option
2. How well will hover functionality work with mobile devices, if it all? Could it impact or frustrate users trying to pan/zoom on those devices?
3. I would not de-emphasize the map aspect. Based on past experience before Cadasta, users do like to see their linked to the map, i.e. just viewing lists was less compelling for them. We used

[2017-01-25 00:51] nastynoel commented on #559
@fhpichel - do you have any inputs here?

[2017-01-25 04:44] SteadyCadence commented on #1072
I was envisioning an online form where partners focus on their specific requirements (through open ended questions) and the tools that they can use (what cadasta offers).  There could be some advice but the ultimate idea of the page is to make sure that Cadasta and the partners are prepared and on the same page (understand their end goals, red flags/road blocks, prep steps, etc clearly).

![pre-su

[2017-01-25 05:55] SteadyCadence commented on #559
If the goal of these pages is to sort and filter data collected, then I think it makes sense to downplay the map size.  Location boundaries are necessary to view but they are one element of data.  The relationships and statuses of a parcel are likely more useful for sorting/filtering than the actual coordinates of the parcel.

Alternatively, if the goal is to allow partners to print and use the da

[2017-01-25 06:26] wonderchook commented on #861
I think the location makes sense. Perhaps @bethschechter can suggest the text.

[2017-01-25 06:41] wonderchook commented on #1072
Ah so this is very similar to the eventual "wizard" I was suggesting. I don't think we'll do anything about it until we have a few things in place.

Most of our partners won't necessarily know the answers to this. The idea was to have a multiple step process to walk them through it.

[2017-01-25 09:47] dpalomino commented on #861
I think it is looking great @clash99! Thanks!

Just as a side note, the default language to use in forms is:
- Currently specified via the XLSForm file (default_language column in the settings tab)
- It will be specified in the future via the Project Creation Wizard

[2017-01-25 15:02] dpalomino commented on #1072
Maybe we can integrate some of this in the Project Creation Wizard with:
- First, some preliminary advices for creating the project structure and survey forms (with links to the more visual pdf guide/worksheet, and a complete guide for creating a project)
- Then some help text with the different sections in Project Creation Wizard

[2017-01-26 01:06] clash99 opened #1078 "Platform user communication - define touchpoints and strategy"
This is a starting point for a larger discussion.  I've been collecting mostly email messages that have been sent to me from various trial subscriptions I've registered for while doing research.  Its interesting to see how some are leveraging certain user actions on their sites to trigger email messaging to the user.  Although I know we aren't trying to actively solicit, I think we are missing a l

[2017-01-26 01:12] clash99 commented on #1050
CSS changes have been integrated in @seav's search PR.  I'm closing this task and will open a bug if anything additional needs adjusting.

[2017-01-26 01:12] #1050 closed

[2017-01-26 01:14] clash99 commented on #1055
Mockup can be found in #861.

[2017-01-26 06:03] amplifi commented on #700
File upload processing to include security scanning as implemented under #490 -- progress will be tracked via that issue.

[2017-01-26 06:03] #700 closed

[2017-01-26 06:04] amplifi commented on #80
File upload processing to include security scanning as implemented under #490 -- progress will be tracked via that issue.

[2017-01-26 06:05] amplifi commented on #490
Decision record PR open for this architecture: https://github.com/Cadasta/decision-records/pull/7

[2017-01-26 06:06] amplifi commented on #1068
Google Analytics to be implemented in patch deployment.

[2017-01-26 09:53] seav commented on #910
@oliverroick suggested appending another view on the platform to act as the mock ES server, a bit similar to the solution used for the mock S3 endpoint for the resources uploading feature in django-buckets. I will be investigating this in order for us to be able to provide some (mock) results to test with on the UI side while running the platform on the dev VM.

My initial concern with this sugges

[2017-01-26 16:43] clash99 opened #1080 "Search phase 1 adjustments"
Making a few adjustments to search -

1)  Moving last updated to right of form

2)  Making sure "no results" doesn't show during loading gif

[2017-01-26 18:25] clash99 commented on #1080
Changes made to search branch.  Closing this task.

[2017-01-26 18:25] #1080 closed

[2017-01-27 12:06] dpalomino commented on #1001
Hi. Trying to resume the discussion around this issue, as we've been talking in other meeting. With the imminent deployment of the search feature this issue is now more important, because when a user click on a party/relationship result (for instance, when querying with national id or mobile numbers), there is no way to access to the locations that are linked to that party.

@clash99, @oliverroick

[2017-01-27 12:19] seav commented on #1001
I think we can have the party detail page copy the format of the location detail page in having three tabs: Overview, Relationships, and Resources. The Relationships list would also link to the connected location in the same way that the Relationships list of the location detail page also links to the connected party.

[2017-01-27 14:08] clash99 commented on #1001
@seav - I like that idea.  That would parallel the location flow perfectly.  I can create a quick mock this afternoon.

[2017-01-27 14:39] dpalomino commented on #1001
That's great. Thanks @clash99, @seav!

[2017-01-28 00:05] clash99 commented on #954
Wireframes are available: https://drive.google.com/open?id=0BzpiEtMtHC3rTzREZkY4b3dYSUU

[2017-01-30 22:42] clash99 commented on #1001
**Party Detail - Overview tab**
![2 2 list with party detail - overview tab](https://cloud.githubusercontent.com/assets/1119621/22444701/b5de76c6-e709-11e6-9420-f86f5b509807.png)

**Party Detail - Relationships tab**
![2 2 list with party - relationships tab](https://cloud.githubusercontent.com/assets/1119621/22444976/efdb6040-e70a-11e6-9c09-8c7c30a49aed.png)

**Party Detail - Resources tab**
![2

[2017-01-31 11:14] dpalomino commented on #1001
Thanks a lot @clash99. Looks very good to me!

[2017-01-31 14:38] oliverroick commented on #861
I have come closer to a solution for this. There are still a few things that need to be addressed and others where I have no idea what we can do about it.

For reference, the current state is in branch `feature/language-dropdown`.

## Things I need to address

- Standard fields for entities (the party name and type for instance) do not change the language either. This is because these fields are n

[2017-01-31 15:07] dpalomino commented on #861
Thanks a lot @oliverroick!

That's enough I think. All fields should contain defined labels for all languages.

We are using [iso-639-1 codes](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes), I don't know whether a table with [supported languages](https://github.com/django/django/tree/master/django/conf/locale) could be hardcoded somewhere? If not at least we can provide the iso-639-1 codes

[2017-01-31 16:30] linzjax commented on #1031
## Additional Tasks
- [ ] upgrade the main dashboard to be compatible with leaflet 1.0

[2017-02-01 02:06] bethschechter commented on #861
How about:

Select the language you'd like to use on the platform. (Don't worry - you can always change it back!)

For something more formal, how about:

By selecting a language here, you'll change the language used by the platform.

[2017-02-01 04:22] clash99 commented on #861
@oliverroick - Added CSS for new translation dropdown and also reworked project and organization page-header to prevent overlapping.  I've checked the changes into your branch.  Tomorrow I just need to do a final QA in BrowserStack.

![screenshot 2017-01-31 14 32 04](https://cloud.githubusercontent.com/assets/1119621/22495175/992e03d4-e803-11e6-8cee-b257a337b33d.png)
![screenshot 2017-01-31 14 32

[2017-02-01 04:24] clash99 commented on #861
@bethschechter - So this dropdown actually just changes the language in the project form fields if that language is not available in the platform.  The platform language is still controlled by the dropdown in the footer.  Maybe @dpalomino is a good contact for more info if that doesn't make sense.

[2017-02-01 06:26] SteadyCadence opened #1084 "Change cluster tolerance (increase the threshold that clusters require to bring in points)"
I think this is the cartographer coming out in me, it is quite difficult to view the distribution of data when there are so many clusters.

The easiest, most straightforward recommendation would be to increase the clustering tolerance so that more markers appear without clusters when you zoom in.

[2017-02-01 10:53] dpalomino commented on #861
For the text, how about something like: "Select the language in which you want to see your project data"?

[2017-02-01 12:06] dpalomino opened #1085 "Highlighting search results"
Linked to #825 for records search epic. Complete requirements are included in the [wiki](https://devwiki.corp.cadasta.org/Search%20and%20Filtering).

When running a search query in a project, the matched terms in the results list should be highlighted (see [wireframes](https://drive.google.com/file/d/0BzpiEtMtHC3rVFlVelgzNHBxaUk/view) for details).

Also copying here a thought from @seav to be dis

[2017-02-01 12:42] dpalomino commented on #611
Link to requirements [here](https://devwiki.corp.cadasta.org/Custom%20Entity%20Types).

[2017-02-01 14:11] clash99 opened #1086 "Develop Quick Launch list of testing devices on BrowserStack"
BrowserStack lets you develop a list of devices/browsers in your Quick Launch dock.  It would be helpful to develop a minimum list that we know we want to test based on what our partners are using.  Here are some screenshots for ideas:

**What we want to develop (those listed are here by default):**
![screenshot 2017-02-01 08 05 24](https://cloud.githubusercontent.com/assets/1119621/22509948/bf8e4

[2017-02-01 17:04] dpalomino commented on #1045
We will revisit this when implementing the password strength validation.

[2017-02-01 17:06] dpalomino commented on #1021
Not a real issue, just caused by the zoom level used.

[2017-02-01 17:06] #1021 closed

[2017-02-01 17:09] dpalomino commented on #718
Related to #1031. It will be in theory solved when upgrading django-leaflet (to be checked).

[2017-02-01 17:11] dpalomino commented on #299
It is related with #1031, and upgrading django leaflet. To be re-tested.

[2017-02-01 17:19] dpalomino opened #1087 "Show password option"
Related to #735 and #967, we should implement an option to toggle the view of the password input when registering.

Backlogid 36.03.

[2017-02-01 17:37] oliverroick opened #1088 "List with archived items doesn't filter"
### Steps to reproduce the error

1. Go the a list view (organizations, projects or organization projects). Make sure that list contains at least one item that is archived.
2. Try to filter the list using the search tool on the top of the table.

### Actual behavior

Nothing happens.

### Expected behavior

The list should be filtered according to the term entered into the search tool.

[2017-02-01 17:49] wonderchook commented on #861
Isn't it the actual input though? Maybe something about "Select language of input fields?" okay that sounds terrible, but something like that with then a link to a longer explanation in the documentation that leads people to how to become a translator?

[2017-02-01 18:02] wonderchook commented on #1086
@MappingKat @dpalomino I think this is something for the two of you to work out.

[2017-02-01 18:45] bethschechter commented on #861
@clash99 @dpalomino so this is specifically for data? And does it only show languages that are available in the xlsform? Yeah, I'd love a little more information.

[2017-02-01 18:57] bethschechter commented on #861
Ok I have clarification from @dpalomino. So how about:

Use this dropdown to select a language from your questionnaire.
_Want to see more languages on the Cadasta platform? [Learn about translating it here.](https://docs.cadasta.org/en/10-translation.html)_.

[2017-02-01 22:10] seav commented on #1088
OK. After investigating this, I discovered that the `innerHTML` extension [on this line](https://github.com/Cadasta/cadasta-platform/pull/658/commits/f98bb58a122cd2a07dde021945d35706d1e60435#diff-8c5cd5b0b486f8cb5f5f52c56abff4a2R20) is obliterating the existing event handlers on the search input form rendering it inactive (the input field is being recreated). So I will be submitting a PR shortly t

[2017-02-01 23:49] SteadyCadence opened #1090 "Minor Import Annoyance :: "Location_type" wants to map to "party_type""
### Steps to reproduce the error

Click Import and go through Step 2 of the import process.

### Actual behavior

"Location Type" matches with "party_type".

### Expected behavior

I expect "Location Type" to map to "location_type".

Github doesnt let me upload CSVs so let me know if you need a file reference.
![screen shot 2017-02-01 at 4 22 01 pm](https://cloud.githubusercontent.com/assets/25337

[2017-02-02 00:00] SteadyCadence commented on #1078
My end goal is to send out emails for onboarding users. The users in Cadasta come to us with different experiences on the platform (demo vs survey created vs stumbled upon).

This first email would require some logic (whether they have received a training or not).

For example, if they have recieved training and have the survey ready-to-go:

[code]

[2017-02-02 00:13] wonderchook commented on #1078
We should keep in mind that though lots of our users either are having data imported or are using mobile phones that they could also do paper data collection. I don't think we want people to make an account and then think "oh I can't use Cadasta I don't have an Android".

Also have we tested KoboToolbox with the platform? If not we shouldn't be recommending it.

[2017-02-02 08:32] oliverroick commented on #861
@bethschechter This dropdown only changes the labels of the form fields to collect data, i.e. when you create or edit locations, relationships and parties. The input into the fields itself is not translated. It also does not affect anything else on the platform.

We need this dropdown because the languages available for the platform and the languages defined in an XLSForm can be different, e.g. an

[2017-02-02 14:14] clash99 commented on #861
I believe the help can be added via inlinemanual.  I just need to make sure we can hide it when the dropdown doesn't appear.  I'll look into that today.

[2017-02-02 15:24] clash99 commented on #861
Looks like we can add the "?" and tooltip text via inlinemanual so we can do this outside the platform code.

[2017-02-03 00:01] SteadyCadence opened #1092 "Minor responsive issue :: Change order of divs (contact vs projects) on org pages"
Super minor issue... Just something that's been bothering me...

Go to an org page on a mobile phone and observe contact info first before project list.

![screenshot_20170202-165425](https://cloud.githubusercontent.com/assets/25337622/22573995/3add9ae4-e969-11e6-85f3-81038e40b359.png)

![screenshot_20170202-165431](https://cloud.githubusercontent.com/assets/25337622/22574000/407fdd5e-e969-11e6-99

[2017-02-03 11:05] seav commented on #768
While the party list page is now linked from the sidebar, the add party page is still unused. Adding this page should also be done as part of resolving #973.

[2017-02-03 11:06] seav commented on #973
I've reopened related issue #768.

[2017-02-03 13:11] dpalomino commented on #861
Hi @oliverroick

You are right, Karen is iso-639-2 (reference [here](http://www-01.sil.org/iso639-3/documentation.asp?id=kar)). But as it is not supported by django (issue #1009) probably we cannot include it yet until we fix #1009.

I was saying that maybe we can include the django [supported languages](https://github.com/django/django/tree/master/django/conf/locale), 78 I think, with the corresp

[2017-02-03 14:11] clash99 commented on #768
@seav  - Is this adding parties in context to a relationship or a location?  Or just adding parties to a project?

[2017-02-03 15:21] clash99 commented on #564
@fhpichel, @wonderchook , @dpalomino - I did a quick review of the layout in Arabic and the heart of rtl is there, just a little tweaking required on some of the layout.  I would need to do a little research on what is appropriate/expected and then make the necessary adjustments in the rtl.css that bootstrap provides.  I would estimate a day or two to make the changes and QA.

Some screenshots of

[2017-02-03 17:34] oliverroick commented on #861
I have managed to translate the standard fields; the only thing that is left before I open a PR is providing labels for the language dropdown.

I am, however, not at all happy with the result and I am going to suggest that we are not releasing this feature as it is currently implemented.

As always with anything remotely related to questionnaires, the solution is a patch-work of workarounds that a

[2017-02-03 18:28] wonderchook commented on #861
@dpalomino do you know if most users set their language on their computers?

Would it be better when people go to add data if the first time during that session we ask them something along the lines of. "The questions for your data entry are in a language not available in the software interface. Would you like to use a different language for this part?"

[2017-02-03 20:21] dpalomino commented on #861
Hi @wonderchook @oliverroick

Yes, most of users are using their own languages. And yes, if we could ask them this question would be more clear I think. We can also of course include this in the documentation and training materials as well.

Clearly the UI is far from ideal... but the main issue is the partners being able to see their questions and drop-down options in their own labels, and we can

[2017-02-03 20:27] wonderchook commented on #861
@oliverroick does the drop down only appear when there is more than one language? Was thinking maybe this doesn't effect that many users.

[2017-02-03 22:37] clash99 commented on #861
@wonderchook - I'm not sure of the % of users affected, but the dropdown appears when there is a language in the project form that doesn't appear in the platform, and the user also has to have a platform language selected that doesn't appear in the form.  For example in this screencast, you don't see the dropdown with English selected, but once you select French (which isn't available in the proje

[2017-02-06 12:16] bjohare opened #1096 "Update standard cadasta questionnaire in repo"
The standard cadasta questionnaire in the repo is out of date and should be updated to reflect the current standard questionnaire at https://s3-us-west-2.amazonaws.com/cadasta-resources/sample-forms/standard_cadasta_questionnaire.xlsx

[2017-02-06 14:46] dpalomino opened #1097 "Implement pagination for search results"
Linked to #825 for records search epic. Complete requirements are included in the wiki.

We need to implement pagination for search results. Right now results list is limited to 10 results.

It could be related to #830 (downloading of search results).

[2017-02-07 09:52] #1088 closed

[2017-02-07 11:16] dpalomino commented on #826
Hi @seav. I guess we could close this issue. Please reopen if needed.

[2017-02-07 11:17] dpalomino commented on #829
@seav I guess we are ok to close this issue. Please reopen if needed. Thanks!

[2017-02-07 11:17] #829 closed

[2017-02-07 12:14] #761 closed

[2017-02-07 14:17] bjohare opened #1098 "Add support for additional geometry types to download process"
### The issue

WKT support for CSV imports introduced the ability to import more geometry types than can be created manually using the UI.  Shapefile downloads from projects containing these additional geometry types currently fail. See https://opbeat.com/cadasta/platform-staging/errors/81/

### Expected behavior

Project downloads should support the full range of geometry types:

`POINT`, `LINEST

[2017-02-07 15:18] bjohare commented on #1045
Guessing this is the same issue?
![pw_validation](https://cloud.githubusercontent.com/assets/3308136/22697156/8aa7dbd8-ed48-11e6-9aff-8a895a6d9e84.png)

[2017-02-07 15:25] dpalomino commented on #1086
Hi! @clash99 @SteadyCadence!

[Here](https://docs.google.com/spreadsheets/d/1By0pBuxkDqb_sx4FVdezr569AULWE_tgJSzhqmGunAU/edit#gid=1696845659) there is the data I was collecting last November regarding browswer marketshare per region to see which browsers and versions we should be testing (this was focused only in desktop browsers).

I was including a "Compatibility" table where I started to do som

[2017-02-07 15:58] amplifi commented on #490
Pending decision record review and approval. Task breakdown scheduled for next week.

[2017-02-09 00:27] #935 closed

[2017-02-09 00:27] #813 closed

[2017-02-09 11:50] oliverroick commented on #1057
@linzjax I think we can close this?!

[2017-02-09 11:51] oliverroick commented on #1055
Closing this

[2017-02-09 11:51] #1055 closed

[2017-02-09 11:52] #936 closed

[2017-02-09 14:02] linzjax commented on #1057
Sure!! Clean up abounds, but the spirit of this PR is completed

[2017-02-09 14:02] #1057 closed

[2017-02-09 15:08] linzjax opened #1102 "Registering with an email that is no longer associated with an account throws an error"
# Outreachy/GSoC candidates: A PR for this issue has been approved and is waiting to be merged.

### Steps to reproduce the error
- Create a user profile (i.e. example@example.com)
- Edit profile and change email address (i.e. example_email@example.com)
- Register a second user using first password (example@example.com)

### Actual behavior
- Happy little platform error:
[code]

### Expected behav

[2017-02-09 15:27] linzjax opened #1104 "API: unauthorizated users can edit organization"
### Steps to reproduce the error
__Anonymous User__
- Create an organization (name: 'Westeros')
- Run `http PUT https://platform-staging.cadasta.org/api/v1/organizations/westeros/ name='Westeros (The Capital)'`

OR

__Non-org member__
- Create an organization (name: 'Westeros')
- Run `http PUT https://platform-staging.cadasta.org/api/v1/organizations/westeros/ name='Westeros (The Capital)' AUTHORI

[2017-02-09 15:32] wonderchook opened #1105 "Usernames should be case insensitive when checked in password"
1. Register
2. Create username in this example: bobby
3. Add password "bobby1234!" cannot save user because username is in password
4. Try "Bobby1234!" user is saved

We should be case insensitive when checking for usernames in passwords.

[2017-02-09 16:14] wonderchook opened #1106 "Changing user from admin should leave you on the Member Permissions Page"
Currently if you change a user from an Administrator to an Organization Member after confirming the change it takes the user to the Organization Members List Page. I would expect the user to be left on the individual member page so the user has the opportunity to assign the individual permission by project to the "downgraded" user.

[2017-02-09 16:28] linzjax commented on #1042
This also appears in the project view:

[code]

But it also doesn't display _all_ users in the project. The organization admin is missing from the list.

[2017-02-09 16:32] linzjax commented on #1104
They can also edit projects:
Originally named `Westeros Voyage`

`http PUT https://platform-staging.cadasta.org/api/v1/organizations/westeros/projects/westeros-scouting/ name='Westeros Scouting'`

response:
[code]

[2017-02-09 17:36] wonderchook opened #1107 "Possible to Create Duplicate Resource Entries"
### Steps to reproduce the error
1. Click "Add Resource"
2. Select "Upload New"
3. Click "Choose File"
4. Select file for upload
5. Name the Resource
6. Click Save quickly a few times

### Actual behavior

The result is multiple resources. They all point to the same file on S3, but there are duplicate database entries.

### Expected behavior

I would have expected to only be able to submit the res

[2017-02-09 17:52] bjohare opened #1108 "Placeholders for missing values when adding or editing parties"
### Steps to reproduce the error

Add a new party which has non-required attributes defined in the project schema (using standard questionnaire for example). When the party is saved with missing values there are no placeholders shown on the party detail page. In particular the value `None` is shown for `date` fields.

![party_detail](https://cloud.githubusercontent.com/assets/3308136/22795883/2dda

[2017-02-09 20:34] wonderchook commented on #910
@seav has there been discussion about this?

[2017-02-09 20:40] clash99 opened #1110 "Search text & css changes"
Shorten update text and adjust spacing to left of image in list to match left table padding.
<img width="1158" alt="screenshot 2017-02-09 14 35 14" src="https://cloud.githubusercontent.com/assets/1119621/22802221/96cf4cc8-eed5-11e6-9938-44f26b15cc82.png">
<img width="1145" alt="screenshot 2017-02-09 14 35 24" src="https://cloud.githubusercontent.com/assets/1119621/22802220/96cc3f92-eed5-11e6-93f5-

[2017-02-09 20:44] wonderchook commented on #1110
Shorten update text to "Search was last updated on...."?

[2017-02-09 20:56] dpalomino opened #1111 "Search: being able to search by texts within labels"
### Steps to reproduce the error

This is a known issue, but I think we hadn't an issue for this yet.

1. Open a project a text based query with a text contained in a label from a select_one or select_multiple field (for instance, "Building")

### Actual behavior

No results are matched.

### Expected behavior

Queries should consider values in labels.

@seav, do you think this is something we can

[2017-02-09 21:09] clash99 commented on #1110
Simplified text on search:

- From "Search index was lasted updated on" to "Last updated on"
- From "We’re sorry, it seems the search index is currently not available" to "We’re sorry, search is currently not available"
- Add margin to left of resource thumbnail to align with other search result details

[2017-02-09 21:34] wonderchook opened #1113 "Importing these Files Exceptions Is Not Caught"
I believe the attached files should work, though at least getting a specific error instead of the generic platform error would be preferred.

[import-2-questionnaire.zip](https://github.com/Cadasta/cadasta-platform/files/765045/import-2-questionnaire.zip)

[2017-02-09 21:42] linzjax opened #1114 "API: Can created an organization with no users"
# Outreachy/GSoC candidates: A PR for this issue has been approved and is waiting to be merged.

### Steps to reproduce the error
- `http POST https://platform-staging.cadasta.org/api/v1/organizations/ name='API Created Organization [Anonymous]'`

### Actual behavior
- Creates an organization with no users or owner.

### Expected behavior
- Should require an actual user.

[2017-02-09 21:46] clash99 opened #1115 "Project wrapper buttons disappear on search page"
### Steps to reproduce the error

On search results page, green button to right of project name disappear.

Before on overview:
<img width="1228" alt="screenshot 2017-02-09 15 43 22" src="https://cloud.githubusercontent.com/assets/1119621/22804462/cb96ea98-eede-11e6-9f6e-81d7be9f1b47.png">

After on search:
<img width="1229" alt="screenshot 2017-02-09 15 44 20" src="https://cloud.githubusercontent

[2017-02-09 23:48] seav commented on #1111
@dpalomino: These type labels (location type like "Building", party type like "Individual", tenure relationship type like "Leasehold") are also translated when the platform language is changed. How should this affect search? Also how about `select_one` or `select_multiple` fields for custom attributes, which may also have translated labels as well. See the screenshot below for an example.

![scree

[2017-02-10 00:12] seav commented on #1096
I think fixing this also fixes #1052?

[2017-02-10 01:55] seav commented on #1053
This seems to be a duplicate, or at least highly related, to #776?

[2017-02-10 02:01] seav commented on #724
Related to #724.

[2017-02-10 07:19] manoramahp opened #1117 "Select multiple resources to delete"
### Details

I suggest this as an improvement.
It would be very useful if there's a ways to select multiple resources from Project's Resources page if someone needs to delete multiple resources.

[2017-02-10 07:48] amplifi opened #1118 "Search only matches on exact strings"
### Steps to reproduce the error

Open any project, search for any partial term. Example: Project "Chocolate Factory" contains a party named David.

### Actual behavior

Search returns zero results if there is no match for the exact string entered. Example: Searching "Chocolate Factory" for davi returns zero results.

### Expected behavior

According to the requirements in #826, an exact string ma

[2017-02-10 08:31] oliverroick commented on #1110
Can this be closed; the PR is merged?

[2017-02-10 08:35] amplifi opened #1119 "Search doesn't match on multiple terms/operators"
### Steps to reproduce the error

Search any project for a multi-term/operator query as outlined in the text-based search requirements in #826: `"Pamela female "New York" or boston will search all records containing a text field matching with "Pamela", another text field matching with "female", and another text field matching with either "New York". Or just the records containing the word "Boston"

[2017-02-10 08:40] amplifi commented on #826
This needs to be re-opened; functionality as outlined in the issue is not complete.

[2017-02-10 08:43] #1104 closed

[2017-02-10 09:52] dpalomino commented on #1113
ummh... true. I think it is because of the geometry field:
"POLYGON EMPTY"

That I guess is not supported.

Platform error:
"IndexError at /organizations/david-org/projects/imports20170210/import/
tuple index out of range"

Full log here: https://cadasta.slack.com/files/slackbot/F43L1AN67/import

@bjohare, can you please take a look?

[2017-02-10 09:52] bjohare commented on #1113
Geometry exceptions should be handled better in the ODK geom parser. The file imports correctly if valid WKT geoms are provided.

[2017-02-10 10:00] dpalomino commented on #1096
Hey @seav. #1052 is already fixed (it was updated in the S3 bucket where the online documentation links to. I just maintained this open to update a couple of screenshots and texts in the online doc.

[2017-02-10 10:10] dpalomino commented on #1117
Thanks @manoramahp!

[2017-02-10 10:37] bjohare commented on #1113
Ok, so looking at this more closely, it seems that 'POLYGON EMPTY' is valid WKT. The import code tries to parse the incoming geom as WKT and throws an exception if there's a problem. Because this is a valid geometry, no exception is thrown. The geometry gets passed to the `SpatialUnit` model for saving to the DB. However, we run a `pre_save` check on the geom to reassign the coordinates if they fa

[2017-02-10 10:37] dpalomino commented on #1110
Yep, it seems it is:

![screen shot 2017-02-10 at 11 35 30](https://cloud.githubusercontent.com/assets/17198051/22823722/1aa207fc-ef85-11e6-8c84-2c3bf3c5b7f2.png)

[2017-02-10 10:47] bjohare commented on #1096
I submitted a PR for this yesterday but made a mess of it so I closed it. I'll fix this as part of a PR for #1098

[2017-02-10 10:48] dpalomino commented on #1118
Thanks @amplifi for raising this and for all the explanations :)

@seav (see discussion #search channel) Do you think we could change this in Sprint 14?

[2017-02-10 12:34] dpalomino commented on #1111
Thanks @seav. Yes, maybe the mandatory fields that labels are hardcoded (party_type, location_type, tenure_type etc) were not the best examples, sorry.

1. Let's consider first the labels for any other (not mandatory, not hardcoded in the platform) select_one or select_multiple fields.
    - For instance, let's say gender in English and Spanish (Female/Mujer; Male/Hombre), and two parties, Pamela

[2017-02-10 12:54] dpalomino commented on #1119
Thanks @amplifi.

So I think this issue is related to not supporting labels in the queries (#1111). Attaching the questionnaire used for that project as a reference.

In the example, "Amtali upazila" is a label.

So:
1. Querying: atabari male david
* 1 result: relationship attached to party David

2. Querying: PA inheritance generations
* 1 result: Location Parcel

3. Quering: atabari david inheri

[2017-02-10 13:07] seav commented on #1111
@dpalomino: what about the following:

[2017-02-10 13:11] dpalomino commented on #1111
Oups, sorry I missed that one. I think searching for "agua" should include all Water Rights relationships yes (and the same with the other labels). Forcing users to remember the exact phrase used in the label would be hard for them.

Thks!

[2017-02-10 13:46] amplifi commented on #1119
@dpalomino Would you mind sharing the questionnaire in #search instead? Let's avoid publishing partner-specific questionnaires to the public. Thanks!

[2017-02-10 13:50] amplifi commented on #1119
@dpalomino In the example I gave, "Amtali upazila" isn't a label. It's the value stored in the party "David" for the label "SELECT UPAZILLA"

[2017-02-10 14:33] dpalomino commented on #1119
That is strange... in the xlsform I see:

upazilla	| amtali	| আমতলী উপজেলা	| Amtali upazila
upazilla	| jamalpur_sadar	| জামালপুর সদর উপজেলা	| Jamalpur sadar upazila
upazilla	| mohanpur	| মোহনপুর উপজেলা	| Mohanpur upazila

And if we change "Amtali upazila" and use instead "amtali" then is working fine...

[2017-02-13 08:12] oliverroick opened #1121 "Superuser's roles are not displayed correctly"
### Steps to reproduce the error

- In the dev VM navigate to http://localhost:8000/organizations/cadasta/members/iross/

### Actual behavior

- According to the page, _iross_ has no permissions on any of the orgs projects despite being a superuser. The permissions itself are set correctly, meaning the user can manage the org and all projects as an admin.

### Expected behavior

- _iross_ is a pla

[2017-02-13 15:09] bjohare opened #1123 "SMAP: Upgrade the main dashboard to be compatible with Leaflet 1.0"
Part of  Map Single Page App (https://github.com/Cadasta/cadasta-platform/issues/1031)

### Task

Upgrade the main dashboard maps to Leaflet 1.0

[2017-02-13 15:11] bjohare opened #1124 "SMAP: Implement replacement for LeafletWidget"
Part of Map Single Page App (https://github.com/Cadasta/cadasta-platform/issues/1031)

### Task

We need to keep our dependency on `django-leaflet` for the project creation wizard. For SMAP `django-leaflet` appears to break vector tiles so we need to implement location creation and editing for SMAP separately. This issue is intended to capture that work.

[2017-02-13 15:12] bjohare opened #1125 "SMAP: Address conflicts with L.Deflate/L.MarkerCluster and Leaflet 1.0"
Part of Map Single Page App Epic (https://github.com/Cadasta/cadasta-platform/issues/1031)

### Task

Address conflicts with L.Deflate/L.MarkerCluster and Leaflet 1.0

[2017-02-13 15:31] linzjax commented on #1060
## Follow-up Tasks
- [ ] Update Search to work with hash changing.

[2017-02-14 16:05] oliverroick commented on #1001
I got the basic functionality ready for this in branch `enhancement/party-detail-page`. I'm waiting for #1120 to be merged so I can add translated labels to the party relationships too.

The wireframes show "Add relationship" buttons. I think, we need to come up with a workflow for this if we want to implement this. When you create a relationship for a location the location is already selected. Th

[2017-02-14 17:07] clash99 commented on #1001
@oliverroick I don't see the "Add relationship" button.  Are you referring to the "Add resource" button under relationships tab?

[2017-02-14 17:19] oliverroick commented on #1001
Ah right. I confused that.

[2017-02-15 17:12] dpalomino commented on #1110
Already fixed, closing the issue.

[2017-02-15 17:12] #1110 closed

[2017-02-15 18:06] SteadyCadence opened #1127 "Mobile Experience :: Disable Touch Zoom On Map When Editing"
### Steps to reproduce the error

With your mobile phone, "Add location" on a project.  Choose a polygon, rectangle or marker from the controls on the left of the map.

![](https://files.slack.com/files-pri/T0CLFLH1V-F46JDAF0W/screenshot_20170215-101821.png)

#Behavior
When you try to place a place a point on the map, the map zooms in and out instead of allows you to add a point (related to anothe

[2017-02-15 21:29] SteadyCadence opened #1128 "Remove "back" link on organization and project wrapper"
Head to a project index page.  Click on the "back" icon near the title of the project.

![back-nav](https://cloud.githubusercontent.com/assets/25337622/22996171/126affe4-f38b-11e6-95f0-e68ff191044f.gif)

Currently, that takes you to the full Project list of all projects on Cadasta (/projects/).

It should be taking you back to the Organization index page.

Specific Instructions to make the change

[2017-02-16 01:35] shailysangwan commented on #1105
Can you please assign me to this issue?
I have a pending PR which if merged, will cause a merge conflict if I start working on this now.

[2017-02-16 01:40] wonderchook commented on #1105
More than one person is free to try to solve an issue at time. Whether a pull request is accepted will not be the only basis of determining the success of your outreachy application.

[2017-02-16 02:23] clash99 commented on #1128
This icon to the left of the project name was intended to take you to the project index.  Similarly, this icon returns you to the organization index on an organization page.

I'm curious as to why you think it should take you back to the  organization index.  Is it because you are coming from the organization page?

[2017-02-16 02:26] wonderchook commented on #1128
So one issue I think is how we manage the project list. Since it takes the user back to all the public projects and ones they have access to maybe that is why it is confusing.

[2017-02-16 02:33] clash99 commented on #1128
I'm wondering if its better to remove this link it if its confusing.  To have it direct users back to the organization page seems odd to me since not all users will access this page from there and the organization name is already linked to that page.  Its purpose wasn't to act as the browser back button.

It seems the need to redo the projects index to have a "my projects" and "other projects" are

[2017-02-16 02:35] wonderchook commented on #1128
I think it makes more sense to redo the project index. It seems to me that shouldn't be a tremendous amount of work and will generally make the user experience better.

[2017-02-16 02:44] clash99 commented on #1128
Initial thoughts:

- Add number of project locations (parties, resource too?) to index, visible to all registered users
- Add a filter at the top: My projects (default), All projects

I'm sure there is more but that's a start of the list that I think would be easy to implement.

[2017-02-16 03:42] clash99 commented on #1128
Would we be able to include the user's role for each project?  Or since permissions are going to get more granular, does that not make sense?

[2017-02-16 06:27] seav opened #1131 "django-leaflet does not work nicely with the additional geometry types"
This is related to #1098. Multipoint, multilinestring, and multipolygon geometry types do not all work perfectly with django-leaflet. Four of the issues that I have encountered are:

1. Multipolygon geometries are not represented as polygons with holes on the map even though Leaflet itself does support this. (See first screenshot below.)
2. When displaying all locations (such as in the project ove

[2017-02-16 08:40] seav commented on #910
@wonderchook, I have submitted PR #1132 to resolve this. I provided there some background material and that can form the basis for further discussions. But generally, I followed Oliver's suggestions.

[2017-02-16 10:02] dpalomino commented on #1128
Yes, that would be useful I think.

I think locations it'd be enough?

Sounds good :)

Maybe we could do something similar for orgs, with "My organizations" and "Other organizations", and maybe including the number of projects (for "My organizations") and the number of public projects (for "Other organizations")?

Thanks @clash99!

[2017-02-16 14:15] clash99 commented on #1128
@dpalomino - what do you think about the permissions piece?  perhaps that is better included in the "user dashboard" or "project dashboard"?

[2017-02-16 14:39] #961 closed

[2017-02-16 14:53] clash99 commented on #1128
I'm changing the task name based on the discussion here.

[2017-02-16 14:54] dpalomino commented on #1128
I think we could include them in both:
- Project dashboard: listing all org users with their role in the project
- User dashboard: listing all projects and the user's role in them

What do you think?

[2017-02-16 14:55] #1115 closed

[2017-02-16 15:13] #1096 closed

[2017-02-16 15:13] #1098 closed

[2017-02-16 15:28] dpalomino opened #1135 "Resources: Support more MIME types"
Updating the whole list of file types to be supported:

Just drafting a list here for discussion:

Audio:
- .mp3 (supported)
- .m4a (supported, but not listed)
- .mpa
- .ogg
- .wav
- .wma

Spreadsheet like:
- .csv (supported)
- .xlsx (supported but not listed)
- .xls
- .ods

Documents:
- .docx (supported)
- .doc (supported)
- .odt
- .rtf
- .txt

Presentation:
- .ppt
- .pptx
- .key
- .odp

Images:

[2017-02-16 15:35] amplifi commented on #1135
The more file types we allow for upload, the more potential vulnerabilities and attack vectors. I would exclude .zip for sure. We should continue to operating on a whitelist basis.

[2017-02-16 16:35] dpalomino commented on #1135
Ah, ok, I can draft a list for this in addition to the Open Office formats and maybe we can review... Thanks!

[2017-02-16 16:44] amplifi opened #1136 "Staging on demand"
Create internal developer UI for generation of staging environments on demand, such that:

- launch will spin up an isolated staging environment
- with choice of GitHub branch for deployment
- with choice of database (blank, staging, demo) for backend
- branches should pass all tests in Travis to be permitted to deploy to staging
- environments not torn down via the UI will expire after a duration

[2017-02-16 16:47] oliverroick commented on #1128
I think, this discussion here got a bit side-tracked from the original issue.

The original problem was that user used a button that they interpreted as a "back" button (as in "take me back to where I came from") and they ended up somewhere other than they expected. Changing the functionality on project page won't solve this original issue. It doesn't matter to a user what functionality they find

[2017-02-16 17:52] clash99 commented on #1128
@oliverroick - Agree we should remove the button.  I'm going to complete a quick example to include here for the work that needs to be done.  Should be able to do that by EOD.

[2017-02-16 17:52] SteadyCadence commented on #1128
After using the platform pretty extensively, the navigation flow is a wee bit of a struggle.  I end up having to edit the URLs to get to the pages that I need.

  I think the back button should remain (and maybe we remove the org link that is tied into the org name above the project name).

OR we could add some sort of breadcrumb navigation...

[2017-02-16 18:00] SteadyCadence commented on #1128
Just to clarify: A common flow that I find myself using is to go into a project and then want to go back to the org page of that project so that I can edit member permissions/add members/add a new project, etc.  I find it quite common to be on a project page wanting to use the capabilities of that org's page.

[2017-02-16 18:06] clash99 commented on #1128
The organization name is linked and will return you to the organization page.  We could make the text a bit larger.  Would that be helpful?

When creating the navigation, we decided that most users would be spending the majority of their time within one project.  I don't want to discount your use case by any means but I think you may be a bit different from our typical user, although ideally our n

[2017-02-16 18:28] wonderchook opened #1137 "Improve Project and Organization Indexes"
Right now the project index and the organization indexes show all projects the user has access to and all the orgs. Instead I think we should default to showing the ones the user is a member of and have a way for them to switch over to "all". I think this would help with the comment we get sometimes that the platform is cluttered, since by default users wouldn't see all the projects.

(We might wa

[2017-02-16 18:29] wonderchook commented on #1128
@oliverroick I like your suggestion.

I also made a new ticket for the indexes so we can keep that flagged #1137

[2017-02-16 18:46] wonderchook commented on #1136
This sounds great! How will we determine when it gets shutdown? Just worried about the AWS bill if we have a ton of these up at a time (we still should do this).

[2017-02-16 18:47] wonderchook commented on #1135
Are there reasons that people can't just convert to PDF? I think supporting some Open Office formats is fine, but I'm wondering what they plan to do with the files once they upload them.

[2017-02-16 18:48] wonderchook commented on #1131
You read my mind, I was wondering about this yesterday during the dev team meeting. @dpalomino do you know if many partners have this type of data?

[2017-02-16 18:57] wonderchook commented on #1136
Oops I see you did answer my question. We'll have to determine what is a good number for that. What about setting a duration when it is launched?

[2017-02-16 19:12] clash99 commented on #1128
Do these changes seem agreeable?

![project-indexchanges](https://cloud.githubusercontent.com/assets/1119621/23036680/5c168820-f449-11e6-8931-42c09a082056.png)

@SteadyCadence - we should schedule some time to go over the navigation issues you are having so I can better understand.

[2017-02-16 19:52] SteadyCadence commented on #1128
Surely. I'll just use the org name to go back then. Removing the back
button is a fine solution.

I think my ultimate issues are that all navigation seem to end at the
global project and organization lists. Having personal dashboards would
likely fix most of my nav issues.

Also the ability to add members to a project workout having to go back to
the org page to add them to the org would help.

On

[2017-02-17 00:15] amplifi commented on #1136
@wonderchook I was thinking of using containers rather than a new EC2 instance per user, so we could run multiple isolated staging envs per instance (or possibly all envs in one instance), then when the last container on an instance is shut down, it stops the instance (we only pay the cost of volume storage for a stopped instance). We could also potentially replace the dev VM with a local containe

[2017-02-17 00:18] amplifi commented on #1136
@wonderchook I like the idea of setting a duration when you launch! I could implement choice from a given range, like 30 mins to 48 hours, with a default value of 2 hours or something.

[2017-02-17 08:19] amplifi opened #1138 "Add last_updated for all tables"
Currently, the platform only records `last_updated` datestamps for organizations and projects. By adding a `last_updated` datestamp column to all platform tables, we will be able to:

- leverage the availability of this data for more efficient indexing
- offer the capability to search/filter project data by date added
- add user dashboard features like displaying events since last login
- provide

[2017-02-17 10:49] dpalomino commented on #1128
I LOVE those new designs @clash99 ! I think usability is much better.

@SteadyCadence, yeah the user dashboards will solve many of these issues (backlog id 44.00) and potentially will include other things like bookmarks, link to reports, history log, etc. But this is a good intermediate solution. I also usually end up manually editing the url, but I think we're not the typical users (for instance,

[2017-02-17 11:21] dpalomino commented on #1135
I think it's just because it is the format that they usually use (in the case of this particular partner). If there is a partner with many documents/resources that wants to upload to the platform, convert all of them to pdf could be time consuming for them. For those that there would not be a security thread I think we could include them...

Just drafting a list here for discussion:

Audio:
- .mp3

[2017-02-17 11:21] amplifi opened #1139 "Update password reset email text"
Our password reset email template reads:
[code]

For security purposes, we should advise users to immediately report password reset emails they didn't request; these are not safe to ignore. We should also avoid sending the username in the same email as the password reset, as this gives anyone with the email the ability to access the user account with no additional information required. Ideally, ou

[2017-02-17 11:25] dpalomino commented on #1131
Hi @wonderchook, @seav. Nope, I think it is not very frequent (at least I've not seen them). Medium priority?

[2017-02-17 11:39] amplifi opened #1140 "Change of email process security updates"
### Steps to reproduce the error

Go to Edit Profile and change the email address on a user account

### Actual behavior

The user is not prompted to verify their password to confirm identity before submitting change of email address.

A confirmation email is sent to the new email address, which includes the account username.

The new email address is applied to the account upon form submission (b

[2017-02-17 13:03] clash99 commented on #1128
@dpalomino and @SteadyCadence - oh man, hearing you are editing the url alarming.  I definitely would like to take a peek into what you are doing so we can work to find a better solution.

I think it makes sense to change this task to only removing back link and enlarging organization text link.  I will move the index changes and added filter to #1137.

[2017-02-17 13:09] clash99 commented on #1128
Updated task:
- Remove back/return to index link on organization wrapper and project wrapper.
- Increased font size of organization link on project wrapper by 2 pixels.

![wrapper change](https://cloud.githubusercontent.com/assets/1119621/23066396/0c9b1396-f4e0-11e6-86ff-5d1046016b01.png)

[2017-02-17 13:11] clash99 commented on #1137
Here is a mock for index page changes.  Please review and let me know if you would like to change anything.  Does the sentence-like filtering work?  Any other suggestions?

![project index](https://cloud.githubusercontent.com/assets/1119621/23066445/38a4565a-f4e0-11e6-85a8-fded4cfb46f8.png)

[2017-02-17 13:14] clash99 commented on #1137
More ideas:
- List the permissions role.  We could either do that with an additional filter (view my organizations where I am a "data collector"...) or with an additional column.
- Add time stamp for last updated in organization table

[2017-02-17 17:51] wonderchook commented on #1137
I'm wondering if it would be easier for users to realize they could look at all the projects if the options were tabs instead? Maybe users almost never want to look at all the projects anyway and it doesn't matter.

[2017-02-18 07:39] Shruti9520 commented on #451
@IvanSanchez There is no "remove contact" button on "add a new project page". Instead, there is a "cross mark" for removing contacts. Do I need to add a new button for removing contacts and then add icon to it?

[2017-02-18 14:53] IvanSanchez commented on #451
If I remember correctly, the "cross mark" does not look like a button. My suggestion is to *replace* the "cross mark" with a button with a "remove person" icon, and make the UI for the "add contact" functionality look the same, for consistency.

[2017-02-19 06:49] manoramahp opened #1143 "Search textbox spans over so the map moves to right (Chrome)"
### Steps to reproduce the error

Open a project in Chrome browser

### Actual behavior

Search textbox spans over the entire width so that the map moves to the right side.
![image](https://cloud.githubusercontent.com/assets/10743861/23100091/6e715968-f69d-11e6-9022-b0f51c25e501.png)

### Expected behavior

Search textbox should behave as a layer on top of map when click on left tab Search button

[2017-02-20 04:40] SteadyCadence commented on #1143
I ran into this issue as well.  You need to clear your *cache*/browser history and it should fix that.  I think only the Cadasta team run into that issue ;) .

At least I hope none of the current users are running into this...

[2017-02-20 18:29] yoshi2095 commented on #1092
Hi @wonderchook,
I have fixed this bug and made a pull request : https://github.com/Cadasta/cadasta-platform/pull/1145. Please review. Thanks

[2017-02-21 09:52] sunnypalace commented on #1087
Hi, I would like to take this up issue. I will implement it and will post a demo screenshot before submitting the PR soon.
Thanks.

[2017-02-21 10:57] dpalomino commented on #1143
Hi @manoramahp, can you please check if the issue is fixed when clearing the cache? Thanks!

[2017-02-21 11:04] dpalomino opened #1147 "Search: Clear textbox"
We currently have not implemented yet the "Clear textbox" that should be on the right side of the search box (see wireframes [here](https://drive.google.com/file/d/0BzpiEtMtHC3rVFlVelgzNHBxaUk/view)), page 5. Of course not a high priority but it'd be nice to include this to improve usability.

Screenshot:
![screen shot 2017-02-21 at 11 59 13](https://cloud.githubusercontent.com/assets/17198051/231

[2017-02-21 11:05] manoramahp commented on #1143
This is no longer there after clearing the cache. Therefore closing the issue.

[2017-02-21 11:05] #1143 closed

[2017-02-21 11:26] dpalomino commented on #1119
Hey @amplifi. Do you think the issue was due to label text being used in the query instead of the select_one choice name? Can we close this issue if so? Thanks!

[2017-02-21 11:30] dpalomino opened #1148 "Search: clicking on search panel should go to the top of the page?"
This is a really low prio issue, just in case it could improve usability.

Steps to reproduce:
1. Execute a search query resulting in many results
2. Going to the end of the query list (where the pagination is)
3. Click on search icon on the left panel.

Current behaviour:

Nothing happens

Expected behaviour:

I think if the user would be redirected to the top of the page (where the search box is

[2017-02-21 13:50] clash99 commented on #1148
@dpalomino sounds good - perhaps this would be first-contribution friendly?

[2017-02-21 14:19] dpalomino commented on #1148
Great idea. Adding label :-)

[2017-02-21 19:39] Shruti9520 commented on #451
@IvanSanchez Thanks :)
Also, the version of bootstrap doesn't support "<span class="glyphicons glyphicons-user-add"></span>"
Should I add image to the button?

[2017-02-21 20:45] SteadyCadence opened #1150 "(This is a work in progress... ) Cartography Considerations :: List of Items for Discussion and Improving (WIP)"
I am compiling a list here and then will break each item out into separate issues once it is determined it is worth working on.

- [ ] Change Color of Polygons :: blue for polygons is not recommended unless it is a water body-- as blue is the universal color of water.  I also think it would be good to get a color that works well with the OSM/vector maps as well as sticks out on the satellite image

[2017-02-21 21:29] clash99 commented on #451
Hi @Shruti9520 and @IvanSanchez -

Thank you for your suggestions.  We've decided to close this github task.  One of the main reasons is that our parties icon is very similar as the contact icon used by bootstrap.  We are in the process of reviewing our platform terminology and this could result in the renaming and updating of the parties icon but until then, it would be confusing to use the same

[2017-02-21 21:30] #451 closed

[2017-02-22 03:52] valaparthvi commented on #1034
@wonderchook I think the tab key issue has been fixed, and Right drop down menu does get focused.

However, one thing that I found a bit annoying was, when you go through the dropdown menu contents, you cannot really see the content that is highlighted because the background colour is very light. It would be easy on the eye if the background colour was a bit darker.
![screenshot from 2017-02-22 09

[2017-02-22 04:25] manoramahp commented on #1034
@valaparthvi Initially it didn't get focus. But now it has been fixed and gets focus on tab key press.

[2017-02-22 04:39] Shruti9520 commented on #451
@clash99 It's fine :) . I have learned many new things while working on this. :)

[2017-02-22 05:13] wonderchook commented on #1034
@valaparthvi we have specific branding and a look that is being aimed at with the current design. @clash99 is responsible for that sort of thing. I would suggest waiting on her opinion rather than working on that.

[2017-02-22 05:35] manoramahp commented on #1034
Since the issue mentioned in the title has already been fixed, closing the issue.

[2017-02-22 05:35] #1034 closed

[2017-02-22 05:44] wonderchook commented on #1150
@SteadyCadence some of these things already have related tickets (large data loads and map performance for one). @linzjax's work turning the map into a single page application I believe will change some of the interactions as well.

I don't read any of these as feature requests, but if you do have those as well they belong in the backlog that @dpalomino keeps.

[2017-02-22 06:11] valaparthvi commented on #1034
@wonderchook  I understand the importance of a specific branding and look aimed by an organisation. @clash99  Do you think this suggested enhancement is required?

[2017-02-22 12:22] Shruti9520 commented on #1087
PR- #1151

[2017-02-23 15:09] amplifi commented on #1068
Google Analytics is implemented across all environments, configured for anonymizing users.

[2017-02-23 15:09] #1068 closed

[2017-02-24 00:31] wonderchook commented on #1135
@amplifi are there any of these formats above that are scarier than others?

[2017-02-24 05:17] SteadyCadence commented on #1150
Hey @linzjax, do you want to talk about some of these items next week and then I can close this issue?

[2017-02-24 07:32] amplifi opened #1155 "Hardcoded S3 paths"
Hardcoded S3 bucket paths appear across multiple files: https://github.com/Cadasta/cadasta-platform/search?utf8=%E2%9C%93&q=platformprod&type=Code

This results in all environments (staging, demo, and production) hitting the production S3 bucket, which violates our isolation requirements. It also exposes the bucket names.

We should remove hardcoded references to bucket names/paths and change buck

[2017-02-24 07:36] wonderchook commented on #1150
@SteadyCadence, perhaps I was not clear. The reason some of the team is meeting in SF next week is to review the map interactions, so I don't think it is necessary for you and @linzjax to discuss separately at this time. In due time we will be asking for feedback.

[2017-02-24 08:48] #1150 closed

[2017-02-24 10:09] amplifi commented on #1135
@wonderchook The list above should be ok, in the context of secure implementation:

1. validating file name before upload
2. validating file contents and size before upload
3. setting appropriate maximum file size limit(s)
4. upload processing async/decoupled from the platform
5. scanning of all uploads for malicious content

1, 2, & 3 will need to be handled on the platform side. 4 & 5 we have in

[2017-02-24 10:52] amplifi opened #1157 "Input fields should be sanitized to exclude code"
**TEST IN LOCAL DEVELOPMENT VMs ONLY**

**Do NOT test this bug on any of the live servers**

### Steps to reproduce the error

Create an organization, project, party, resource, etc. Set the name to be a snippet of code (html, js, sql, Excel macro, whatever you like).

### Actual behavior

Value is accepted and stored in the database. Code can then be retrieved from database (example: can be export

[2017-02-24 10:55] dpalomino commented on #230
Not currently relevant, closing issue. Please reopen if needed.

[2017-02-24 10:55] #230 closed

[2017-02-24 10:57] dpalomino commented on #242
We think this is already implemented... please reopen if needed.

[2017-02-24 10:57] #242 closed

[2017-02-24 10:58] dpalomino commented on #245
Not currently relevant, closing issue. Please reopen if needed.

[2017-02-24 10:58] dpalomino commented on #245
Sorry, closed by mistake. Reopening it...

[2017-02-24 10:58] dpalomino commented on #269
Not currently relevant, closing issue. Please reopen if needed.

[2017-02-24 10:58] #269 closed

[2017-02-24 10:59] dpalomino commented on #274
Not currently relevant, closing issue. Please reopen if needed.

[2017-02-24 10:59] #274 closed

[2017-02-24 11:02] dpalomino commented on #296
It seems we are not going to implement this any time in the short-medium term, so closing it for now...

[2017-02-24 11:02] #296 closed

[2017-02-24 11:02] dpalomino commented on #333
Very low prio issue, closing for now. Please reopen if needed.

[2017-02-24 11:02] #333 closed

[2017-02-24 11:04] dpalomino commented on #432
This should be fixed with @jnordling fix. Needs some testing.

[2017-02-24 11:07] dpalomino commented on #555
We have already disabled this possibility. Issue can be closed.

[2017-02-24 11:07] #555 closed

[2017-02-24 11:09] dpalomino commented on #561
Hi @clash99. Do you think this has been already completed? Can we close this issue or do we keep it open? Tks!

[2017-02-24 11:10] dpalomino commented on #566
So main things related with imports were already implemented, so closing this issue.

[2017-02-24 11:10] #566 closed

[2017-02-24 11:13] dpalomino commented on #572
We think it is not currently relevant, please reopen otherwise.

[2017-02-24 11:13] #572 closed

[2017-02-24 11:15] dpalomino commented on #575
I think we can close this one as anonymous user experience was already being improved. @clash99 do you think we can close it? Ta!

[2017-02-24 11:17] dpalomino commented on #581
Really low prio issue. Closing for now, please reopen if needed.

[2017-02-24 11:17] #581 closed

[2017-02-24 11:21] dpalomino commented on #640
Low priority issue and no relevant with the project creation wizard feature being planned. Closing the issue.

[2017-02-24 11:21] #640 closed

[2017-02-24 11:27] dpalomino commented on #768
We think this is no longer relevant with the map interactions work that is ongoing. Please reopen if needed.

[2017-02-24 11:27] #768 closed

[2017-02-24 11:36] dpalomino commented on #957
This will be implemented during Phase 2 project creation wizard, so closing for now. Reopen if needed.

[2017-02-24 11:36] #957 closed

[2017-02-24 11:37] dpalomino commented on #971
Not relevant now, closing it.

[2017-02-24 11:37] #971 closed

[2017-02-24 11:45] dpalomino commented on #967
Hi @clash99. As a suggestion, as we've already the password validation criteria (issue #735), maybe it'd not be easier to have a all/none password strength indicator (green ok, red not ok) maybe? (thanks btw to @oliverroick for the idea!).

[2017-02-24 11:56] dpalomino commented on #1135
Thanks @amplifi. In terms of file size, which limit do you recommend?

[2017-02-24 12:05] amplifi commented on #967
Can we implement one of the existing open source Django password strength meter widgets/plugins? There are several versions available, and should be a simple setup.

[2017-02-24 12:33] amplifi commented on #1135
@dpalomino This will depend on users' needs and available bandwidth. Even if we use S3's multipart upload and configure a browser upload policy to restrict file size, some of the files on the list can be quite large -- especially if users aren't familiar with working in these formats or optimizing for the web. The vast majority of existing resource files are under 5MB, with a few at 10-15MB, then

[2017-02-24 12:43] Sanny26 commented on #1090
Can I get a file reference to reproduce that form?

[2017-02-24 12:51] jinankjain commented on #1148
@dpalomino I was looking at bug status. Right now I don't find any search button. Do you want to create a search button and link to search at the top.

![screen shot 2017-02-24 at 1 50 22 pm](https://cloud.githubusercontent.com/assets/3854904/23304117/5e8757b0-fa98-11e6-9e0b-26373f1439c0.png)

[2017-02-24 14:22] dpalomino commented on #1135
Thanks @amplifi! Can we customize this per file type? For most formats I think 10/15MB would be enough, but I can imagine audio and specially video files being larger than that...

[2017-02-24 14:28] amplifi commented on #1135
@dpalomino No, the S3 policy doesn't support dynamic file size limitations. While we could implement a custom dynamic file size limit on the django-buckets side, we really should have the limits match consistently throughout the process flow.

[2017-02-24 15:09] clash99 commented on #967
Sounds like a good plan to use something already available.  I see some also include show password options.  Any recommended ones @amplifi?  I can look around next week to see which might work best.

[2017-02-24 15:13] clash99 commented on #575
Agree @dpalomino.  We've done some work on this by improving the redirected login.  The future enhancements on the project overview and request access task will do the rest.

[2017-02-24 15:13] #575 closed

[2017-02-24 17:40] SteadyCadence opened #1159 "Importer :: Ability to import WKB formatted coordinates"
WKB format is typically used when converting files to CSV in QGIS.  Therefore, it would be great to be able to import that format into Cadasta.

[2017-02-24 17:47] dpalomino commented on #1159
Thanks @SteadyCadence!

In backlog: backlogid 4.11

[2017-02-24 17:56] SteadyCadence commented on #1090
Hi @Sanny26,

Here is a test form:

[UrbanInfrastructure.xlsx](https://github.com/Cadasta/cadasta-platform/files/800081/UrbanInfrastructure.xlsx)

... and dummy csv for you to use. (GH doesn't allow me to upload csvs, so you will have to convert it from a txt file)
[urban-infrastructure-v2.txt](https://github.com/Cadasta/cadasta-platform/files/800092/urban-infrastructure-v2.txt)

Let me know if yo

[2017-02-24 18:19] SteadyCadence opened #1160 "Export :: Error when export "All Data" on project with around 100 locations"
### Steps to reproduce the error

1. Head to https://demo.cadasta.org/organizations/cadasta-demo-organization/projects/urban-infrastructure-demo/download/
2. Click "All data" option
3. Get taken to an error page

### Actual behavior

It looks like this is the error that pops up in the logs:
```IndexError at /organizations/cadasta-demo-organization/projects/urban-infrastructure-demo/download/ tuple

[2017-02-26 14:21] manoramahp opened #1162 "Attach resources : doc, docx files are not allowed"
### Steps to reproduce the error

Go to project resources page
Click Attach -> Upload new
Browse a .doc file / .docx file

### Actual behavior

Below error message is shown
File type not allowed.

### Expected behavior

doc, docx files should be allowed. (According to the "Accepted file types")

[2017-02-26 20:13] seav commented on #1162
Hi @manoramahp. I can't replicate this bug. Can you inform us what browser you are using and what OS?

[2017-02-27 03:56] manoramahp commented on #1162
@seav I'm using Chrome browser on Ubuntu 16.04

[2017-02-27 13:13] seav commented on #1162
I still can't reproduce this on the demo site. I encountered this error before too but in that case, the error was caused by a local setting in my browser/OS and it was not a problem with the Cadasta website. I think in your case, your Chrome or OS settings is not providing the correct MIME type for .doc or .docx files.

Can you go to [this page](http://codepen.io/anon/pen/BWNJxL?editors=1111), ac

[2017-02-27 13:28] #1045 closed

[2017-02-27 21:08] mehulsr commented on #922
Hi, I am interested in taking up [Browser Based Data Collection Tool #14](https://github.com/Cadasta/cadasta-project-ideas/issues/14) for Outreachy. Please assign me this issue. @seav @oliverroick

[2017-02-27 21:59] wonderchook commented on #922
@mehulsr just fix it, for the sake of applying to Outreachy it is okay if we get more than one pull request.

[2017-02-28 00:09] dpalomino opened #1164 "Include a "Demo" label to make users more clear that they are in demo site"
Currently there is no way for the users to distinguish whether they are in demo or in platform site. We should include a "Demo" notice in demo.cadasta.org site to make this more clear.

@clash99 was already working on a proposal (thanks!).

[2017-02-28 00:39] dpalomino commented on #1160
I think it is a duplicate of #1098, which is already fixed but still not deployed to production.

[2017-02-28 00:39] #1160 closed

[2017-02-28 04:13] laura-barluzzi commented on #1107
Hi @wonderchook , I'd like to fix this bug as part of the Outreachy project. I'm thinking to add just a bit of Javascript to disable the attach button after you click it. Does that sound like a reasonable approach?

[2017-02-28 05:27] wonderchook commented on #1107
@laura-barluzzi yes exactly, to make it not possible to click the button a bunch of extra times.

[2017-02-28 05:49] Sarthak30 commented on #1148
Hi,
I am new here. As a beginner, I would love to solve this bug. Please, guide me how to get started with project setup.

[2017-02-28 08:26] manoramahp commented on #1162
@seav
This is what I can see in the console "application/wps-office.docx". This issue might be because I'm using wps writer.

[2017-02-28 08:38] seav commented on #1162
I see. So this is an OS issue. The Cadasta website checks for the MIME type of a file before it is accepted for uploading. In your case, the OS is providing a non-standard MIME type for your document. Let's leave this issue open for now and we in Cadasta will discuss if this is something we need to address, maybe in an FAQ. It's quite possible that other users may encounter a similar confusing err

[2017-02-28 08:39] manoramahp commented on #1162
Thanks for looking into this @seav !

[2017-02-28 08:44] oliverroick commented on #1148
@jinankjain This is referring to the button in the left-hand side menu:

![screen shot 2017-02-28 at 09 43 31](https://cloud.githubusercontent.com/assets/159510/23397841/6f7c43c8-fd9a-11e6-940f-f00309d5c1b6.png)

[2017-02-28 08:44] oliverroick commented on #1148
@Sarthak30 Please have a look at the repository's README, it contains instructions how to set up the development environment

[2017-02-28 14:48] wonderchook commented on #1164
@dpalomino @clash99 what if instead we make it possible to label each system? Eventually I see us having versions running on org's own networks, we should probably have a way to tell users that too.

[2017-02-28 14:55] dvlshah commented on #1148
@oliverroick Do we have to add search button that remains on left hand side when user scroll down project lists and when user clicks it ,it should redirect it to top search bar?

[2017-02-28 15:58] #861 closed

[2017-02-28 16:13] dvlshah commented on #1147
Can you help me find search template in code so that I can add functionality to it?

[2017-02-28 16:24] dpalomino commented on #1162
Thanks @manoramahp, @seav. Is this something we can fix adding some filetypes as discussed in issue #1135?

[2017-02-28 19:04] dvlshah commented on #1140
I have solved "The confirmation email sent to the new email address should not include the username for security purposes." part of problem.
I am not able to understand how to solve the second issue that user's email address should not be updated until verification.Can someone please me guide how to approach this.?

[2017-02-28 19:30] dpalomino opened #1165 "Search add location icon not working with Internet Explorer"
### Steps to reproduce the error

1. Open Internet Explorer
2. Go to a project and start adding a new location
3. Use the search icon included in the drawing tools when adding the location
![screen shot 2017-02-28 at 11 09 40](https://cloud.githubusercontent.com/assets/17198051/23436798/ac6e7e42-fdc0-11e6-9ce2-2ec16e33c270.png)

4. Search icon is unresponsive

Tested with Windows 10 and IE 11 (lat

[2017-02-28 20:14] laura-barluzzi commented on #1127
Hi @dpalomino and @wonderchook, I'm interested in trying out to fix this bug. Could be possible to direct me to the source code of the mobile view at the "Add location" stage? Thanks.

[2017-03-01 02:50] seav commented on #1162
@dpalomino: This is not related to the ODF file formats issue.

[2017-03-01 02:57] seav commented on #1165
Maybe this will help? http://stackoverflow.com/questions/28591039/geolocation-getcurrentposition-always-fails-in-ie-11

[2017-03-01 07:40] #1056 closed

[2017-03-01 11:16] oliverroick commented on #1127
I'm not sure if we should fix this issue at the moment. We are currently working on a complete rewrite of the maps area; it's probably better to have this sorted once the new implementation is ready.

[2017-03-01 11:27] oliverroick commented on #1140
Changing the email address and sending the verification email happens [here](https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/accounts/forms.py#L67-L108) for the website and [here](https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/accounts/views/api.py#L17-L34) for the API.

[2017-03-01 11:30] oliverroick commented on #1147
There's a directory called `templates`.

[2017-03-01 11:35] oliverroick commented on #1148
@dvlshah This applies only to the search in a project. I.e. when you click search (see the screenshot above), you enter a term, you are being redirected to the page with all results, you scroll down and when you click the search button again you will stay on that page but the page jumps back to the top where you can enter a new search.

[2017-03-01 11:45] amplifi commented on #1157
In case it's not obvious, **do not test this bug in staging, demo, or production**. Doing so will results in executable code being stored in those environments' databases.

Test to verify this bug in **local development envs only**. Solution will be tested in isolated staging env when ready.

[2017-03-01 12:26] oliverroick commented on #1106
@clash99 Would it make sense to always stay on the members page after updating the roles. The current solution in the PR only stays on the page when the user was downgraded from org admin to org member and redirects to the org members list in all other cases. I think the behaviour should be consistent; what do you think?

[2017-03-01 18:13] mehulsr commented on #922
@wonderchook Okay

[2017-03-02 00:37] amplifi commented on #863
Done; follow up task to switch external static assets to internal hosting, so Inline Manual, js, etc will fall under these controls.

[2017-03-02 00:37] #863 closed

[2017-03-02 04:38] dvlshah commented on #1140
I have changed code for following behavior.Can I make a pull request? Also it passed all tests in "runtests.py" in vagrant directory.

- The confirmation email sent to the new email address does not include the username as mentioned for security purposes.

- A separate notification email is sent to the old address. If the event of unauthorized changes occurs, this will alert the user to the change

[2017-03-02 05:38] maitreyaverma commented on #1148
I have added a pull request that fixes this issue. Looking forward for your feedback on it.

[2017-03-02 06:11] khantaalaman commented on #1157
I am working on this.

Thanks!

[2017-03-02 12:54] py-geek commented on #1102
I would like to work on this ticket.

[2017-03-02 15:49] aklife97 commented on #1139
Hi,
Can you please clarify how do you intend to

Should this be as another link provided in the mail?
If yes, what should happen if the user reports the reset email?

[2017-03-02 18:49] Sanny26 commented on #1090
Hi @SteadyCadence,
Thanks for providing the info I needed. After looking at the template for the form, default is chosen if it has 'type' as a substring. In this particular case, party_type is encountered at the end of the list, so party_type is mapped to that location type. Could you suggest me how I change the behavior?
 If 'location' is in headers is checked/searched for, instead of 'type', is

[2017-03-02 18:52] #1125 closed

[2017-03-02 18:52] #1123 closed

[2017-03-02 18:53] #1058 closed

[2017-03-02 21:29] wonderchook commented on #1102
@py-geek great! Go at it (looks like you already have)

[2017-03-03 01:55] py-geek commented on #1102
@wonderchook Yes, I have submitted a PR for review. Thanks.

[2017-03-03 06:59] #1009 closed

[2017-03-03 07:10] dvlshah opened #1183 "Password Reset Email Issue"
@oliverroick @wonderchook

### Steps to reproduce the error

1)First make two different accounts on cadasta platform
2) Sign in with 1st account
3)Go to edit profile and select option of reset password
4)Now enter email address of second account you created
5)It will accept all email addresses that are present in user database of cadasta platform (In our case second account).

### Actual behavior

[2017-03-03 07:16] amplifi commented on #1183
@dvlshah This is expected behavior, not a bug. The purpose of any password reset form is to reset an account's password when the user doesn't know the current password, thus it should accept any email address. Platform users, particularly project admins, have a need to initiate resets for other platform users.

Please refrain from tagging GitHub users in issues and PRs, unless responding directly

[2017-03-03 07:16] #1183 closed

[2017-03-03 07:19] dvlshah commented on #1183
@amplifi  Thanks for input.Sorry for inconvenience caused.

[2017-03-03 15:12] sahil865gupta opened #1187 "Page refreshes multiple times on clicking inline manual icon"
On clicking inline-manual icon at the top right, the page redirects to /dashboard and refreshes multiple times. I think it should have shown some walk-through.
![screenshot from 2017-03-03 20-29-34](https://cloud.githubusercontent.com/assets/16779465/23556215/d21a395e-0051-11e7-9cc8-bfe9b116db6a.png)

[2017-03-03 16:19] Yash17Agrawal commented on #922
@mehulsr  are you still working in it?

[2017-03-03 16:22] Yash17Agrawal commented on #1087
Please close this issue if completed . @dpalomino

[2017-03-03 18:06] Yashwanthv21 commented on #1114
Can you help me reproduce this bug, in local environment.

[2017-03-03 18:13] rinklejain opened #1188 "Enhancement: Add forgot password link to the change password page."
### Steps to reproduce the error

On the /account/password/change/ page there is no 'forgot password' link

### Actual behavior
On addition of the forgot password link, user experience shall be enhanced. Otherwise, the user will have to again go back to his/her account page and then to the reset password page to reset his/her password.

### Expected behavior
The user will have to again go to his/h

[2017-03-03 18:20] linzjax commented on #1114
Do you have your local environment set up? If so, pip install httpie, run the server, and then run the line of code listed in the issue.

[2017-03-03 19:26] mehulsr commented on #922
@Yash17Agrawal Hey Yash, yeah I am

[2017-03-03 19:43] SteadyCadence commented on #1090
@sanny26 sorry for the delay! Good question. I would recommend having the exact matches (with spaces stripped on the end and beg in case someone imports spaces in the headers). So 'location_type' matches to 'location_type' and 'party_type' matches to 'party_type'. The reason for that is because users may import multiple 'location' or 'party' fields and so for now exact matches are the best solutio

[2017-03-03 23:15] SteadyCadence opened #1190 "Enhancement :: Support for Signatures (sign on mobile, upload image on web)"
Updating the issue with the new agreed format:

### Problem Statement

Partners are planning to collect signatures from householders or witnesses for legal reasons or to verify that the data is correct. This signatures are just managed as images.

### Context / Use Case

A typical example of this is a data collection process targeting to apply to a titling of the household. A signature of the hous

[2017-03-04 04:14] Yashwanthv21 commented on #1155
Any ideas how to change this?

[2017-03-04 07:51] #1001 closed

[2017-03-04 14:46] dvlshah commented on #1188
As you are already in change password page what is the primary use of keeping a forgot password link there?Can you please elaborate?

[2017-03-04 14:52] dvlshah commented on #1108
I have a possible solution.Can you tell me where party details is written in code?

[2017-03-04 18:51] rjain111 commented on #1188
There is a possibility that user might not remember his password but he thinks that he remembers it. In all such situations, a forgot password link would be useful.

[2017-03-05 18:42] rjain111 commented on #1140
Hi @amplifi @oliverroick
I was going through this issue and I wanted to ask if it would be nice to create a separate view for changing email where the user would be asked to enter the current password and only after the password entered matches with the user's password, a confirmation mail will be sent to the new email.
If we follow the method as mentioned in the issue, we probably would have to c

[2017-03-06 03:04] yoshi2095 commented on #1002
I am working on this. Thanks.

[2017-03-06 05:17] Sanny26 commented on #1090
@SteadyCadence Can you look at this if- else block in the template https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/templates/organization/project_defaults_import.html#L35

So, are you suggesting me to remove the if-else block and just print 'location-type' and 'party_type' ?

[2017-03-06 06:44] SteadyCadence commented on #1090
Now that I think about it, that code was set up so that it supports the ability of a user to export out of a Cadasta project and then use that file to import into a new project.

The export may need to be adjusted before this annoyance can be solved because both the "location type" and "party type" are both labeled "type" in the export files.

For now, you can adjust the code so that the if statem

[2017-03-06 08:52] #1087 closed

[2017-03-06 10:39] jack17529 opened #1196 "Readme does not shows what this project does."
### Expected behavior

Should put precisely what this project does as the organisation is selected for GSOC 2017.

[2017-03-06 10:43] oliverroick commented on #1108
@dvlshah This issue is a bit more complex. We don't recommend this for first contribution because it required changes to `jsonattrs`, which we use to manage `jsonb` fields.

[2017-03-06 10:53] oliverroick commented on #1196
Hi @jack17529, would you care to elaborate what information you are missing?

[2017-03-06 11:10] oliverroick commented on #1139
@aklife97 Users should send an email to security (at) cadasta to let us know what happened

[2017-03-06 11:12] oliverroick commented on #1140
Hi @rjain111 thanks for your interest in fixing this issue. Fully addressing this issue requires some design work and planning upfront, which haven't completed yet. That's why we haven't tagged this issue for as first-contribution friendly.

[2017-03-06 12:26] #1128 closed

[2017-03-06 12:53] #1155 closed

[2017-03-06 14:02] Sanny26 commented on #1090
@SteadyCadence I opened  a PR. With the changes I made, it works as expected for urban-infrastructure-v2.txt. However, for UrbanInfrastructure.xlsx party_type and location_type are mapped to a random field since both the files have 'type' as field. I assume that this file could be an exported file.

[2017-03-06 14:08] yoshi2095 commented on #1002
Hi @dpalomino, I have fixed the bug. Please review. Thanks.  #1200

[2017-03-06 14:23] #80 closed

[2017-03-06 14:34] yoshi2095 commented on #1002
Hi @dpalomino, I have fixed this issue. Please review. Thanks. #1201

[2017-03-06 15:01] oliverroick commented on #1097
@seav This is done, isn't it?

[2017-03-06 15:05] #1073 closed

[2017-03-06 15:23] jack17529 commented on #1196
@oliverroick  it's good that we have docs but what will happen when I run the project , the final output should be mentioned in the readme.md and what is it's significance. Other projects have it ,as far as I have seen.

[2017-03-06 15:36] oliverroick commented on #1196
I'm not sure I understand. What do you mean when you say "the final output?" This project is a platform that you run on a server, there is a web interface and an API. "Running the project" will just start the web server (unless you run the tests). It's not like you run a commend in the shell, some input is processed and you get something back.

[2017-03-06 15:48] seav commented on #1097
Yup!

[2017-03-06 15:48] #1097 closed

[2017-03-06 15:49] jack17529 commented on #1196
@oliverroick sir,I only want to say that it should show in readme that it starts a server, and some features that it has okay.

[2017-03-06 15:50] SteadyCadence commented on #1196
@jack17529 Are you recommending an overall description of what the platform does (as supposed to what the setup in the Readme does)?

 If so, would a GIF of the platform and basic capabilities of the platform suffice?

[2017-03-06 15:51] SteadyCadence commented on #1196
@olivierroick I can tackle this one.

[2017-03-06 17:03] linzjax opened #1206 "SMAP: Redirecting to specific location tab"
### Current behavior
Every time the location detail router is called, it displays the overview tab, regardless of which tab you were initially on.

### Expected behavior
I should be able to specify which tab to redirect to. So if I, for example, detach, upload, or add a resource for a location, I would expect to stay on the resource tab, but am instead redirected to the overview tab. Same goes for

[2017-03-06 17:06] jack17529 commented on #1196
@SteadyCadence  ,yes sir that' it,and would be nice.

[2017-03-06 17:08] linzjax opened #1207 "SMAP: Router should handle permission errors"
### Steps to reproduce the error
Try doing anything with a user that doesn't have permission.

### Actual behavior
It dumps all of the HTML for a new page into the detail panel.

### Expected behavior
It should either show or hide the error message accordingly.

[2017-03-06 17:10] oliverroick opened #1208 "Assigning project roles intermittently throws PermissionSet.DoesNotExist"
### Steps to reproduce the error

This bug is difficult to reproduce. It happens sometimes when you try to assign new project roles to a user. On occasion `PermissionSet.DoesNotExist` is thrown. I have not yet been able to reproduce the pre-conditions under which the exception is thrown; this needs further investigation. Here's an example log from Opbeat: https://opbeat.com/cadasta/platform-demo/e

[2017-03-06 17:58] jack17529 commented on #1165
@dpalomino  assign me this.

[2017-03-06 17:59] wonderchook commented on #1165
@jack17529 during the application process for GSoC we don't assign issues to anyone. It is okay to have more than one pull request for the same issue, we will still consider it as part of your application.

[2017-03-06 18:05] jack17529 commented on #1139
@oliverroick assign this to me and send me the link to code.

[2017-03-06 18:25] oliverroick commented on #1139
@jack17529 during the application process for GSoC we don't assign issues to anyone. It is okay to have more than one pull request for the same issue, we will still consider it as part of your application.

[2017-03-06 19:23] yoshi2095 commented on #1137
@wonderchook @clash99 Can I work on this issue?

[2017-03-06 19:27] niharika1995 commented on #1121
@oliverroick

This happens because `iross` isn't an administrator of the organization `cadasta`.

[code]
Should `<Role: superuser>` within `iross.assigned_policies()` override the `admin` flag of the `OrganizationRole` object that was queried?

[2017-03-06 20:13] wonderchook commented on #1137
@yoshi2095 we aren't finished designing, so it isn't a good one to work on yet.

[2017-03-06 20:17] wonderchook commented on #1187
@bethschechter could you take a look?

[2017-03-06 21:16] bethschechter commented on #1187
@wonderchook I think this has to do with the conditionals we're trying to use. Unfortunately I don't think they work that well. My suggestion is to remove that questionmark.

[2017-03-06 21:23] bethschechter commented on #1187
@clash99 how did you make that questionmark up by the sign-in? I'm trying to find it under the Cadasta demo org and am not seeing it

[2017-03-06 22:02] SteadyCadence commented on #1187
It looks like it was successfully removed on `platform`, but not on `demo`.

[2017-03-06 22:14] wonderchook commented on #1190
So I think we just need to add signature as a question type and then it should work. Since signatures are just images as far as ODK is concerned it would upload it as a resource and then we'd be good to go.

Is there a project specifically interested in using signatures right now? Does this type of signature meet their requirements?

[2017-03-06 22:50] clash99 commented on #1187
**Platform:**  The question mark by sign in should never be on platform since it is only to help users sign in on demo to view demo user permissions.  This appears correctly.

**Demo:**  The question mark should now only show to users that are not registered.  The topic is "Sign In as a Guest User (19928, by cadasta)"  This appears correctly now.

There is another topic named the same but with ID

[2017-03-06 22:52] SteadyCadence commented on #1190
ACA Haiti has multiple signatures in their questionnaires.

I'll try to test signatures in GeoODK with a cadasta questionnaire.

I know that cadasta does not support the appearance column so that may cause issues.

I'll report back.

[2017-03-06 23:00] wonderchook commented on #1190
So at the moment it doesn't work because you cant upload your questionnaire with a signature type. It should be pretty easy to fix though. Though I'm not quite sure how well our GeoODK set-up handles a ton of images, so that might be worth testing prior to adding the signature

[2017-03-07 03:08] yoshi2095 commented on #1137
Okay @wonderchook, thanks.

[2017-03-07 07:01] niharika1995 commented on #1121
@oliverroick
The template context for this view contains `is_administrator=True` and `org_admin=False`. Do the two variable signify the same thing? Also, it also contains `current_user=False` even though the the user `iross` is viewing their own profile. Are these bugs or expected behaviour?

[2017-03-07 08:42] #1139 closed

[2017-03-07 10:45] oliverroick opened #1213 "Positioning of action buttons on Organization Overview is off"
# Outreachy/GSoC candidates: A PR for this issue has been approved and is waiting to be merged.

### Steps to reproduce the error

Go to the organization overview page of an organization where you have admin rights.

### Actual behavior

The action buttons are aligned to the top of the div.

![screen shot 2017-03-07 at 11 42 21](https://cloud.githubusercontent.com/assets/159510/23653051/686d62b0-0

[2017-03-07 11:55] Divya063 commented on #967
@clash99 @amplifi  I'm trying to use this django-password-strength package
This package contains an extention of the Django password widget including a password strength meter and crack time powered by zxcvbn,but getting trouble in implementing it

[2017-03-07 12:13] oliverroick opened #1216 "Focussing on password field does not show password criteria"
### Steps to reproduce the error

1. Register a new user
2. Click on password field

### Actual behavior

The password validation criteria are not displayed.

### Expected behavior

The password validation criteria are displayed.

[2017-03-07 12:19] oliverroick opened #1217 "Show password field breaks layout error message"
### Steps to reproduce the error

1. Go to the user registration form
2. Enter data; leave the field "Password " empty.
3. Submit the form

### Actual behavior

The error message is shown, but its layout is broken.

![screen shot 2017-03-07 at 13 17 59](https://cloud.githubusercontent.com/assets/159510/23656100/931eb51a-0338-11e7-8444-1e79dc5fa9a7.png)

### Expected behavior

The yellow background

[2017-03-07 14:16] amplifi opened #1220 "Error messages during organization creation are not cleared"
### Steps to reproduce the error

Attempt to create an organization with an empty name. It will show you the appropriate empty name error message. Then enter an organization name that already exists.

### Actual behavior

Both error messages appear simultaneously. (The same error occurs no matter which order you trigger them in succession.)

<img width="369" alt="screen shot 2017-03-07 at 9 05 42

[2017-03-07 14:21] amplifi opened #1221 "Datatables should not show row filter drop-down if <= 10 results"
### Steps to reproduce the error

View any table on the platform with less than 10 results. As an example, on the Organizations page, enter a search term that results in no matches.

### Actual behavior

The "Show 10/25/50/100" drop-down appears.

<img width="438" alt="screen shot 2017-03-07 at 9 18 09 pm" src="https://cloud.githubusercontent.com/assets/4269749/23660417/f54e9884-037b-11e7-99b9-89d

[2017-03-07 14:44] seav opened #1222 "Newly added locations don't appear on the map"
### Steps to reproduce the error
1. In a project on staging (v1.7.0-alpha.3 release), add a new location.
2. Go to the project's Overview tab.

### Actual behavior
The new location is missing from the map.

### Expected behavior
The new location should be visible on the map.

### Remarks
I have a feeling that this is caused by aggressive caching due to #1170. I am guessing that `application/json`

[2017-03-07 14:53] amplifi opened #1223 "Search pagination UI violates ES max limit"
### Steps to reproduce the error

Search a project for a term with more than 10,000 search results. Example: search the "Uttaran Import" project for the term "e*"

### Actual behavior

Platform returns 10,444 search results, violating the ES max limit of 10,000:

<img width="340" alt="screen shot 2017-03-07 at 9 40 09 pm" src="https://cloud.githubusercontent.com/assets/4269749/23661277/d7386e58-03

[2017-03-07 15:01] amplifi opened #1224 "Critical: Emojis should not be valid Org or Project names"
### Steps to reproduce the error

**DO NOT test this in any live environment (staging, demo, or production). Test in dev VM only!!**

**This bug breaks the platform and results in data corruption.**

Create a new org, project,  whatever and give it an emoji for a name. Click Save.

### Actual behavior

Emoji is saved as the entity's name, and the platform dies in a fire trying to display it.

###

[2017-03-07 15:03] oliverroick commented on #1222
I can't reproduce this where I am; tried to add four new locations, all of them were showing up on the map immediately.

[2017-03-07 15:04] bjohare commented on #1222
I can't reproduce this either.

[2017-03-07 15:24] seav commented on #1222
This is either a problem with my network (ISP), OS, or Firefox. Using Chromium, I am able to reproduce this bug but force-reloading the page shows the new location. With Firefox, force-reloading the page does not work; I need to clear the cache for it to work.

[2017-03-07 15:42] clash99 opened #1225 "Org header css adjustment - add buttons not aligned"
### Steps to reproduce the error

- Visit single org page on staging

### Actual behavior

- Not aligned in center

### Expected behavior

- Alignment similar to single project page

<img width="1421" alt="screenshot 2017-03-07 09 41 20" src="https://cloud.githubusercontent.com/assets/1119621/23664132/53438c54-031a-11e7-98ba-5133712df8ae.png">

[2017-03-07 15:42] clash99 commented on #1225
I'm going to keep this task for any small css things I might need to tend to during QA day.

[2017-03-07 16:13] seav opened #1226 "Sample questionnaires still contain the Project Extent location type"
### Steps to reproduce the error
1. In a new project (or one with no records yet), attach either the sample minimum or standard questionnaire.
2. Go to the add location page and draw a geometry for the new location.
3. Select "Project Extent" location type.
4. Submit.

### Actual behavior
You get the following error:

### Expected behavior
The "Project Extent" choice should not be included. See PR

[2017-03-07 16:26] clash99 opened #1227 "Logout doesn't appear to be working"
### Steps to reproduce the error

In firefox and chrome, logout link from right user menu is only working sporadically.

### Actual behavior

Logout link isn't logging me out.

### Expected behavior

Expect to be logged out and redirected to login page.

video:  https://screencast.com/t/uUX6camG85jw

[2017-03-07 16:28] yoshi2095 commented on #1220
I am working on this bug. Thanks.

[2017-03-07 16:29] clash99 commented on #1227
Seems to work once I've cleared my cache but wondering if others are having same issue.

[2017-03-07 16:32] bjohare commented on #1227
Can confirm this using Chromium 53.0.

[2017-03-07 16:37] amplifi commented on #1227
The logout issue just happened to me on a clean cache in Chrome 54.0.2840.98. Seems to occur from both https://platform-staging.cadasta.org/dashboard/ and https://platform-staging.cadasta.org/ entries.

[2017-03-07 16:48] clash99 opened #1229 "Delay between creating locations and viewing them on map or overview tab"
### Steps to reproduce the error

I've created a location in a project but can't view it on the overview tab or the map tab.

### Actual behavior

Project appears empty on both overview and map tab although the stats on the map tab says 1 location.

### Expected behavior

I would expect to see my location on the map where I can select it to view details.  If the project stats show the # of locatio

[2017-03-07 16:50] amplifi commented on #1229
Duplicate of #1222

[2017-03-07 16:50] #1229 closed

[2017-03-07 16:50] amplifi commented on #1222
Same happened for @clash99 in #1229 -- looks like more than a local issue.

[2017-03-07 16:52] clash99 commented on #1222
Clearing cache was only way for me to see new locations.

[2017-03-07 16:53] clash99 commented on #1229
thanks @amplifi - sorry i missed the duplicate!

[2017-03-07 17:02] clash99 opened #1230 "I can add a group with negative members"
### Steps to reproduce the error

- Add a party as a group.

### Actual behavior

- You can set "Number of Members" to a negative value.

### Expected behavior

- Seems like you should only be able to have a group with a positive value.

![screenshot 2017-03-07 11 02 06](https://cloud.githubusercontent.com/assets/1119621/23668073/858d4352-0325-11e7-9d10-2c940b511c5b.png)

[2017-03-07 17:04] amplifi commented on #1222
`application/json` was already being cached at the same setting as part of the default nginx config prior to this release -- that's why some people had to force refresh or clear their cache after deployments to get the latest js versions.

[2017-03-07 17:31] seav commented on #1222
I'm wondering if `application/json` should also be included here: https://github.com/Cadasta/cadasta-platform/blob/master/provision/roles/webserver/production/templates/nginx-production#L5-L11

[2017-03-07 17:35] amplifi commented on #1222
@seav No. Including `application/json` in that block will result in json being cached by the user's local browser. We don't want that. If this issue were due to caching settings, it would: be reproducible by all of us, reoccur on each subsequent attempt after clearing the cache, not occur with caching disabled, and not occur via the API URL. Those conditions don't hold here.

[2017-03-07 17:36] oliverroick commented on #967
Hi @Divya063, for this issue we need to do some additional design work to work out what kind of indicator we actually need/want. Unfortunately, we don't have much time at the moment to do the necessary preliminary work or provide support for this issue as this is currently not one of our higher priorities. We're sorry about that, we appreciate the work you have already put in.

[2017-03-07 17:36] bjohare opened #1231 "Integer values get converted to float for text fields when importing"
### Steps to reproduce the error

During data import, if a field in a questionnaire (for example the *standard cadasta questionnaire*) is defined as a text field (eg **nid_number**), if this field contains an integer value, then the field gets converted to a floating point value during the import.

![party](https://cloud.githubusercontent.com/assets/3308136/23669464/2b84fa08-035c-11e7-866b-4df0a98

[2017-03-07 17:39] clash99 commented on #1225
#1213 has fixed the org dashboard button issue.

[2017-03-07 17:39] #1225 closed

[2017-03-07 17:41] bjohare commented on #1231
Only seems to happen for xlsx imports.

[2017-03-07 17:46] seav commented on #1222
So the `default 24h` line is not applied when `$sent_http_content_type` = `application/json`?

[2017-03-07 17:50] amplifi commented on #1222
@seav No. `application/json` is not being cached under the current config.

[2017-03-07 18:12] jack17529 commented on #1139
@oliverroick  sorry sir ,I read it then forgot.

[2017-03-07 18:13] dpalomino opened #1232 "After creating an org, unable to add any members (demo site)"
### Steps to reproduce the error

This is reproducible in demo and not in staging, as far as I've seen. But it seems a serious issue so I think it's worth to take a look

1. Create a new org
2. Try to add a new member
3. A permission denied message is obtained when clicking on "members" panel

Then I logged out and in, and:
4. I was able to see the org members
5. When trying to add a new member cl

[2017-03-07 18:45] dpalomino commented on #1231
Thanks @bjohare. If only happens with xlsx imports is a bit less concerning, although I think we should fix it maybe during the next sprint...

[2017-03-07 18:49] dpalomino commented on #1230
Hi @clash99. This is because that field is defined as integer in that specific project (standard questionnaire), with no other restriction, so any integer (positive or negative) can be included. I think this not an issue... closing it, but please reopen if needed...

[2017-03-07 18:49] #1230 closed