[2017-05-01 19:21] wonderchook commented on #493
@seav I'm going to close this for the time being. We can consider this later.

[2017-05-01 19:21] #493 closed

[2017-05-01 19:24] wonderchook commented on #560
closing, believe covered in the overall map interaction improvements

[2017-05-01 19:24] #560 closed

[2017-05-01 19:26] wonderchook commented on #587
Closing since it appears to be a leaflet issue. Can review when SMAP is finished.

[2017-05-01 19:26] #587 closed

[2017-05-01 19:28] wonderchook commented on #663
closing we can review again after the SMAP

[2017-05-01 19:28] #663 closed

[2017-05-01 19:29] wonderchook commented on #692
@bjohare is this relevant?

[2017-05-01 20:56] SteadyCadence commented on #432
The AttributeType error is a big one that could be more specific. I find that occurs when required fields are not in the proper order (like party_type in the party group or a resource nor named properly). I can get more specific later today.

[2017-05-02 04:03] amplifi commented on #692
@wonderchook This will be implemented under #490

[2017-05-02 06:41] #1397 closed

[2017-05-02 14:26] oliverroick opened #1458 "[Search export] Can't unzip empty exports"
### Steps to reproduce the error

1. Search using term that does not return any resources.
2. Export the results; choose "Resources" format
3. Try to unzip the downloaded file

### Actual behavior

Unzipping the file results in another file called `<project-slug>.zip.cpgz`

### Expected behavior

There are several options to resolve this:

1. Provide an error message when you try to export an empt

[2017-05-02 17:10] clash99 opened #1459 "URL validation seems off"
### Steps to reproduce the error

When creating a new organization, enter an invalid url such as **as.df** in organization url field.

### Actual behavior

Seems to accept any string with a period in it (doesn't accept **asdf** but does accept **as.df**)

### Expected behavior

I would expect to get an error and that it wouldn't accept **as.df** as a url.

[2017-05-02 20:31] clash99 opened #1460 "Public user is able to view sidebar in a project"
### Steps to reproduce the error

Login as a public user of a project.  The user should not be able to view the left subnav of a project. (Original development part of ﻿#942)

### Actual behavior

I can view the project subnav.  It seems as though `is_project_member` is not working as expected.

### Expected behavior

Public user shouldn't be able to view the project subnav.

**ON STAGING, logged

[2017-05-02 21:00] clash99 commented on #1460
I can't recreate this locally.  When I'm logged in as a public user for a project, the subnav is hidden.  (You can see is_project_member flag behind the org name above project heading)

<img width="1436" alt="screenshot 2017-05-02 15 58 22" src="https://cloud.githubusercontent.com/assets/1119621/25639123/5a2720f0-2f50-11e7-9564-e58f580e74ef.png">

[2017-05-02 21:05] clash99 commented on #1460
I created a new org and a new project and added a new public user on staging and it seems to be correctly hiding the left subnav.

[2017-05-02 22:03] SteadyCadence opened #1461 "Questionnaire Validation Is Not Working for Required Fields"
### Steps to reproduce the error
1. Upload questionaire without any of the required fields
2. Questionnaire uploads succesfully.

### Expected behavior
I expect to get an error about missing party_name or location_type.

While the form uploads successfully, the record will not submit in GeoODK.

[2017-05-03 01:30] seav commented on #1460
I have a hunch that the public user still has a lingering `ProjectRole` object in the database which is why `is_project_member` is not false.

[2017-05-03 01:34] seav commented on #1459
*as.df* is accepted by Django because it looks like a valid domain name. (Although .df is not currently an assigned CCTLD.)

[2017-05-03 05:59] SteadyCadence commented on #1461
Also related (but not a new bug because it has been an issue I have run into):  We should not allow users to upload forms that have the *required fields inside groups*.  For example, if location_type is listed inside the location_attributes then the records will not submit properly with GeoODK.

[2017-05-03 06:23] SteadyCadence opened #1462 "Error Handling for AttributeType Errors :: Worth fixing? Wait for project wizard?"
### Steps to reproduce the error

There are a number of situations in the form building process that can cause platform errors (and not nice, clean descriptive errors).

It would be nice to improve the errors esp for GeoODK use.

Situations
- [ ] An image, video or audio is inside a group
- [ ] A required field (party_name, party_type, location_type, etc) is inside of a group
WIP...

### Actual be

[2017-05-03 07:17] amplifi commented on #1460
In the staging database, user `clash33` has only Public User permissions, applied at `2017-05-02 19:36:36.149993+00`. There are no other historical or 'lingering' roles for this user. Public User permissions in staging are as in `cadasta/config/permissions`.

There are inconsistencies in the codebase regarding permissions. According to comments on #942, `is_project_member` should resolve as `True`

[2017-05-03 10:03] dpalomino commented on #1436
Thanks a lot @alukach and @wonderchook for the input! I really like the SDK approach.

From the utilities listed the most urgent one would be the one for uploading resources (feel free @SteadyCadence to comment if I'm wrong). And then the conversion to WKT probably.

Let's discuss how to best approach the short term partner's need that @SteadyCadence was mentioning (either with an ad-hoc script or

[2017-05-03 10:22] dpalomino commented on #1460
Hey @clash99. I have just tested this issue and it seems to be working fine for me with a new public user in an existing organization and project:
https://platform-staging.cadasta.org/organizations/david-new-org/projects/hfh-legal-land-desk-01/

Left subnav is properly hidden with user dpalomino-6 (dpalomino+testing6@cadasta.org).

[2017-05-03 10:35] dpalomino commented on #1461
Thanks @SteadyCadence
Related to this:

I think we could leave this as it is for now. With the sample XLSForm we can cover this for now until we develop the UI form builder...

[2017-05-03 10:48] amplifi commented on #1460
User `dpalomino-6` on staging has no explicitly assigned role(s) in the database. There's definitely a bug involving the creation of `ProjectRole` objects for Public User roles, if the intended behavior is for Public Users to have no corresponding `ProjectRole` object. (Otherwise, if Public Users are intended to have `ProjectRole` objects, there is a bug whereby this object is only created via cer

[2017-05-03 13:01] amplifi commented on #1459
Agreed; this is expected behavior and default for Django. URL validation checks that the string is formatted correctly, not that the URL entered corresponds to an existing domain/page. It would be unwieldy to continuously ensure that organization URLs are valid sites. For examples and definitions, see: https://mathiasbynens.be/demo/url-regex

[2017-05-03 13:01] #1459 closed

[2017-05-03 13:17] dpalomino commented on #833
Related to #1436.

[2017-05-03 14:17] clash99 opened #1463 "Export project data isn't as expected"
### Steps to reproduce the error

Download all data for a project that has locations, relationships, parties, and resources

### Actual behavior

I'm only seeing resource files, shape files, 2 empty xlsx files (I open them in Numbers), and a readme file.

### Expected behavior

As the readme files states, I would expect to see locations.csv, parties.csv and relationships.csv.

<img width="996" alt

[2017-05-03 16:22] amplifi opened #1464 "Exports must not copy all resource files to local server"
https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/search/export/resource.py#L56

Search export as currently implemented uses `curl` to download all project resource files from S3 to the local server to build the .zip file. For any project with the typical volume of resources expected in production, this operation will result in exceeding the server's available local disk space, and c

[2017-05-03 16:34] seav commented on #1464
This also affects the regular project data download. When project resources are exported, the exporter downloads all resource files from S3 to a local directory and then zips them up.

[2017-05-03 17:19] dpalomino opened #1465 "Add backend pagination for listing resources"
Listing a large number of resources contained within a project could result in having performance issues as there is no backend pagination implemented. We should implement backend pagination for listing resources to avoid this.

[2017-05-03 17:21] dpalomino opened #1466 "Add backend pagination for listing parties"
Listing a large number of parties contained within a project (with the parties subnav) could result in having performance issues as there is no backend pagination implemented. We should implement backend pagination for listing parties to avoid this.

[2017-05-03 19:15] dpalomino commented on #1462
Hi @SteadyCadence. As we talked during the meeting, I think it's worth to wait until the form builder is done. There are many ways to break xlsforms and it'd be difficult to parse all of them.

Closing for now, reopen please if needed.

[2017-05-03 19:15] #1462 closed

[2017-05-03 21:40] wonderchook commented on #1464
I've modified the title to cover both cases. @dpalomino this is added to the backlog for prioritization.

[2017-05-03 21:46] wonderchook commented on #1460
@dpalomino I think we need to you to clarify what a public user who is a member of an org is able to do.

My understanding is they were supposed to be the same as a public user who is not a member of an organization. That way orgs can have someone in their org, but also restrict access of their members to specific projects. Otherwise the public user role doesn't have a purpose.

[2017-05-04 06:20] amplifi opened #1467 "Tutelary: Performance issues impacting platform functionality"
Tutelary is overdue for a refactor and is negatively impacting site performance, stability, accuracy of permissions applied, user experience, and platform operating costs. Last October, we added a caching layer to support tutelary as a short-term fix until a proper assessment and rewrite could be completed to resolve these issues. This measure is no longer adequate and wasn't intended to mitigate

[2017-05-04 10:25] dpalomino commented on #1460
Thanks @wonderchook, @clash99. I'm trying to draft my understanding for public users permissions re subnav and geometries:

Public users that are members of the org (for private projects):
- Left subnav: hidden (current behaviour in staging)
- Spatial Units geometries: shown (also current behaviour in staging)
- General overview stats: shown (current behaviour in staging)

Public users that are **

[2017-05-04 11:58] amplifi commented on #1458
Additional manual test fails with similar issue -- c&p from spreadsheet:

Steps: User selects the "SHP" export option and the search results do not include locations, parties, nor tenure relationships (only resources)

Result: The zip downloads; when I try to unzip the file I end up with a file called project-slug.zip.cpcz

Expected: The downloaded file is a zip file with the project slug as the f

[2017-05-04 12:12] amplifi opened #1468 "Search: Results display and export errors, party-related"
Results of two related search export test failures from manual testing spreadsheet consolidated below, plus one search (non-export) test failure from the spreadsheet that is directly related and shares a root cause. These three issues occur because party data contained within ES query responses is not being displayed or exported by the platform.

### Steps to reproduce the error

Test 1: User sele

[2017-05-04 12:59] wonderchook commented on #1460
@dpalomino are you saying public users not part of the org can't see anything on a public project? I don't think that makes sense. A public project someone not signed in should be able to go to the project overview page.

[2017-05-04 13:38] dpalomino commented on #1460
Hi @wonderchook. No, I was referring only to private projects.

[2017-05-04 13:47] amplifi opened #1469 "Opbeat: log to GitHub Issues"
Configure Opbeat to: 1) create new GitHub Issues for each error or error group, and 2) assign issue to dev team member who last modified the code that generated the error.

[2017-05-05 03:23] seav commented on #1458
@oliverroick and I talked about this and this seems to be a Mac issue. When the empty zip file is downloaded, it is correctly interpreted as an empty zip file by Ark (an archiving app in KDE), the Linux shell unzip command, and the Windows 10 File Explorer.

The elegant solution is #2, but this requires a bit more programming because search results are paged and so we don't know if the search resu

[2017-05-05 03:35] seav commented on #1464
As suggested by @amplifi, the better process is to never download the resource files to the local server. They should be retrieved from S3 one at a time, zipped on-the-fly, and the zip file is streamed into S3 from which the user can then download the zip file once it is complete. This can be done as part of #490.

[2017-05-05 04:00] amplifi commented on #1464
We need to either fix this bug for the release or remove the export code from the build. This isn't safe for deployment in its current state.

[2017-05-05 04:06] alukach commented on #1464
I believe that I could resolve this in #1400. Additionally, it feels that #490 is superseded by #1400 as well (are there any others that I'm unaware of?) I chatted briefly with @amplifi about this today. Admittedly, this is what I had planned on also doing on the worker tooling as well (it's how I've always dealt with file-processing workers).  She tipped me off to [an alternative](https://enginer

[2017-05-05 04:08] alukach commented on #1458
Similar to #1464, I have to wonder if we can roll all this into #1400.  It feels ineffective to be doing bugfixes on tooling that is soon to drastically change.

[2017-05-05 04:09] alukach commented on #1463
Possibly related to #1400.

[2017-05-05 04:15] amplifi commented on #1464
@alukach The export all project data code is already live and should be reverted, as well. That functionality times out during the export process, and it's less likely to be used as frequently (there have been no attempts other than ours to use it in demo/prod to date). The search exports is a significantly higher risk due to the frequency with which users could/would request exports of their resu

[2017-05-05 04:54] alukach commented on #1431
@SteadyCadence Any updates on this?

[2017-05-05 05:21] alukach commented on #1464
@amplifi Thanks for the clarification, I somehow missed the fact that this is about _search_ exports rather than general exports. I no longer believe that #1400 would resolve this issue (unless the scope of #1400 changes).  Eventually, I think we could follow the same pattern as #1400 for this feature.

To be honest, I don't completely understand what you me by "the frequency with which users coul

[2017-05-05 05:47] amplifi commented on #1464
@alukach The issue is about both all-data exports and search exports (the latter reused the code/method from the former).

There is a daily cronjob that cleans up the temp folder, as it is a subfolder of `MEDIA_ROOT`, see https://github.com/Cadasta/cadasta-platform/blob/689d0ef42d6f03b8a3fd608a37c80b836b77f2bd/provision/roles/webserver/production/tasks/main.yml#L104  This job was configured to cle

[2017-05-05 06:04] alukach commented on #1464
@amplifi Got it, thanks. How would you feel if the solution for either types of export was to send the completed file to S3 and delete the local files immediately at the end of the web-request/asynchronous task?

[2017-05-05 06:16] amplifi commented on #1464
@alukach Any solution would have to avoid downloading the resource files to local disk. If a single project can have ~500k resources, it's not hard for a subset of those to reach a cumulative size on disk that would create space issues (the footprint per export request would be the total sum of individual resource file size *plus* the size of the resultant zip file), and that's before getting into

[2017-05-05 06:52] amplifi commented on #1464
Ideally, the export .zip file should be built away from the platform server (as was the plan for the async I/O pipeline). As a bare minimum, if we absolutely have to create the csv files from the platform server (this process will get increasingly intensive the more records we have...), then create the csvs, zip them, shunt that off to S3, delete the temp files for that job, and continue assemblin

[2017-05-05 07:08] seav commented on #1464
A minor complication is that in S3 we cannot append to an existing file.[[ref](https://forums.aws.amazon.com/message.jspa?messageID=540395)] So either you build the complete zip file somewhere and then upload that to S3, or you stream the zip file to S3 as it is being zipped to minimize using local storage.

[2017-05-05 07:18] amplifi commented on #1464
@seav I never suggested appending to an existing file in S3. Please re-read my comment. I suggested having a service outside the platform server that performs the operation of adding the resource files to a zip file with the csvs. If you reference the link I sent to you and @alukach yesterday, which is also linked above in [an earlier comment in this thread](https://github.com/Cadasta/cadasta-plat

[2017-05-05 10:53] amplifi opened #1470 "Superusers can't view private projects in Projects list"
### Steps to reproduce the error

Private projects are hidden from the Projects list, even for superusers. This means there is no way to determine the total number of projects in an environment without manual database access.

### Expected behavior

Private projects should appear in the Projects list for superusers. It's critical that we be able to monitor the total number of projects in an enviro

[2017-05-05 12:58] wonderchook commented on #1431
@SteadyCadence I think this is working as designed. (Not the project extent part that is a bug). Due to the limitation on shapefile column names they are exported in a different file and joined. @oliverroick is my memory correct?

[2017-05-05 13:00] wonderchook commented on #1458
@alukach agreed on wrapping into #1400

[2017-05-05 14:31] amplifi opened #1471 "Search: unsafe use of subprocesses & curl"
Both search and search exports spawn subprocesses to execute `curl`. In search export, there's no explicit timeout applied to either the `curl` or the subprocess itself, no return code check, etc. These uses of `subprocess.run()` and `curl` should be replaced with a safer mechanism that properly handles the calls and results/cleanup; plenty of formal options exist for implementing the two use case

[2017-05-05 14:38] clash99 opened #1472 "Superuser role views are different on local host versus other sites"
### Steps to reproduce the error

- Sign in to localhost as a superuser and you can view the users tab

![screenshot 2017-05-05 09 26 33](https://cloud.githubusercontent.com/assets/1119621/25750038/24f2f792-3176-11e7-8c66-fafddf48605b.png)

- Sign in to staging, demo or platform as a superuser and you cannot view the users tab

- Left subnavs within a project or organization are displayed on local

[2017-05-05 14:46] alukach commented on #1464
For sake of discussion, how would people feel about a _temporary_ patch for this:

* Mount a larger EBS volume to servers. This would serve as a temporary working-dir to handle downloads. If it fills up, it shouldn't impact other services being that it's a separate volume.
* Wrap the downloading tooling in a ["create temp dir/delete temp dir" context manager](https://docs.python.org/3/library/temp

[2017-05-05 14:53] clash99 commented on #1472
Questions to verify:

- At attempt to unarchive project that belongs to an archived org, what happens?

[2017-05-05 14:55] clash99 commented on #1470
Related - I suggest we follow a private project's name with a small "private" icon.

[2017-05-05 15:34] SteadyCadence opened #1473 "Map Enhancement :: Allow Polygon and Polylines snap to points (if enabled, maybe a map setting)"
ODPD uses a workflow that involves collecting coordinates in the field.  Then in the office, the team connects the points to create the boundary lines. It would be great if there was a way to enable snapping so that the polygon could accurately connect the points that were collected in the field.

[2017-05-05 15:36] SteadyCadence commented on #1005
I have run into this issue a few times this week (ODPD and Ecohub). They used polylines to create polygons and needed help to figure out how to click on the polyline that was created (since you have to click the line to open the location).

[2017-05-05 15:49] oliverroick commented on #1431
Yes, that's correct. We figured it was too much work to work around the limitations of shapefile (field names, certain types), so you get a shape with all the geometries and IDs and a CSV with all the data.

It might be worth replacing SHP with Geopackage, it's widely supported now and addresses the shortcomings of shape file.

[2017-05-05 16:25] clash99 opened #1474 "Organization "add button" disappears on member detail page"
### Steps to reproduce the error

- As an ORG ADMIN for an organization, select a member detail page.

### Actual behavior

- The "add button" disappears on the member detail page.

### Expected behavior

- The buttons in the header area should remain consistent for all pages within an organization.

![screenshot 2017-05-05 11 21 31](https://cloud.githubusercontent.com/assets/1119621/25754618/8712

[2017-05-05 17:19] wonderchook commented on #1464
@alukach another temporary patch @oliverroick brought up was instead of actually download the files providing links to them.  Thoughts?

[2017-05-05 17:27] amplifi commented on #1464
@wonderchook @oroick @alukach I would prefer providing links to resources in the csv instead of including the actual files in the zip. It's a cleaner fix, no technological trade-offs, still provides the same content without disabling the feature, and doesn't require the re-work of the other options. I think continuing to offer it as an export option could be beneficial to our partners on slow conn

[2017-05-05 18:48] seav commented on #1464
There is a usability issue with just providing the URLs to the resource files as they are stored in S3: the files will be downloaded under their randomized filenames instead of their original filenames. See related issue #778.

[2017-05-05 20:52] #1310 closed

[2017-05-05 20:52] #1207 closed

[2017-05-05 20:52] #1206 closed

[2017-05-05 20:52] #1061 closed

[2017-05-05 20:53] linzjax commented on #718
Whoop got trigger happy. I'll reopen this until smap get's pulled in.

[2017-05-05 21:09] wonderchook opened #1476 "Ability to add WMS to project as a reference layer (develop requirements)"
Ability to add WMS to project as a reference layer

[2017-05-05 21:27] wonderchook commented on #1244
@linzjax this still needs to be done?

[2017-05-05 22:07] linzjax commented on #1244
Yeah. It's going to take a bit of thinking about how we currently structure our js files. I also don't know what priority it's at.

[2017-05-05 22:15] linzjax commented on #1244
### Current JS Ecosystem (minus `edit` file added in smap)

### dataTables

`dataTables.conditionalPaging.js`: hides page buttons if page total <= 1

- Used everywhere there are dataTables

`dataTables.forms.js`: for when a form contains dataTable fields as inputs

- Resource forms

`dataTables.hooks.js`: Adds the search box and custom language. Required for all dataTables

- Used everywhere there

[2017-05-05 22:21] alukach commented on #1464
I think I misunderstood the need for downloading data. I assumed that we were generating the CSVs in the Request/Response cycle. Are they already on S3?  If so, then we should definitely just provide the links to the user.

@seav HTML5 introduced a [`download` attribute](https://developer.mozilla.org/en/docs/Web/HTML/Element/a#attr-download) for `a` tags, so we should be good on setting the filena

[2017-05-06 01:39] seav commented on #1464
@alukach, when people try to download a resource file from the resource detail page on our platform, we are already setting the `download` attribute to the original filename as can be seen here: https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/templates/resources/project_detail.html#L59

This works on the dev VM when we are using the fake S3 storage, but doesn't work when using the

[2017-05-06 03:55] amplifi commented on #778
As @oliverroick asked above, you can override Content-disposition and set to inline. See https://www.bennadel.com/blog/2696-overriding-content-type-and-content-disposition-headers-in-amazon-s3-pre-signed-urls.htm

[2017-05-06 03:59] amplifi commented on #1464
See https://github.com/Cadasta/cadasta-platform/issues/778#issuecomment-299613597

There are existing solutions to these problems. We should focus on implementing this properly; every kludge makes the platform less stable and future development more painful.

[2017-05-07 18:58] clash99 commented on #1244
You may want to look at #1416. I removed bootstrap and jquery is files since they are pulled in with datatables cdn link.

[2017-05-08 13:18] oliverroick commented on #1244
@linzjax: Where you thinking of folding the JS of all pages into one file or just the ones used in SMAP? I would focus on SMAP only, otherwise, it will be difficult to get right.

[2017-05-08 13:58] linzjax commented on #1244
@oliverroick I was planning on starting with just the SMAP stuff, and then seeing if there were other things we could wrap together (but I'm not sure how feasible that is).

[2017-05-08 20:05] wonderchook commented on #1473
@SteadyCadence I'm assuming they upload the points by GPS and then digitize the outline? When you hover over the point now and click it connects the vertice in the polygon.

[2017-05-09 01:52] clash99 opened #1478 "Define requirements for user dashboard"
This task is for defining and creating the user dashboard epic and associated tasks.  The requirements will be added at the epic level.

[2017-05-09 01:52] clash99 opened #1479 "Create wireframes for user dashboard"
Create a wireframe for the new user dashboard.

- Mimic the style of the project dashboard and organization dashboard in development for the data design project (attached below)
- Include the necessary sections to accommodate the issues in the user dashboard epic
- Repeat ux patterns already used in the Cadasta platform
- Suggest improvements to better the user experience

------------------------

[2017-05-09 01:54] clash99 opened #1480 "Add default language selector to user dashboard"
- Allow user to select language to be used as his default
- Upon returning to the platform that language selector in the footer should reflect the user's default language

[2017-05-09 01:54] clash99 opened #1481 "Add default unit of measurement to user dashboard"
- Allow user to select their default unit of measurement

[2017-05-09 01:55] clash99 opened #1482 "Create list of organizations user belongs to for dashboard"

[2017-05-09 01:55] clash99 opened #1483 "Create list of projects user belongs to for dashboard"
Carried over from #1069:
- Include ability for users to view which projects they belong to and their assigned roles
- Add notifications/ updates/ stats on projects

Also refer to #994.

[2017-05-09 01:55] clash99 opened #1484 "Create announcements area for user dashboard"

[2017-05-09 01:56] clash99 opened #1485 "Add profile image to user dashboard"
## Objective
Allow users to upload and manage an image for their profile:
- [ ] Integrate profile image in user profile page (upload, ~~crop~~, replace, delete)
- [ ] Integrate library of placeholder avatars to be used if no profile image is provided
- [ ] Integrate profile image in top navigation bar
- [ ] Integrate profile image display in members area on dashboards
- [ ] Integrate profile image

[2017-05-09 02:01] clash99 opened #1486 "Add messaging area for Cadasta info on user dashboard"

[2017-05-09 02:03] clash99 opened #1487 "Add saved search queries to user dashboard"

[2017-05-09 02:03] clash99 opened #1488 "Include activity log in user dashboard"

[2017-05-09 02:04] clash99 opened #1489 "Add custom bookmarks to user dashboard"

[2017-05-09 02:04] clash99 opened #1490 "Add links to custom reports to user dashboard"

[2017-05-09 02:11] clash99 opened #1491 "Creation of a User Dashboard"
This epic is for creation of a user dashboard. The goal is to define the tasks that are needed for this project and create issues for each. This will allow for better team planning and work transparency.

[2017-05-09 02:14] clash99 commented on #1069
With the user dashboard outreachy internship starting, I've created an epic #1491 with tasks for the items listed here for returning users.  I'm modifiying this task to pertain to the new user possibilities.

[2017-05-09 04:11] SteadyCadence commented on #1473
The points are locations in Cadasta. Is that what you mean?

Are you saying that there is a new feature that enables points to connect to polygons?  Maybe we can jump on a call to talk through this?

[2017-05-09 12:20] wonderchook commented on #1473
@SteadyCadence there is no new feature what I'm saying is if you have a GPX uploaded to Cadasta when you hover over the points you can double click and it will add a vertice in your polygon you are joining.

We can just on a call.

[2017-05-09 13:13] clash99 opened #1492 "Create template for user dashboard"
- HTML and CSS development of a template for the new user dashboard page
- Integration into the site navigation

[2017-05-10 18:08] alukach opened #1494 "OPTIONS failing on *-api domains"
OPTIONS requests seems to not contain any response body on any *-api domain (e.g. https://platform-api.cadasta.org/api/v1/organizations/).  Status code is 200, making me think this is an issue with a layer in between the Django webserver and client (e.g. NGINX).

### Steps to reproduce the error

[code]

### Actual behavior

Using the `platform-api.cadasta.org` domain:

[code]

No body is returned

[2017-05-11 00:54] clash99 commented on #1479
Here are two more wireframes that you may want to reference.

This is an example of how we are nudging project managers without a complete project to fill in the missing information:

![project dashboard - incomplete](https://cloud.githubusercontent.com/assets/1119621/25927252/5072eab0-35ba-11e7-8c2c-c440438e91c7.png)

I'm attaching the navigation mock from earlier too:

![project navigation](http

[2017-05-11 01:44] alukach commented on #1494
Almost certainly due to this block in the NGINX config.  Not sure what the intention behind this was:  https://github.com/Cadasta/cadasta-platform/blob/master/provision/roles/webserver/production/templates/nginx-production#L52-L60

[2017-05-11 04:23] SteadyCadence opened #1495 "Add loader/spinner bar to pages"
Partners have difficulty knowing if a page is frozen or loading.  I suggest we have an obvious loading bar or spinner.

[2017-05-11 13:49] clash99 commented on #1495
Definitely can do this. Could you let me know which pages are acting up the most and then I can try to troubleshoot any other holdups that might be occurring on that page too. I'm guessing its the map/leaflet stuff?

[2017-05-11 14:16] dpalomino commented on #1463
The xlsx files can be opened with Excel or Google Spreadsheet. I think there is a specific issue for this (to raise an issue for this).

csv files I think are no longer needed as data is already in the xlsx files. I think we need probably to update the README file.

[2017-05-11 14:20] dpalomino opened #1496 "Exports in xlsx format is not compatible with Mac OS Numbers"
### Steps to reproduce the error

1. Download data from a project in xlsx format
2. Try to open with Numbers (Mac OS app)

### Actual behavior

No data is shown.

### Expected behavior

Data should be properly processed by the app. However the file can be properly open using Excel or Google Sheets.

[2017-05-11 14:27] dpalomino commented on #1458
As per previous comments, decreasing prio to low.

[2017-05-11 14:29] oliverroick commented on #1496
We discussed this before; this is a bug in Numbers. I assume there's not much we can do...

[2017-05-11 14:52] dpalomino commented on #1474
Thanks @clash99. Are you referring to the "Add project" button, right?

[2017-05-11 14:56] dpalomino commented on #1476
Partner provided a couple of examples that are public and they are using for adding layers (all open and free):

From the Environment Ministry:
http://geoservidor.minam.gob.pe/ArcGIS/services/ANP/MapServer/WMSServer?

From the Transport Ministry:
http://mtcgeo2.mtc.gob.pe:8080/geoserver/MTC_gis/wms?service=WMS&

[2017-05-11 14:57] dpalomino commented on #1476
They are not using any kind of authentication, so this will not be required.

[2017-05-11 15:15] dpalomino commented on #1464
I think that would make things much more complicated for the users. Just with a project with a couple of hundreds of resources, the user will need to spend much time downloading the resources individually. And with project with thousands of records would be really difficult for a regular user  to retrieve all the resources. They would need some knowledge to create a simple script to retrieve all r

[2017-05-11 15:32] dpalomino opened #1497 "Snap to adjacent location: snap to the adjacent location when drawing a geomtry through the GUI to avoid overlaps or slivers among the geometries"

[2017-05-11 15:33] dpalomino commented on #1473
Hi @SteadyCadence @wonderchook

Is this issue still needed? Were you able to work around this? On a side note, there is a related issue #1497 in the backlog (low priority).

[2017-05-11 15:46] SteadyCadence commented on #1497
Those two issues sound the same. Both require snapping to features (points, polygons) I'm the leaflet layer.

It could also be nice to have a check now to allow snapping to baseman roads, like what Strava does. That's extra and would be for users who are trying to trace imagery.

[2017-05-11 15:51] dpalomino commented on #1496
Ah, thanks @oliverroick. I didn't remember. Closing the issue.

[2017-05-11 15:51] #1496 closed

[2017-05-11 15:59] wonderchook commented on #1464
@dpalomino do you have any specific use cases of how people use the export function? If someone wanted to export all the resources what would they be doing?

[2017-05-11 16:15] SteadyCadence commented on #1464
@wonderchook, @dpalomino: I think the largest use case for exporting resources is to bulk print.  There's currently no easy way to bulk print all resources, deeds or titles, for example in Cadasta, right?

[2017-05-11 16:15] dpalomino commented on #1460
Not consistent behavior. To be restested after permission redesign.

[2017-05-11 16:17] dpalomino commented on #1435
To be checked if the behavior is the same with the GUI with a XLSForm file.

[2017-05-11 16:43] dpalomino opened #1498 "Project extent is exported in shp file"
### Steps to reproduce the error

(follow-up from #1431, thanks @SteadyCadence)

1. Export project data to shapefile

### Actual behavior

 - project extent is exported in the shapefile (http://arcg.is/zrS5O)

### Expected behavior
 - project extent should not be included in the shapefile.

[2017-05-11 16:44] dpalomino commented on #1431
To be followed in #1498, closing this issue.

[2017-05-11 16:44] #1431 closed

[2017-05-11 17:03] wonderchook commented on #1464
@SteadyCadence okay so it would be good to capture also that use case as a feature request. Since I think downloading all the resources and individually printing them is sorta a work around for that as well.

Not saying we shouldn't allow bulk download, we should also get to the root problem users are trying to solve.

[2017-05-11 17:04] wonderchook opened #1499 "Users Need Ability to Bulk Print Resources"
Currently users would download all resources to bulk print. It might be easier for them to manage if you could export resources to a PDF.

cc @SteadyCadence @dpalomino

[2017-05-11 17:20] amplifi commented on #1464
@alukach re: mounting a larger volume and removing temp files at the end of the request cycle

Doesn't mitigate the disk space issue in the event of concurrent requests for exports (either from the same user/project or different users/projects), or for projects with a large volume of resources by cumulative file size. Trying to cover development flaws with infrastructure gets expensive fast, and u

[2017-05-11 17:46] dpalomino commented on #1464
I'd mention the following use cases (apart from the printing deeds or other documents):
- Local backups: many partners will want to download their data from time to time because they don't totally trust "on the cloud"
- Transferring data to other platforms (either to be used in parallel or because they've decided to stop using Cadasta platform). One of our selling points is that partners can easil

[2017-05-12 04:47] SteadyCadence opened #1502 "Ability for photos to be viewed on the web and not downloaded"
Can we set the photos so that they can be viewed in the browser?  That would provide a lot more opportunity for me to set up dashboards and various other tools for partners to use...

For example, if you inspect element on a resource and then right-click to "open in new tab" it will download the project instead of open it in a new tab.

[2017-05-12 16:34] wonderchook opened #1504 "Add ability to opt-in/out of mailing list when user registers"
It would be great to be able to add registered users to our mailing list. I think we need to have a way for people to opt-in/out to do this though.

[2017-05-12 16:36] wonderchook opened #1505 "Add ability to add user to project as a public user"
Right now if a user is added to an org the lowest level of permissions they can have is project user. It should be possible for org admins to add users to an org and give them public user access to some projects. This would mean for example in private projects that they could not see the project.

Feature use case: When a project manager invites a user to a project they should be able to set the u

[2017-05-13 01:03] clash99 commented on #1505
It is possible for an org admin to assign the role of Public User now. Actually the Public User role is the default for new users. I'm not sure we need any changes right now. When we do implement adding users at the project level, we need to ensure they are automatically assigned Public User roles to other organization projects.

<img width="1256" alt="screenshot 2017-05-12 19 57 30" src="https://

[2017-05-15 12:01] dpalomino commented on #1505
Yes, agree @clash99. It is already included in the description of the feature (in the old backlog spreadsheet, need to move it to the github backlog).

I think we can close the issue for now. Please reopen if needed.

[2017-05-15 12:01] #1505 closed

[2017-05-15 19:15] clash99 commented on #769
This page will be replaced with a new organization overview for non-registered members and a new organization dashboard for registered users. This is part of the new project data design project. I think we can close this task.

[2017-05-15 19:15] #769 closed

[2017-05-15 19:29] wonderchook commented on #558
closing because this is more its own thing now.

[2017-05-15 19:29] #558 closed

[2017-05-16 04:25] SteadyCadence commented on #339
On mobile, would the search bar sit above the map?  Or would the search bar and map be in different divs?  Looks great btw.

[2017-05-16 13:52] clash99 commented on #339
This is an old mock so I'm not sure how valid it still is but perhaps we can use some of the ideas here.  I don't think I will have time to work on it much until next sprint.

[2017-05-16 17:22] SteadyCadence commented on #629
I like this page from product hunt--
<img width="738" alt="screen shot 2017-05-16 at 11 21 27 am" src="https://cloud.githubusercontent.com/assets/25337622/26119291/faf069fe-3a29-11e7-94ce-2b56adf19d5f.png">

[2017-05-17 11:22] amplifi commented on #1499
Considerations: Composite PDFs will quickly grow to unwieldy sizes, especially with no file size limit in place for resources. Must be implemented as an async process outside the platform server, generating multiple PDFs where each PDF contains x resources as determined by resultant file size. Then the question becomes how best to serve these PDFs, dashboard for status/downloading via link(s), acc

[2017-05-17 11:26] #1373 closed

[2017-05-17 14:27] #1423 closed

[2017-05-17 14:41] amplifi commented on #1502
This is because resources get uploaded with a content-type of binary/octet-stream. Setting the type to reflect the actual file contents will default to handling based on each user's browser default; in most cases, that will be displaying the image in a browser tab. #692 is related, and these will be fixed with the async i/o in #1400

[2017-05-17 19:46] SteadyCadence opened #1510 "API :: Infer mime type from file uploaded"
I am lazy and would love to skip the step of adding the mime-type property to files I upload.  There are python functions that we could use to infer the mime-type so that there is one less step for uploading resources to the platform.

[2017-05-17 19:59] amplifi commented on #1510
This is part of the async I/O pipeline; all UI and API file uploads will be scanned for security and processed (mimetype, thumbnail generation for images, etc) before being added to a project.

[2017-05-17 20:27] wonderchook opened #1511 "Questionnaires made through JSON API Are Missing Components Compared to UI Upload"
When Questionnaires are made through the JSON API it appears that only the default ODK questionnaire is sent to the phone. This means when data is collected and then submitted that both questions are missing and there is an error upon submission.

Internal Server Error: /collect/submission

KeyError at /collect/submission
'meta'

I suspect that the proper XML is not being created after the JSON is

[2017-05-18 01:43] seav commented on #1468
There seems to be a continuing confusion regarding the combined party-relationship search results. I'll present here an extensive write-up of the subject. I hope that this will provide a good background of the issue and maybe provide a path for future changes if desired.

## Sample project
To facilitate the discussion, lets suppose we have a sample project with the following entities:

1. a parcel

[2017-05-18 09:23] amplifi commented on #1426
Pending update of documentation to point to the new links. Will be actioned upon completion of [https://github.com/Cadasta/cadasta-docs/issues/56](https://github.com/Cadasta/cadasta-docs/issues/56)

[2017-05-18 15:03] amplifi commented on #1370
Can't replicate on current staging env; will re-open if issue occurs again.

[2017-05-18 16:00] bjohare opened #1513 "Add an async view to serve spatial resources"
### The issue

Loading of spatial resources takes place via a request to an api endpoint at `/api/v1/organizations/{org}/projects/{prj}/spatialresources/`. This endpoint should not be used from clientside javascript. Instead, an `async` endpoint should be created to serve `spatialresources` to the platform UI.

### Actual behavior

Uses an `api` endpoint rather than an `async` endpoint for loading

[2017-05-18 17:03] oliverroick commented on #1468
It looks like this issue is actually to issues, I think we should discuss and fix them separately.

Anyway, some small cents from my end:

Can someone fill me in on the backstory why parties are returned as part of a relationship and not as a party? If I search for "Average Joe," I want all parties that match "Average Joe" and not all relationships that are related to all parties that match "Avera

[2017-05-18 17:18] linzjax opened #1514 "JS Style Guide and Testing"
With each rebase of SMap onto master I'm becoming increasingly aware of the need for a javascript testing suite. It would be nice if we could set ourselves up for this before our JS ecosystem expands any further.

There's also quite a lot discrepancy in the way our js is written. In order to concat/uglify, I needed to implement jshint, which is a start but doesn't go a long way towards consistency

[2017-05-19 02:52] clash99 commented on #1447
Hi @bjohare - Here is where I am on the project overview / dashboard:

**Getting Started**
- Currently placeholder text for projects without content.  We should leverage some of the project documentation for how to get started. I feel like this is a good replacement for the starter text section I removed. I will reach out to @bethschechter for ideas on what we could use.

**Project Map**
- What do

[2017-05-19 14:36] seav commented on #1468
The rationale for this structure was discussed in the [ES indexing document](https://docs.google.com/document/d/1m258d1EbJYVVwzi0QLnyh1_FmARMPRoaSVxXkwKUbw0/edit) back in January. (See bullet point 2 under the "Suggested changes for Phase 2" section.) Basically, while a normal application database is often normalized, a search index benefits from having some form of denormalization (see this [Elas

[2017-05-19 15:14] linzjax opened #1516 "SMap Bug Log"
### While testing, please log any and all #SMap bugs found here.
Please try and be as specific as possible. Some of the geometry editing issues are hard to reproduce without specific step by steps.

When referring to the `save` and `cancel` buttons provided by leaflet.edit, please refer to it as "on the map".
When referring to the `save` and `cancel` buttons in the Django form, please refer to it

[2017-05-19 18:45] clash99 commented on #943
Part of new dashboard project in right column.  This is not being included right now, but wanted to show screenshot for future development:

![screenshot 2017-05-19 12 37 23](https://cloud.githubusercontent.com/assets/1119621/26262129/5311aef6-3c99-11e7-9b1f-4e7fdf8fd679.png)

[2017-05-19 19:17] dpalomino commented on #629
I like that @SteadyCadence :) However I think our users' profile are typically less technical so maybe a more "classic" approach like "This is temporarily unavailable, if you continue experiencing this please get in touch with us".

@aliensunrise, maybe we can catch up re this next or later if you have time? Do you have some ideas?

[2017-05-19 20:06] clash99 commented on #1447
@bethschechter - We are in the process of remodeling the project dashboard/overview page and are wondering if you have any documentation that we could repurpose for two places:

**1)  Getting started text for new projects**

![screenshot 2017-05-19 15 01 10](https://cloud.githubusercontent.com/assets/1119621/26264929/49f2e9a6-3ca4-11e7-8281-16f101ac5310.png)

2) **Marketing-type of content for ben

[2017-05-19 20:47] bethschechter commented on #1447
@clash99 so the two spots are Getting Started and About This Project?

Do we expect that users will modify the About this Project section?

[2017-05-19 20:51] SteadyCadence commented on #1447
@bethschechter @clash99 Maybe the "About this Project" could be like a mad lib where you just fill out keywords :)

Or we could have tags that users choose.  That way we can start to categorize questionnaires and data sets.

[2017-05-19 20:55] bethschechter commented on #1447
@SteadyCadence @clash99 We could - do we plan to use this section as a way to categorize projects?

[2017-05-19 20:55] clash99 commented on #1447
@SteadyCadence - Categories and tags are listed for the next phase of development.

@bethschechter - We need text for the "Getting Started" block in the first screenshot. Could be text now but future link to video or something... And the other is around the "Sign In" section in the second screenshot. I think this area has a lot of potential for messaging of benefits of registering (marketing).

[2017-05-19 20:55] bethschechter commented on #1447
aaaaaaah thank you @clash99 that's super helpful context :)

[2017-05-19 22:57] bethschechter commented on #1447
@clash99 here's some copy for you:
https://docs.google.com/document/d/1rZNhi5_2u7QlDVnYkjX-qQh2tWSA5MWFv4QN9Mfezi0/edit#

There are some notes in the doc about it too. Please let me know if you have questions. I may be able to get online a little next week.

[2017-05-22 10:11] bjohare commented on #1447
@clash99 I'm not sure what the 'Use Global Map' button on the map overlay actually means in practice. Should we replace this with 'Add Location'?
![global_map](https://cloud.githubusercontent.com/assets/3308136/26303350/50e31514-3edf-11e7-8128-5ea48c5a0d16.png)

[2017-05-22 10:15] oliverroick commented on #1447
@bjohare _Use Global Map_ is a new feature, so it's out of scope for your current work. We haven't figured out what a global map actually means technically.

[2017-05-22 10:18] bjohare commented on #1447
@oliverroick ok thanks.

[2017-05-22 14:41] dpalomino commented on #1370
Thanks @amplifi. I think this is still happening in demo, I tried with my "dpalomino" disabled account in demo and the mail was not sent.

[2017-05-22 15:28] dpalomino commented on #1468
Thanks to all for all the discussion. My two cents..

IMO including party and location related information in the results is more important when exporting the data rather than when presenting the results via the UI.

When presenting the results in the UI, user can always navigate through the relationship to the party and location information and then access to the data.

However, when exporting th

[2017-05-22 15:51] dpalomino commented on #943
Looks very good @clash99! One question, the "Reason for request", are we thinking on including a predefined set for "reasons", something like:
- I am a data collector involved in the project
- I need to access to the information
- I am a project manager
- Other

[2017-05-22 15:56] oliverroick commented on #1370
@dpalomino Was your account manually deactivated or as a result of not verifying your email.

In the former case, it is expected behavior that no verification email is sent. Accounts are usually deactivated for a reason. For example, when the account has been used inappropriately You shouldn't able to re-activate the account just by receiving an email and clicking on the link.

[2017-05-22 16:08] clash99 commented on #943
Yes @dpalomino, I think that sounds like a good idea. Also if they are registered users, we should be able to pre-fill name and email.

[2017-05-23 09:18] oliverroick opened #1517 "Handle ValidationError resulting from Questionnaire.DoesNotExist for GeoODK uploads"
### Steps to reproduce the error

1. In GeoODK, create data with a form that does not exist. (I'm not sure how we got to this point in the first place. My initial thought was that it is an outdated form but since `id_string` and version are used to get the Questionnaire that should not be a problem.
2. Submit the data.

### Actual behavior

You'll get a Server Error.

### Expected behavior

We sho

[2017-05-23 09:49] amplifi commented on #1370
@dpalomino @oliverroick According to the db, the `dpalomino` account in demo is both deactivated and already email verified. Confirmed: a verification email should not be expected behavior. Let's re-open if there are issues with expected behavior in the future.

[2017-05-23 09:49] #1370 closed

[2017-05-23 11:05] amplifi opened #1518 "Deactivated user handling"
### Steps to reproduce the error

Deactivated users can be added to organizations and projects.

### Expected behavior

Deactivated users should require re-activation prior to being added to organizations and projects. This currently exacerbates a performance issue in demo, and is poor security practice.

Secondary (for discussion): Deactivating a user should strip that account of its current perm

[2017-05-23 14:28] amplifi commented on #1470
Related: On the Organizations page, archived organizations show 0 projects, even if there are archived projects under that organization. Superusers should be able to view an accurate project count for both archived and active organizations.

[2017-05-23 14:32] clash99 opened #1519 "Add tooltips to icons throughout platform"
Rollout tooltips used on new project dashboard page to other pages on platform

[2017-05-23 14:52] clash99 commented on #1069
We should also add some marketing text to the project overview pages. For unregistered users right now we only present a "sign in" option but we could do a better job here telling new users about benefits of registering, etc.

![screenshot 2017-05-23 09 50 18](https://cloud.githubusercontent.com/assets/1119621/26360349/81b32396-3f9d-11e7-9bde-7e2019cd96b9.png)

[2017-05-23 16:03] amplifi opened #1521 "Maintenance: fix warnings, deprecations"
Follow-up task from PR #1520: There are still loads of warnings. Some can be resolved by upgrading libraries we use (pytest, django rest framework). We also need to update our own libraries: django-tutelary for example, which causes a lot of deprecation warnings.

Impact: Lack of maintenance updates to the platform code caused all Travis builds to fail for the main repo today. Regular upkeep is es

[2017-05-23 20:07] dpalomino commented on #1518
Thanks @amplifi

But it is not possible to access to those orgs/projects using this account while it is deactivated, right? If we strip permission across orgs/projects, wouldn't we need to resume them when the account is reactivated?

Not sure what it's best solution though...

[2017-05-23 20:19] amplifi commented on #1518
@dpalomino Yes, if we strip user permissions when an account is deactivated, the account would then need to be re-added to its org/projects. Ironically, under tutelary this could be automated because it retains a full permissions history for each user, so the 'Re-activate' button could easily reapply the user's last known permission set. A similar audit history could (and should) be maintained und

[2017-05-23 20:59] clash99 commented on #1447
@dpalomino - Here are screenshots of org pages for reviewing;

## Organization Dashboard

Org Admin - Member view for organization with projects:

![screenshot 2017-05-23 15 47 54](https://cloud.githubusercontent.com/assets/1119621/26375608/3b5fe3de-3fcf-11e7-8b79-4cdf9b8b87bb.png)

Org Admin - Member view for organization without projects (starter text):

![screenshot 2017-05-23 15 43 59](https:/

[2017-05-23 21:23] clash99 commented on #1447
@dpalomino - Here are screenshots of project for reviewing. I'm still working on css (responsive and stats boxes).

## Project Dashboard

Org Admin - View for unfinished project:

![screenshot 2017-05-23 16 09 43](https://cloud.githubusercontent.com/assets/1119621/26376544/7da26d18-3fd2-11e7-9584-8d267e6eff30.png)

Org Admin - View for finished project with no content:

![screenshot 2017-05-23 16

[2017-05-24 11:00] dpalomino commented on #1069
@clash99. About the "marketing language" for promoting users to register, what about something like:

Haven't you registered yet? Cadasta platform will help you to document your land and resource rights, share the information as your convenience, or ask to join one of the many ongoing projects that are already documenting their rights on the ground. Please, register and take a look!

@bethschechte

[2017-05-24 12:02] dpalomino commented on #1447
@clash99, it is looking great! I'm reviewing and taking some notes. Maybe we could review together tomorrow?

[2017-05-24 13:44] oliverroick commented on #1516
*Unsaved geometry edits: Can we make them save automatically?*

1. Create new location or edit an existing location
2. Draw a geometry
3. Save the location without saving the geometry beforehand.

*Result* You get a warning that the geometry is not saved. Would it be possible to automatically save it, so I don't have to save the geometry beforehand every time?

[2017-05-24 13:45] clash99 commented on #258
Organization logo would appear on org index and org overview/dashboard #1447.

[2017-05-24 13:47] oliverroick commented on #1516
**Current location is not highlighted after I return from another page** (This is a bit of an ongoing struggle)

1. Leave the #smap page. For example from the relationships table of a location, click on a party name.
2. From the party detail page, use the browser's back button.

**Result** You're back on the #smap page, everything is fine, only the location geometry is not highlighted on the map.

[2017-05-24 13:49] oliverroick commented on #1516
**CSS: Size and position of drawing tools don't match other tools**

1. Edit a geometry
2. Look at the buttons on the left-hand side of the map.

**Result** They work, but they don't look nice.

[2017-05-24 13:50] oliverroick commented on #1516
**Loading indicator is not always shown**

1. Use the big London project and zoom out from the initial map location.
2. More tiles are loaded, but the loading indicator is not shown.

[2017-05-24 13:59] clash99 opened #1524 "Org Dashboard - Map showing all project map markers on map"
Based on the [project creations wireframes](https://drive.google.com/open?id=0BzpiEtMtHC3rUGxpb29IMVJwYzA), a map displaying all project locations above the list of projects. This pages has been updated during #1447.

![organization dashboard](https://cloud.githubusercontent.com/assets/1119621/26406871/37ac1ad8-405f-11e7-8336-b481537fccd7.png)

[2017-05-24 14:01] clash99 commented on #1485
Will also be used for #1447 team member area.

[2017-05-24 14:32] clash99 opened #1525 "Project Dashboard - How to create starter videos and checklist"
I think this is best done after the new data design feature. It is also related to the project dashboard project #1447.

The new project dashboard will eventually replace the 3-part project creation wizard. It would be ideal to provide project managers with help text and/or support videos. Some of these may already be in existence.

Here is temporary placeholder text that we are launching with but

[2017-05-24 14:40] clash99 opened #1526 "Project Dashboard - Ability to add cover photo for a project"
This will be used on project overview and dashboard and will be supplied by the project manager. We also should consider having an existing library of images they can select from.

The layouts may have changed a bit from these original wireframes but here is an example of how they will be used.

![project overview for non-project members - alternate layout](https://cloud.githubusercontent.com/asse

[2017-05-24 14:42] clash99 opened #1527 "Project Dashboard - Ability to add project logo"
Project logos will be used on project overview and dashboard, and printable questionnaires. These should be supplied by the project manager or org admin.

The layouts may have changed a bit from these original wireframes but here is an example of how they will be used.

![project overview for non-project members - alternate layout](https://cloud.githubusercontent.com/assets/1119621/26408977/dc084b

[2017-05-24 14:45] clash99 opened #1528 "Project Dashboard - Add project categories"
These will allow for selection of category during project creation. List of categories should be supplied by Cadasta and limited to one selection per category.

This category will be displayed on the project dashboard but will also be used in the future to build community.

[2017-05-24 14:47] alukach commented on #1513
I would like to leave my 2 cents in that I believe we should push against the idea of creating anymore `async` endpoints. By having both `async` and `api` endpoints to handle AJAX requests, we are undermining the `api` and deterring the api from becoming full-featured and battle-hardened. I do think the `async` endpoints do have their purposes at times, for example returning HTML snippets for the

[2017-05-24 14:47] clash99 opened #1529 "Project Dashboard - Add ability to add tags for projects"
These will allow for selection of tags during project creation. List of tags should be supplied by Cadasta and are not limited by a selection number.

These tags will be displayed on the project dashboard but will also be used in the future to build community.

[2017-05-24 14:48] dpalomino commented on #825
Apart from the bugfixing that could appear, I think we can move this issue to "Released" state.

[2017-05-24 14:52] clash99 opened #1530 "Project Dashboard - Add project stats"
This is placeholder to think about relevant stats that could be added to the project dashboard and organization dashboard that would provide value.

Some initial thoughts -

- Percent increase in number of locations added
- Percent of locations that cover the area compared to the whole project extent
- Others?

These could be included in stats boxes on dashboard or new graphs could be created depe

[2017-05-24 14:53] clash99 opened #1531 "Project Dashboard - Include activity log"
Add activity log to be viewable on a project level.

[2017-05-24 14:58] clash99 opened #1532 "Allow project manager to add team members and set permissions at a project level"
Allow project manager to add team members and set permissions at a project level. The will affect team member area on project dashboard #1447.

(I need to create wireframes for this and link to requirements still.)

[2017-05-24 14:59] clash99 commented on #1447
Making an inventory of missing parts while fresh that are tagged for future sprints ([based on these wireframes](https://drive.google.com/open?id=0BzpiEtMtHC3rUGxpb29IMVJwYzA)):

## Organization Dashboard/ Overview
- Organization logo #258
- Map showing all locations on map #1524
- Team member user profiles #1485

## Project Dashboard/ Overview
- Improve marketing messages for unregistered members

[2017-05-24 15:18] linzjax commented on #1516
#### Canceling drawing geometry causes `Save/Cancel` buttons to appear.

1. Click "Add location"
2. Start to draw a shape, but don't complete it.
3. Hit `cancel`.

__Result__: Geometry drawing canceled, but `Save/Cancel` buttons appear next to the edit geometry button on map.

[2017-05-24 15:21] linzjax commented on #1516
### Geometry doesn't change back to default color

1. Click on location.
2. Click edit.
3. Click `Cancel` button in form
4. Confirm cancel.
5. Click `Add Location`

__Result:__ Previously viewed location geometry does not reset to default color.

[2017-05-24 15:30] linzjax commented on #1516
#### Sometimes geometries don't all load.

1. Go to a project page.
2. Refresh the page enough times to trigger it.
3. Zoom around.
4. Refresh some more.

[2017-05-24 15:50] dpalomino commented on #1476
Summarising the conversation with @oliverroick (thanks!)

- There are some little difficulties managing WMS services working with several layers, if we want to enable/disable individually on the map, due to some Leaflet limitations
- Partners will typically require to enable and disable these individually
- There are two possible solutions for this:
     + Asking in separate UI instances the diffe

[2017-05-24 16:07] dpalomino commented on #1464
With the implementation of #490, this problem should be alleviated a bit. To be revisited then.

[2017-05-24 16:10] dpalomino commented on #1322
There is a workaround for this, so decreasing priority for now.

[2017-05-24 16:17] dpalomino commented on #1513
Agreed during triage to close the issue.

[2017-05-24 16:17] #1513 closed

[2017-05-24 16:20] dpalomino commented on #1498
Feedback from @oliverroick. Probably the issue was cause because there was an incorrect location type (Project Extent), but not the actual project boundary.

Please, reopen if needed.

[2017-05-24 16:20] #1498 closed

[2017-05-24 16:25] dpalomino commented on #1463
Assigned to Chandra, thanks! :-)

[2017-05-24 16:26] dpalomino commented on #1460
There is a PR ongoing that should fix the issue, #1515

[2017-05-24 16:30] alukach commented on #1413
Related exception: https://opbeat.com/cadasta/platform-staging/errors/153/

[2017-05-24 16:36] dpalomino commented on #1413
We should handle the error better, instead of showing a 500. For now, there is no plans to support 3d data.

[2017-05-24 16:36] dpalomino commented on #1412
Now format is looking good :-) Closing the issue.

[2017-05-24 16:36] #1412 closed

[2017-05-24 16:37] dpalomino commented on #1408
PR merged, closed! :-)

[2017-05-24 16:37] #1408 closed

[2017-05-24 16:38] dpalomino commented on #1327
PR merged, closing issue.

[2017-05-24 16:38] #1327 closed

[2017-05-24 16:40] dpalomino commented on #1252
Hey @bjohare, are you taking a look on this one?

[2017-05-24 21:40] linzjax commented on #1516
#### Pagination added to API is blocking async tile loading

1. Go to the London 2 project
2. Zoom out
3. Refresh

__Result:__ Only ~100 locations per tile are loaded.
__Reason:__ Pagination is delivering the results in chunks. Need to refactor to loop through paginated results.

[code]

[2017-05-25 00:49] clash99 commented on #1069
I've updated it to break it more into two halves - one for new registrations and one for sign-ins. I think this is in good shape for launch but we should add this to the list for improving our marketing messages.

![screenshot 2017-05-24 19 45 43](https://cloud.githubusercontent.com/assets/1119621/26431402/0a74a5f2-40ba-11e7-9a64-028f780fa0a5.png)

[2017-05-25 03:17] alukach commented on #1413
As per the outcome of our conversation during the Bug Meeting, the intention is to reject 3d data with a helpful error message.

[2017-05-25 16:22] alukach commented on #490
Should be resolved by #1400

[2017-05-25 16:35] clash99 commented on #1260
I'm going to include this role in the new permissions chart so we can include it in the roles-based permissions project.

[2017-05-25 17:12] amplifi opened #1538 "Subsequent organization admin can't archive project or organization"
### Steps to reproduce the error

Add a new user to an organization as an administrator. Try to archive a project within that org, or the organization itself.

### Actual behavior

The archive option doesn't appear at either the project or organization level.

For bonus points, same also occurs whether or not the new user is a superuser.

### Expected behavior

Organization admin should be allowed

[2017-05-25 17:22] dpalomino commented on #1530
Thanks @clash99!

Some ideas:
- Last updated timestamp
- Last month activity: number of new locations/parties/resources, and new area covered (or even a graph showing last week/month/quarter/year activity?)
- Most active data contributors (mayba also a graph)?

[2017-05-25 17:27] amplifi opened #1539 "Missing js files generate 404 error"
The datepicker js files are no longer available at the CDN address hardcoded into several of the platform pages. Example broken link:
https://cdn.rawgit.com/jquery/jquery-ui/1.12.1/ui/i18n/datepicker-en.js

<img width="1440" alt="screen shot 2017-05-25 at 5 40 11 pm" src="https://cloud.githubusercontent.com/assets/4269749/26461990/58d8507a-417f-11e7-8bcf-154f99e1e147.png">

Files affected:
[https:

[2017-05-25 17:40] dpalomino commented on #1538
Hey @amplifi. I cannot replicate this issue, what I've done in staging is:

1. In "david-org" org, add a new user "dpalominov" as an administrtor (being logged as "dpalomino")
2. Both users are now admins of the org
3. As dpalomino, I can archive projects
4. As dpalominov, I can also archive projects

Maybe something only happeining for superusers?

[2017-05-25 17:55] amplifi commented on #1538
@dpalomino Like I mentioned above, it's happened with both superuser and (two) non-superuser accounts. With a third non-superuser account, it seems to work as expected. More permissions weirdness that should be resolved with the permissions overhaul, but we still need to track the bugs to confirm they don't occur in later updates.

[2017-05-25 18:29] linzjax commented on #1516
#### Canceling edit geometry causes polygon to disappear.. sometimes.
[after addressing "Unsaved geometry edits: Can we make them save automatically?"]

1. edit an existing location. Click save in form.
2. Add a new location. Click save in form.
3. Edit newly added location. Click cancel in form.

__Result:__ Polygon disappears.

[2017-05-25 21:17] clash99 commented on #1539
This appears to only be the english version (-en).js. It works for all the other languages currently available on the platform such as https://cdn.rawgit.com/jquery/jquery-ui/1.12.1/ui/i18n/datepicker-fr.js.

This is because straight up -en is not available. Localization files available for the datepicker are here: https://github.com/jquery/jquery-ui/tree/master/ui/i18n. I think we want to use -en

[2017-05-25 22:02] clash99 commented on #1260
@dpalomino - I've added "Mobile Data Collector" to the permissions documents.

- [Permissions Chart](https://docs.google.com/document/d/1RnjuWzjxkbnntJQHxo2Rbg8AiigkydtG7dLvFWZtAnU/edit?usp=sharing)
- [Decision Record](https://github.com/Cadasta/decision-records/blob/DR_0008_role-based-permissions/DR_0008_role-based-permissions.md) (other document links included in here)

Take a look and let me kn

[2017-05-26 07:30] seav commented on #1539
The en (or en-US) localization file does not exist because this is the default locale of the datepicker widget. When you import a localization file, only then does the locale change. If you look at our templates, we use the following logic:

[code]

I can't remember why I wrote this logic. I think `en-us` should have been just plain `en` because that is what is included in our language selection m

[2017-05-26 15:57] linzjax commented on #1516
#### Geometry reverts to previous coordinates after navigated to another page and pressing back

1. Edit a location.
2. Save.
3. Click on either a party || resource link.
4. Press the back button.

__Result:__ Geometry has reverted to its previous state. If you refresh the page, you get the new (correct) state.

[2017-05-29 10:09] dpalomino commented on #1190
Hi @oliverroick

Trying to answer your questions:

Using **party_resource_\***, **location_resource_\*** or **tenure_resource_\*** the signature will be attached to the party, location or tenure. If it's data collector's signature most likely we will be attached to the location, if it's landowner's will be attached to the party, but at the end that would be a partner's call.

I think these issues

[2017-05-29 10:36] dpalomino commented on #1538
Ah ok thanks @amplifi, I was just trying to find a pattern for reproduce the issue. Yeah, let's keep it open and review after the permissions redesign.

[2017-05-29 10:43] dpalomino commented on #1260
Thanks a lot @clash99!

[2017-05-29 16:24] wonderchook commented on #1413
@alukach is there any harm in storing 3D data?

The other option would be to modify the QGIS plugin to convert the data to 2D when it interacts with the API.

[2017-05-29 16:27] wonderchook commented on #1476
@dpalomino with the WMS with different layers. When the WMS is registered could we register each layer separately? Is that what you are suggesting above?

[2017-05-29 17:01] wonderchook commented on #1521
@amplifi what do you see as the best way to monitor that? Were these warnings always present and we ignored them? Or are they relatively new and we should have paid attention?

[2017-05-30 07:41] oliverroick commented on #1476
@wonderchook — Something along those lines. I thought that there should be a way where we enter the WMS base URL, get the capabilities document, generate a list of available layers and have the user select which layers they want to use. Some WMS provide a lot of layers, many might not be relevant for our partners, so we thought there should be a way to select the layers the should be included.

Th

[2017-05-30 09:14] #1157 closed

[2017-05-30 09:14] #1224 closed

[2017-05-30 10:18] amplifi commented on #1521
@wonderchook The warnings have been present and ignored, so they've accumulated over many months of only fixing errors and not keeping packages up to date. When tests pass, the message displayed has been similar to:

`================= 1873 passed, 829 warnings in 499.97 seconds ==================`

We already use Requires.io for tracking dependencies via email alerts; I've also just enabled and c

[2017-05-30 11:29] #611 closed

[2017-05-30 14:34] linzjax opened #1543 "Add member form can be submitted more than once"
### Steps to reproduce the error
- Go to the member list for an organization.
- Add a member.
- Click the submit button twice.

### Actual behavior
- Error that this user has already been added to the organization.

### Expected behavior
- Submit button is disabled after the first click.

[2017-05-30 14:38] linzjax opened #1544 "Organization admins can remove themselves through the URL"
### Steps to reproduce the error
- Sign in as an admin
- View your member profile within an organization
- Add `/remove/` to the end of the url

### Actual behavior
- Admin is removed

### Expected behavior
- Admin cannot be removed.

[2017-05-30 15:22] dpalomino commented on #1436
hey @alukach. Just moving this to next sprint to continue the support of partners' activities related to this and help @SteadyCadence while she is on the field...

[2017-05-30 15:24] dpalomino commented on #1031
Hey @linzjax. Just including this in the next sprint, to follow up the QA and bugfixing needed. Please feel free to add in the Sprint project any specific tasks/bugs that will be appearing. Thanks :)

[2017-05-30 15:26] dpalomino commented on #490
Carrying over for Sprint 18.

[2017-05-30 15:27] dpalomino commented on #1465
Carrying over to Sprint 18.

[2017-05-30 15:29] dpalomino commented on #1476
Using this issue to track the actual implementation, updating subject and scheduling for Sprint 18.

[2017-05-30 15:30] oliverroick opened #1545 ""Previous" button in step 2 of project wizard links to next page"
### Steps to reproduce the error

1. Create a new project
2. Click next in the project extent step
3. On the project details page, click the "previous" button

### Actual behavior

You end up on the permissions page.

### Expected behavior

You should end up on the project extent page.

[2017-05-30 15:31] dpalomino commented on #1135
Hey @linzjax. Do you think you could take care of this issue during the next sprint? Please, ping me if you need to clarify... thnks!

[2017-05-30 15:33] dpalomino commented on #1190
Adding to Sprint 18 as tentative. To be evaluated.

[2017-05-30 15:40] dpalomino commented on #1414
Assigning to me to write some requirements and do some research on this one (not for the actual implementation).

[2017-05-30 16:47] dpalomino commented on #1069
@bethschechter, any suggestions for the marketing messages?

My two cents:
- I'd avoid to use "cloud" word. Some partners are still some kind scared with that
- For the new users, I'd also mention geometries, something like "to collect, store and manage geometries, field data and documents related to land rights in our secure platform".

Thanks @clash99!

[2017-05-30 17:58] bethschechter commented on #1069
@dpalomino I agree with you on the cloud language. Also, in general, I'd like to see less text in both of those squares. Let me see if I can distill it down...

[2017-05-30 17:59] clash99 commented on #1069
@dpalomino and @bethschechter - i'm working on this now so if you can provide something soon, I can include it in the PR

[2017-05-30 18:04] bethschechter commented on #1069
kk working on it now

[2017-05-30 18:29] bethschechter commented on #1069
@dpalomino @clash99 how about this:

New Users

Register for free to securely collect, manage, and store your land and resource rights documentation, geometries, and other data.

[Register]

Have An Account?

Sign in to manage your projects and access permissions-based data.

[Sign in]

[2017-05-30 18:30] bethschechter commented on #1069
I went with shorter rather than longer but tried to get some of those suggestions in there, David.

[2017-05-30 19:30] linzjax opened #1546 "Party detail page should have `can_edit` and `can_delete` checks"
### Steps to reproduce the error
- Sign in with a Project User
- View a party detail page

### Actual behavior
![screen shot 2017-05-30 at 3 29 08 pm](https://cloud.githubusercontent.com/assets/8128188/26601167/df12b1be-454c-11e7-9f72-0e7b1f3b0c8d.png)

The edit and delete buttons appear in the top left corner

### Expected behavior
- Should match behavior on location detail page.

[2017-05-30 19:31] linzjax commented on #1546
Same with the Relationship Detail page

[2017-05-30 21:16] alukach commented on #1436
👍

[2017-05-30 22:51] clash99 commented on #1069
Thanks @bethschechter.  I've updated the copy on the project overview page.

<img width="752" alt="screenshot 2017-05-30 17 50 53" src="https://cloud.githubusercontent.com/assets/1119621/26608316/8f096cbc-4560-11e7-9d13-a57eb62752e1.png">

[2017-05-30 23:09] bethschechter commented on #1069
Nice, tho it would be great if I could get that first one down to 2
lines...hmmm...

On May 30, 2017 3:51 PM, "Chandra Lash" <notifications@github.com> wrote:

[2017-05-30 23:50] clash99 commented on #1069
If you are happy with the text, I can adjust the layout to line up the buttons. Its responsive so the number of lines will change based on screen resolution.

[2017-05-30 23:58] bethschechter commented on #1069
oooh that would be cool. Thank you!

[2017-05-31 02:07] wonderchook commented on #1545
@oliverroick to reproduce this I had to do:

1. Create new project
2. Click next on the project extent step
3. Give project a name
4. Click "previous"
5. Click "next"
6. "Click "previous"

[2017-05-31 02:50] clash99 opened #1547 "Non org member can add/edit/delete projects and project data"
### Steps to reproduce the error

On staging, user name **clash** and I'm not a member of an organization but can add/edit/delete projects and project data.

<img width="1356" alt="screenshot 2017-05-30 21 41 29" src="https://cloud.githubusercontent.com/assets/1119621/26613651/6b07b71c-4581-11e7-97a5-0357e42c94df.png">

### Actual behavior

Can add project and add/edit/delete project data.

<img w

[2017-05-31 04:05] SteadyCadence opened #1548 "Cannot files questionnaire in IE (WIP)"
### Steps to reproduce the error

1. Open IE browser (version ----) and go through "Create project" steps
2. When get to questionnaire upload, the box is greyed out for viewing the file. Can click the "Browse" button and upload file but file does not seem to upload.
3. Click "Save" and it loads the default questionnaire.

** Not sure if this is a bug from before or if it is new.

### Actual behavi

[2017-05-31 04:08] SteadyCadence opened #1549 "Cannot upload forms with certain language fonts"
### Steps to reproduce the error

1. Go through the project steps and upload this questionnaire ([questions.xlsx](https://github.com/Cadasta/cadasta-platform/files/1041874/KESANquestions.xlsx)).
2. Get an error saying "Input does not support special characters, emojis, +, -, @"

### Actual behavior

We need to test if the Karen script or the Myanmar script is causing the issue.  I have a feeling i

[2017-05-31 04:14] SteadyCadence opened #1550 "Ability to upload custom fonts in Cadasta for specific partners"
### Steps to reproduce the error

If there was a way in the organization settings to upload specific .tffs and/or font files then I think we could support KESAN better. This may be the difference between them using us or keeping with their current workflow.

I am still working out the kinks (seeing how to get the scripts to work locally).

It would require being able to load the files and font (vi

[2017-05-31 05:10] SteadyCadence commented on #1162
I worked with Mabu and we successfully uploaded a .doc file.  Good thing that worked!  Otherwise we would have to convert all the files to PDF.

[2017-05-31 08:32] SteadyCadence opened #1551 "Ability to preview resources (and not just download)"
When you click on a resource, it alwasys downloads that resource. KESAN will be uploading 1000s of resources.  They need an option to be able to take a peek at the document instead of re-downloading it all the time.

The type of files that they have are .docs, .pdf, ,jpg, .tiff, .gpx.

[2017-05-31 09:51] amplifi commented on #1551
Duplicate of #1502 -- closing the older issue.

There are two parts to this change. One is needing to set mimetypes (which will change the default behavior to that of the browser, allowing the file to be displayed instead of downloaded). The second is that the current image shown on the resource detail page is the thumbnail; this will need to be changed so that clicking the thumbnail links to the

[2017-05-31 09:52] #1502 closed

[2017-05-31 09:57] amplifi commented on #1547
clash was made a superuser on 5 May for testing the superuser views. Does this happen with any other accounts? (And let me know if you'd like it reverted to a regular account.)

[2017-05-31 13:16] clash99 commented on #1547
@amplifi - Thank you. I had forgotten about that and since the other superuser bugs exist, I couldn't tell by looking at anything that I was a superuser. I'm going to add a task to add a superuser badge or something similar to the right of the username when logged in. I think this is good timing with the user dashboard stuff coming up. I will close this task.

[2017-05-31 13:16] #1547 closed

[2017-05-31 14:31] wonderchook commented on #1549
@SteadyCadence can you include some samples? You mentioned this was working on demo?

@oliverroick perhaps related to sanitation?

[2017-05-31 15:25] wonderchook commented on #1551
this needs to be priortized in the backlog. Removing the priority label

[2017-05-31 15:26] SteadyCadence commented on #1549
I uploaded the questionnaire.  I am almost 100% it has to do with the non-Unicode fonts in the ::my column. At least I hope that is the issue... :)

[2017-05-31 15:27] wonderchook commented on #1550
removing the priority label. Features need to be prioritized in the backlog against all the other features and partner requests.

[2017-05-31 15:29] wonderchook commented on #1549
@SteadyCadence so it did let you upload the questionnaire? Or did you mean you added it to the ticket?

[2017-05-31 15:35] wonderchook commented on #1548
@SteadyCadence what version of IE? I am not able to reproduce

[2017-05-31 15:51] clash99 commented on #1549
WIP font research:

- http://kanyawtech.org/tutorials/fonts

[2017-05-31 15:52] dpalomino commented on #1549
Hi,

@SteadyCadence already uploaded, it was in the description, link [here](https://github.com/Cadasta/cadasta-platform/files/1041874/KESANquestions.xlsx)

[2017-05-31 16:03] SteadyCadence commented on #1548
I have to get that tomorrow.  Which version are you on?  The latest?  If so, I can try to have them update tomorrow.

[2017-05-31 16:05] wonderchook commented on #1548
I tried it both using Edge and IE 11

[2017-05-31 16:07] SteadyCadence commented on #1550
I am closing this.  I think this is not the best solution for the issue at hand.

[2017-05-31 16:07] #1550 closed

[2017-05-31 16:11] dpalomino commented on #1548
@SteadyCadence, are you getting some error message? "File type not allowed" for instance?

[2017-05-31 16:14] SteadyCadence opened #1552 "Possible solution for converting KNU to KNU Unicode (which is supported in Cadasta)"
These scripts look like viable solutions for converting KNU files into KNU Unicode files.
http://kanyawtech.org/development/scripts

They essentially re-map the characters so that they fit the web font standards (Unicode).

Can we get this script to work on the example files: https://drive.google.com/drive/folders/0B7s_glOIxR37dzVfcUl6M3p4Mk0

** Probably requires the installation of KNU.tff (sent

[2017-05-31 16:36] SteadyCadence commented on #1549
It was the unsupported Unicode font in the questionnaire that caused the error.

[2017-05-31 16:49] clash99 commented on #1550
Just adding this note while fresh: One option might be to list Noto fonts that can be selected.  https://www.google.com/get/noto/

[2017-05-31 16:49] dpalomino commented on #1548
I tried to test with Browser Stack but I'm getting some confusing results:

- MacOS Sierra Firefox 53: OK (I need to download a demo questionnaire first into their local machine and then upload it again, but was accepted without any issue)
- Windows 10 Edge version 15: Fail (I get the error message "File type not allowed")
- Windows 10 IE version 11: Fail (I get the error message "File type not al

[2017-05-31 19:06] clash99 opened #1553 "Put indicator next to username if superuser"
Add an indicator next to the username in the header if user is a superuser. This will acknowledge the permission level for a superuser.

[2017-06-01 00:20] SteadyCadence commented on #1548
Ill get the version this morning and take some GIFs.  It looks like the files is uploaded but then it just doesnt work.  There are no errors.

[2017-06-01 05:02] SteadyCadence commented on #1548
Version 58.0.3029.110 (64-bit)

I think its IE 10... not sure.

[2017-06-01 06:32] amplifi commented on #1548
Version 58.0.3029.110 (64-bit) is Chrome

[2017-06-01 07:20] SteadyCadence commented on #1548
Microsoft Edge 38.14393.0.0

This is what the browser file section looks like:
![ie](https://cloud.githubusercontent.com/assets/25337622/26668718/31a77d04-46d5-11e7-9830-97d32aaf9a8e.PNG)

[2017-06-01 07:46] SteadyCadence commented on #1548
The file uploads seem to be working today.  I wonder if it was slow internet. Though when you uploaded a file it did not show the path (now it does).  It would let you select and then the path field would be empty.

Might have been user error...

[2017-06-01 07:46] #1548 closed

[2017-06-01 08:33] SteadyCadence commented on #1549
I lied.  It is still happening with one computer.  I am going to record a GIF and find the version of it. Its Windows 10 Edge 38.14393.1066.0; EdgeHTML 14.14393 circa 2016

[2017-06-01 09:22] dpalomino commented on #1549
hey @SteadyCadence, can you upload the new questionnaire?

With the old one it is also happening to me with Mac OS 10.11.16, Chrome 58.0.3029.110 (64 bit).

Error message: "Input can not contain HTML tags, emojis or start with any of + - = and @."
![screen shot 2017-06-01 at 11 19 25](https://cloud.githubusercontent.com/assets/17198051/26673221/65fcb7ea-46bc-11e7-826a-8cbdb33a4fda.png)

[2017-06-01 10:01] SteadyCadence commented on #1549
I need them to send it. They are testing.  Can you remove the `::my` columns?  That will let it work.

[2017-06-01 10:04] SteadyCadence commented on #1552
I think we may be getting close!!! I popped the script in the C:\Python\Scripts file and ran it from the PowerShell on Windows.  I had to make one adjustment to the script-- remove the encoding='ut8' parameter because that is not supported in Python2 (only Python 3).

Files:
[interview.txt](https://github.com/Cadasta/cadasta-platform/files/1044081/interview.txt)
[Unicodeinterview.txt](https://gith

[2017-06-01 11:37] dpalomino commented on #1546
Thanks @bjohare, will take a look at the same time he is working on tutelary stuff.

[2017-06-01 11:40] dpalomino commented on #1539
@clash99, can you please take a look?

[2017-06-01 13:53] linzjax commented on #1516
#### Geometry doesn't revert color after back button
1. Click on a location
2. Navigate away from SMap
3. Press back button
4. Press "Add location"

__Result:__ Originally viewed location does not change back to default color

[2017-06-01 15:02] dpalomino commented on #1549
We have been reviewing during the programs call. This is only happening with non-unicode Burmise language, which is not properly displayed anyway, so having the questionnaire rejected during the upload does not make a real difference.

Closing the issue for now, pease reopen it if needed. Thanks all for the checking this!

[2017-06-01 15:02] #1549 closed

[2017-06-01 15:22] dpalomino opened #1554 "Ability to display the "uncommon" fonts in the platform"
As discussed, we need a way to properly display "uncommon" fonts not currently supported in the platform (and specifically the font used by a particular partner).

This is a follow up from #1549 issue (please see details there).

[2017-06-01 15:37] clash99 commented on #1554
The ones mentioned yesterday: KNU, Karen, Padock (Burmese) and Noto Myanmar.

[2017-06-01 15:54] clash99 commented on #1552
Adding fonts to platform will be covered by #1554.

[2017-06-01 16:05] clash99 commented on #1554
We should probably have a discussion related to this for the bigger picture. Scalability and maintenance could get difficult very quickly. Some options off the top of my head:

- Is a reasonable solution to rely on users to have these fonts installed locally?
- We could detect these uncommon fonts and provide links in a alert message to download them (would this be from us or someone like google?

[2017-06-01 16:07] amplifi commented on #1552
Flagging this -- even if we can get the character set mapping to work, for any non-Unicode charset portions of the platform will still not function (at all, or may exhibit unpredictable behavior), including but not limited to: any type of sorting, search, string validation...

[2017-06-01 16:09] amplifi commented on #1554
Flagging this -- even if we can get the character set mapping to work, for any non-Unicode charset portions of the platform will still not function (at all, or may exhibit unpredictable behavior), including but not limited to: any type of sorting, search, string validation, export...

This is not just a font issue; this is a character set/encoding issue.

[2017-06-01 16:34] alukach commented on #1554
Regarding @amplifi's comment, I think it's important that we are very clear about which problems we're talking about.  There seem to be two issues at hand:

1. What do we do with non-unicode data? Should it be supported? What do we do if it's not supported? If we are supporting it, how do we handle those fonts?
2. If the data is encoded in unicode, how do we ensure that its characters are represen

[2017-06-01 16:48] alukach commented on #1554
Looks like my request for as-needed font loading is already built in to modern-browsers: https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/webfont-optimization#unicode-range_subsetting

[2017-06-01 17:44] clash99 commented on #1554
@alukach

For Q1, I agree we should not support non-unicode data. Karen is pseudo-unicode meaning that it is a combination of unicode and not so do we throw it all out?

For Q2, since the users at-hand have the fonts installed locally we don't have to do anything with the "visual images that typically represent the parts of language" display issue on the platform right now.  :)
I think we need to

[2017-06-01 18:02] clash99 commented on #1554
@SteadyCadence and @dpalomino - Since it seems like the users we are currently supporting have these fonts locally installed, I suggest we table this for a larger discussion in Madrid (see note above). I recommend we move this from high priority to medium priority. Let me know if you agree.

[2017-06-01 19:04] alukach commented on #1554
@clash99 I'm not sure what you mean by pseudo-unicode. My understanding is that all of S'gaw Karen should be included in the [Myanmar Unicode block](https://en.wikipedia.org/wiki/Myanmar_(Unicode_block)), meaning it is valid Unicode. Am I mistaken? Are there more characters outside of that Unicode block that make-up the S'gaw Karen written language?

Are we confident that all S'gaw Karen speaking

[2017-06-01 19:33] clash99 commented on #1554
@alukach I don't know if this is an issue or not but it seems like one symbol ( ြ) might be a problem, or at least worth verifying that it is not a problem based on what I've read.

Good questions for @SteadyCadence. When I was screen sharing with Katrina last night they were installing fonts on the machines they were using so I'm pretty sure they have everything locally that they need (for this p

[2017-06-02 02:19] clash99 commented on #1260
@dpalomino - How do we proceed with this one? Is this now part of tutelary replacement? I'm assuming this will be part of the DR approval.

[2017-06-02 02:20] clash99 commented on #1427
This has been merged - marking complete.

[2017-06-02 02:20] #1427 closed

[2017-06-02 05:06] SteadyCadence commented on #1554
@alukach @clash99 Looking at these tables with Mabu, he says that there are some characters in the Myanmar table that are not used in Karen and then there are some characters in the extension A and extension B that are used in Karen: https://en.wikipedia.org/wiki/S%27gaw_Karen_Script

Ill try to print out the sheet and have him highlight the characters that Karen uses... not sure how much that wil

[2017-06-02 05:58] seav commented on #1554
It should be OK if there are unused characters. What we should worry about is if there are characters they use that *aren't* in Unicode.

[2017-06-02 07:42] SteadyCadence commented on #664
Not sure if this fully related to the issue, but today Mabu wanted to upload a .gpx file and see how that works.  The whole workflow is quite confusing.  I think that when a user adds a location they should be able to choose if they want to trace the map, upload gpx or shapefile.  Or something to that nature.

And then we would also need a way to support bulk uploads... Overall the current way the

[2017-06-02 07:45] SteadyCadence commented on #1554
I think they are all supported in Unicode-- even the numbers. I will confirm.

[2017-06-02 08:23] SteadyCadence opened #1555 "Resources :: "Detach" button only activated for resources not attached"
### Steps to reproduce the error

Attach resource via a location and in general.
Observe that you can only "detach" ones that are not associated with anything...

<img width="1158" alt="screen shot 2017-06-02 at 3 22 06 pm" src="https://cloud.githubusercontent.com/assets/25337622/26717385/69146752-47a7-11e7-8ae2-4d4148ddd1d4.png">

### Expected behavior
I expect the opposite.

[2017-06-02 08:25] SteadyCadence commented on #1350
I get no error or map layer when I upload this file in staging:
[convertToGPX.txt](https://github.com/Cadasta/cadasta-platform/files/1047097/convertToGPX.txt)

I converted it from .gdb to .gpx in GPS Babel. Our partner in Thailand saves mostly in .gdb.... I think we will have to write a script to convert. It would be good to know what is accepted or not since the gpx doesnt seem to load.

[2017-06-02 09:00] bjohare commented on #1350
@SteadyCadence .txt is not a gpx file so won't be recognized as a spatial resouce, it should be accepted as a Resource though which is probably why you're not getting an error message. Can you rename the file with a `.gpx` extension and try again?

[2017-06-02 09:13] SteadyCadence commented on #1350
Sounds like it works with @bjohare's changes!  Awesome Sauce.

[2017-06-02 09:49] SteadyCadence opened #1556 "Ability to Associate GPX Files with Locations"
A few partners would like to add land parcels and information to the map using gpx as the source of the land data.

When they "Add New Location", there should be an option to "Upload GPS trace" and choose to have it show up as a (1) map layer or as (2) the location geometry.

[2017-06-02 13:01] alukach commented on #1554
@steadycadence thanks for the update. I take it that all of the characters rendered properly when you opened the S'gaw Karen webpage? Even the extension? As @seav said, the issue isn't unused characters. Right now we just want to verify that our target users have that font installed on their machines and that it plays well with their browsers and Unicode text.

[2017-06-02 16:09] clash99 commented on #1554
I've read the emails @SteadyCadence and I've created a branch called font/padauk that I believe will work. The KNU font mentioned wasn't available in the link and this Paudauk font was recommended in the second email. I think it will work based off my before/after screenshots below. Can you verify this is the readable?

**BEFORE**

![screenshot 2017-06-02 11 05 24](https://cloud.githubusercontent.

[2017-06-02 18:08] seav commented on #1555
I assume that this screenshot is from the Resources tab? If so, then this is expected behavior. The Resources tab lists all resources in the project and also allows you to detach resources that are attached to the project itself. The first three resources are not attached to the project itself but to other entities. That's why there is no "Detach" button. On the other hand, the last resource is at

[2017-06-02 19:40] clash99 commented on #1555
When you are looking at the detail page for that resource, you can detach it from anything it is connected to.

There was/is? a task in the backlog to add a dropdown filter to the resources index that would allow you to filter by: Attached to Project (default), Location, Relationship, Party, All. Would that help clarify the resource connections or does that make it more confusing?

[2017-06-05 08:02] SteadyCadence commented on #1554
Thank you!  I'll try to get someone to take a peek.  I know I will go into the office on Wed, so I can certainly get it done by then.

I appreciate your hard work on this!  I think it will make the team super happy, esp because they have had some doubts.

[2017-06-05 13:32] dpalomino commented on #1554
First, thanks to all @clash99 @alukach @seav @amplifi and @SteadyCadence !!! This is s a very very tricky, difficult but important thing.

I agree, indeed as far as I understood is our only option...

If we can confirm (@SteadyCadence?) that now all the team have the correct fonts installed and there are no problems working with the data then I think it should be ok. If this is not working for all

[2017-06-05 13:57] dpalomino commented on #1260
thanks @clash99. Yes It will part of the DR approval (either if the implementation will be completed now or later on).

It is not required to be included in this sprint during the tutelary replacement (it's not a high priority), but I am not sure if it is better from the implementation point of view to include this now rather than revisiting later. @oliverroick, do you have any preferences?

[2017-06-05 14:02] dpalomino opened #1558 "String Sanitation - Password reset"
Thanks @linzjax for detecting this. Issuing individual issues from the comments in PR #1395.

Steps To Reproduce:
1. Go to password reset process
2. I can reset my password to contain an emoji

[2017-06-05 14:05] dpalomino opened #1559 "String Sanitation - Organization and Project URLs accepts emojis"
Thanks @linzjax for detecting this. Issuing individual issues from the comments in PR #1395.

Steps To Reproduce:
1. Go to project or organization URL (when creating a new project/org or when editing the details)
2. URL field accepts emojis

[2017-06-05 14:18] oliverroick commented on #1260
We should do it later if it's not a priority at the moment

[2017-06-05 14:19] dpalomino opened #1560 "String Sanitation - Uploading questionnaires with emojis or script code"
In relation with PR #1395.

For emojis. Uploading questionnaires when creating projects:

1. You can include an emoji in a column name of a questionnaire (I tested with "tittle" column in settings tab). Interestingly:
    + If included in the "tittle" column of the settings tab, it is accepted. Example here
    + If included in the "name" column of the survey tab, it is not accepted (but you are a

[2017-06-05 15:33] dpalomino commented on #1556
@SteadyCadence and I have been catching up regarding this feature.

Right now the GPX import implementation is oriented to show a layer on the map with the data contained in the GPX file, so we can enable/disable a few layer on the map.

But the feature is not designed to use this GPX information to actually create a location. Some partners (specially those working with paper and transcribing the

[2017-06-05 15:35] clash99 opened #1561 "Icon options"
Research into option for better icon library, ideally svg.

[2017-06-05 16:02] linzjax commented on #1516
#### Location reverts to default color after delete/edit

1. Edit a geometry
2. __Don't__ click 'save or cancel' on map.
3. Delete location. Save.
4. Add a new geometry to replace missing old one.
5. Save in form

___Result___: Location changes to default color. Clicking on it doesn't make it stay 'selected'. Clicking on another location, then clicking back on the first location causes it to remai

[2017-06-05 17:41] linzjax commented on #1516
#### 'Validator "sanitize" is already defined.' error triggered by parsley.

1. Click "Add location".
2. Open console.

__Result:__ parsley triggers a `Validator "sanitize" is already defined.` error every time the page is loaded.

__Reason:__ In order for event hooks to work, they have to be loaded dynamically, but parsley appears to only need it once?

[2017-06-05 21:18] linzjax commented on #1516
[_Fix Pending_]

#### Adding a new location, deleting it, then canceling the whole process leaves geometry on screen.

1. Click "add location".
2. Add a geometry and save on the map
3. Click "delete" on the map and delete this new geometry
4. Add a new geometry and click "save" on the map.
5. Click cancel in the form.

__Result:__ geometry is still visible.

[2017-06-05 21:21] linzjax commented on #1516
[_Fix Pending_]
#### Adding a new location, deleting it, adding a new one, then adding another location causes the first geometry to be highlighted

1. Click "add location"
2. Add geometry and save on map
3. Delete on map and save on map
4. Add new geometry and click "save" in form

__Result:__ Geometry is not highlighted, and when clicked is "undefined"

5. Add another new location.
6. Save

__Re

[2017-06-06 06:49] SteadyCadence commented on #1554
The Padauk font works well in Chrome and Safari.  I couldnt test on IE yet. (They use Chrome and IE mostly).  In Firefox, there are characters missing.

I think we should go ahead and merge that branch asap.  This gets us one step closer to an ideal readability.

It sounds to me like Padauk and Karen are very similar; however, they use tones differently.  For example, you can see some ticks off of

[2017-06-06 07:18] SteadyCadence opened #1563 "Adding user names and emails cap sensitive?"
I struggle with adding members to orgs sometimes and I think it may be because they are cap sensitive.  Is that possible?  If so can we have a function that converts everything to lowercase on the backend so that when I write "Fpichel" it gets treated the same as "fpichel"?

Same with emails.

[2017-06-06 07:22] SteadyCadence opened #1564 "UI :: Navigation after clicking party tab dead ends"
I just wanted to get this up here before I forget.

Last week I spend a lot of time showing partners how to use Cadasta and I always got stuck after clicking on a party name.

The interface is confusing, esp for me a native english speaker, so its probably even more confusing for non-native speakers.

I know that there will be changes coming up. Not sure if the party/relationship tabs and interfac

[2017-06-06 09:05] amp529 commented on #1558
This is expected behavior and a good thing.

Passwords are encrypted when stored in the database, and they aren't accessed by any other component of the platform aside from Django's auth module. So as long as the characters are Unicode (which emoji are), it's totally fine. Restricting emoji would actually restrict the overall range of possible characters in a password, and make the passwords relat

[2017-06-06 09:07] amplifi commented on #1558
This is expected behavior and a good thing.

Passwords are encrypted when stored in the database, and they aren't accessed by any other component of the platform aside from Django's auth module. So as long as the characters are Unicode (which emoji are), it's totally fine. Restricting emoji would actually restrict the overall range of possible characters in a password, and make the passwords relat

[2017-06-06 09:07] #1558 closed

[2017-06-06 09:10] amplifi commented on #1559
Emoji are valid characters in a URL (and there's even an emoji URL shortener: http://www.🍕💩.ws ) so we'll need to decide how we want to handle this.

[2017-06-06 10:15] SteadyCadence opened #1565 "Enhancement :: Create "Edit in OSM" button on basemap"
One way we could get more OpenStreetMap involvement and community backing the platform is if we integrate OSM editing into the platform a little bit more.

I have seen some platforms that have a button where it will take you to the area you are looking at in OSM so that you can edit or add features that may be missing when you look at the basemap.

Essentially tially, we would add a small link of

[2017-06-06 11:30] dpalomino commented on #1563
Yes, they are cap sensitive. Not sure if there is a security reason for this, but I agree it'd be better to make them case insensitive.

Thoughts @amplifi @clash99 ?

[2017-06-06 11:54] dpalomino commented on #1460
PR was already merged, closing issue.

[2017-06-06 11:54] #1460 closed

[2017-06-06 12:10] amplifi commented on #1563
The security reason for this was that usernames were originally case-sensitive, so everywhere else usernames were referenced needed to be case-sensitive.

We made usernames case-insensitive in #946, so the Add Member field can now be changed to case-insensitive.

[2017-06-06 14:34] clash99 commented on #1553
Adds small badge "SU" to right of user name if superuser.

![screenshot 2017-06-06 08 41 35](https://cloud.githubusercontent.com/assets/1119621/26834597/637de718-4a9b-11e7-8a07-f67ee26224aa.png)

[2017-06-06 15:34] dpalomino commented on #1563
Thanks @amplifi for the clarification :)

Adding as a bug then.

[2017-06-06 15:59] linzjax commented on #1516
#### Newly added locations becomes uneditable if map moves

1. Click 'add location'
2. Add a geometry
3. __Don't__ save
4. Zoom or pan map

__Result:__ Location reverts to default style.

[2017-06-06 16:00] linzjax commented on #1516
#### Canceling adding an additional geometry causes first geometry to disappear.

1. Click "add location"
2. Add geometry
3. Click "save" on map
4. Click on a geometry button
5. Click geometry cancel button

__Result:__ Geometry disappears.

[2017-06-06 17:37] wonderchook commented on #1565
So I'd already considered this and the main reason we have not done it is that adding another account at this point would be confusing for our main user base.

[2017-06-07 13:42] clash99 commented on #1419
Closing - already merged.

[2017-06-07 13:42] #1419 closed

[2017-06-07 13:42] clash99 commented on #1539
Closing - already merged.

[2017-06-07 13:42] #1539 closed

[2017-06-07 14:43] clash99 commented on #1463
The readme is correct now without the resources included.

![screenshot 2017-06-07 09 41 51](https://user-images.githubusercontent.com/1119621/26884548-a3113cd4-4b65-11e7-9aa1-537e154571f6.png)

We should double-check it once resources are included once.  I'm closing this task.

[2017-06-07 14:43] #1463 closed

[2017-06-07 16:13] wonderchook commented on #1565
One thing we could do instead is the map notes where you report an error. That might be more manageable.

[2017-06-07 16:29] dpalomino commented on #1554
@SteadyCadence, we need to check if we need this landed urgently or we can wait until having a broader solution. Can you confirm if all the partner's team can see properly their data just having the local fonts installed?

[2017-06-07 21:59] #1059 closed

[2017-06-07 21:59] #1244 closed

[2017-06-08 16:23] clash99 commented on #1554
Reference: http://scripts.sil.org/cms/scripts/page.php?site_id=projects&item_id=graphite_fontdemo

[2017-06-08 20:29] linzjax commented on #1135
@dpalomino Do you have sample files you could send me?

[2017-06-08 20:30] linzjax commented on #1135
Or wait, @bjohare are you working on this now?

[2017-06-09 09:30] dpalomino commented on #1135
Hey @linzjax, yes I think @bjohare is working on this issue. It is just to add the MIME types in the whitelist (the list described in the first comment). Thanks!

[2017-06-09 12:27] dpalomino opened #1571 "Public projects' data is only accessible to Project Users"
### Steps to reproduce the error

1. Access to the platform as a anonymous user, registered user (but not being a member of the org) or public user
2. Try to access to a public project (for instance, [this one](https://platform-staging.cadasta.org/organizations/david-org/projects/katrina-and-david-testing/))
3. When you try to open a location you get a permissions error message

### Actual behavio

[2017-06-09 12:30] dpalomino opened #1572 "Geometries/location attributes not loading in one project"
### Steps to reproduce the error

1. I have only seen this behaviour with [this project](https://platform.cadasta.org/organizations/landesa/projects/odisha-data-collection/)
2. Go to that project Overview page (8 locations)
3. See "Loading locations" message for ever

Other projects are working fine.

Log from the error [here](https://cadasta.slack.com/files/slackbot/F5R9JBFBL/spatial).

[2017-06-09 13:33] SteadyCadence commented on #1572
There's a 500 error occurring on the spatial endpoint. I feel like its something in the attributes... needs investigation

[2017-06-09 13:38] SteadyCadence opened #1573 "API :: Location endpoint has different validation expectations than party and relationship endpoints"
<img width="1119" alt="error" src="https://user-images.githubusercontent.com/25337622/26977832-6e81e488-4d53-11e7-8a6f-adc79c2a022f.png">
(igore the geometry issue)

Making a `post` call to the location endpoint and I get validation errors.  This does not occur on the other endpoints.  Inconsistent.

The attribute fields that it is erroring out on are non-required text fields.  For some reason, th

[2017-06-09 13:50] SteadyCadence commented on #1573
Should this issue be in a different repo?

[2017-06-09 13:54] clash99 commented on #1532
**Link to wireframe pdf:**  https://drive.google.com/open?id=0BzpiEtMtHC3rY0ZSZDZnMGV4ZFE

**Add new team member (text input):**

![project dashboard_ add new](https://user-images.githubusercontent.com/1119621/26977923-2ff1c152-4cef-11e7-916d-2aa1592c14bb.png)

**Select new team member (from org members):**

![project dashboard_ select](https://user-images.githubusercontent.com/1119621/26978239-6c

[2017-06-09 14:54] wonderchook commented on #1532
@clash I'm thinking it might be better to have a cohesive 1 page interface rather than the tabs. What about something like showing the dropdown of the members already in the org and then having the option there to "add new" and send the invite?

[2017-06-09 15:45] wonderchook commented on #1573
@SteadyCadence nope not if it is an API issue

[2017-06-09 15:45] bjohare commented on #1516
**Refreshing the edit page doesn't enable editing**
1. Edit a geometry
2. Refresh the page

**Result:** The geometry is selected but the editing tools are not enabled.

[2017-06-09 15:49] bjohare commented on #1516
**Geometry dragging is disabled on cancelling edit**

1. Edit a geometry
2. Drag geometry
3. Click `Cancel` on map
4. Click 'Edit Feature' on map.
5. Drag geometry

**Result:** Dragging geometry is disabled.

[2017-06-09 15:54] bjohare commented on #1516
**When `Save/Cancel` menu is active geometry should be editable**
1. Edit a polygon
2. Click 'Add Polygon'
3. Click cancel polygon drawing before finishing

**Result:** `Save/Cancel` menu remains active but geometry is not editable.

[2017-06-09 17:05] SteadyCadence opened #1574 "Resources :: Enable preview for .tifs"
It would be nice to be able to get a preview of tiff files, like jpgs.  Is this possible?

<img width="676" alt="screen shot 2017-06-10 at 12 04 15 am" src="https://user-images.githubusercontent.com/25337622/26986175-88f85aaa-4d70-11e7-81a3-948aa544fc14.png">

[2017-06-09 18:05] SteadyCadence opened #1575 "Custom values (location_type, tenure_type) cannot have more than 10 chars - Error should be raised when uploading the xlsform questionnaire"
I changed the values of the party_type to be 'owner' or 'representative' and on the web it shows up as individual.

Also, on the API it doesnt allow me to change the value. Error: `{"type":["\"owner\" is not a valid choice."]}`

[2017-06-09 18:34] wonderchook commented on #1575
@SteadyCadence that is working as designed. You only can have custom types for relationships and locations right now. It is because the UI is more complex for parties

[2017-06-09 18:45] clash99 commented on #1574
Tiffs are not supported well by most browsers. We would have to convert them to another format such as jpg or png. You can reference this issue #1507.

[2017-06-09 19:47] clash99 commented on #1474
Quick code check reveals there is something buggy with the `if add_allowed` condition for org admin. Since these permissions are being replaced, I think we can close this one.

[2017-06-09 19:47] #1474 closed

[2017-06-10 02:38] SteadyCadence commented on #1575
I am getting an error for `tenure_type` as well.  It says: "{"tenure_type":["Ensure this field has no more than 10 characters."]}"

[2017-06-10 03:23] SteadyCadence opened #1576 "Remove max char length for tenure_type"
I need this character length removed for custom values!!

https://github.com/Cadasta/cadasta-platform/blob/4ba5b2527f4f6a973b9135b876e15de5dad872a8/cadasta/party/migrations/0003_convert_tenuretype_to_charfield.py

[2017-06-10 03:30] seav commented on #1576
Just use an abbreviation for the type (like "LH" for leasehold). Then use the full name as the label in the XLSForm.

[2017-06-10 03:38] seav commented on #1471
Since the search export feature has been removed, and if we put it back it should be an asynchronous process by then, I think we can close this issue.

[2017-06-10 03:38] #1471 closed

[2017-06-10 04:14] SteadyCadence commented on #1576
Yea, I can work around it for now.

The abbreviations don't work well when you are using the QGIS plugin.  Right now it only pulls down the "keys"/names of the fields.  I guess that is the root of the problem--> QGIS only using the names of the fields and not the labels.

[2017-06-10 09:35] SteadyCadence commented on #1554
The font is looking good on staging.  Its working!!

Request:  We need the KNU and Paudauk font to be LARGER.  Like size 16 or more.  It's super hard to read.

[2017-06-12 07:42] oliverroick commented on #1571
This is not a bug, this is expected behaviour. If we want to change the behaviour we should add it to the permissions table in [DR 0008](https://github.com/Cadasta/decision-records/pull/8).

I think, we can close the ticket when the required changes are added to the permissions table.

[2017-06-12 08:56] oliverroick commented on #1573
@steadycadence could you post the full request payload that you posted when this error occurred?

[2017-06-12 09:38] dpalomino commented on #1574
Hi @SteadyCadence. Can you confirm if TIFFs are previewed in IE, Edge or Safari?

Taking a look to [this table](https://en.wikipedia.org/wiki/Comparison_of_web_browsers) it looks like they are the only big ones that support TIFFs.

[2017-06-12 09:56] dpalomino commented on #1575
So as commented, party_type was not included in this feature.

I've been doing a quick test with [this project](https://platform-staging.cadasta.org/organizations/david-3/projects/custom-entity-types) and I've seen that the problem appears when in the questionnaire a new choice for either location_type or tenure_type is including with the name containing more than 10 characters.

The issue appears

[2017-06-12 09:57] dpalomino commented on #1575
Updating the title to be more explanatory.

[2017-06-12 10:01] dpalomino commented on #1576
Dup of #1575. Closing this for now.

[2017-06-12 10:01] #1576 closed

[2017-06-12 10:01] dpalomino commented on #1575
Copying a relevant comment from @SteadyCadence:

The abbreviations don't work well when you are using the QGIS plugin. Right now it only pulls down the "keys"/names of the fields. I guess that is the root of the problem--> QGIS only using the names of the fields and not the labels.

[2017-06-12 10:06] dpalomino commented on #1162
Yeah @SteadyCadence. The issue was related to submitting files with non-standard MIME types (as we're checking this, if it's not a standard MIME type as Eugene explained then it's rejected).

I think it's safe to close this issue for now, please reopen if needed.

[2017-06-12 10:06] #1162 closed

[2017-06-12 10:22] dpalomino opened #1577 "Support for different privacy levels at entity level"
We have been asked to support some level of granularity for project permissions at entity level (so this is not related to having public/private attributes within the same entity type).

The first proposal to be discussed is to support 4 different privacy levels:
1. Privacy Level 1: All information is private
2. Privacy Level 2: Only geometries are public, all other information are private
3. Priv

[2017-06-12 10:28] bjohare commented on #1516
**Vertex edit handles are oversized**
1. Edit a polygon or linestring

**Result**: The vertex edit handles are too big. This bit of css should fix it:
[code]

[2017-06-12 11:05] bjohare commented on #1516
**Editor toolbar control divider too thick**
 1. Edit a geometry (edit tools become active)
 2. The divider between the editor controls is too thick. Should be `1px` not `2px`
![l toolbar](https://user-images.githubusercontent.com/3308136/27031135-f2e27188-4f66-11e7-9aeb-54a27cd13bc1.png)

See: https://github.com/Cadasta/cadasta-platform/blob/feature/map-spa-router-bugfixes/cadasta/core/static/css

[2017-06-12 11:06] oliverroick commented on #1575
I think this is something we should handle on the QGIS side. The reason for allowing only 10 characters for the keys is that the key should be short; they are the values we store with each of the entities. It would be possible to allow more characters, but it's against best practices to do so.

[2017-06-12 11:21] oliverroick opened #1578 "Handle `InvalidGPXFile` errors on the API"
### Steps to reproduce the error

1. Via the API, upload a plain text file as a resource, specifying GPX mime type (`application/xml`, `text/xml`, `application/gpx+xml`).

### Actual behavior

`InvalidGPXFile` is thrown correctly but not handled (see the [Opbeat log](https://opbeat.com/cadasta/platform-staging/errors/186/)).

### Expected behavior

The exception should be handled, and an HTTP erro

[2017-06-12 12:50] dpalomino opened #1579 "Getting a platform error when accessing to a location"
I've only been able to reproduce this issue in [this project](https://platform.cadasta.org/organizations/landesa/projects/telangana-survey) in platform.

### Steps to reproduce the error

1. Go to this project and try to open any of the locations
2. You get a 500 error.

Error log [here](https://cadasta.slack.com/files/slackbot/F5T1ZAFAS/uuj7q3u93qakbx9d7wyhq4ay).

I've tried with a some projects

[2017-06-12 12:55] dpalomino commented on #1579
I think I've seen the cause, there is [no questionnaire](https://platform.cadasta.org/organizations/landesa/projects/telangana-survey/edit/details/).
![screen shot 2017-06-12 at 14 54 04](https://user-images.githubusercontent.com/17198051/27034709-0a6dc98e-4f7f-11e7-9355-263f8c053448.png)

Don't know why because it was there when we created the project. Something related with a migration maybe?

[2017-06-12 13:34] clash99 commented on #1577
**Tentative permission chart with the new privacy tiers set at entity level:**

![screenshot 2017-06-12 08 29 50](https://user-images.githubusercontent.com/1119621/27036246-dd44566a-4f49-11e7-981e-c7db4a605a02.png)
![screenshot 2017-06-12 08 29 59](https://user-images.githubusercontent.com/1119621/27036244-dd4394f0-4f49-11e7-9091-fa715e3f86de.png)
![screenshot 2017-06-12 08 30 07](https://user-ima

[2017-06-12 14:00] dpalomino commented on #1579
Taking another look, the link to the questionnaire appears in the project details but it's been renamed to "None". I've been comparing with the original one ([this](https://drive.google.com/drive/u/0/folders/0B26r9x9LftJDQ3FoN3BJNndwdjQ)) and it seems correct.

I'm guessing link with the attributes for each location has been lost (don't know the reason). Same error appears when downloading project

[2017-06-12 14:54] dpalomino commented on #1497
Initial User Stories added to the description.

[2017-06-12 15:04] dpalomino opened #1580 "Highlight overlapping locations"
**User Story 1**
As a project user, I'd like to see highlighted on the map overview the neighbour locations (polygons by definition) that are overlapping.

Additional info:
- We will not consider locations that are not polygons (polylines or points)
- The overlapped area should be displayed in a different color

**User Story 2**
As a project user, I'd like to search or filter the locations that ar

[2017-06-12 15:05] oliverroick commented on #1579
Here's the corresponding [Opbeat log](https://opbeat.com/cadasta/platform-prod/errors/50/).

It looks like there is at least one`SpatialUnit` instance where the `type` field is empty. `type` is a `NOT NULL` field, so I'm not sure why this field can be in the first place. We need to look into the database to see if there are more cases of this.

[2017-06-12 15:25] amplifi commented on #1579
@oliverroick That Opbeat log corresponds to the errors from another project (Odisha). That one is caused by a single location that has both a blank geometry and a blank type; not sure how that was possible to create. We should update the platform to disallow blank geometries/types, and also to handle it gracefully when there is an invalid location by still loading the others (an error message to t

[2017-06-12 15:39] linzjax commented on #1516
__Project creation styling is broken__

Original:
<img width="792" alt="screen shot 2017-06-12 at 11 37 23 am" src="https://user-images.githubusercontent.com/8128188/27041999-b9593814-4f63-11e7-9eff-c8bcbddc4f9b.png">

SMap branch:
<img width="858" alt="screen shot 2017-06-12 at 11 37 41 am" src="https://user-images.githubusercontent.com/8128188/27042007-bfcb21d0-4f63-11e7-8397-0b6385e17294.png">

[2017-06-12 15:39] dpalomino opened #1581 "Ability to add parties without relationships"
Updating description with new requirement format:

### Problem Statement

There is a need from some partners to be able to add parties without having to associate (yet) those parties to specific locations via a relationship entity.

### Context / Use Case

The best example of this could be when an organization is collecting in a first phase all the information regarding the landowner, and in a sec

[2017-06-12 15:48] dpalomino commented on #339
I think this is now followed by the new user dashboard issue #1491.

Closing for now

[2017-06-12 15:48] #339 closed

[2017-06-12 16:00] dpalomino commented on #1504
Moving to backlog ideas. Maybe something to consider for User Dashboard @clash99?

[2017-06-12 16:08] clash99 opened #1582 "Broken links to devwiki.corp on readme"
### Steps to reproduce the error

Text on readme: See the wiki ([here](https://devwiki.corp.cadasta.org/Installation) and [here](https://devwiki.corp.cadasta.org/Run%20for%20development)) for detailed instructions on installation and running the platform for development.

### Actual behavior

Links to devwiki.corp are broken

### Expected behavior

Expect to go to wiki with instructions

**Screens

[2017-06-12 16:23] dpalomino commented on #1579
Thanks @amplifi! I didn't notice that.

But then all the geometries in that project are larger than 1MB? Because the problem appears when accessing to any of the locations in that project.

See video:
https://screencast.com/t/OFqY5cKwXuJG

Maybe we can catch up re this tomorrow. Thanks!

[2017-06-12 17:25] clash99 commented on #1532
@wonderchook and @dpalomino - Added an option 2 to the wireframes above. This is more similar to the ui pattern we use when adding new parties. Take a look and let me know what you think.

[2017-06-12 19:20] amplifi commented on #1582
Fixed; this was an SSL certificate issue.

[2017-06-12 19:20] #1582 closed

[2017-06-12 20:23] dpalomino opened #1583 "Support for lots of GPX files"
There is partner that it's going to need to upload literally thousands of GPX resources, so we need to disable the ability of showing the GPX waypoints and tracks layers on the map, so we would not be displaying thousands of layers when clicking on the layers icon on the map:
![screen shot 2017-06-12 at 22 18 33](https://user-images.githubusercontent.com/17198051/27053279-1b526500-4fbd-11e7-8986-7

[2017-06-13 10:13] dpalomino opened #1584 "Error importing files (xlsx format) due to some incoherent data"
I have seen this issue when moving a project from demo to staging. The project in demo is [this one](https://demo.cadasta.org/organizations/cadasta-demo-organization/projects/customary-rights-ghana)

Steps to reproduce:
1. From the original project in demo, download the questionnaire
2. Create a new project in staging with the same questionnaire ([this one](https://platform-staging.cadasta.org/org

[2017-06-13 10:24] dpalomino commented on #1584
Same thing happening with [this one](https://demo.cadasta.org/organizations/cadasta-demo-organization/projects/smallholder-farmers-india). In this case was only a invalid tenure_type ("CO" instead of "OC"), it looks like these values were inserted manually instead of via WUI, ODK or imports?

Did we use @SteadyCadence a script or QGIS plugin for this maybe?

[2017-06-13 12:00] dpalomino commented on #1532
Thanks a lot @clash99, the option 2 looks really good!

Just a small comment, I think we should restrict for now the "Invite new user" to the existing registered users in Cadasta platform (as we haven't implemented the user invites for non-registered users yet). Maybe we can add some text to to clarify this, like "The user has to be registered in Cadasta platform first".

[2017-06-13 13:01] wonderchook commented on #1532
@dpalomino would you rank inviting non-registered users as being more important or inviting users to a project as more important right now?

[2017-06-13 13:11] clash99 commented on #1532
Here is an additional **Option 3** that could be implemented before we develop the ability to invite new users. It basically removes the "Invite new user" button and adds an info box. The flow gets a little weird if the link to the members page is clicked because you are taken out of the context of the project and into the organization.

![project dashboard_ select user single-select only](https:/

[2017-06-13 13:55] dpalomino commented on #1448
I have updated the description of the issue to include the requirements. Please let me know if you think there is something not fitting well.

[2017-06-13 14:10] clash99 commented on #1554
@SteadyCadence Since we aren't using the lang tag to change the font of the whole platform (just the project data fields), there isn't a quick solution to this. I will look into this more but it will take more time.

[2017-06-13 14:11] dpalomino commented on #1532
Related to this: #1448 (User Invites requirements). User Story 3 (login with mail) and User Story 4 (login with phone number) are the relevant use cases.

Well, I think inviting the non-registered users would be more useful, but I suspect it's quite more complicated (requires the user to register first, then raise an "event" so that user will be automatically added to the project once registered a

[2017-06-13 14:16] wonderchook commented on #1554
@SteadyCadence for the time being are you having them enlarge the text in the browser as a work around?

[2017-06-13 14:17] wonderchook commented on #1532
@dpalomino can you explain a little further as to what you are hoping to be done in 1 sprint?

[2017-06-13 14:46] dpalomino commented on #1532
Sure, sorry for not being clear. So I think we have three main tasks here:
1. Adding to the project an existing member of the org (that's already supported, it's only to implement the UI changes)
2. Adding to the project a registered user not belonging to the org
3. Adding to the project an unregistered user

So I think (1) and (2) would be in the same sprint as a minimum. And depending on the est

[2017-06-13 14:48] dpalomino opened #1586 "New Header - Easily Access relevant section in the platform though "My Header""

[2017-06-13 15:16] wonderchook commented on #1532
@dpalomino so I don't see a reason that 1 and 2 are tied to each other. We could do them separately without it being an issue.

[2017-06-13 15:54] dpalomino commented on #1586
Updating description with the requirements and user stories.

[2017-06-13 16:10] dpalomino commented on #1445
Description updated with links to requirements and list of user stories.

[2017-06-13 16:26] dpalomino commented on #1532
Definitely, they are different tasks. I was just suggesting that as they are small(ish) tasks, specially the first one, could be implemented together in the same sprint, but TBD. If they are developed separately then we'd go for the option 3 that @clash99 was mentioning...

[2017-06-13 16:35] dpalomino commented on #597
Compiling the info from the [XLSForm documentation](http://xlsform.org/).

When working with ODK/GeoODK you can specify the minimum accuracy level of the GPS in meters. You can set the minimum value of accuracy by including a new column *body::accuracyThreshold* and setting a value (in decimal) for the rows of *geopoint*, *geotrace*, and *geoshape*.

An example of a xlsform file using this can be

[2017-06-13 16:38] dpalomino commented on #1011
For backlog issues, this is tracked via #1448.

[2017-06-13 17:10] dpalomino commented on #943
Regarding this feature, in addition to the wireframes provided by @clash99 I think the flow could be something like:

1. A registered user without permissions access to project overview
2. Request permission form is offered to the user (see wireframes)
3. User requests access to the project (specifying the role).
4. A notification mail (or SMS if mail login was not available) is sent to all projec

[2017-06-13 17:17] #1350 closed

[2017-06-13 17:27] wonderchook commented on #1580
@dpalomino I'm thinking we should separate this out and link the two together. Would you see Story 2 be the user is searching an entire large project for all the locations that are overlapping? If that is the case then the technical approach would likely be different than story 1.

[2017-06-13 17:34] amplifi commented on #1532
We should reconsider implementing 3, adding an unregistered user to a project, for security reasons.

If a project admin can add an unregistered user to a project by entering a contact method (phone, email), then have the platform automatically apply permissions to access the project after that new user completes registration, there's no way of verifying that the admin entered the correct email ad

[2017-06-13 19:55] linzjax commented on #1516
**Core Dashboard should use django-leaflet***

- currently pulling from `https://unpkg.com/leaflet@1.0.3/dist/leaflet.js` instead of `{% leaflet_js %}`

[2017-06-13 20:37] linzjax commented on #1516
**Zooming in/out after adding new location causes duplicate geometries**

- Add new location.
- Add geometry and save in form
- Zoom way out/way in

__Result:__ Two geometries

[2017-06-13 20:52] amplifi commented on #1516
**django-leaflet doesn't overwrite embedded Leaflet if timestamps are newer**

`django-leaflet` is updated to v0.22.0 with this branch. This embeds a newer version of Leaflet, v1.0.3, in our `static/leaflet` dir. But if these embedded leaflet files have a more recent timestamp than the source repo's files, they don't get overwritten/updated when `pip` updates the `django-leaflet` package. Fun time

[2017-06-14 09:21] dpalomino commented on #1580
Good point @wonderchook, thanks. Yes exactly, user story 2 is for the user to filter all the locations that are overlapping in a large project, so the user can focus on "fixing" the geometries or raising the boundary conflict.

I will separate in two different issues now.

[2017-06-14 09:23] dpalomino opened #1587 "Filtering overlapping locations"
**User Story**
As a project user, I'd like to search or filter all the locations that are overlapping in a project, so I can correct the geometries by snapping to the adjacent locations or raise the boundary conflict if needed.

Additional info:
- This US would be implemented later than #1580

[2017-06-14 09:33] dpalomino commented on #1532
Thanks @amplifi for the feedback, I think that's a good point.

I think we need to find a good balance between security vs on boarding easiness. I think the most powerful case (in terms of on boarding easiness) is the ability to invite a non-registered user to join a project, as it is just one-step process (rather than the other cases that are two and three steps processes, with the user having to

[2017-06-14 10:25] dpalomino commented on #1414
## User Story

As a data collector, I would like to include manually the latitude and longitude of points (not polygons or polylines) using the web UI.

## Description

There will be two text boxes in the web UI when adding a location for entering the latitude and longitude (@clash99 working on the wireframes).

We will be supporting the following formats:
- [ ] DMS - Degrees, minutes, and seconds

[2017-06-14 10:30] dpalomino opened #1588 "Ability to Manually Enter Latitude and Longitude via ODK/GeoODK"
**User Story**

As a data collector,  I want to be able to enter latitude and longitude coordinates manually with ODK/GeoODK using text boxes

**Additional information**

Note: We will need to add a new geometry type, in addition to *geopoint*, *geoshape*, and *geotrace*.

Specific requirements to be developed.

Related to #1414.

[2017-06-14 10:33] dpalomino commented on #1414
I've updated the description (and title) with the specific requirements and to cover only the manual coordinates via the web UI. For ODK/GeoODK support I've created a new issue #1588.

Any feedback from our mappy friends will be very welcome :-)

[2017-06-14 11:13] dpalomino opened #1589 "Import of shp files to define geometries using web UI"
## Summary

Currently we can use shapefiles to create locations via the QGIS plugin. However there are partners that are not using QGIS but other GIS software, and they would like to be able to import a shapefile to create one geometry.

## User Stories

- [ ] US1: As a data collector , I want to upload a shp file to define the geometry when I am creating a new location via the web UI
- [ ] US2: A

[2017-06-14 11:20] dpalomino opened #1590 "Import of gpx files to define geometries using web UI"
## Summary

Some partners are using GPX files to collect geometries and it'd be useful for them to be able to import a GPX file to define the geometry when creating a new location via web UI.

An alternative solution could be suggested is to using a GIS software to convert GPX to SHP and then import that shp file when #1589 wold be implemented.

Another concern regarding the use of GPX files to de

[2017-06-14 11:23] dpalomino commented on #1590
Also to be discussed, could GDB files also be considered?

cc'ing also @bjohare, as he has been involved in GPX development.

[2017-06-14 11:42] dpalomino commented on #1438
I've updated the original description for having more clarity. Hope that this helps.

[2017-06-14 11:52] dpalomino commented on #1556
Being now followed via #1590. Closing.

[2017-06-14 11:52] #1556 closed

[2017-06-14 11:55] dpalomino commented on #712
Note: We need to define which situations should force a password change.

[2017-06-14 12:18] dpalomino commented on #1452
I've updated the original description to include the requirements.

The implementation for ODK/GeoODK means to generate the xform as defined in the [reference page](http://xlsform.org/#repeats). I think that is the relatively easy part.

However, to be able to display this in a proper way in the WUI could be trickier (@clash99, thoughts?) . And I think we need to evaluate if our current database m

[2017-06-14 12:33] wonderchook commented on #1452
@dpalomino I think we can support it, but I'm a bit worried this is going to be difficult for partners to use after they have collected the data. The further we stray away from essentially single table Excel type data the harder it is going to be for people to understand.

[2017-06-14 12:55] amplifi commented on #712
1) Change of password requirements
2) Suspicious behavior detected (of user account, or org/project user of which user is a member)
3) Confirmed breach (of user account, or org/project user of which user is a member)

Elapsed time since last password change is another possibility, but I disagree with the principle; it frustrates the user and it's not shown to enhance security in any meaningful way

[2017-06-14 13:01] wonderchook commented on #712
Should we also allow org admins to force password changes? I was thinking possibly when they make accounts for others, but we add the ability to invite people perhaps not necessary.

[2017-06-14 13:03] dpalomino commented on #1452
Yeah, that's true. I think it will be easier when we will develop the Data Designer (xform generator). Meanwhile at least it'd be useful for us when creating some of the questionnaires for partners. Not a top priority though but something for the medium term...

[2017-06-14 13:03] wonderchook commented on #1590
@dpalomino I think GDB files need to be a different type of feature. I would see that as a change to the import process rather than what is being requested for the GPX.

[2017-06-14 13:07] wonderchook commented on #1589
Is it common for them to a shape file with a single geom in that? That is pretty non-typical in my experience. So it would be important to allow them to choose the geom
.

[2017-06-14 13:19] dpalomino commented on #712
thanks for the feedback @amplifi @wonderchook

I think offering org admins to force password change would be very useful, great idea. Maybe we should have a consolidated "password policy" combining with #81 (i.e. in which situations a 2-step MFA is sufficient, and when we need to force the password change).

[2017-06-14 13:25] clash99 commented on #1414
### Wireframes for review

**Add location - initial page**

![add location](https://user-images.githubusercontent.com/1119621/27134344-e60e7aae-50da-11e7-8b68-82bd02243c39.png)

**Input lat/long coordinates modal**

![add location_ input data points](https://user-images.githubusercontent.com/1119621/27134345-e610739a-50da-11e7-97bb-69399bf63850.png)

[2017-06-14 13:27] wonderchook commented on #1414
@clash99 How about just "input coordinates" the reason being that in some areas there are other coordinate systems we might use in the future that aren't lat/long. Though I guess we need a tooltip or something to explain things.

[2017-06-14 13:37] dpalomino commented on #953
Also related to #712 and #81.

[2017-06-14 15:07] alukach commented on #1516
**Tile loading overwhelming server, failed requests does not clear "loading locations"**

* Test with a large set of data (eg https://platform-staging.cadasta.org/organizations/12345-bleep-bloop-2/projects/all-of-mexico/#/overview/)
* A large number of XHR tile requests are initiated, most of them in "pending" status. At this time, the server pool becomes saturated and requests are waiting for oth

[2017-06-14 15:14] SteadyCadence commented on #1516
Not a bug, but can we please change the polygon color. Blue is the universal color of water in cartography, not land.

These are color blind safe colors:
![image](https://user-images.githubusercontent.com/25337622/27140006-af21d882-514e-11e7-8ca3-8b9b3d9f020b.png)

Maybe we can test in Madrid, @clash99?

I can add this as a new issue if that makes more sense.

[2017-06-14 15:16] wonderchook commented on #1516
@SteadyCadence this is a separate issue. We are testing the replacement of the previous map code and making sure it works the same, not changing the current map interactions.

[2017-06-14 15:18] SteadyCadence commented on #1516
ok ill write up an issue for it.

[2017-06-14 15:19] SteadyCadence opened #1591 "Change polygon color to something besides blue (can be purple, red, orange, yellow, etc)"
Blue is the universal color of water in cartography, not land.

These are color blind safe colors:
![image](https://user-images.githubusercontent.com/25337622/27140360-82eead98-514f-11e7-96bd-53386b2ee507.png)

Maybe we can test options in Madrid, @clash99?

[2017-06-14 15:29] alukach commented on #1516
** General performance **

As mentioned in the above bug, the tile loading is very hard on our servers. I don't know if it's considered appropriate to suggest solutions here but here are a few thoughts as to how we could avoid this.

We basically have 4 variables to play with:
* \# of simultaneous requests
* response time of each request
* limit of # request handlers
* timeout window for requests

[2017-06-14 15:37] SteadyCadence commented on #1516
The markers are not replacing the polygons when zoomed out.  In this example, it is difficult to see where the 54 parcels are located.

<img width="1373" alt="screen shot 2017-06-14 at 10 34 35 pm" src="https://user-images.githubusercontent.com/25337622/27141234-edb10e76-5151-11e7-88f5-037875b1e387.png">

[2017-06-14 15:42] linzjax commented on #1516
@SteadyCadence Both deflate and clustering have been removed. We discussed removing it in this [dev meeting](https://docs.google.com/document/d/1EzbYOuwOHo5zTimjTx60Z3ZBIhL9qHZMzFldA1JmD2I/edit)

Is this something you would like added back in now?

[2017-06-14 15:46] linzjax commented on #1516
@alukach recommendations are definitely welcome. This one might need its own bug log since it's a bit more complex. I was sort of surprised at how poorly it's performing since it handled 6000 records without a hiccup on local.

[2017-06-14 15:46] SteadyCadence commented on #1516
Sorry, I did not realize deflating was being removed. I thought it was just clustering for the time being. I think deflating is quite useful for partners that are working in large areas.

[2017-06-14 15:47] linzjax commented on #1516
@SteadyCadence Ah, got it, no worries. I'll add it to the list to discuss.

[2017-06-14 18:19] alukach commented on #1516
@linzjax Regarding the issues around performance being it's own bug, I think it comes down to how far with the solution we want to go.  I was about to recommend simply ensuring that we never make more than 8 concurrent requests as a first step, however [reading into it](https://stackoverflow.com/questions/10276784/jquery-limit-the-number-of-simultaneous-ajax-requests) it looks like browsers do thi

[2017-06-14 18:38] linzjax commented on #1516
@alukach I think it's the complexity of the geometries. Because there are some that are incredibly jagged (i.e. have a ton of individual points). Was it you I was talking to about simplifying geometries at lower zoom levels?

[2017-06-14 18:42] alukach commented on #1583
To expand on what @dpalomino mentioned, the current workaround for uploading but not displaying GPX resources is to omit the `mime_type` when uploading Resource objects to the API. This appears to prevent the Resource from creating a related SpatialResource.

[2017-06-14 18:45] alukach commented on #1516
Yeah, we discuessed that although that operation itself may be expensive.  Another thought is that we could trim off some of the decimals from the coordinates to make the response size smaller (currently they're super precise), although again it's a question of whether trimming that down could cause more latency in the system (I doubt it would, although I also doubt it would make a huge difference

[2017-06-14 18:46] clash99 commented on #1516
What do you think about making "map" button in the sidebar return to the original project extent map? It seems like we need a place to reset the map for when users have zoomed in or out too far and want to return to the original map.  Wondering if anyone else feels the need for this.

[2017-06-14 19:51] clash99 commented on #1516
A ufo keeps appearing on my maps and then disappearing when I zoom in. See little triangle circle thing located to the top left of project extent. Low priority, unless this is real and we are being invaded :)

<img width="1436" alt="screenshot 2017-06-14 13 47 01" src="https://user-images.githubusercontent.com/1119621/27151589-9f49318c-5110-11e7-8ecd-0feeb63429a1.png">
<img width="1437" alt="scree

[2017-06-14 20:19] clash99 opened #1592 "Differentiate selected data point"
### Steps to reproduce the error

In a project with more than one data point, select the edit location button.

### Actual behavior

The map says I can edit but it would be helpful to show me which data point I'm editing.

### Expected behavior

Would be ideal to have it colorized similar to other geometries in edit state.

Editing data point example

<img width="1420" alt="screenshot 2017-06-14 1

[2017-06-14 20:30] clash99 opened #1593 "Update tab css"
Update tab css for locations, parties, etc. to match map interaction mocks.

[2017-06-15 08:40] bjohare commented on #1516
@clash99 that's an empty tooltip. Probably not getting reset correctly when editing ends.

[2017-06-15 09:11] amplifi commented on #1516
@alukach @linzjax The performance issues here are actually caused by the large file sizes for tiles. This isn't going to be viable in production, especially with our requirements to support lower bandwidth connections.

Using the example project from @alukach ( [https://platform-staging.cadasta.org/organizations/12345-bleep-bloop-2/projects/all-of-mexico/#/overview/](https://platform-staging.cadas

[2017-06-15 09:50] dpalomino commented on #1516
Another example to test with re the perf issue, [this project](https://platform-staging.cadasta.org/organizations/david-org/projects/uttaran-import/) has around 5k geometries, being many of them just points or simple polygons. It's taking around 55sec. Another time when trying to load Chrome crashed.

This [other project](https://platform-staging.cadasta.org/organizations/david-org/projects/csrc-d

[2017-06-15 11:11] dpalomino commented on #943
## User Story

As a registered user, I want to request access to projects I want to work with

## Description

User flow:
1. A registered user access to project overview
2. The user could belong or not to the project's organization.
    2.1. For users not belonging to project's organization, if accepted, their role would be "Regular member" of the org, and "Public User" or all other projects withi

[2017-06-15 11:18] dpalomino commented on #1453
Part of this has been defined in the Project Creation Designer requirements [document](https://docs.google.com/document/d/1CqxKhhZTqjYfYIAbRYuXardbX9BYLEoKWJCudOkWt8A). Phases section, Phase 2.

However it will need further review.

[2017-06-15 11:34] dpalomino commented on #1454
I have updated the requirements (that were living on the wiki). I have simplified them removing the case of adding GeoJSON layers available for all projects within the org, and now they are linked to specific projects as resources.

[2017-06-15 11:47] amplifi commented on #943
If unregistered users are already at a computer/phone/tablet and have browsed to the project page, the possible flows would be:

A) Click to join project, be prompted to either sign in or register, fill out registration form (incl. password), verify account, request access to project.

B) Enter email/phone to request access, then at some point still be forced to enter registration form details (in

[2017-06-15 12:44] dpalomino commented on #943
Thanks a lot @amplifi, this is very useful.

So then I think it makes sense then go with A) and walk the user through the whole process as you suggest (registration > verification > redirection again to the project request form).

I can create a separate issue for this. Thanks!

[2017-06-15 13:20] dpalomino commented on #40
This is a dup for #1414 and #1588, closing.

[2017-06-15 13:20] #40 closed

[2017-06-15 13:23] dpalomino opened #1594 "User Notifications when added to org or project"
**User Story**

As a user, I want to be notified (by mail preferred, or by SMS) when I've been added to a project or organization.

[2017-06-15 13:24] dpalomino commented on #1594
Related to #953

[2017-06-15 13:26] dpalomino opened #1595 "Public/private attributes"
**User Story**

As a project manager, I want to choose which attributes within a project data schema could be publicly available or remain private.

Note: this is not planned to be implemented. Just creating the issue and closing it to have a backlog traceability (was in the original backlog planning).

[2017-06-15 13:26] dpalomino commented on #1595
As per above comment, closing  it.

[2017-06-15 13:26] #1595 closed

[2017-06-15 13:30] dpalomino opened #1596 "Filter resources"
**User Story**

As a user, I want to filter resources based on multiple criteria: MIME type, entity type (i.e. if the resource is attached to a location, party or relationship), creation date, etc.

Specific USs to be defined. Low prio issue.

[2017-06-15 13:34] dpalomino opened #1597 "Paste WKT coordinates"
**User Story**

As a data collector, past the WKT coordinates in map web UI when adding a new location to define the geometries

[2017-06-15 13:35] dpalomino commented on #1597
This slightly related to #1414.

[2017-06-15 13:39] dpalomino opened #1598 "Add links as additional resources"
**User Story**

As a Data Collector, I want to add URLs as a "link resource" attached to a project.

NOTE: This feature was discarded for security concerns (thanks @amplify), as these URLs could point out to malicious sites or to inappropriate content. Just creating this for backlog traceability.

[2017-06-15 13:40] dpalomino commented on #1598
As per above comment, closing the issue.

[2017-06-15 13:40] #1598 closed

[2017-06-15 15:56] dpalomino opened #1599 "Notes field in xforms"
## User Story

As a project manager, I want to add notes in the xforms to be shown to data collectors when are using ODK.

[2017-06-15 16:27] oliverroick commented on #1516
Values of multiple-select field aren't stored properly

1. Create a location using the "Customary Rights" standard form
2. Fill in the form; select multiple values for the field "PLEASE SELECT ALL CROPS THAT APPLY"
3. Only one value seems to be stored

(The same applies for multiple selects when you create a new party while adding a new relationship)

[2017-06-15 16:27] oliverroick commented on #1516
- Switching the language using the language selector doesn't work for:
	- Add Location form
	- Edit location form
	- Location detail page
	- Relationship detail page
	- Edit relationship page
	- Add relationship page

[2017-06-15 16:28] oliverroick commented on #1516
- Clicking outside a popup doesn't close the popup (Minor; this is something we should fix if there's really nothing else to fix)

[2017-06-15 16:56] dpalomino commented on #1589
@SteadyCadence ^^^

Can you confirm if that partner is using one shp file per geometry?

[2017-06-15 16:58] dpalomino commented on #1414
Great suggestion from @wonderchook, it'd be pretty useful to view the geometry position on the map when entering the coordinates manual via web UI.

Editing the description.

[2017-06-15 18:18] wonderchook commented on #1516
@amplifi I was thinking we could have a call w/ @linzjax regarding the reducing the file sizes next week from Madrid. I have a couple different ideas, but I think we'd benefit from talking through the options as a group.

[2017-06-15 19:38] alukach commented on #1516
@amplifi I'm curious as to how you ruled-out processing time being a factor. For example, when downloading [this tile](https://platform-staging.cadasta.org/async/organizations/12345-bleep-bloop-2/projects/all-of-mexico/spatial/tiled/3/1/3/?1497552885312&format=json) directly, you can see that it took me 2.63s to download the 9.6MB file but I had to wait 45s for the response to process before downl

[2017-06-15 19:48] linzjax opened #1600 "SMap Geometry Loading Performance Issues"
## Moving the discussion here since it's a big enough bug to warrant it's own issue.

### @alukach
**Tile loading overwhelming server, failed requests does not clear "loading locations"**

* Test with a large set of data (eg https://platform-staging.cadasta.org/organizations/12345-bleep-bloop-2/projects/all-of-mexico/#/overview/)
* A large number of XHR tile requests are initiated, most of them in

[2017-06-15 20:04] linzjax commented on #1600
One other possible bandaid: we can turn pagination back on for this endpoint. It results in WAY more requests, but limits the load on each individual request.

[2017-06-15 22:51] alukach commented on #1600
I'm hesitant to recommend pagination, as I think tiles is basically a form of pagination and it wouldn't necessarilly help our issue if there was a single geometry with a ton of coordinates (unless we actually paginate within geometries, however that sounds complicated).

[2017-06-15 22:53] SteadyCadence commented on #1516
I skimmed through the issues and couldnt find this but I may have missed it via keywords.

The "my location" icon does not take you to where you are in the world.
1. I clicked the "marker" icon (signed in and not signed in)
2. My phone and computer asked me if I" want to enable location settings for cadasta".
<img width="1313" alt="screen shot 2017-06-16 at 6 48 24 am" src="https://user-images.git

[2017-06-15 22:56] SteadyCadence commented on #1127
FYI @linzjax @dpalomino @wonderchook I am still unable to add locations via mobile phone with smap.

[2017-06-15 22:57] SteadyCadence commented on #1127
Oh it looks like I can add a polygon (not a rectangle) but we need to disable the touch zoom.

[2017-06-16 00:57] wonderchook commented on #1600
maybe we should think through what people are doing. Usually you don't zoom to world level with a huge amount of data. Well at least the type of data we are collecting.

[2017-06-16 02:31] seav commented on #1516
Minor (doesn't cause any functionality bug as far as a I can see):

1. Click the edit button on an existing location.
2. Click the trash icon on the edit toolbar in order to delete the existing geometry, then click on the geometry to select it to be deleted, then click on "Save" on the edit toolbar beside the trash icon.
3. Draw a new geometry (not a point) to replace the deleted geometry.
4. Clic

[2017-06-16 02:44] seav commented on #1516
Minor (similar to my earlier report):

1. Bring up the add location form.
2. Draw a polygon/rectangle but "forget" to select a location type.
3. Click the form's "Save" button. Expect an error.
4. Draw another polygon/rectangle to replace the earlier geometry.
5. Select a location type.
6. Click the form's "Save" button.

Expected: Geometry would be highlighted in pink.
Actual: Geometry is this we

[2017-06-16 02:51] seav commented on #1516
I think we agreed with SMAP that the map's zoom and location shouldn't unnecessarily jump around, right?

1. Using the project admin user and on a project that doesn't have any project extent defined, zoom into the place where the project is located.
2. Select the "Edit project boundary" menu option.

Expected: Map zoom and location remains still (presumably because where I am zoomed now is where

[2017-06-16 02:59] seav commented on #1516
Similar to the previous report.

1. On a project that doesn't have any project extent defined, zoom into the place where the project is located.
2. Click the project toolbar "Overview" tab.

Expected: Map zoom and location remains still (similar to the behavior if the project had an extent defined).
Actual: You get the world! :earth_americas:

[2017-06-16 09:38] dpalomino commented on #1127
Thanks @SteadyCadence.

I've been testing a bit with both a smartphone (mid-range Android device), and a tablet (low-end Android device). Some thoughts:
- With a tablet (even with a low-end one) experience is far better than with the smartphone (not surprisingly)
- Draw a rectangle doesn't work, but I think we cannot do anything re this. It's just the dragging gesture is not possible. I'd suggest

[2017-06-16 10:21] bjohare commented on #1516
Minor: **Hitting cancel button on form resets the geometry to default style, then to selected style**
1. Edit a location
2. Click cancel on the form.

**Result:** The geom first gets the default style then the selected style. This doesn't happen if the `save` button is pressed instead.

[2017-06-16 11:08] dpalomino commented on #1516
Hey @SteadyCadence

I think that could be caused because you're connected to an unknown wifi or something. I've just tested and it's working fine for me both on computer and in an android device (both with Chrome).

[2017-06-16 12:59] dpalomino opened #1601 "Numeric Strings in xforms"
## User Story

As a data collector, I want to use a a text field in ODK but with the numeric appearance, so that the numeric keypad will be only shown

## Description

This is a useful feature for introducing phone numbers for instance, that are numbers but should be managed as strings.

See http://xlsform.org/ref-table/

Incluing "numbers" in the appearance column of the xlsforms will show the nu

[2017-06-16 13:17] dpalomino opened #1602 "Custom basemaps: to include additional basemaps that can be used in my project"

[2017-06-16 13:20] dpalomino commented on #1602
Dup issue with #1476, closing.

[2017-06-16 13:20] #1602 closed

[2017-06-16 13:24] dpalomino opened #1603 "Access to archival imagery"
**User Story**

As a project user, I want to document settlements that already existed years ago, as laws could be recognising some property rights if the settlements existed since a specific case

Example: in India, government is recognizing some property rights in indigenous forests when settlements are before 2005.

[2017-06-16 14:20] dpalomino opened #1604 "No search results for party-related information in demo/platform"
### Steps to reproduce the error

1. Try to execute any search query in demo or production with a keyword for a party: examples: "David", "IN" (for individual), etc.
2. No results are returned

However in staging this is working as expected. And location and relationship related queries are also working fine in demo and platform.

Can @seav or @amplifi take a look?

[2017-06-16 14:50] dpalomino commented on #1451
## User Story

As a data collector, I want to add a new location as the "parent" or the "child" location of another one

## Description

This will mean to develop the "is-contained-in" location-to-location relationship. Through the web UI should be possible to:
- associate one parent location with one or more child locations when adding or editing it
- associate one child location with one or more

[2017-06-16 14:51] dpalomino commented on #1451
Updating title and description

[2017-06-16 14:58] dpalomino commented on #258
I think some partners would appreciate this, because they are reporting the use of platform to their senior management. Org logo can be also used for map reports and printing questionnaires for instance.

Org logo would be created when adding a new organization or editing an existing one.

[2017-06-16 15:15] SteadyCadence commented on #258
If we are going to implement this then we cannot limit the number of logos to one. There will have to be multiple options. Partners often will request to have multiple logos as projects are funded by different groups and/or they are working with different orgs/ governments.

[2017-06-16 15:17] SteadyCadence commented on #1451
We should list specific instances. Can you come up with examples for this, @dpalomino?

[2017-06-16 15:18] SteadyCadence commented on #1603
This might be a better feature for QGIS. I think it'll be pretty complicated on the platform. Unless digital globe provides archived imagery though their API...

[2017-06-16 15:21] SteadyCadence commented on #1601
One interesting thing that happened with the Karen script is that when the Karen keyboard was installed on the mobile phone the Karen numbers didn't work in the integer fields of ODK. We had to change that field to a text field so that they could use the Karen numbers.

[2017-06-16 15:27] wonderchook commented on #1601
@SteadyCadence wonder if that is a bug in the karen keyboard

[2017-06-16 15:28] wonderchook commented on #1603
One option for this is simply to provide access to archival imagery as a WMS. So it could be handled on a case by case basis.

[2017-06-16 16:39] dpalomino commented on #258
Hey @SteadyCadence

I think we can handle this at the "project logo" level. I was planning to create another issue for this. I agree, this is important specially when they're working together with other orgs for specific projects.

[2017-06-16 16:41] dpalomino opened #1605 "Project logo"
As a project manager, I want setup a project logo that will be shown in my project dashboard and will be available in the future for generated reports.

[2017-06-16 21:11] SteadyCadence commented on #1554
@wonderchook. They are zooming in, which is not an ideal UI experience,
since they cannot view the map or many questions and answers at a time. But
it is a workaround.
On Tue, Jun 13, 2017 at 7:16 AM Kate Chapman <notifications@github.com>
wrote:

--

[image: Cadasta Logo] [image: Grey Divider] Katrina Engelsted
Field Program Support Technologist
+ 1 774 239 8699
Skype: katrina.engelsted | Cadasta

[2017-06-19 18:54] linzjax commented on #1516
Calendar date localization doesn't seem to be working.

[2017-06-21 22:09] laura-barluzzi commented on #1543
Hi, is this still an issue? Because you could replicate the same solution I applied to others forms in my contribution back in March. There is a`core/static/js/form_submit.js` document that literally I created for this purpose. It just needs to be added in the form template.

[2017-06-21 22:13] laura-barluzzi commented on #1543
Hi, is this finished? Is there anything else to check? If not, it looks like this issue can be closed .

[2017-06-22 17:40] linzjax commented on #1516
@clash99 I can't get the UFO to appear, could you take a screencast of what you did to get it to show up?

As far as adding functionality to the map button, that's a fairly simple addition, so I'm going to leave that one alone for now since those changes should probably be discussed after integration with the project overview update.

@SteadyCadence are you still running into issues with the 'find

[2017-06-22 21:42] seav commented on #1516
Re: UFO. As @bjohare says, this is indeed an empty tooltip. I am able to make it show up consistently on my projects by first loading the project page, then panning the map towards the northwest. The UFO disappears as soon as your mouse cursor leaves the map pane.

[2017-06-26 07:37] #1543 closed

[2017-06-26 12:28] linzjax commented on #1516
@seav Ah! There it is... thanks!

[2017-06-26 16:37] dpalomino opened #1608 "Remove "Draw line" and "Draw a rectangle" from drawing tools when adding a location"
### Problem Statement

In the vast majority of cases, only markers and polygons are used in the web UI to add/edit geometries. Partners are sometimes confused by the draw line and draw a rectangle option, and in all cases seen those geometries were just created by mistake.

It'd be useful for partners to simplify the UI and just offer the polygon and marker options.

### Context/Use case

See abov

[2017-06-26 17:10] #1554 closed

[2017-06-26 17:41] laura-barluzzi commented on #1485
@clash99 are the project and organization dashboards released?

[2017-06-26 17:54] dpalomino opened #1609 "Custom Reports for partners"
### Problem Statement

Many partners are aiming to use their data in the Cadasta platform to generate custom reports containing information related with the land property in a specific format. As these reports could be used for very different purposes, the needs in terms of formatting and the information contained would vary.

Partners would like to design their own reports, considering the follow

[2017-06-26 19:12] clash99 commented on #1476
First pass at wireframes for adding wms layers. @oliverroick - Please review and let me know if I missed anything.

**Project Details - Map > Layers:**

![project map - layers](https://user-images.githubusercontent.com/1119621/27555242-c481e6c8-5a76-11e7-8148-7a2690ca39dc.png)

**Project Details - Map > Layers - Add Layer:**

![project map - layers_ add modal](https://user-images.githubusercontent

[2017-06-26 19:41] clash99 commented on #1485
@laura-barluzzi No, I believe they will be included in the next release.

[2017-06-26 20:17] SteadyCadence commented on #1609
Great start!  I think we can simplify some of the wording a little.  I can work on it more tomorrow.

For example, the first part:
[code]

[2017-06-26 22:44] clash99 opened #1611 "Update tab css to match mocks"
Update tabs for overview, relationships, resources (and other areas similar to this) to match mocks:  https://drive.google.com/drive/folders/0BzpiEtMtHC3rME1HUlU3aDVKcU0

[2017-06-26 23:33] laura-barluzzi commented on #1485
@clash99 just an update: I am working on using the [cropit open source package](https://github.com/scottcheng/cropit) to add the profile image. You can see their [demos here](http://scottcheng.github.io/cropit/).

[2017-06-27 12:19] clash99 commented on #1164
@dpalomino, @wonderchook, @aliensunrise - What are your thoughts on the quick sketches below for adding a site label around the logo. I'm not sure how much emphasis to put on it. I like the darker "platform" site label versus the lighter. Other ideas? Which best matches what you envisioned?

Option 1:
<img width="464" alt="screenshot 2017-06-26 18 12 27" src="https://user-images.githubusercontent.

[2017-06-27 12:20] clash99 commented on #1164
Labels needed:

- Platform
- Demo
- Staging
- Local

[2017-06-27 13:26] clash99 commented on #1414
@dpalomino - I've updated the wireframes to reflect new button text and option of map preview in modal. Let me know if I've missed anything.

[2017-06-27 13:39] SteadyCadence opened #1613 "Text Sanitation Needs to Exclude '-' for Latitude, Longitude Fields"
### Steps to reproduce the error

A partner is trying to upload data from ODK and is running into the `817 - Error: input can not contain HTML tags, emojis or start with any of + = = and @` on 15 records because they contain negative latitudes.

[2017-06-27 13:48] clash99 commented on #1414
Related to #1613

[2017-06-27 14:15] wonderchook commented on #1613
@oliverroick can you give this a look? I'm wondering if this is an issue with negative numbers as well or if this is being submitted as a text field.

[2017-06-27 14:17] wonderchook commented on #1164
I think option 1 or 3 is good. Though I'm wondering if we want to provide more warning if people are on Staging or Demo.

Regarding the list of labels needed, yes that is what we need but we should make sure we can put any label in if needed.

[2017-06-27 14:21] wonderchook commented on #1476
@clash99 I'm thinking that Basemaps and Layers should be together they are really a similar thing. Though I'm not sure how that changes the UI further down the line.

[2017-06-27 14:24] wonderchook commented on #1608
@dpalomino I'm hesitant to remove the line drawing tool. There are scenarios where people would want to draw lines that I think we are going to run into.

The OSM Editor iD does a good job of making this more clear. Maybe something like that would help

![image](https://user-images.githubusercontent.com/67992/27592527-8a566a44-5b09-11e7-9281-9927d54a13c8.png)
****

They then have nice mouse overs

[2017-06-27 16:05] oliverroick commented on #1613
Will do

[2017-06-27 17:17] clash99 commented on #1164
Added placeholder text and css for new site label in branch feature/#1164-sitelabel (based off feature/project-dashboard because of new header styling).

@amplifi - We need to add conditional logic where the placeholder text is so that the resulting labels are: platform, demo, staging and local. I believe you said you could do it through ansible but let me know if you need anything else from me. T

[2017-06-27 19:22] linzjax commented on #1516
- [ ] Geometry does not revert to original after making it a multi-polygon.

1. Edit a location.
2. Delete original
3. Create a new polygon
4. Click the "edit" icon
5. Click the polygon button
6. Add another polygon to make it a multi-polygon
7. Click "Cancel" in form

**Result:** Location does not revert to original polygon

[2017-06-27 20:03] amplifi commented on #1164
Thanks, @clash! I've committed the Ansible updates to the `feature/#1164-sitelabel` branch; includes the dynamic write of env identifier to the base HTML template. I did it the same way we did the Google Analytics include, but if you'd prefer any changes let me know. Tested and working for me in dev.

[2017-06-27 20:42] amplifi commented on #1604
Couldn't replicate last week, nor this week. Parties and relationships are indexed together so it doesn't make sense that one would work while the other doesn't. Recall that parties with associated relationships return a relationship result, not a party result. If this is still occurring, can we confirm a specific project?

[2017-06-27 20:53] clash99 commented on #1611
Updated tab css.

<img width="487" alt="screenshot 2017-06-27 15 17 11" src="https://user-images.githubusercontent.com/1119621/27609545-c701d7b6-5b50-11e7-8c4f-3604160936fa.png">
<img width="420" alt="screenshot 2017-06-27 15 17 28" src="https://user-images.githubusercontent.com/1119621/27609544-c7014f3a-5b50-11e7-9d49-5fabe16a8040.png">

[2017-06-27 20:54] clash99 commented on #1593
Duplicate of #1611

[2017-06-27 20:54] #1593 closed

[2017-06-28 16:19] amplifi commented on #1579
@dpalomino Yes, any time you receive that error, the cause is the same.

[2017-06-28 16:49] dpalomino commented on #1613
hey @oliverroick, I've done some testing with this. I've used [this project](https://demo.cadasta.org/organizations/david-4/projects/customary-rights-1/) for sending the forms.

Results:
- Including negative values in float field returns an error .
- Negative longitude with GeoODK is sent ok (40.32 -3.87 in Madrid)
- Negative latitude with GeoODK (and positive longitude), -23.24 34.76 **returns an

[2017-06-28 17:01] dpalomino commented on #1608
Yes, definitely that kind of UI would help to clarify. @clash99, what do you think?

[2017-06-28 17:08] dpalomino commented on #1164
@clash99 @wonderchook @amplifi

I also like options 1 or 3.

Regarding the labels, I think we could be more explicit with "platform" meaning production platform. What about this, instead of "Platform" we use "Live" or "Production"? (I personally prefer Production):
- Live or Production
- Demo
- Staging
- Local

[2017-06-28 17:13] dpalomino commented on #1604
Weird. Yes, it is also working for me now for both demo and platform.

It was definitely failing two weeks ago, no results were shown in demo or platform when we search using party names or party types for instance. I will take an eye on to see if I see this again.

Closing for now. Thanks @amplifi for checking it.

[2017-06-28 17:13] #1604 closed

[2017-06-28 17:18] clash99 commented on #1164
@dpalomino I think from a user's perspective "platform" works better. Live or production would be confusing since in most user's context it doesn't mean anything. It really only makes sense in the tech world we live in :)

[2017-06-28 17:22] dpalomino commented on #1579
Thanks @amplifi. But then it is really weird, because those locations were created long long time ago (September 2016) and were working fine. The last update in the project is 23 Sept 2016. Looking at the geometries:

![screen shot 2017-06-28 at 19 18 15](https://user-images.githubusercontent.com/17198051/27650905-c9ea9de6-5c36-11e7-85c7-865fe477bb60.png)

They seem pretty simple. Clicking on any

[2017-06-28 17:33] clash99 commented on #1476
@oliverroick - I made the changes to the above wireframes based on what we discussed earlier:

- Moved layer selection to modal with concept of layer "group"
- Removed tree view from index in favor of single level of layer groups

Let me know if you have any more changes or if I missed anything.  Thanks!

[2017-06-28 17:36] clash99 commented on #1608
Love it - will take a little time to implement so maybe for next sprint?

[2017-06-28 17:39] dpalomino commented on #1608
It'd be really great :-)

[2017-06-28 17:44] amplifi commented on #1579
@dpalomino Please read the Slack thread I linked in my first comment [above](https://github.com/Cadasta/cadasta-platform/issues/1579#issuecomment-307824002) -- it explains this issue in detail along with the fix. The stack traces in the error log you linked in your original post show that the platform caches JSON attributes when accessing a location. When that result is greater than 1MB, it fails

[2017-06-28 18:41] #1392 closed

[2017-06-28 18:56] dpalomino commented on #1135
Regarding the text to show when uploading a new resource:
![screen shot 2017-06-28 at 20 51 20](https://user-images.githubusercontent.com/17198051/27654868-ac9810cc-5c43-11e7-9e6c-316de310c9d1.png)

I think we cannot include the whole list, it is too long. Maybe we can include something like:

"You can upload images, audios, videos, documents (including pdf's, Office and Open Office), spreadsheets

[2017-06-28 20:03] clash99 commented on #1164
Screenshot: <img width="800" alt="screenshot 2017-06-28 10 18 16" src="https://user-images.githubusercontent.com/1119621/27657619-e5c45346-5c12-11e7-98e4-676a473f6f02.png">

[2017-06-29 08:57] dpalomino commented on #1579
Ah thanks @amplifi, now I understand why it was working before and not now (with the deployment of caching for JSON in October).

Regarding the solution you propose:

Do we have a rough estimation re the effort for implementing this? If it's not much I think we should try to include it in the next sprint.

[2017-06-29 14:15] #1611 closed

[2017-06-29 14:20] dpalomino commented on #1394
Updated initial description to adjust to the new format.

[2017-06-29 14:31] clash99 commented on #1608
Related to #1005

[2017-06-29 14:33] #1479 closed

[2017-06-29 14:45] oliverroick commented on #1613
I've opened a PR that fixes the problems with floats and geometries.

This is expected behavior. Text inputs must not start with one of `+`, `-`, `@` or `=`. If you need an input for negative numbers then this should be set up as a numeric field.

[2017-06-29 14:47] dpalomino commented on #1414
Updating the initial description with the new agreed format.

[2017-06-29 14:53] dpalomino commented on #1436
I think we are good to close this issue for now. We can open new issues for specific tasks related to more partner support when importing records.

[2017-06-29 14:53] #1436 closed

[2017-06-29 16:58] dpalomino commented on #1608
Updating description and title with the new approach.

[2017-06-29 17:15] dpalomino commented on #1438
Updating the description with the last agreed format.

[2017-06-29 17:27] dpalomino commented on #1190
### Problem Statement

Partners are planning to collect signatures from householders or witnesses for legal reasons or to verify that the data is correct. This signatures are just managed as images.

### Context / Use Case

A typical example of this is a data collection process targeting to apply to a titling of the household. A signature of the householder is sometimes required as a legal testimo

[2017-06-29 17:33] dpalomino commented on #1601
Description updated with the new agreed format.

[2017-06-29 17:39] dpalomino commented on #1581
### Problem Statement

There is a need from some partners to be able to add parties without having to associate (yet) those parties to specific locations via a relationship entity.

### Context / Use Case

The best example of this could be when an organization is collecting in a first phase all the information regarding the landowner, and in a second phase when going to the field an visiting the a

[2017-06-29 17:51] dpalomino commented on #1448
Updating original description with the new agreed format:

### Problem Statement

Making easy for new users to register in Cadasta platform and join existing projects and organizations is key for the successful on boarding of users.

With project managers and org administrators being able to send invites to specific mail addresses and phone numbers to join to an specific project/organization will

[2017-06-29 18:09] dpalomino commented on #1260
Updated format.

### Problem Statement

It would be useful to add in the future a new role for "mobile data collector", so there would be users in the platform able to submit new records using ODK but not able to view/edit any data using the web UI.

### Context / Use Case

There are some partners that want to restrict the permissions of their data collectors that are working on the field, to be s

[2017-06-29 18:12] dpalomino commented on #110
Dup of #1485. Closing.

[2017-06-29 18:12] #110 closed

[2017-06-29 18:18] dpalomino commented on #1586
Updating format.

### Problem Statement

Right now there is little option to access to customized information in the user header. It'd be useful to provide a more complete header including a quick access to my orgs/projects, bing able to customize my profile picture, or my language or units, etc.

### Context / Use Case

See above.

### User Stories

- [ ] US1: As a registered user (belonging to a

[2017-06-29 18:26] clash99 commented on #1581
We should also add and "add" button to the party index page.

[2017-06-29 18:32] dpalomino commented on #1454
Updated format:

### Problem Statement

By default Cadasta provides users with OSM maps and Digital Globe imagery as default basemaps, and in addition we are working to provide the capability of adding layers via WMS #1476. But on top of that, it will be useful for the users to add additional GeoJSON layers to show specific information related to the project extent (typically cartographical layers

[2017-06-29 18:41] dpalomino commented on #1599
Updating with new format:

### Problem Statement

There is currently no mechanism to include notes (i.e. descriptive texts) in the xforms being used by ODK (other than the form title).

### Context / Use Case

It is very useful to be able to include explicative notes within the form, so the data collector has more background information when on the filed. For instance, we can include information r

[2017-06-29 18:52] dpalomino commented on #1452
Updating to the new format:

### Problem Statement

Partners are collecting repeatable groups of information within an entity, so the support of repeat within a location, relationship or party entity would be useful.

### Context / Use Case

Examples of questionnaires that would benefit of supporting repeats within entities:
- Including a list of witnesses
- List of crops/fertiliser/herbicides in

[2017-06-29 19:01] dpalomino commented on #1589
Updated format and including @wonderchook suggestion to allow project managers to choose geometries included in the shp file:

### Problem Statement

Currently we can use shapefiles to create locations with the QGIS plugin. However there are partners that are not using QGIS, and they would like to be able to import a shapefile to create one geometry when adding a new location via web UI.

As the s

[2017-06-29 19:04] clash99 commented on #664
@dpalomino is this a duplicate of #1590 or related?

[2017-06-29 19:14] dpalomino commented on #1444
Updated format:

### Problem Statement

Manual XLSForm generation is a tedious time-consuming prone to errors task, and something that generally partners are not able to do on their own. The Project Designer will create a friendly GUI to help partners design their projects.

### Context / Use Case

Almost none of our partners are currently able to create compatible xlsforms by their own.

### User

[2017-06-29 19:31] dpalomino commented on #1497
Updating to the new format:

### Problem Statement

Partners using the web UI to create neighbour locations want to avoid overlaps or slivers when defining the locations' geometries.

### Context / Use Case

A good example could be a partner creating geometries for the different buildings within a block.

### User Stories

- [ ] US1: As a data collector using the WUI, I'd like to snap a segment of

[2017-06-29 19:37] dpalomino commented on #597
Updated format:

### Problem Statement

Some partners would require to check the GPS accuracy prior to accepting the submitted information into the platform.

### Context / Use Case

A partner working in a urban slum requiring sub-meter accuracy for validating the data. Being able to "block" capturing coordinates with less than a specified accuracy would be very critical for them.

### User Story

[2017-06-29 19:44] dpalomino commented on #1445
Updated format:

### Problem Statement

Field Papers is a tool to help you create a multi-page atlas, manually define the geometries within it, and then collect information scanning these atlases.

### Context / Use Case

Being able to support Field Papers would provide a good differentiator for Cadasta, as will be offering a possibility to work with paper maps to partners that are working with pa

[2017-06-29 19:55] dpalomino commented on #664
Good catch @clash99! Closing the issue.

[2017-06-29 19:55] #664 closed

[2017-06-30 10:50] oliverroick commented on #1414
I feel a bit uneasy about adding the coordinates via a pop-up. The reason is that we need to maintain two maps and transfer the coordinates to the main map and populate the form.

Wouldn't there be a way to integrate the form to add coordinates to the map's toolbar (I think, group means to add geometries together makes sense from a UX perspective)? That way, we can display the marker directly on t

[2017-06-30 15:37] SteadyCadence commented on #1609
TO DO:
- [  ] Default (data) layout
- [  ] Default (title/deed) layout

[2017-07-03 09:50] dpalomino commented on #1573
^^^ hey @SteadyCadence, can you take a look to this issue? Thanks :)

[2017-07-03 09:56] dpalomino commented on #1546
Hey @bjohare. Did you have a chance to take a look to this issue?

[2017-07-03 10:17] dpalomino commented on #1575
Ok, I think we will need then only to check in the parser that `location_type` and `tenure_type` names in the xlsform file  are less than 10 chars when uploading the questionnaire. Right now choices for location_type and tenure_type greater than 10 chars are accepted and the error occurs when trying to add a new location or relationship using that key.

Changing the subject to be more descriptive.

[2017-07-03 10:22] dpalomino commented on #1555
Hi @clash99. Yes, there is [a task](https://github.com/Cadasta/cadasta-platform/issues/1596) for filtering resources in the backlog (although it is a low priority one).

I think we are good to close this issue.

[2017-07-03 10:22] #1555 closed

[2017-07-03 10:23] dpalomino commented on #1553
PR was already merged. Closing the issue.

[2017-07-03 10:23] #1553 closed

[2017-07-03 10:29] dpalomino commented on #1414
Hey @clash99, do you have any thoughts on Oliver's comment:

[2017-07-03 10:58] bjohare commented on #1546
Not yet. Will look today.

[2017-07-03 18:00] SteadyCadence commented on #1573
I can do that end of this week. Basically it was a bunch of custom attributes and some were not included, which caused the validation error. When I did not include custom attributes on the party and relationship endpoints, I did not get the validation error. I'll track down the exact payload when I am near my computer.

[2017-07-04 14:18] #1613 closed

[2017-07-04 15:54] amplifi commented on #1456
Superseded by #1609. Closing to continue with that issue.

[2017-07-04 15:54] #1456 closed

[2017-07-04 17:40] #1164 closed

[2017-07-05 08:05] seav opened #1625 "Platform error encountered while uploading a resource then changing one's mind to upload a GPX instead"
### Steps to reproduce the error
This is a bit tricky to reproduce because there's a timing issue involved. But I've managed to reproduce this error a few times already.

1. Upload a large non-GPX resource (several MBs big).
2. While the "Uploading..." message is displayed, select a small GPX file to upload instead (click "Browse"...).
3. Apparently the large resource file will still be uploading

[2017-07-05 08:12] amplifi opened #1626 "Data collection contact prompt"
On the project dashboard page, under data collection, the "If you need help, please contact us" links to http://cadasta.org/contact/ -- which offers the info@cadasta.org email address and a generic more info form. This should link to a support email address with a pre-populated subject line, so it's a single step for the user with a clear call to action.

[2017-07-05 08:23] seav opened #1627 "Resource name prefill script only replaces the first underscore with a space"
This is related to PR #1393.

### Steps to reproduce the error
1. Upload a resource file where the filename has at least 2 underscores.

### Actual behavior
In the pre-filled resource name field, only the first underscore is replaced with a space.

### Expected behavior
All underscores should be converted to a space.

### Bug fix
This can be fixed by changing the regex from `/_/` to `/_/g` here: h

[2017-07-05 08:30] amplifi opened #1628 "Superuser badge doesn't appear"
### Steps to reproduce the error

Log in as superuser account.

### Actual behavior

"SU" badge with tooltip doesn't appear.

### Expected behavior

Badge with tooltip should appear with username, as in #1568. Probably due to underlying `is_superuser` bug.

[2017-07-05 08:49] amplifi opened #1629 "Tab CSS missing active color change"
### Steps to reproduce the error

View the details for a location.

### Actual behavior

Active tab isn't highlighted in amber. Appears as:

<img width="349" alt="screen shot 2017-07-05 at 10 39 08 am" src="https://user-images.githubusercontent.com/4269749/27856545-c7cb06e4-616e-11e7-9279-d4cc4d38c0f9.png">

### Expected behavior

Active tab should be highlighted (see screenshots in #1611 for expe

[2017-07-05 08:54] seav opened #1630 "When changing the user-preferred language, the alert message is in the previous language"
### Steps to reproduce the error
This is just a really minor UI issue.
1. Edit your profile.
2. Select another preferred language.

### Actual behavior
The alert message that says the profile is updated ("Successfully updated profile information") is in the previous language while the rest of the UI now uses the new language.

### Expected behavior
The language used should be consistent.

[2017-07-05 09:47] dpalomino commented on #1629
Thanks Adri!

@clash99, can you take a look please?

[2017-07-05 12:33] dpalomino commented on #1628
Thanks @amplifi. @clash99 can you take a look pls?

[2017-07-05 14:58] dpalomino opened #1631 "Plus, minus and other forbidden chars are allowed in text attributes when they are not at the beginning of the string"
### Steps to reproduce the error

Related with #1619

Plus (+), minus (-) and other signs (<, >, etc) are allowed in text fields when these are not at the begging of the field. For instance, the following text strings are rejected:

"-asdf"
"+asdf"
"++++asdf"

But these other ones are accepted:

"text+++text"
"text+----text"

This behaviour is the same when adding or editing a field via the web in

[2017-07-05 15:27] seav commented on #1631
I think this is acceptable behavior. If you disallow this, you would be rejecting perfectly fine text like "Adolfo Suárez Madrid-Barajas Airport", "Guinea-Bissau", and "Olivia Newton-John".

[2017-07-05 17:17] dpalomino commented on #1631
Sounds good @seav, that's true. Thanks :-)

[2017-07-05 18:07] amplifi commented on #1631
Expected behavior; closing.

[2017-07-05 18:07] #1631 closed

[2017-07-05 18:46] laura-barluzzi commented on #1628
Inside `cadasta/templates/core/base.html` there are other cases of the same logic though:
`{% if is_superuser %} ... {% endif %}`
Do these other cases work right? If so, the if should work just fine. You can double-check the other cases in the same template on these three different points:
[47](https://github.com/Cadasta/cadasta-platform/blob/405775388546d25d764a00f007664fb59328524c/cadasta/templa

[2017-07-06 10:58] dpalomino opened #1632 "Able to upload a xlsform with no valid default option"
### Steps to reproduce the error

1. Include a select_one or select_multiple field in a xlsform
2. In the default column, include an invalid value (i.e. not existing in the choices tab)
3. Try to upload the file when creating a new project

### Actual behavior

1. File is accepted and project is actually created

### Expected behavior

1. File should be rejected and an error message should appear

[2017-07-06 11:05] dpalomino opened #1633 "500 when uploading xlsform with resource types within groups"
### Steps to reproduce the error

1. In a xlsform file, include a resource (image/audio/video) within an entity group (for instance location)
2. Create a project using this file

### Actual behavior

Enjoy your 500

### Expected behavior

File should be rejected and an error message shown ("Resources are not allowed within entity groups").

[2017-07-06 11:33] dpalomino opened #1634 "Possible to upload a xlsform with an invalid form_id value"
### Steps to reproduce the error

1. Include a form_id value that is not valid: for instance including some blank spaces "Demo_Urban_Infrastructure 201707063"
2. Create a project and upload the file
3. File is accepted
4. Download the form from ODK
5. An 500 error is obtained

### Actual behavior

See above

### Expected behavior

File should be rejected

[2017-07-06 11:57] dpalomino opened #1635 "Possible to submit a questionnaire with two geometries"
### Steps to reproduce the error

1. Create a project with two geometries in the questionnaire (using different field names)
2. Project is successfully created
3. Download form from ODK
4. Submit a response containing two geometries
5. Response is accepted
6. Only the first geometry is considered (which is acceptable)

### Actual behavior

See above

### Expected behavior

XLSForm file should be r

[2017-07-06 12:08] dpalomino opened #1636 "500 when submitting xlsform with nested repeat groups"
### Steps to reproduce the error

1. Create a xlsform with nested repeat groups within an entity (which is not supported)
2. Enjoy the 500

### Actual behavior

See above

### Expected behavior

XLSForm file should be rejected and an error message shown ("Nested repeat groups are not allowed").

[2017-07-06 12:26] dpalomino opened #1637 "Possible to upload a questionnaire with party_type and party_name within the party_attributes_default group"
### Steps to reproduce the error

1. Create a questionnaire with party_type and party_name within the party_attributes_default group (which is incorrect, should be out of that group
2. File is successfully uploaded and project created
3. Download from from ODK
4. Submit a record
5. Error: "Party error: 'party_name'

### Actual behavior

See above

### Expected behavior

File should not be allowed.

[2017-07-06 13:00] dpalomino opened #1638 "Incorrect relevant conditions in questionnaires not detected when uploading a xlsform"
### Steps to reproduce the error

1. Upload a xlsform with an incorrect relevant condition (for instance $var='asdf' instead of ${var}='asdf')
2. File is accepted
3. From ODK you can download the form and submit records, the relevant condition is just ignored

### Actual behavior

See above

### Expected behavior

The syntax error should be detected when uploading the file

[2017-07-06 15:17] wonderchook commented on #1637
@dpalomino agreed this is a bug, is there a reason we shouldn't allow those fields both in and out of that group?

[2017-07-06 15:18] wonderchook commented on #1636
can you include a sample file with this?

[2017-07-06 15:19] wonderchook commented on #1633
why shouldn't resources be allowed in entity groups? Then attached as resources

[2017-07-06 15:50] dpalomino opened #1639 "Refactor of project exports using async i/o"
Related with #490

This task is for tracking the refactoring of project exports now using the async i/o pipeline.

[2017-07-06 16:14] dpalomino commented on #1634
To be fixed for prior to the release of sprint 18.

[2017-07-06 16:17] dpalomino commented on #1638
Thanks Brian!

To be fixed prior to the release of Sprint 18.

[2017-07-06 16:21] dpalomino commented on #1635
David to provide some examples of this.

[2017-07-06 16:32] amplifi commented on #1638
@dpalomino This is for a patch release after Sprint 18 release.

[2017-07-06 16:32] amplifi commented on #1634
@dpalomino This is for a patch release after Sprint 18 release.

[2017-07-06 17:03] dpalomino commented on #1636
Sure, this is an example of a questionnaire with a nested repeat group (within the location attributes in this case):

[Urban Informal Settlements (Many-1) Form_nested_repeats.xlsx](https://github.com/Cadasta/cadasta-platform/files/1128634/Urban.Informal.Settlements.Many-1.Form_nested_repeats.xlsx)

[2017-07-06 17:07] dpalomino commented on #1637
I think we need to include it out of the groups because if not the schema is not properly created and then it's causing an error when submitting records from ODK.

[2017-07-06 17:17] dpalomino commented on #1635
Example:

[Urban Informal Settlements (Many-1) Form_2_geometries.xlsx](https://github.com/Cadasta/cadasta-platform/files/1128685/Urban.Informal.Settlements.Many-1.Form_2_geometries.xlsx)

[2017-07-06 17:21] dpalomino commented on #1633
For attaching resources to entities via ODK, we need to include them out of the entity groups (not within location_attribtes, party_attributes_default, etc), and following this naming syntax:
- location_resource_*
- party_resource_*
- tenure_resource_*

Details [here](https://github.com/Cadasta/cadasta-platform/pull/697)

[2017-07-06 17:27] dpalomino commented on #1589
Assigning to @clash99 and @dpalomino for wireframes design.

[2017-07-06 17:32] dpalomino commented on #1434
Hey @clash99! This is a nice to have for Sprint 19, only if you have time. Thanks!

[2017-07-06 17:33] dpalomino commented on #1261
Hey @clash99! This is a nice to have for Sprint 19, only if you have time. Thanks!

[2017-07-06 19:37] dpalomino commented on #1418
Hey @oliverroick. We were talking about implementing in next sprint:
- The ability of tagging projects as "un-deletable", so we can skip the ones used by partners or for demos in the programs team
- Ability to remove the other projects in demo

Maybe if you have time for this after #1476?

Thanks!

[2017-07-06 19:40] dpalomino commented on #1609
Tentatively doing the research (production of the DR) for the custom reports in Sprint 19.

[2017-07-10 10:41] oliverroick commented on #1418
Before I can implement this, we should agree on design and approach for these features.

- Is it a flag we set on the project model.
- Where does the UI sit for this?
- Who can mark projects as undeletable? Superuser only?

- What are "other projects"?
- What does the UI look like?
- What does delete mean? Actually erasing the project and all its data from the database?
- Who can delete projects?

[2017-07-10 12:53] clash99 commented on #1629
Fixed css

<img width="418" alt="screenshot 2017-07-10 08 41 57" src="https://user-images.githubusercontent.com/1119621/28018980-4c07bf74-654d-11e7-8135-46b63164f128.png">

[2017-07-10 13:14] dpalomino commented on #1418
Thanks @oliverroick. Yes, agreed, as there was a proposal ongoing for the UI (@clash99's [comment](https://github.com/Cadasta/cadasta-platform/issues/1418#issuecomment-297774112)) I missed this one. I'm working on it today.

[2017-07-10 13:43] wonderchook commented on #1635
@dpalomino have you confirmed that the 2nd geom isn't being stored as custom attribute?

[2017-07-10 13:44] wonderchook commented on #1637
@dpalomino does it make sense logically to do it that way? My point was more how should it work and what bugs are there related to it. It would be possible instead to fix how the schema is created to remove that issue.

[2017-07-10 13:57] dpalomino commented on #1418
Hey @oliverroick, @amplifi, @clash99

Can you please take a look and confirm if this properly reflects what we've been discussing? When I have your go I'll create the DR. Happy to discuss in a call as well.

Thanks!

### Problem Statement

Currently both staging and demo environments have many internal test projects that need to be cleaned, as they are impacting on the maintenance of those environ

[2017-07-10 16:13] clash99 commented on #1628
Superuser is broken across the board for all the superuser conditionals on staging site (not local, not sure about demo or platform). I'm not sure how much effort to put into this since the whole permissions system is about to be replaced. Its tough to troubleshoot since its working as expected on my local site. @dpalomino - what do you think?

[2017-07-10 16:48] dpalomino commented on #1628
thanks @clash99. Yes, I think it makes sense to wait until #1467 is finished.

[2017-07-10 16:58] dpalomino commented on #1637
I think there is no reason for not allowing party_name and party_type to be in party_attributes_default  group. But I also think that  this could complicate things a little.

For instance, we shouldn't allow to include them in the conditional party attributes (like party_attributes_inidividual) as they are not always included. And we would need to test how the templates with repeated parties are w

[2017-07-10 17:22] dpalomino commented on #1635
Hey @wonderchook. Yes, I've double checked and the second geometry is not stored in the location entities...

[2017-07-10 18:46] clash99 commented on #1414
@oliverroick - Is the map on the popup what is making you uneasy? If so, we can eliminate it as shown in the second wireframe. My thoughts were that by using a popover to enter coordinates we are going to easily scale to when we can add more complex geometries this way, not just data points.

It would be easy enough to add the "enter coordinates" on a map toolbar but then I would suggest we also a

[2017-07-11 11:58] clash99 commented on #1418
@dpalomino - I'm a little concerned about the undeletable option. Couple of questions/comments:

- Is the person creating the project for the purpose of a demo a superuser? If not then do they communicate with a superuser to mark it as undeletable? I'm confused by the work flow.

- I don't like the idea of adding it to the checkbox/ dropdown combo wireframe. I would suggest adding it to the projec

[2017-07-11 13:09] bjohare commented on #1637
@dpalomino we should not allow `party_name` and `party_type` as attribute field names (either default or conditional). I think the form stuff is complicated enough. We should add a validation check to disallow entity level field names in attribute groups.

[2017-07-11 13:27] dpalomino commented on #1637
Hi @bjohare. Yes agree. That's what I meant, technically it is possible to do it but I think it complicate things a little and add no much value...

[2017-07-11 13:36] dpalomino commented on #1418
Thanks @clash99!

I think this is only going to impact to a few bunch of projects, those used for demoing (the ones in the Programs organization) and the ones currently being used for training/testing purposes with partners (not more than 5-6 at a time I think), and either @SteadyCadence or me will be involved, so it is just communicating to a super user when one of this projects need to be marked

[2017-07-11 14:13] clash99 commented on #1418
@dpalomino - The ideal workflow for making these demo projects stick around would be for the system to know you are Cadasta internal staff and provide you with the option of setting it "official/undeletable" when you create it. I don't think we have that mechanism though. Do we?

[2017-07-11 14:26] dpalomino commented on #1418
Yes, that would be ideal of course @clash99. But I guess that would mean to add a new permission to the system "Cadasta Staff" to be something intermediate between the super user and a regular user? Would that be interfering with the tutelary work that is ongoing? Or can we whitelist a set of Cadasta users just for this?

Thoughts @bjohare? Do you think this would interfere in the (get-rid-of) tut