[2016-07-11 17:06] bjohare commented on #381
This is just a stray Schema and will disappear when the db is re-created. Alternatively do:
[code]

[2016-07-11 17:11] bjohare opened #384 "Should uploaded xls forms be deleted from storage when project is deleted?"
Doesn't happen on VM, not sure about staging, prod etc..

[2016-07-11 17:37] bjohare opened #386 "TenureRelationship model should have a 'acquired_how' field"
Current workaround is to define an attribute group for tenure_relationship in the xform and define it there

[2016-07-11 17:41] seav commented on #386
This was discussed before in Slack. The original `TenureRelationship` model had `geom`, `acquired_how`, and `acquired_date` fields. Not all projects need them so they are included as optional attributes instead.

[2016-07-11 17:42] bjohare commented on #386
Phew! Thought I'd overlooked it :-)

[2016-07-11 18:00] #386 closed

[2016-07-11 18:49] wonderchook opened #387 "example.com still in the subject of email to users"
The email says [example.com] Please Confirm Your E-mail Address.

[2016-07-11 18:49] #381 closed

[2016-07-11 19:03] #313 closed

[2016-07-11 19:07] #276 closed

[2016-07-11 19:07] #377 closed

[2016-07-11 19:32] #366 closed

[2016-07-11 19:33] ian-ross commented on #219
Closed by #370

[2016-07-11 19:33] #219 closed

[2016-07-11 19:40] linzjax commented on #387
I figured out how to fix this, so I'm going to take this issue from Oliver.

[2016-07-11 20:24] bjohare opened #389 "Weird formatting of attribute labels when mulitlingual labels defined in xform"
![issue](https://cloud.githubusercontent.com/assets/3308136/16745435/bb104580-47ad-11e6-8434-174c4ace4c1a.png)

[2016-07-11 20:35] #341 closed

[2016-07-11 20:36] ian-ross commented on #369
This appears not to be reproducible in a clean VM.  Can you try to reproduce it after dropping the database in your VM and reprovisioning?  This will ensure that you have the correct OS and Python dependencies, as well as the right database setup.  (There's another error that might crop up if it does work, but Oliver may have fixed that already.)

[2016-07-11 21:02] ian-ross commented on #332
Fixed by #382.

[2016-07-11 21:02] #332 closed

[2016-07-11 21:35] #387 closed

[2016-07-11 22:13] clash99 commented on #369
Here it is on staging:  http://screencast.com/t/onQeeS1a

[2016-07-11 22:41] wonderchook commented on #369
I can reproduce it on staging as well (browser doesn't matter I did it with chrome).

Steps:

1. Go to public project your user isn't a member of (or the org)
2. Click "add location"
3. Login
4. Redirect Error appears
5. Lots of "You don't have permission to add spatial units to this project" appears

[2016-07-11 22:42] wonderchook commented on #384
I think so. Going to move this as to something to worry about later.

[2016-07-11 22:48] wonderchook commented on #324
@ian-ross: should we push this off until "later"?

[2016-07-11 23:31] nastynoel commented on #343
#276 may need to be re-opened.......just created my first project geometry and the Map view associated with adding a new location did not zoom to project geometry as had previously been the case when #276 was closed.

Zooming in also didn't show the project geometry that had been created.

![image](https://cloud.githubusercontent.com/assets/14871114/16750163/12880ba8-4813-11e6-9e68-caef34051953.pn

[2016-07-11 23:45] nastynoel commented on #343
in response to @seav, I think having the geometry with a buffer could also act as a QA/QC mechanism for users to be informed when the location they're trying to create falls outside the project area.

@wonderchook - the only way I could see issues with data from ODK being resolved is through some messaging to the admin, or flagging the affected location for editing, but not sure how that would wor

[2016-07-11 23:57] nastynoel opened #392 "Tenure type selection not available when adding relationship to a new location"
Tenure type selection list is blank

![image](https://cloud.githubusercontent.com/assets/14871114/16750701/f831a27e-4816-11e6-9737-6e3d42297f27.png)

[2016-07-12 00:02] nastynoel opened #393 "Unable to add resource from library to new location"
Although I can upload a new resource directly, I got the second screen below after I selected add from library

Step 1 - select Add from Library
![image](https://cloud.githubusercontent.com/assets/14871114/16750760/68e80562-4817-11e6-9c82-ef9b46ec4c7a.png)

Yields this screen
![image](https://cloud.githubusercontent.com/assets/14871114/16750745/53241e78-4817-11e6-9675-7534939fc183.png)

[2016-07-12 00:11] nastynoel opened #394 "Unable to add member within Organization overview window"
Step 1 - selecting Add org member
![image](https://cloud.githubusercontent.com/assets/14871114/16750884/5a069292-4818-11e6-8d6a-24292ee6b8b4.png)

Yields this
![image](https://cloud.githubusercontent.com/assets/14871114/16750895/68c28a84-4818-11e6-9e9d-3a7f564b16cf.png)

[2016-07-12 04:12] #331 closed

[2016-07-12 04:24] wonderchook commented on #392
I suspect this is a deployment issue.

[2016-07-12 04:39] oliverroick opened #395 "VM provisioning is broken"
Ansible tries to load the fixtures via `loadeverything` before the development requirements are loaded. It breaks because the fixtures depend on `factory_boy`.

I'm not sure if `loadeverything` is in the right place. It's in `roles/cadasta/application/tasks/main.yml`, which is also loaded for production environments. But we don't want to load the fixtures in production.

Also, country data, polici

[2016-07-12 04:39] #361 closed

[2016-07-12 06:37] ian-ross commented on #324
Yes.  Adding the constraint to the database is easy, but we also need to add messaging in the front end, so let's leave it for now.

[2016-07-12 06:49] #363 closed

[2016-07-12 07:00] ian-ross commented on #394
I can't reproduce this, either in the development VM or on the current demo site.

[2016-07-12 07:58] nastynoel commented on #394
I was able to re-create it in the demo site on my notebook. This was also
done after I had cleared the cache and re-started my computer.

I was also able to re-create the error on my Oppo mobile. Apologies for the
screen grabs, but these pages don’t look to have been optimised for the
device yet. Other pages were fine.

*From:* Ian Ross [mailto:notifications@github.com]
*Sent:* Tuesday, 12 July 20

[2016-07-12 08:04] ian-ross commented on #394
You get the 500 immediately when you press the "Add org member" button or after you select a username or email address and press "Save" in the modal?

[2016-07-12 08:23] bjohare commented on #392
On the VM the list is populated by TenureRelationshipType id's rather than the labels.

[2016-07-12 11:51] clash99 commented on #365
Ignore the testing field (filed as a bug in a separate task):

![screenshot 2016-07-12 06 49 00](https://cloud.githubusercontent.com/assets/1119621/16766033/04b3a804-47fd-11e6-9183-e31363120e1a.png)

[2016-07-12 11:53] clash99 opened #397 "Update map geometry field error"
Update current error from this: "No geometry value provided."

to this:  "No map location was provided.  Please use the tools provided on the left side of the map to mark your new location."

![screenshot 2016-07-12 06 50 35](https://cloud.githubusercontent.com/assets/1119621/16766055/37b6b5e8-47fd-11e6-823a-b3b4ee5ae61b.png)

[2016-07-12 12:35] #369 closed

[2016-07-12 14:11] #395 closed

[2016-07-12 14:11] bjohare commented on #381
This gets loaded when the test fixture data gets loaded by ```./mangage.py loadfixtures```

[2016-07-12 14:14] ian-ross commented on #392
I think this should be fixed by the static data setup changes I made.  We'll need to check it once the new code is deployed to the staging or demo sites.

[2016-07-12 14:18] ian-ross commented on #381
OK.  So this data should no longer get loaded into the staging or demo environments.  Once @amplifi has updated the code on there and recreated the database, this should disappear.

[2016-07-12 14:33] wonderchook opened #401 "Improve Map Tip"
Currently the map tip just says location. Only the geometry is required. Options:

1. If there is a name or address column for the location display that
2. Allow users to create custom tooltips

[2016-07-12 14:45] wonderchook commented on #394
I was able to reproduce this yesterday, but I'm not getting it now. With the "wonderchook" account on demo however I'm not able to add users to an org I created. Seems to be weird issues just with that account. Wondering if it was create before a migration or something when we were trouble shooting yesterday and if it is in a weird place.

[2016-07-12 14:52] ian-ross commented on #394
Yeah, I was going to revisit this once we've redeployed.

[2016-07-12 15:24] wonderchook opened #402 "JavaScript Error on Map Tab Load"
When loading the Map Tab the following error occurs "leaflet.js:6 Uncaught TypeError: Cannot read property 'lat' of undefined". This only happens when there are no locations added to the map. As a user I would expect the map to zoom to the project extent if no locations are present.

[2016-07-12 15:38] wonderchook opened #403 "Provide Sample XLSForm to Users"
Add a link to the "Project Details" page to a sample XLSForm and [documentation](http://docs.cadasta.org/en/XLSForms.html)

Here is the form to use as the sample.
[Minimum_cadasta_questionnaire_0.2.xlsx](https://github.com/Cadasta/cadasta-platform/files/424715/Minimum_cadasta_questionnaire_0.2.xlsx).

[2016-07-12 15:54] wonderchook commented on #343
So @nastynoel I've been thinking about this a bit more. Couldn't people potentially have a global project? How should we handle those situations?

[2016-07-12 17:01] clash99 opened #405 "Adding neighboring locations"
We should make it easier to add a location neighboring the location you are viewing.  Right now "Add location" button throws you far out.  I wonder if we have an option to add a neighbor sorta-thing.  (Don't have an easy answer here - just tasking for future).

[2016-07-12 17:04] clash99 opened #406 "Improve map pop-over button"
Since this location's details are already open on the side, I wonder if it would be better to have messaging such as "viewing" instead of "open location".

![screenshot 2016-07-12 12 03 00](https://cloud.githubusercontent.com/assets/1119621/16775949/ac79b9ae-4828-11e6-857e-5d57b6157296.png)

[2016-07-12 17:12] wonderchook commented on #392
This is resolved on staging.

[2016-07-12 17:12] #392 closed

[2016-07-12 17:20] clash99 commented on #300
Location details - Relationships:

![screenshot 2016-07-12 12 05 07](https://cloud.githubusercontent.com/assets/1119621/16776005/f416b73a-4828-11e6-9b24-0ee9c7ce0db1.png)

Location details - Resources:

![screenshot 2016-07-12 12 19 32](https://cloud.githubusercontent.com/assets/1119621/16776437/f386b8ae-482a-11e6-85c4-17029a63632f.png)

[2016-07-12 17:23] wonderchook commented on #406
Seems reasonable, since you wouldn't want to open what is already open. Noting that if there are other locations on the map they should still say "Open location".

[2016-07-12 17:23] clash99 opened #407 "Combine add resource options"
Whenever the user adds a resource, we should supply them the two tabs of adding from library or uploading a new file on the same page.  The reasoning behind this is allowing the user to browse the library first potentially decreases the amount of duplicate resource files uploaded.

Right now the location detail resource tab has two buttons that lead to two different modals.  Ideally the detail are

[2016-07-12 17:40] clash99 opened #409 "Resources tab visibility"
The "Add from library" tab shouldn't be available if there are no resources in the library.  Only the option to "Upload" should be given.

[2016-07-12 17:42] clash99 commented on #300
Created a new issue to deal with hiding "Add from library" when there are no resources in the library.

[2016-07-12 17:47] #365 closed

[2016-07-12 17:55] #402 closed

[2016-07-12 17:59] ian-ross commented on #394
@wonderchook Can you see if you can reproduce this one?  I'm trying to figure out this Unicode business...

[2016-07-12 18:03] amplifi commented on #337
The "Unicode not being handled correctly" issue and #393 are the same root cause. When an error message includes non-ascii text, uWSGI fails to write it to the log; this generates the unicode encoding error. We can clean up the initial errors that occur in both instances, but any error in similar circumstances will 502 until uWSGI utf-8 logging is sorted.

[2016-07-12 18:06] wonderchook commented on #394
Seems to be resolved on staging. @nastynoel can you try it out here: http://platform-staging-api.cadasta.org/

[2016-07-12 18:06] #394 closed

[2016-07-12 18:46] wonderchook opened #412 "Forms Download to ODK should have human names"
Issue not seen on development since the django-buckets doesn't change the file names in dev mode. The form downloaded to ODK should have a human readable name. When people upload the file to their project let's have them add a name for the file. By default it could be the file name, but editable.

![screenshot_20160712-114011](https://cloud.githubusercontent.com/assets/67992/16779199/1cc33ad0-4826

[2016-07-12 19:08] wonderchook opened #414 "Max Length of Project name input box is 100 should be 50"
Max length of Project name input box is currently 100, should be 50 so it matches the model.  Otherwise the below error occurs

`Environment:

Request Method: POST
Request URL: http://10.0.0.143:8000/projects/new/

Django Version: 1.9.6
Python Version: 3.5.1
Installed Applications:
('django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'dja

[2016-07-12 19:13] linzjax opened #416 "Updating profile causes glitch in permissions"
I created a project, then updated my profile to include my full name, then went back to edit the project and got a `permission denied` error.

[2016-07-12 19:21] #393 closed

[2016-07-12 19:38] wonderchook opened #417 "Can't Download ODK Form from Staging"
See below error when trying to download an ODK form from staging. Believe this is deployment related. To reproduce do the following:

1. Get testing APK from [here](http://geomarvel-projects.s3.amazonaws.com/cadasta/collect-cadasta-dev.apk)
2. Create project with XLS Form
3. In general settings under "Configure platform settings" add http://platform-staging-api.cadasta.org/collect and your usernam

[2016-07-12 19:52] linzjax opened #418 "Registration page background not covering page"
Using Chrome
<img width="1280" alt="screen shot 2016-07-12 at 3 51 51 pm" src="https://cloud.githubusercontent.com/assets/8128188/16781318/a9b6b7ec-4848-11e6-9a8b-895974587840.png">

[2016-07-12 21:23] linzjax commented on #412
I think this might be more of a django-buckets issue, which I'm not as familiar with. I can still take a look though

[2016-07-12 21:31] linzjax commented on #417
The `downloadURL` for `/collect/` isn't being completed. Instead of
[code]
It's spitting out
[code]
try:
                survey = create_survey_element_from_dict(json)
                xml_form = survey.xml().toprettyxml()
                content = str.encode(xml_form)
                url = instance.xml_form.storage.save(
                    '{}.xml'.format(instance.name), content)

[2016-07-12 21:33] #300 closed

[2016-07-12 21:41] wonderchook commented on #412
True, I was wondering if storing a file name would be the way to go. @oliverroick thoughts on how to manage this?

[2016-07-12 21:47] wonderchook commented on #416
Is this happening locally or on staging?

[2016-07-12 21:50] linzjax commented on #417
Also, am I correct in assuming that we want this:
[code]
not this:
[code]

[2016-07-12 22:03] linzjax commented on #416
Staging, but the realized I was using the wrong demo, so this is moot.

[2016-07-12 22:03] #416 closed

[2016-07-12 22:24] wonderchook commented on #417
not sure it matters since the phone is doing the request and a human will never see it. 

[2016-07-13 02:18] nastynoel commented on #394
Resolved

*From:* Kate Chapman [mailto:notifications@github.com]
*Sent:* Wednesday, 13 July 2016 4:06 AM
*To:* Cadasta/cadasta-platform <cadasta-platform@noreply.github.com>
*Cc:* nastynoel <ntaylor@cadasta.org>; Mention <mention@noreply.github.com>
*Subject:* Re: [Cadasta/cadasta-platform] Unable to add member within
Organization overview window (#394)

Seems to be resolved on staging. @nastynoel

[2016-07-13 02:40] nastynoel commented on #343
@wonderchook – would it be possible to have users define their project
geometry through either manual definition via polygon creation, or
selection of standard regions/countries from a check box/drop down list
that already has geometry defined in the back end? e.g. country borders,
global, MENA, LATAM, Pacific.

Users would be directed to either draw their area of interest or make the
selection.

[2016-07-13 03:17] wonderchook commented on #343
@nastynoel it is possible to do any combination of those things. I think it makes sense to wait and get some feedback. Plus if we want some sort of flagging if locations are outside of the project area that is a completely additional workflow.

[2016-07-13 05:08] #337 closed

[2016-07-13 05:10] wonderchook commented on #417
@oliverroick believe this might be in django-buckets can you track it down?

[2016-07-13 05:57] amplifi commented on #417
The string concatenation here: https://github.com/Cadasta/cadasta-platform/blob/6a511dc3a8f4f8aeb40acebb4eb8deffbb1f233b/cadasta/xforms/serializers.py#L27 is generating an incorrect URL. Commenting out line 27 and editing line 28 to return just `obj.xml_form.url` generates the correct URL, but there's a cleaner way to produce the file path.

[2016-07-13 07:05] wonderchook opened #420 "S3 Files that begin with a number causing issues for pyxforms"
If an XLSForm is uploaded and happens to be assigned a filename that begins with a number it is causing the below error.

`yxform.errors.PyXFormError: The name '737bybrcpza2t4qb8b6uy2ig' is an invalid xml tag. Names must begin with a letter, colon, or underscore, subsequent characters can include numbers, dashes, and periods.`

[2016-07-13 09:20] #420 closed

[2016-07-13 11:47] #417 closed

[2016-07-13 12:04] seav commented on #414
The input box is 100 characters long because that is how it is defined in the `Project` model. This should not be an issue because the `SlugModel` is supposed to truncate the project name to generate a slug that is at most 50 characters long.

@wonderchook, can you provide the steps to recreate this issue? Based on #356, you should not be getting this error anymore.

[2016-07-13 12:22] clash99 opened #426 "Can't add new location (name issue)"
Name field error prevents user from adding new location to a project:

Video: http://screencast.com/t/Pj5X5v4P

Error:
![screenshot 2016-07-13 07 20 16](https://cloud.githubusercontent.com/assets/1119621/16803171/911f6cce-48ca-11e6-8869-54fb0a6fae7d.png)

[2016-07-13 12:27] clash99 opened #427 "Location details - Empty resource starter text"
Added html/css but can't get flag to work like on the relationships tab.  If there are no resources, starter text and a button should display instead of the empty table.

Page with html/text for this is location_detail.html.

[2016-07-13 13:10] seav commented on #372
This can also apply to the project overview, which has its own contacts and a URL. I suggest improving both pages for this issue.

[2016-07-13 13:24] clash99 opened #429 "Improve map interactions"
I have some ideas on how to add a bit of finesse to the map interactions to improve usability.  I think perhaps we should discuss in a meeting with those involved?

After the meeting, I can turn this into a more tangible request.

[2016-07-13 13:27] clash99 commented on #427
@seav - could you maybe take this one on when you have time?  it is similar to what you did for the project overview page.

[2016-07-13 13:30] oliverroick commented on #426
You need to drop and re-migrate your database. #415 removed the `name` field from `SpatialUnit`.

[2016-07-13 13:30] #426 closed

[2016-07-13 14:26] clash99 commented on #426
Is this a robot?  I feel like I get the same automated response everytime  :)

that worked - Thank You!!

[2016-07-13 14:56] wonderchook opened #430 "Geoshape comes across as a polyline"
Geoshapes are coming over as polylines. ODK doesn't close the polygon for this geometry type.

[2016-07-13 15:10] linzjax commented on #430
Is it unreasonable to add a line to the form for expected shape? i.e.:
What geometry type is this:
- Polygon
- LineString
- Point

I wanted to check whether the field was geotrace or geoshape, but for some reason I can't access the specific questions in the Questionnaire.

[2016-07-13 15:18] wonderchook commented on #430
it would be preferable if we would automatically figure it out. People could potentially use different geoms with multiple survey instances.

[2016-07-13 17:29] linzjax opened #432 "Improve Error messaging for GeoODK submission responses"
Currently the user is only getting a `<file-name> -- Success` or a garbled system error. The messaging should be improved so that the user actually knows what went wrong and how to fix it.

[2016-07-13 17:39] bjohare opened #433 "Investigate discrepancies in questionnaires table"
There are discrepancies in the questionnaires table in which _some_ xform uploads get the form `id_string` and `title` set to the randomly generated filename, rather than the values defined in the xform itself:

[code]

[2016-07-13 17:53] linzjax opened #434 "django-buckets: upload_to option should auto-generate folders"
Currently if you set a model field to `S3FileField(upload_to='<folder_name>')` if the folder doesn't exist it throws errors, so you have to manually add the folder. It should check whether or not the folder exists and then generate it automatically if it's missing.

[2016-07-13 17:58] #430 closed

[2016-07-13 19:10] linzjax opened #436 "Odd highlighting around resource checkboxes"
<img width="1280" alt="screen shot 2016-07-13 at 3 09 31 pm" src="https://cloud.githubusercontent.com/assets/8128188/16816466/f0fc0472-490b-11e6-965b-8501caf2a1e8.png">

[2016-07-14 04:16] wonderchook commented on #429
Makes sense. Do you think we should do this in the mini-release or what and get more feedback from users?

[2016-07-14 04:21] #418 closed

[2016-07-14 04:58] wonderchook commented on #403
this needs to happen in conjunction with @fhpichel's platform update

[2016-07-14 04:59] wonderchook commented on #401
duplicate of #406

[2016-07-14 04:59] #401 closed

[2016-07-14 06:38] seav opened #439 "Resolver for URLs with usernames do not include all valid characters"
URLs that contain usernames use the following regex to capture the username: `[-\w]+`. This does not match the actual allowed characters for Django usernames found in [django.contrib.auth.validators](https://github.com/django/django/blob/master/django/contrib/auth/validators.py): `[\w.@+-]+`.

This results in website errors when usernames containing periods, at signs, or plus signs.

[2016-07-14 06:53] seav commented on #439
This affects the following URLs:

Website:
/organizations/&lt;org>/members/&lt;username>/
/organizations/&lt;org>/members/&lt;username>/remove/
/users/&lt;username>/activate/
/users/&lt;username>/deactivate/

API:
/organizations/&lt;org>/users/&lt;username>/
/organizations/&lt;org>/projects/&lt;project>/users/&lt;username>/

[2016-07-14 08:05] oliverroick commented on #439
Three possible solutions here:

1. Restrict user names to `[-\w]+`
2. Change the URL pattern `[\w.@+-]+`. (Are `.` or `@` allowed in URLs, I don't know).
3. Change the URL pattern to use the user ID.

[2016-07-14 08:19] seav commented on #439
Number 2 seems to be the simplest to implement. I think `.` and `@` are allowed in URLs. If not, they will get URL-encoded anyway, just like other Unicode characters.

[2016-07-14 10:52] ian-ross commented on #439
Both `.` and `@` are explicitly allowed in URLs without encoding (see the BNF syntax here: https://www.w3.org/Addressing/URL/uri-spec.html#z8), so option 2 is definitely the best.

[2016-07-14 12:21] amplifi commented on #433
This was a result of some forms having an empty top row on the 'Settings' tab. When the title and id_string were parsed as null, the file key was inserted instead. Resolved by updating forms to remove blank row.

[2016-07-14 12:21] #433 closed

[2016-07-14 12:39] linzjax opened #440 "XForms need a unique way to identify associated questionnaire."
The form in ODKCollect needs to know which questionnaire it’s going to so it knows which project to submit to. The only identifiable things sent in the request from ODKCollect are the form_id (questionnaire.string_id), and the file name (questionnaire.name). The form_id does not have to be unique (which makes it problematic), and at least in dev the file name doesn’t have to be unique either… sooo

[2016-07-14 13:00] clash99 opened #441 "Improve party selection widget"
I think we can improve the party selection widget by using a searchable textbox/dropdown selector.  Perhaps something like selectize.js (http://selectize.github.io/selectize.js/) with a searchable text/select that allows us to show party name and type (individual/group).  The "add party" could be a button to the right of the select.

[2016-07-14 13:00] linzjax opened #442 "Model for entire XForm submission?"
With the way things are currently set up, if the user happens to put fields outside of attributes that model_helper doesn't recognize, they won't get saved. It might be worth creating a place to dump the complete xml response so we can also trace where the information came from, and store things like `meta: {instanceID: ...}` and `deviceID`.

[2016-07-14 13:06] clash99 opened #443 "Check button consistency across the platform"
Perhaps use default button vs link?

[2016-07-14 13:13] clash99 commented on #441
We should also add error for when a party is not selected.  Currently there is none.
![screenshot 2016-07-14 08 12 06](https://cloud.githubusercontent.com/assets/1119621/16840528/c7282de4-499a-11e6-800e-299bd4283bfb.png)

[2016-07-14 13:17] clash99 opened #445 "Default is not empty in dropdowns"
More of a question - I'm concerned that many of our form selection dropdowns are by default populated with the first option and not an empty default.  This means no errors are flagged when submitted and users could inadvertently be submitting a form field that wasn't truly selected.

[2016-07-14 13:19] clash99 opened #446 "Rework default data table search/ pagination options"
Improve upon ui from the pre-packaged option above and below the data tables.

Note: Currently using https://datatables.net/ for this.

[2016-07-14 13:26] #439 closed

[2016-07-14 15:04] wonderchook opened #447 "API Polish and Release"
Prior to announcing our API release we need to do the following:

- [ ] Verify API state (is everything consistent)
- [ ] Documentation
- [ ] Versioning Issues fixed

[2016-07-14 16:36] clash99 opened #448 "How to handle duplicate party names?"
When adding a new party (after the user has entered a new party with the same properties as an already existing party) we should prompt them if they would like to add the existing party or add the newly created party (with probably a new name to differentiate).

Right now you can add multiple parties with the same name.
![screenshot 2016-07-14 11 33 35](https://cloud.githubusercontent.com/assets/1

[2016-07-14 17:11] IvanSanchez opened #449 "Extra scrollbars in dashboard map UI"
![screenshot1](https://cloud.githubusercontent.com/assets/1125786/16848591/c37e09a0-49f6-11e6-9cde-4f5e154d6aa7.png)

Extra scrollbars appear when browsing the map. Problem is not specific to a single browser (can be reproduced at least with recent firefox and chrome).

[2016-07-14 17:15] IvanSanchez commented on #371
I would find it nicer if the "add location" button was disabled, grayed out, or otherwise not clickable. I see no reason to have a button that will consistently give an error, and could be used to convey information ("permission to edit this site") instead.

[2016-07-14 17:25] IvanSanchez opened #450 "Prototype switchover to Leaflet 1.0.0-rc2"
The Leaflet team will be releasing Leaflet 1.0.0 Really Soon™, and 1.0.0-rc2 in the upcoming weeks. 0.7.x can be still used, but it would be a good, low-priority idea to test out if switching to 1.0.0-rc is hard.

[2016-07-14 17:28] IvanSanchez opened #451 "Add icons to "add contact" and "remove contact""
In the "add a new project" page, add little icons to the "add contact" and "remove contact". Consider wrapping the "add contact" link inside a button, for UI consistency.

![screenshot2](https://cloud.githubusercontent.com/assets/1125786/16849086/2791da32-49f9-11e6-9a24-bd023604177b.png)

[2016-07-14 18:33] seav commented on #449
Duplicate of #249

[2016-07-14 18:33] #449 closed

[2016-07-14 18:36] seav commented on #450
Unfortunately, we are using [django-leaflet](https://github.com/makinacorpus/django-leaflet), which embeds a copy of Leaflet. It would be cleaner for us to wait for them to update instead of us trying to override Leaflet and any built-in integrations of django-leaflet.

[2016-07-14 18:41] IvanSanchez commented on #450
Fair enough. I hope upstream (django-leaflet) will be updated when the time comes.

[2016-07-14 18:41] #450 closed

[2016-07-14 18:44] seav commented on #450
Well, I have converted some of my personal Leaflet maps from 0.7 to 1.0.0-beta2 and rc1 and it was quite easy. I only encountered a regression from beta2 to rc1 that was already seen and filed already.

[2016-07-14 20:04] clash99 opened #452 "Users tab"
Sometimes I see it, sometimes I don't.  Logged in as Ian Ross.  (Only internal so low priority)

![screenshot 2016-07-14 15 03 43](https://cloud.githubusercontent.com/assets/1119621/16853944/56309a92-49d4-11e6-9eb7-8ee5b2c9b569.png)
![screenshot 2016-07-14 15 03 56](https://cloud.githubusercontent.com/assets/1119621/16853945/563e2694-49d4-11e6-871b-75fb1fc255dd.png)

[2016-07-15 01:35] seav opened #453 "Provide more email notifications"
Currently based on the code a user gets email at the following instances:
1. Email address confirmation during registration
2. Change of email address confirmation (although I can't seem to make this happen)
3. Password reset
4. Confirmation of getting added as an organization member (but only via the API)

I think the user should also get an email when they get assigned to a project, and probably

[2016-07-15 01:41] seav opened #454 "Consider adding either site-wide or fine-grained search index robot settings"
We can certainly argue that any data in the demo site should not be indexable by search engines, so we should add a way to configure our robots.txt.

Also, we may want to provide `meta` `noindex` or `nofollow` to individual pages as well, although private projects seems to take care of that.

[2016-07-15 12:22] clash99 commented on #344
Screenshots for location details - add party modal:
![screenshot 2016-07-15 07 22 05](https://cloud.githubusercontent.com/assets/1119621/16874085/e762dc4a-4a5c-11e6-85b1-36daa834f2de.png)
![screenshot 2016-07-15 07 22 11](https://cloud.githubusercontent.com/assets/1119621/16874084/e75f6010-4a5c-11e6-8d7d-3e8bbea868ce.png)

[2016-07-15 13:07] ian-ross commented on #452
Are there any other views on which you don't see it that the project resources view?

[2016-07-15 13:15] clash99 commented on #295
This also applied to Location details - Resources tab.

[2016-07-15 13:33] ian-ross commented on #249
Closing via #455

[2016-07-15 13:33] #249 closed

[2016-07-15 13:55] clash99 commented on #452
Sorry, I was so focused on the scrollbar bug I didn't document this very well...  it only disappears on the Project > Resources page.

[2016-07-15 14:00] ian-ross commented on #452
Thanks.  Pretty sure I've fixed it.

[2016-07-15 14:00] ian-ross commented on #452
I'll make a PR in a minute.  There's some weird thing going on with Travis right now.

[2016-07-15 14:13] linzjax commented on #412
So, looks like this was solved with the removal of the blank line in the xls settings tab. Can you confirm?

[2016-07-15 15:19] ian-ross opened #457 "Remove all randomised test cases from functional tests"
Functional tests are *not* the place for randomised testing.  Writing tests that run individual randomised test cases leads to random test failures.  The way to do randomised software testing is to write property based tests, not normal unit tests using random data, and *not* functional tests using random data.  Testing for continuous integration must be entirely deterministic.

[2016-07-15 15:51] ian-ross commented on #383
This is pretty much done.  There's now a `loadstatic` management command that loads all of this in an idempotent way.  We'll need to be careful of *changes* to this static data in future, since we'll need to write data migration scripts for the production site, but as far as this issue is concerned, I think we're done.

[2016-07-15 17:55] clash99 commented on #344
Location detail - resources:

Task #295, #407, #409, #427 - all future improvements for this area.

![screenshot 2016-07-15 08 19 33](https://cloud.githubusercontent.com/assets/1119621/16875803/f1669b0a-4a66-11e6-9f3b-5379c6a2ccca.png)
![screenshot 2016-07-15 08 19 55](https://cloud.githubusercontent.com/assets/1119621/16875802/f165b79e-4a66-11e6-8c52-33cab5c5eb53.png)

[2016-07-15 18:11] clash99 commented on #368
PERMISSION DENIED change to "You don't have the necessary permissions for this action."

Translated to Spanish and Arabic.

[2016-07-15 18:21] clash99 commented on #185
Same thought should apply to adding a new location to a project.  Instead of messaging after the fact, we should hid the button from users that aren't eligible for that action.

[2016-07-15 18:24] clash99 commented on #371
Agree @IvanSanchez - thanks for the feedback.  I am updating the error messaging as a temporary fix until task #185 (which should only show actions available for that user's permissions) can be complete.

[2016-07-15 18:40] clash99 commented on #371
![screenshot 2016-07-15 13 37 04](https://cloud.githubusercontent.com/assets/1119621/16884926/abee8e40-4a91-11e6-8549-8956ba162296.png)

[2016-07-18 03:57] nastynoel opened #460 "Improve dashboard as far as showing project existence geographically"
While the shaded blue polygon approach works okay for project geometries at smaller scale, that is not the case when it comes to global/regional/larger project areas......as seen in the screen grab below. Placing markers at the centroid for all projects on the dashboard map view, while keeping the shaded (or other drawing like a bounding box) area for the map view of projects may be an improvement

[2016-07-18 04:05] nastynoel opened #461 "Add Calendar Widget for Date Fields"
I was only able to work out the DOB format through trial and error, as there is no guidance as to the format required. Without a calendar, better guidance of ISO 8601 is required, otherwise I see lots of mistakes and frustrations occurring with this attribute.

![image](https://cloud.githubusercontent.com/assets/14871114/16905841/d1344496-4cef-11e6-86a6-07b654f30ac4.png)

![image](https://cloud.gi

[2016-07-18 16:14] wonderchook commented on #460
I think we should look at a couple different display options before making a change. I think for example of the bounding box wasn't shaded it wouldn't be an issue. @clash99 what do you think?

[2016-07-18 16:15] wonderchook commented on #461
DOB is a custom field, I think what you really mean is there should be a calendar widget for all custom date fields.

[2016-07-18 17:16] clash99 commented on #460
@wonderchook - I agree.  I think if we could visually remove the bounding box it would be a huge improvement - if we could make the shading and border transparent that would work.

[2016-07-19 05:29] nastynoel commented on #461
agreed

[2016-07-19 10:58] fhpichel opened #462 "Projects, Organizations...and Users from homepage"
From the demo hope page we are presented with “Projects” & “Organizations”, while if looking at a condensed homepage with the drop down, the user can access “Users” in the above – not sure if that is intended

![image](https://cloud.githubusercontent.com/assets/14877933/16947590/42aa0d5c-4db0-11e6-9ddc-4ac3459be8bb.png)

vs.

![image](https://cloud.githubusercontent.com/assets/14877933/16947637/75

[2016-07-19 11:01] fhpichel opened #463 "Error in URL when adding new organization"
When adding a new organization, I received the error shown below in url section "Item 0 in the array did not validate". Perhaps text can be updated to be more meaningful
![image](https://cloud.githubusercontent.com/assets/14877933/16947717/e80086fa-4db0-11e6-8277-7608d658f64a.png)

[2016-07-19 11:03] fhpichel opened #464 ""Draw Rectangle" while defining project areas"
After selecting “Draw a Rectangle” as an option while defining the project area, there doesn’t seem to be a way to delete the rectangle if you made an error in definition; the cancel button doesn’t work as it does with the “Draw a Polygon” option.

![image](https://cloud.githubusercontent.com/assets/14877933/16947773/2c55fa92-4db1-11e6-94bd-f53ae61b2649.png)

[2016-07-19 11:04] wonderchook commented on #463
Is this on the demo site?

[2016-07-19 11:05] fhpichel opened #465 "Back Button When in process of adding new project"
When working to “Add New Project”, from the “Assigning Permissions” section, it would be useful to have a “back” button alongside the Save and Continue and Cancel buttons. Also note that while it seems like the “Draw Map” and “Add Details” icons are clickable when the user scrolls over, nothing happens when clicked.

![image](https://cloud.githubusercontent.com/assets/14877933/16947799/5682b9a4-4d

[2016-07-19 11:08] fhpichel opened #466 "Server 500 Error when creating a new project...."
I'm getting an error when trying to create a new project...

![image](https://cloud.githubusercontent.com/assets/14877933/16947840/9d62f97e-4db1-11e6-884f-5e8cdcb4b730.png)

![image](https://cloud.githubusercontent.com/assets/14877933/16947849/aa0febb4-4db1-11e6-9c90-8ed131a34835.png)

[2016-07-19 11:15] amplifi commented on #466
Corresponding error in Django log:

`Internal Server Error: /organizations/cadasta-foundation-demonstration/projects/new/
Traceback (most recent call last):
  File "/opt/cadasta/env/lib/python3.5/site-packages/django/db/backends/utils.py", line 64, in execute
    return self.cursor.execute(sql, params)
psycopg2.DataError: value too long for type character varying(50)`

[2016-07-19 11:16] wonderchook commented on #466
@fhpichel in the future can you provide more information about what you were doing in making the project. What data you put in and what you expect the output to be?

@amplifi this issue should be fixed in master. The issue is the text box allows 100 characters for the project name and the model only allows 50.

[2016-07-19 11:20] fhpichel commented on #463
Yes, on demo site

[2016-07-19 11:20] #368 closed

[2016-07-19 11:21] #371 closed

[2016-07-19 11:33] wonderchook commented on #463
@fhpichel why did you close this?

[2016-07-19 11:54] seav commented on #464
The "Cancel" option only works when before you start drawing the rectangle. When you make a mistake, you can actually draw another rectangle and it will replace the first rectangle. Alternatively, you can use the trash icon to delete the rectangle and then draw a new one.

The cancel feature UX can be improved but the drawing feature is provided [by a third party](https://github.com/Leaflet/Leafle

[2016-07-19 11:54] #452 closed

[2016-07-19 12:26] amplifi commented on #466
@wonderchook I was able to replicate this 500 error on staging. In searching for related updates, this PR was included in the last deployment to demo; I can confirm the code is present on all servers: https://github.com/Cadasta/cadasta-platform/commit/37f0c19e3bf8a1772a15891f21412300e49fba17

This open issue seems to be the same/similar: https://github.com/Cadasta/cadasta-platform/issues/414

[2016-07-19 12:31] seav commented on #414
I found the problem. The `SlugModel` does not check that the generated slug length is less than or equal to 50. It first checks if the slug does not exist in the database and uses that immediately without giving a chance to do the length checks. I've fixed this and will be pushing it soon.

[2016-07-19 12:37] clash99 commented on #397
@oliverroick I can't find this error message to update.  When you get a chance, can you point me in the right direction?  Thanks, Chandra

[2016-07-19 12:43] clash99 commented on #462
Added superuser conditional to hamburger menu:

![screenshot 2016-07-19 07 41 39](https://cloud.githubusercontent.com/assets/1119621/16950167/6829af96-4d84-11e6-95d3-8e64704742de.png)

[2016-07-19 12:49] seav commented on #466
Duplicate of #414

[2016-07-19 12:49] #466 closed

[2016-07-19 13:09] fhpichel opened #468 "Permission Denied when Adding New Project"
After establishing an organization, setting project name (shorter this time around) and attempting to create the project I get a "permission denied" response.  Strange, as I'm establishing the new project as the admin.

Images below are of the data entry leading to the "permission denied"

![error1](https://cloud.githubusercontent.com/assets/14877933/16950873/a5faa4b8-4dc2-11e6-8cf2-7f10edb892fe.p

[2016-07-19 13:17] seav commented on #414
Sorry, my earlier assessment was mistaken. `SlugModel` is already truncating the slug length to the correct length. And the existing unit tests are already properly checking for the condition that leads to the 500 error. It seems there is a difference in behavior between the unit tests and the actual website behavior as I can replicate the 500 error in my VM.

[2016-07-19 13:43] seav commented on #414
OK. I think I found the bug. It's this extra line: https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/organization/views/default.py#L444

This creates a slug, but without the optional `max_length` parameter. Thus the generated slug is longer than 50 characters. And when the code goes into `SlugModel.save()` it sees that `self.slug` is already present and therefore uses it as is, leadi

[2016-07-19 13:50] #462 closed

[2016-07-19 13:56] oliverroick commented on #397
@clash99 This is coming from django-leaflet. It is possible to change this; I just don't know how exactly from the top of my head. I'm assigning this to myself. Will look into that later today or tomorrow.

[2016-07-19 14:22] oliverroick opened #471 "Long titles flow outside of page header"
![screen shot 2016-07-19 at 16 21 18](https://cloud.githubusercontent.com/assets/159510/16953339/f008cf6c-4dcc-11e6-8424-65c66c52c81e.png)

[2016-07-19 14:50] #414 closed

[2016-07-19 15:23] #457 closed

[2016-07-19 15:40] clash99 commented on #471
Ellipsis should show in md and lg screen resolution.  On hover text expands.

In sm and xs screen resolution, line wraps without truncating.

![screenshot 2016-07-19 10 36 11](https://cloud.githubusercontent.com/assets/1119621/16956171/fbe1a0f0-4d9c-11e6-8f17-df64829305eb.png)
![screenshot 2016-07-19 10 36 19](https://cloud.githubusercontent.com/assets/1119621/16956172/fbe27246-4d9c-11e6-9ee8-3dc0

[2016-07-19 15:53] clash99 opened #474 "Resources number on project overview"
The number of resources listed on the project overview says 7 although those are at the location level, not the project level.  So when a user selects the resources tab on the left or if we eventually linked that overview number to the resources, they see an empty list.

Couple of ways to go from here:

1)  We could add a project/location/relationship/party filter on the resources page so that you

[2016-07-20 06:17] #315 closed

[2016-07-20 06:40] #397 closed

[2016-07-20 06:46] seav opened #476 "Weird maintenance of state in the contacts form"
I get weird behavior for the contacts form where the state is not maintained as expected when contact rows are added/deleted. Here's one example:

1. Go to the add organization form
2. Add some contact data in the existing single contacts form row
3. Delete that row
4. Add a new row (the user can't make up their mind...)
5. Add some other contact data in the new row
6. Submit the data (with the Na

[2016-07-20 07:12] seav commented on #325
@clash99, because of the updated map objects styling introduced in PR #396, the project boundary is now just an outline. You still get the pointer cursor when you hover the mouse pointer over the boundary, but this is less likely to be seen by the user because the outline is narrow.

What do you suggest we do now?
1. Make the cursor normal when the mouse pointer hovers over the outline
2. Still ad

[2016-07-20 07:57] seav commented on #372
@clash99: Please see the `enhancement/#372` branch. I've added the template codes to access the URL and contacts for both organizations and projects. Just adjust the HTML as necessary and add any necessary classes and CSS definitions.

I would suggest that we have email and phone icons to act as links to the "mailto:" and "tel:" URLs for each contact.

[2016-07-20 09:31] seav commented on #345
For the project geometry, #358 needs to be answered first.

[2016-07-20 09:38] seav commented on #364
It seems this is already resolved on master?
![screen shot 2016-07-20 at 17 36 19](https://cloud.githubusercontent.com/assets/873653/16982101/bf0c9a36-4ea0-11e6-80bd-b7635d30d810.png)
![screen shot 2016-07-20 at 17 36 29](https://cloud.githubusercontent.com/assets/873653/16982100/bf0b450a-4ea0-11e6-9f97-10c4fad961ac.png)
![screen shot 2016-07-20 at 17 36 41](https://cloud.githubusercontent.com/ass

[2016-07-20 09:52] oliverroick commented on #355
@clash Can you also create a PNG icon, please?

[2016-07-20 10:36] fhpichel opened #478 "Adding New Location - Drop Down Pulling from Name instead of Label"
Using the generic Cadasta excel form, it seems the drop down lists are pulling from the "Field Name" as opposed to Field Label, which will cause confusion when doing data entry from the PC, particularly when the name isn't obvious.
![error_excel_namelabel](https://cloud.githubusercontent.com/assets/14877933/16983725/84788940-4e76-11e6-9e11-d2faa8f214e0.png)

![error_label](https://cloud.githubuser

[2016-07-20 10:39] fhpichel commented on #461
Assume this would apply to date field for adding location as well, and not need to report the  issue
![error_date](https://cloud.githubusercontent.com/assets/14877933/16983819/032539b4-4e77-11e6-8347-3fc8eda4ff42.png)

[2016-07-20 10:44] fhpichel opened #479 "Adding Location - Character Limit on Notes"
The character limit on notes is too low to be useful, possible to extend limit to 100 at a minimum.?

![notes](https://cloud.githubusercontent.com/assets/14877933/16983914/b0a64a7e-4e77-11e6-9ef9-f1c765cf2bfd.png)

[2016-07-20 10:48] bjohare commented on #479
Try using **text_multiline** as the type rather than **text**?

[2016-07-20 11:00] bjohare opened #480 "XLSForm parse errors fail silently"
PyXForm errors should get reported as InvalidXLSForm errors. They currently fail silently leading the user to think the form uploaded successfully.

[2016-07-20 11:09] fhpichel commented on #479
Thanks @bjohare - fixed

[2016-07-20 11:09] #479 closed

[2016-07-20 12:31] wonderchook commented on #461
Correct this is a matter of adding a calendar widget for all date related custom attributes.

[2016-07-20 12:33] clash99 commented on #372
Thanks @seav - I will look at this today.

I don't think we will include a public-facing phone number.  At one time we discussed masking the contact email for privacy - @wonderchook is that still a consideration?

[2016-07-20 12:37] clash99 commented on #364
I was looking at this quite a bit yesterday.  The problem right now is that the error creates a separate row, so even when you remove the contact below, the error remains.  Ideally the message would be in the same row as the fields but given that it spans columns, it makes it more difficult.  And to have the delete button span rows is more difficult too.   I'll try to resolve this today.  Let me k

[2016-07-20 12:53] clash99 commented on #355
Oops - sorry!  Here you go...

![png](https://cloud.githubusercontent.com/assets/1119621/16986937/fa97c064-4e4e-11e6-80a9-02e3bc64a014.png)

[2016-07-20 13:39] clash99 opened #481 "Arabic kills the layout"
Everything is floating right instead of just text.  We should be able to just float text right without affecting the layout.

![screenshot 2016-07-20 08 37 44](https://cloud.githubusercontent.com/assets/1119621/16988248/63cc2826-4e55-11e6-823b-bace402ce8bc.png)

[2016-07-20 13:42] ian-ross commented on #272
I think this is one for me, since it's to do with the project creation wizard.

[2016-07-20 13:44] wonderchook commented on #272
okay sounds good. @bjohare see above.

[2016-07-20 13:49] bjohare commented on #272
Might be worth fixing #480 at the same time as they're closely related.. see https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/questionnaires/managers.py#L173

[2016-07-20 13:54] ian-ross commented on #272
Agreed.  I'll add it to my list.  That `pass` is a little bit naughty.

[2016-07-20 13:56] #471 closed

[2016-07-20 14:34] #427 closed

[2016-07-20 14:50] oliverroick commented on #355
Thanks!

[2016-07-20 16:03] bjohare commented on #478
Seems to be fixed.

[2016-07-20 21:09] clash99 commented on #465
Project wizard changes:

- Removed href links from progress circles at top
- Replaced buttons with Previous/ Next (need help with urls here for previous buttons)
- Reworked non-map pages to be a fixed width

<img width="1265" alt="screenshot 2016-07-20 16 03 07" src="https://cloud.githubusercontent.com/assets/1119621/17003132/2ac1f88c-4e94-11e6-827a-3dd14cb62c89.png">
<img width="1264" alt="screen

[2016-07-20 22:41] wonderchook commented on #468
@amplifi can you see if you can find anything in the logs?

[2016-07-21 08:30] amplifi commented on #468
@wonderchook Django is only logging uncaught exceptions, so there wasn't anything corresponding for this event. I'm not able to replicate the "Permission Denied" message using the same form inputs under another user in staging and demo. The database entries for the user account and organization in the screenshots look correct. The questionnaire attached to the form uploaded successfully and looks

[2016-07-21 09:58] seav commented on #409
Is this a duplicate of #295?

[2016-07-21 10:03] ian-ross commented on #409
Yes, it is.

[2016-07-21 10:03] #409 closed

[2016-07-21 10:04] seav commented on #273
This needs a bit more thought. The UI for this is also important: it should indicate what the requirements are. Also if we wanted to, we can even add those nifty password strength assessment widgets.

[2016-07-21 11:29] #134 closed

[2016-07-21 12:33] #355 closed

[2016-07-21 16:32] ian-ross opened #485 "Rationalise permissions checking"
There are a number of places in views where it's necessary to determine whether a user is a superuser, whether an organisation admin for a particular organisation or a project manager for a particular project.  The superuser checks are currently managed in a mixin, but the other checks should also all be rationalised in the same kind of way.

[2016-07-21 16:38] ian-ross opened #486 "Speed up Travis platform setup"
There are a couple of Python packages that we use that don't have binary distributions (in particular, the SASS preprocessor we use).  These currently have to be installed from source every time a Travis build starts, which is very slow.  We should set up a "wheelhouse" to hold binary builds of packages to speed up Travis (and tox) setup.  (Suitable tools to do this might be https://github.com/lev

[2016-07-21 16:39] clash99 commented on #465
@seav - I need help here with urls for the previous buttons and with a broken functional test.  The branch is feature/wizard-steps.

Do you have time to assist?  Either way, just let me know.  Thanks, Chandra

[2016-07-21 16:39] ian-ross opened #487 "Investigate Travis setup caching"
Travis is supposed to be able to cache build setups which speeds test startup up a lot.  We should do that...

[2016-07-21 16:40] ian-ross opened #488 "Rationalise view testing approaches"
There are currently (at least?) three different approaches used to unit testing of views.  We should settle on one approach, convert all the tests to use it, and document the approach we're using.

[2016-07-21 16:42] ian-ross opened #489 "Set up Django debug toolbar"
We should have a way of running the platform in the development VM with the Django debug toolbar enabled.  This will allow us to get some quick information about database hits and other performance indicators.

[2016-07-21 17:16] oliverroick opened #490 "Improve download processing"
The current process will create performance issues as soon as we have larger data sets as well as more resources. All resources are downloaded from AWS individually and then added to the zip, which will take more time the more files a project has.

We should make this an asynchronous task. A project manager "orders" a download. This request is added to the download queue and processed as soon as t

[2016-07-21 17:24] clash99 commented on #436
Chrome issue (at least, may be more).

Removed form-control class from checkbox input.

[2016-07-21 20:21] wonderchook commented on #440
@linzjax in production with the S3 buckets the file name would be fine, right? @oliverroick any suggestions on how we should manage in dev?

[2016-07-21 20:25] wonderchook commented on #442
@linzjax so save the entire response so we can enhance later? There is probably a point in the future where we might actually want to use the additional fields but I don't think we are there yet.

[2016-07-21 20:26] wonderchook commented on #443
@clash99 can you expand on this a little more?

[2016-07-21 20:30] wonderchook commented on #451
@IvanSanchez thanks for the suggestion!

[2016-07-21 20:50] wonderchook commented on #468
@fhpichel can you try doing this again and write step by step what your inputs are?

[2016-07-21 20:53] wonderchook commented on #464
@clash99 thoughts on improving this?

[2016-07-21 20:54] wonderchook opened #492 "Create "Splash Screen" on dashboard"
We need some sort of intro for the dashboard so people know what they are looking at. This would be a good time to link to the documentation as well.

[2016-07-21 21:00] clash99 commented on #464
This is one of the first areas I think we should supply some supporting instructions and eventually a video demonstration.  I can try to enhance the instructions on the right to include more specific directions.

What about a quick png of something like this that we can link to:  http://2.bp.blogspot.com/-KWtBMMOCBCY/UuQEhGMGZKI/AAAAAAAAAk0/SeD6vzbVaFY/s1600/draw-01.png

Other ideas?

[2016-07-21 21:07] wonderchook commented on #299
@seav I've pushed this off since the PR hasn't been merged yet, so we don't end up waiting on it.

[2016-07-21 21:10] wonderchook commented on #403
@fhpichel we need a default sample form to use for this. Could you put something together?

[2016-07-21 21:11] wonderchook commented on #168
@clash99 I'm going to move this off to the next milestone so we can get some feedback from users as to what is there now.

[2016-07-21 21:12] #383 closed

[2016-07-21 21:13] wonderchook commented on #372
@clash99 I think if people put their contact info in then we won't mask it. Should we maybe provide a warning to them that it will be public if it is put there?

[2016-07-21 21:17] clash99 commented on #372
Okay, I can do that.  I would think we would only show email and not phone numbers, or both?

[2016-07-21 21:35] wonderchook commented on #296
I think this can wait for the time being.

[2016-07-21 21:37] wonderchook commented on #322
@clash99 is this a good topic for a brainstorming meeting?

[2016-07-21 21:41] wonderchook commented on #358
For now this should be required. Later when we address some of the issues in #343 we can rethink if this is the case.

[2016-07-21 21:43] wonderchook commented on #372
both

[2016-07-21 21:46] wonderchook commented on #389
after discussion with Frank, I'm going to move this to the next milestone. It is going to be important, but not yet urgent.

[2016-07-21 21:49] clash99 commented on #344
Download project data page:

![screenshot 2016-07-21 16 46 26](https://cloud.githubusercontent.com/assets/1119621/17039982/ddaf452a-4f62-11e6-88ce-0121d191b85c.png)

Question for @oliverroick:  Was this going to be a modal?  I think that would be ideal but if not, we should remove the "cancel" button.  Currently it is a dead link.  Just wanted to check....

[2016-07-21 21:54] clash99 commented on #322
yes - maybe a breakout session in Frankfort?  even 30 minutes would be great to consolidate ideas...

[2016-07-21 22:04] wonderchook commented on #322
Moving this off until the next release, but we'll discuss at the F2F the details

[2016-07-21 23:16] seav opened #493 "Consider using an alternate map tileset"
We are currently using OSM's default tileset as our main base map. While this is tolerated by OSMF for low levels of traffic, we may want to consider using an alternate tileset, such as those provided by Mapbox (whose satellite imagery tileset we already use), or another provider. This allows us to make the base map match our site theme and lets us show only the details that we want on the base ma

[2016-07-21 23:27] seav commented on #358
We shouldn't flip-flop on whether to make the geometry required. This adds/removes constraints on the `Project` model and will trigger data migrations, which we should try to avoid.

[2016-07-22 07:59] oliverroick commented on #344
In the wireframes, it was a modal. I decided to make this a page because users can open the download from anywhere in the project. To make this work as a modal, we would have to implement the functionality as an asynchronous operation, which would have taken much longer.

I agree, we should remove the cancel button in this case.

[2016-07-22 08:06] oliverroick commented on #440
We could make the `FakeS3Storage`, which we use in the dev environment, create the same random file names that the production `S3Storage` uses. In fact, it's a good idea to do that to make the `FakeS3Storage` behave more like the `S3Storage`.

Would that solve the problem? I add this to the next django-buckets release.

[2016-07-22 08:22] oliverroick opened #494 "Weed out duplicate database requests in templates"
Templates currently create a lot of duplicate database requests. For instance, every time we call something like `{{ project.organization.name }}` the organization object is queried from the database. Model object that are used multiple times in a template should be queried once and added to the view's template context.

[2016-07-22 09:08] seav commented on #295
This also applies to (tenure) relationships and to parties.

[2016-07-22 09:11] seav opened #495 "How to handle duplicate resource names"
Similar to #448 and #324, resources can have duplicate names in a single project. This might make things confusing for the user if they want to select resources from the library.

Should duplicate resource names be allowed?

[2016-07-22 09:27] seav opened #496 "Overlapping polygonal locations may result in some of them becoming unselectable"
If polygonal locations overlap, depending on the order they are added to the map, some locations may become unclickable because they are "behind" other locations. This makes it impossible for the user to open the location detail unless they know the location ID and hack at the URL.

One way to solve this is to do client-side point-in-polygon check to find out which polygons encompass the point cli

[2016-07-22 09:29] seav commented on #429
See also #496.

[2016-07-22 09:40] seav commented on #261
I'm looking at the site, and there is actually a way to disconnect resources from the project, locations, parties, or relationships. It's not intuitive, though. When you select the "Add from library" option in an entity page, the resources whose checkbox is already checked are the ones already connected to the entity. So to disconnect the resource or connect others, just check or uncheck the desir

[2016-07-22 09:51] seav opened #497 "Columns of Resources tables for each type of entity is not consistent"
The resources table for projects, parties, and relationships on a wide screen has the following columns:
* Resource
* Type
* Connections
* Contributor
* Last updated

When the screen is narrow, the columns reduce to just Resource and Contributor.

For locations, the resources table always has Resource and Connections as the columns, no matter the screen width.

These should **probably** all be con

[2016-07-22 09:56] seav opened #498 "Resources table is not responsive"
The resources table for locations and relationships is not responsive on wide screens:

![screen shot 2016-07-22 at 17 54 25](https://cloud.githubusercontent.com/assets/873653/17053592/5b63b05a-5035-11e6-93cb-c9b8d903ab59.png)
![screen shot 2016-07-22 at 17 54 18](https://cloud.githubusercontent.com/assets/873653/17053593/5b67b1dc-5035-11e6-83ea-67bf2f2f100e.png)

This also affects the "Add" and "

[2016-07-22 10:09] seav commented on #474
The resources number actually pertains to the number of resources in the project's library.

[2016-07-22 11:02] seav commented on #465
@clash99, do you still need help? I looked at the latest Travis build and your branch passed. I also tried running the functional tests in my VM and they passed too.

[2016-07-22 11:14] seav commented on #465
BTW, I think the "Cancel" button should still be there.

[2016-07-22 12:34] clash99 commented on #465
Good idea @seav.  I've reworked the buttons and I think this will be a good pattern to use in all our wizards going forward (right now this is the only one but I think there could be others).

The functional tests are passing now but I'm not sure of the urls for the previous buttons on page 2 and 3.  I could use help there if you have a minute.

[2016-07-22 12:39] clash99 commented on #344
Okay - understand.  I will remove cancel button.  Thanks, Chandra

[2016-07-22 12:43] seav commented on #364
@clash99, I'm trying to take a stab at this. I have a prototype UI but I haven't made the JavaScript work yet. But before I tinker with the JS, do you think the following UI for error messaging in the contacts form is OK?

![screen shot 2016-07-22 at 20 39 10](https://cloud.githubusercontent.com/assets/873653/17057482/ca184c2e-504c-11e6-8685-548421e78df4.png)

[2016-07-22 12:45] seav commented on #344
Sorry. I meant the "Cancel" button is missing on the last 2 wizard pages. I think the "Cancel" button should still be there so the user can cancel adding a new project.

[2016-07-22 12:47] clash99 commented on #261
The wireframes had the ability to remove the connection as part of the detail page.  The "permanently delete" should only be viewable by the original owner of the resource or admin, not everyone.

![2 4 2 edit resource](https://cloud.githubusercontent.com/assets/1119621/17057560/6226184c-4fe0-11e6-825f-20c28d588e7a.png)

[2016-07-22 12:49] seav commented on #261
This would be a problem. Right now, a resource can be connected to the project, every location, every party, and every relationship. What does "Remove connection" mean on the resource page? Does this mean remove the resource from everything it is connected to?

[2016-07-22 13:00] clash99 commented on #261
Good point and hard to follow on the wireframes.  It would be removing the connection from the entity that you opened the resource on so we could change the text to say "Disconnect from this location" or "Disconnect from this project", depending on where you came from.  Does that make it clearer?

I also think this would be easier to follow if we implemented the resource detail modal so then you g

[2016-07-22 13:03] clash99 commented on #364
I think this is right on the money!

[2016-07-22 13:05] clash99 commented on #443
I need to do a review of the buttons platform-wide to make sure they are consistent.  I'm going to change out the link buttons below the "add contact" and "add party" to be buttons and not links.  And I think there are some cancel variations.  Just want to make sure they are consistent ...

[2016-07-22 13:06] seav commented on #364
OK, thanks! I'll continue working on this.

[2016-07-22 13:19] bjohare commented on #440
Some thoughts/questions for discussion about xforms implementation:

- I think form submissions should always go to ```project.current_questionnaire```. I don't think it makes sense to allow the user to list out all the questionnaires that have been uploaded for a particular project and select one to submit, they should always be submitting to ```project.current_questionnaire``` (at least for now

[2016-07-22 13:40] ian-ross commented on #440
All of this sounds really sensible.  I can understand that there are use cases for having multiple distinct questionnaires for a project, but there needs to be some thought about exactly how that should work in terms of data collectors selecting the questionnaire to use (maybe they can be assigned a default questionnaire by the project manager depending on the type of data they're expected to be c

[2016-07-22 13:43] seav commented on #465
@clash99, instead of an `<a>` element for the link to the previous step, please use a `<button>` element as follows:

[code]

[2016-07-22 13:43] wonderchook commented on #440
Yes, there are use cases for having multiple distinct questionnaires as @ian-ross mentioned. We don't need to support that now and there does need to be more thought put into it. In that scenario I could imagine a situation where the people collecting tax info about a property do it separately than those collecting party information. At least one existing process we've looked at does that.

[2016-07-22 13:53] clash99 commented on #474
Thanks for the update.

I think we should make the resources page (the one you would see if you selected the left tab here) be able to access all the resources instead of just the project ones.  We would need to add a filter at the top of the page to select the connection: project (default), location, relationship or party.  Definitely a future enhancement but I think it would make that page a lot

[2016-07-22 13:56] clash99 commented on #436
@linzjax - Can you confirm this issue has been resolved? Thanks, Chandra

[2016-07-22 14:04] clash99 opened #502 "Add filter on resource index page"
Add a filter on the resource index page to allow the user to see all a project's resource, regardless of connection (basically the whole resource library).

[2016-07-22 14:28] oliverroick commented on #261
This is currently not possible. There is only one view for resource details. Not matter where you're coming from (location, party, relationship) you will always end up on that same view without knowing where the user came from.

The only idea to solve this is to create separate views for each location resource detail, party resource detail, relationship resource detail and project resource detail.

[2016-07-22 16:38] #489 closed

[2016-07-22 17:49] ian-ross opened #503 "Rationalise functional testing approaches"
There are a few different ways of doing the same things throughout the functional tests.  These should be cleaned up so we use a single approach.  For example, there are two approaches to loading test data, one used in the organization tests and one used everywhere else.

[2016-07-22 23:41] seav commented on #496
If we are going to do the point-in-polygon check and present a list of locations, the UI needs to be designed. Right now, the popup shown when a single location is clicked is not really suitable for a list of locations:

![screenshot](https://cloud.githubusercontent.com/assets/1119621/16775949/ac79b9ae-4828-11e6-857e-5d57b6157296.png)

It would also be nice if when hovering the mouse pointer over

[2016-07-22 23:46] seav commented on #490
As mentioned by @wonderchook on #220, this asynchronous download processing is not intended for v0.1. But should this be targeted for the Post July Release or Version 1.0?

[2016-07-23 12:04] clash99 commented on #496
A sliding panel list of locations and filterable results are the direction we are heading in, we just haven't gotten there yet.  These are all in the wireframes under the map portion.  Take a look and we should set aside some time in Frankfurt to discuss.

[Projects-Map.pdf](https://github.com/Cadasta/cadasta-platform/files/379530/Projects-Map.pdf)

[2016-07-25 05:44] #465 closed

[2016-07-25 10:07] #184 closed

[2016-07-25 10:07] #183 closed

[2016-07-25 10:07] #185 closed

[2016-07-25 10:19] oliverroick commented on #412
@wonderchook @linzjax Any news on this? Is this something I should look into?

[2016-07-25 10:24] bjohare commented on #412
@oliverroick as @linzjax said, this was an xslform formatting issue but I will confirm this is fixed as part of work on xforms review.

[2016-07-25 11:49] ian-ross commented on #324
Same thing goes for organization names: they should be globally unique.

[2016-07-25 11:57] #476 closed

[2016-07-25 12:00] seav commented on #364
Closed by #505

[2016-07-25 12:00] #364 closed

[2016-07-25 14:17] clash99 commented on #230
@wonderchook:  Let's push this off until after development of all sections of the platform so we can see all the icons together.

[2016-07-25 14:20] clash99 commented on #463
I can't locate this error message.  I think its showing because of lack of a deliberate error message so we need to create one.

[2016-07-25 15:23] clash99 opened #507 "Adding resources not on page 1 of library broken"
When I try to connect a resource that is not on page 1 of the library, it overwrites all the other resources and just connects to the ones on that page.  Ideally all the resources selected on every page of the library would be added to the entity.

Video:  http://screencast.com/t/CpzxYuJMA

[2016-07-25 16:01] clash99 commented on #344
Resources:

![screenshot 2016-07-25 10 54 20](https://cloud.githubusercontent.com/assets/1119621/17107984/2f75575e-5257-11e6-8aa7-6a4ce6c7c407.png)
![screenshot 2016-07-25 11 00 40](https://cloud.githubusercontent.com/assets/1119621/17107985/2f8916c2-5257-11e6-8c63-186872c6c744.png)

[2016-07-25 18:11] clash99 commented on #261
@oliverroick So we are going to be able to add the "remove connection" action, correct?  Just not customize the message?  I just want to make sure I understand.

[2016-07-25 21:08] wonderchook commented on #261
So I'm going to move this off of this sprint and then we can review again for the next release.

[2016-07-25 21:27] clash99 commented on #325
@seav - I see what you mean, its much better since that PR.  I think all we need is to make the border cursor not look linked.

[2016-07-26 03:25] clash99 commented on #498
Modifications for medium size screens:

<img width="1169" alt="screenshot 2016-07-25 22 23 36" src="https://cloud.githubusercontent.com/assets/1119621/17125133/8af3bc2e-52b6-11e6-875d-50da573a3cfb.png">

Large:
<img width="1304" alt="screenshot 2016-07-25 20 51 12" src="https://cloud.githubusercontent.com/assets/1119621/17125105/5fa484a4-52b6-11e6-8cb7-f26f49e0d48a.png">

Small:
<img width="747" a

[2016-07-26 03:31] clash99 commented on #446
Entries moved to footer, changed length text, modified search box, used glyphicons for paging.

<img width="991" alt="screenshot 2016-07-25 22 27 00" src="https://cloud.githubusercontent.com/assets/1119621/17125254/7f52033e-52b7-11e6-93ca-168ebec7a7b8.png">
<img width="986" alt="screenshot 2016-07-25 22 27 10" src="https://cloud.githubusercontent.com/assets/1119621/17125255/7f5257d0-52b7-11e6-9811

[2016-07-26 03:42] clash99 commented on #283
No longer an issue since the resource detail isn't a modal.

[2016-07-26 03:44] #283 closed

[2016-07-26 05:43] #446 closed

[2016-07-26 05:44] #498 closed

[2016-07-26 06:05] ian-ross commented on #358
Whether changing our minds about this later is a problem depends on how we implement it.  If we do the "spatial unit in project extent" check in a Django custom manager, it's not a constraint that appears in a database migration anywhere, so it's not a problem to add or remove it.  On the other hand, if we implement the check directly in the RDBMS, switching back and forth will require migrations.

[2016-07-26 11:51] oliverroick commented on #488
I did a review of our existing test code this morning. Here's what I found along with a recommendation how we could proceed.

## Observations

- We have different ways to setup test for API views and UI views. For instance, API views use DRF’s `APIRequestFactory` to setup requests whereas UI views use `django.http.HttpRequest`. Can we find a way to make this consistent?
- Despite some effort to DR

[2016-07-26 12:11] #406 closed

[2016-07-26 12:11] #325 closed

[2016-07-26 12:34] wonderchook commented on #492
@nastynoel is going to be responsible for the wording that goes in this.

[2016-07-26 12:41] wonderchook commented on #358
I'm not sure we really want to require a the spatial unit be in the project extent. My concern about the project extent not being required is the experience of the user when they are on the map pages. If there isn't an extent where do we put them out to?

[2016-07-26 12:47] ian-ross commented on #358
OK, so how about we say (for now, at least) that we *don't* have any spatial constraint on spatial units, so they don't need to lie within the project extent, but that we *do* require all projects to either have an explicit project extent, or to have a flag marking them as global?  (Or we just change the language on the project add extent geometry view to strongly encourage users to provide a proj

[2016-07-26 12:50] wonderchook commented on #358
I like the "strongly encourage option" I think that works.

[2016-07-26 12:54] ian-ross commented on #358
That's great.  That means we don't need to make any code changes at all to close **TWO** issues, just change some words!

[2016-07-26 18:34] clash99 opened #510 "Org overview blank text"
We should add text for when there is not any viewable projects or members on the org overview page.

For members, we should hide that entire Members section.

Currently:
![screenshot 2016-07-26 13 29 36](https://cloud.githubusercontent.com/assets/1119621/17150535/7aa47b7c-5335-11e6-912d-e4b9b39a6a64.png)

[2016-07-26 19:32] clash99 commented on #344
Party pages

![screenshot 2016-07-26 14 14 10](https://cloud.githubusercontent.com/assets/1119621/17151942/4994ffec-533b-11e6-818d-ed2f16c7c26e.png)
![screenshot 2016-07-26 14 24 23](https://cloud.githubusercontent.com/assets/1119621/17152270/af4a4580-533c-11e6-9b51-0c5883f7a47b.png)
![screenshot 2016-07-26 14 25 46](https://cloud.githubusercontent.com/assets/1119621/17152317/e0b23e5c-533c-11e6-9e

[2016-07-27 02:00] clash99 commented on #344
I believe I've covered css updates for all the outstanding pages as they currently are.  I'm going to mark this as complete with the css-fixes branch and will conquer new pages as they are developed or as bug fixes if we find something that needs adjusting.

[2016-07-27 03:34] seav commented on #510
For the member list, I'm surprised that it's empty. There should at least be 1 member there: the org administrator who created the organization.

As for the empty project list, this used to contain an "Add a new project" link. But due to #499, this was removed if the user doesn't have the permission. I guess we can add a short text similar to "This organization currently has no (public) projects."

[2016-07-27 05:23] #344 closed

[2016-07-27 05:33] ian-ross commented on #358
I've assigned this to @clash99 since she's been doing a lot of the "words" changes on other pages, and so is probably most familiar with the style of the text in the templates right now.  Fell free to reassign it to someone else if you like!

[2016-07-27 08:50] ian-ross commented on #488
I definitely agree that the DRYing has gone a bit far.  I needed to fix tests a few times recently, and it felt like being in a maze of twisty classes, all alike, none doing very much...  I think I'm responsible for some of that, but it needs to be kept under some sort of control.

I also agree with the base test case approach, even though I didn't write it!

In fact, I agree with everything that

[2016-07-27 11:18] bjohare commented on #440
Looking more closely at the [ODK XForms Spec](https://opendatakit.github.io/odk-xform-spec/#preloaders---metadata) it looks like inserting arbitrary elements into the ```<meta>``` tag (see above) is not the way to go. Instead we should insert a ```version``` attribute into the document root of the xforms instance: https://opendatakit.github.io/odk-xform-spec/#instance:

[code]
The version timestam

[2016-07-27 11:30] #486 closed

[2016-07-27 15:26] #434 closed

[2016-07-28 12:06] linzjax commented on #436
Confirmed
<img width="455" alt="screen shot 2016-07-28 at 8 05 38 am" src="https://cloud.githubusercontent.com/assets/8128188/17211944/2f32c8b8-549a-11e6-8c3c-98bcd0bfca97.png">

[2016-07-28 12:06] #436 closed

[2016-07-28 12:23] ian-ross commented on #487
I did some experiments with Travis's dependency caching, but it doesn't seem to buy us anything.  Having all our PIP dependencies stored in S3 now (via the wheelhouse) means that there's essentially no cost for downloading them when the CI environment is set up, so additional caching by Travis (which also uses S3) doesn't help.

[2016-07-28 12:23] #487 closed

[2016-07-29 06:28] #295 closed

[2016-07-29 06:28] #407 closed

[2016-07-29 13:13] clash99 commented on #492
@nastynoel  - Based on our conversation Wednesday I wanted to start a list of some examples of splash screens with various levels of engagement:

- https://storymaps.esri.com/stories/2016/national-park-memories/index.html (large photo covers screen and rolls back to reveal map)
- https://crowdsource.storymaps.esri.com/stories/science-fair (smaller area overlays map in background)
- http://www.wri.

[2016-07-29 17:45] wonderchook commented on #492
Thanks for gathering all of these Chandra. I think we need to think through a couple things:

1. What are we asking the user to do?
2. What is our overall message?

Feedback I got recently on the demo site was that the person didn't now they could make an org and project and then would have full permissions to do everything. I'm not sure if we communicate this here, but perhaps we should have some

[2016-07-30 01:28] seav commented on #507
I've looked a bit into this and this is caused by the (default?) DataTables behavior. When it manipulates the table pages, it actually removes the rows from the DOM, instead of hiding them via CSS. This means that when the form is submitted, only the visible rows get sent to the server leading to this bug.

I'll see if there's a way to use CSS-hiding instea of DOM manipulation. Otherwise, we need

[2016-07-30 03:37] seav commented on #507
I checked the [DataTables reference](https://datatables.net/reference/), and there doesn't seem to be any way to use CSS instead of DOM manipulation. Anyway, I think this is done for performance reasons: Loading an AJAX-powered paged table containing 10,000 rows would take a long time to generate the DOM nodes instead of on-the-fly DOM generation as rows are paged in and out.

So adding JavaScript

[2016-07-30 04:07] seav commented on #448
Should this still be in Sprint 7? I think we discussed during the Sprint planning meeting that this will be consulted with Noel and to also check how other systems handle this issue.

[2016-08-01 05:28] #507 closed

[2016-08-01 05:34] ian-ross commented on #448
I think that's right.  I'll move it to Sprint 8 for the moment.

[2016-08-01 05:38] #412 closed

[2016-08-01 20:59] clash99 commented on #372
Project Overview:  <img width="1265" alt="screenshot 2016-08-01 15 58 15" src="https://cloud.githubusercontent.com/assets/1119621/17308682/de439008-5800-11e6-8e28-86fdc300e153.png">

Organization Overview:
<img width="1263" alt="screenshot 2016-08-01 15 58 38" src="https://cloud.githubusercontent.com/assets/1119621/17308683/de4b096e-5800-11e6-957d-4be090f736d3.png">

[2016-08-01 21:35] clash99 opened #520 "Ellipsis menu disappears when on page in ellipsis menu"
### Steps to reproduce the error

While in a single project and I select an option under the ellipsis menu to the right of the "Add Location" button, I am redirected correctly.  However on the new page the ellipsis menu has disappeared.  I would expect it to remain consistent across the project.

### Actual behavior

Video here:  http://screencast.com/t/Fv0D2OKMsdsp

### Expected behavior

If the

[2016-08-02 05:07] nastynoel commented on #492
Thanks, Chandra!

I think the first few examples are close to what would work initially for
us to briefly provide users some more additional info and options for even
more detail. The second and third options in particular offer a good
starting point.

I like WRI’s option there of additional links with some limited messaging.

I do think we need a different splash map for demo vs. production.

As

[2016-08-02 14:02] clash99 commented on #269
I also notice the the pages under the modal background are changing (from showing records in a list to showing no records).

[2016-08-02 17:50] wonderchook opened #521 "Question: Select Geotype in Your XLSForm"
I think this isn't currently possible, but wondering if I'm maybe being dense. Is there a way to have the user select a geotype in their form now? The scenario for this would be as follows:

Org is doing a community wide survey and mapping boundaries of individual plots of land. Portions of the land are inaccessible to walk around due to natural obstacles such as a river or lake. In these situatio

[2016-08-02 19:48] clash99 commented on #492
For collecting feedback or contact us links, should we use the current email address available on the contact us page of Cadasta.org (info@cadasta.org)?  Have we thought of developing a form specifically for platform feedback?

[2016-08-02 21:55] wonderchook commented on #492
info is fine for contact us.

We should think through the feedback path as well. I think a form would be useful.

[2016-08-02 22:06] nastynoel commented on #492
Here's an initial thought on content and layout for a small overlay splash screen. my lovely button selections are obviously just there as placeholders. they would be Alexified to align with our branding. buttons would take the user to their selected option. Behind those we could have links that re-direct to forms for feedback, one for email, etc.
https://docs.google.com/a/cadasta.org/document/d/1

[2016-08-03 03:11] nastynoel commented on #492
I should also point out that the draft is for the Demo site only at this point

[2016-08-03 15:54] clash99 opened #524 "Need for global project option"
We need a way to flag projects as global if they don't have one set boundary.  In addition, we need a way to represent these projects on the home map with a list/filter/?? so that they can be selected.

I'm not sure how exactly we want to set up the logic but I would think if we could enforce a dialogue with the user so that if the project extends beyond one country(?), we could suggest making the

[2016-08-03 16:08] clash99 commented on #496
Related to #429

[2016-08-03 19:48] linzjax commented on #521
First thought is yes: in the same way you can select between an individual and a group and get questions based on that, I would assume that you could do the same for geoshape vs geotrace.

In the `relevance` column you would add something like `${geo_type}='geotrace'`
[Example](https://docs.google.com/spreadsheets/d/1MUIYVa8UU7yM2vBY7_evFHzwECxgBXFnClykeUkIU-Q/edit?usp=sharing)

I'll have to test

[2016-08-04 14:47] wonderchook commented on #521
Looks like it doesn't work, but I think we can worry about it a bit later.

[2016-08-04 16:15] dpalomino commented on #521
Hi,

Thanks to both!

Sorry if this is a kind of trivial question but, do we have any document or
summary about the XLSForm features currently supported and not supported by
the platform?

I would try to do a couple of tests with geoshape/geotrace (it'd be useful
for a partner).

Thanks!
David

On Thu, Aug 4, 2016 at 4:47 PM, Kate Chapman <notifications@github.com>
wrote:

[2016-08-04 16:20] linzjax commented on #521
I wrote up a half-hearted guide in the [API section of the wiki](https://devwiki.corp.cadasta.org/GeoODK%20API)

With the current iteration, you can change the `location_geometry` in the [standard form](https://docs.google.com/spreadsheets/d/1QsqMTLlPH5KVbBcgnh6MHWkIR0pIFchVzkqBSoL92fA/edit?usp=sharing) to be either geoshape or geotrace by editing the `type` column. I've been messing with it and f

[2016-08-04 16:20] wonderchook commented on #521
@dpalomino what is in the default form is what is supported. If you want to have a call to review I'm available.

[2016-08-04 16:21] wonderchook commented on #521
@linzjax do you have time to do this with your workload in the sprint? If so excellent, otherwise we might need to put it to the following sprint.

[2016-08-04 16:22] linzjax commented on #521
@wonderchook already found one solution, so it'll be good to go 👍

[2016-08-04 16:23] dpalomino commented on #521
That is great, thanks!

David

On Thu, Aug 4, 2016 at 6:22 PM, Lindsey Jacks <notifications@github.com>
wrote:

[2016-08-04 18:14] wonderchook commented on #524
Agreed, I put it in the backlog for further discussion and prioritization. Probably something to add to the map interaction discussion as well

[2016-08-05 01:22] wonderchook commented on #495
They should be allowed. We should do a warning that says "there is already a resource by this name, did you mean this one?" Allow the user to select no and go on

[2016-08-05 01:23] wonderchook commented on #448
After consulting with Noel. We should allow names are the same. There should be a warning to the user that there is already a party by this name, did they intend to add a duplicate. In many cases the answer will be yes

[2016-08-05 01:26] wonderchook commented on #510
I think @seav's suggested text makes sense. Going to move to next the sprint

[2016-08-05 14:25] seav opened #525 "Default form submit in step 2 or 3 of the add project wizard is the Previous button"
### Expected behavior

While a form input is focused in either step 2 or 3 of the add-project wizard, pressing the _Enter_ key to submit the form should go to the wizard's next step.

### Actual behavior

The wizard goes to the previous step instead.

### Steps to reproduce the error

Example steps (can have many variations):
1. Go to the add-project wizard
2. Go to step 2
3. Enter some name in th

[2016-08-05 23:12] clash99 commented on #492
@wonderchook and @nastynoel:

Here is the first pass at some splash/onboarding options for the demo platform:  https://drive.google.com/a/cadasta.org/file/d/0BzpiEtMtHC3rU21OQXJ0SmRhUHM/view?usp=sharing

My goal for these pages is to help new users become successful within our platform as quickly as possible. As you can see I've tried to reduce the number of options a user has to pick from to only

[2016-08-06 10:32] seav commented on #372
Closed via #519

[2016-08-06 10:32] #372 closed

[2016-08-06 10:33] seav commented on #323
Closed via #523

[2016-08-06 10:33] #323 closed

[2016-08-07 00:52] seav opened #527 "Deduplicated slug names are not formatted as expected"
### Steps to reproduce the error
Create 4 projects with the same name, say "Duplicate". (If #526 has been merged, create these projects in separate organizations.)

### Actual behavior
The actual generated project slugs (as seen in the URLs) are "duplicate", "duplicate-1", "duplicate-1-2", and "duplicate-1-2-3"

### Expected behavior
The expected generated project slugs are "duplicate", "duplicate

[2016-08-07 01:06] seav opened #528 "Project contacts aren't saved on project creation"
### Steps to reproduce the error
Create a new project, with some contact details during step 2.

### Actual behavior
Once the project is created, no contact details are displayed on the project overview page, and editing the project details show empty contact details.

### Expected behavior
The contact details should have been saved and shown on the project overview page and shown while editing th

[2016-08-07 01:13] seav commented on #345
Assuming project geometry is not required (see #358), is there anything left to do for this issue now that #397 is already fixed by #473?

[2016-08-07 01:14] seav commented on #429
Should this still be in Sprint 7 if we will be discussing this during the staff retreat?

[2016-08-07 01:21] seav commented on #441
@clash99: are you already working on this? If not, I can take this.

[2016-08-08 04:49] ian-ross commented on #429
@seav Agreed: moving to Sprint 8.

[2016-08-08 06:12] #527 closed

[2016-08-08 06:43] seav opened #530 "Project data is not preserved when stepping back in the add project wizard"
### Steps to reproduce the error
In the latest master branch (or the current [staging website](http://platform-staging.cadasta.org/)):

1. Go to the [add new project wizard](http://platform-staging.cadasta.org/projects/new/)
2. Add a geometry (or not) then click on the "Next" button
3. Enter any details such as organization, name, URL, contacts, etc.
4. Click on the "Previous" button
5. Click on t

[2016-08-08 08:51] ian-ross commented on #530
OK, that's totally not what's supposed to happen!  Maybe I misunderstood how the wizard stuff works when I originally set it up.  Let me look at this one.

[2016-08-08 13:36] clash99 commented on #441
@seav - that would be great - thank you.

Right now the select party control is very confusing.  I spent some time a while ago looking at solutions and I thought selectize looked like it had potential.  I liked that it is a searchable text box/ select box combo and you can add details such as date of birth or ID to each option - which would be really helpful for cases where there are several commo

[2016-08-08 13:38] clash99 commented on #441
Another note, we talked about eventually being able to select multiple parties to create relationships.

[2016-08-08 13:53] clash99 commented on #463
@seav - Do you have time to look at this one too?

[2016-08-08 14:49] clash99 commented on #339
This is the preferred dashboard map from earlier testing:

![screenshot 2016-08-08 09 47 51](https://cloud.githubusercontent.com/assets/1119621/17483834/3811fcfe-5d4d-11e6-8683-f5ecc34c9f6e.png)

The question of handling global projects should be addressed here too.

[2016-08-08 16:21] #485 closed

[2016-08-08 16:37] clash99 commented on #443
![screenshot 2016-08-08 11 28 17](https://cloud.githubusercontent.com/assets/1119621/17487621/45ad2c7c-5d5b-11e6-8d51-fd80f100cd93.png)

[2016-08-08 16:40] #520 closed

[2016-08-08 17:32] clash99 commented on #358
I will change the messaging on the page to strongly encourage a boundary.

Depending on feedback from usability testing, we may want to consider an error-type message that gives the user the option to go back and add a boundary if they didn't with the benefits of doing so listed...  but not required.

[2016-08-08 18:28] clash99 commented on #443
Start of buttons for UX style guide https://drive.google.com/file/d/0BzpiEtMtHC3rMlFpenR4WDRIRFk/view?usp=sharing

[2016-08-08 18:42] clash99 opened #533 "Display user's friendly file name for resources"
### Steps to reproduce the error

Upload a file in resources.  Once uploaded you will notice the name changed from your local name to the s3 name (which is not friendly).

### Expected behavior

I would expect for the user to always see their local file name that they uploaded instead of the s3 file name.  Currently I think its confusing to the user to see what they have intended to upload and wou

[2016-08-08 21:38] clash99 commented on #345
New location without map marked:
![screenshot 2016-08-08 16 34 27](https://cloud.githubusercontent.com/assets/1119621/17497204/5564598a-5d86-11e6-9303-099ecda02b18.png)

If no new location is marked on the map when editing, the map location defaults to the original.

[2016-08-08 21:38] #345 closed

[2016-08-08 21:51] clash99 commented on #358
How does this look for the messaging?  Ideally we will be including a tutorial-type link here to show how to use the map tools to mark a boundary.

Encouraging message:  If your project is not global, we encourage you to mark your project boundaries. This will facilitate your project's map interactions and help others to easily locate your project.

![screenshot 2016-08-08 16 49 02](https://cloud.

[2016-08-08 22:49] clash99 commented on #266
Adder user icon for small screens when user name isn't displayed.  Adjusted dropdown menu left so doesn't overflow right.

![screenshot 2016-08-08 17 48 26](https://cloud.githubusercontent.com/assets/1119621/17499012/6613830a-5d90-11e6-8526-73d2c26cb7e7.png)

[2016-08-09 00:18] clash99 commented on #266
Made buttons justified block on xs screens:

![screenshot 2016-08-08 19 17 34](https://cloud.githubusercontent.com/assets/1119621/17500628/d7b8b730-5d9c-11e6-8d30-ae7e291a4685.png)

[2016-08-09 01:00] clash99 commented on #266
Adjusted search box to not conflict with add button.  Reduced tab font-size to prevent overlapping on xs screens.

<img width="386" alt="screenshot 2016-08-08 19 59 26" src="https://cloud.githubusercontent.com/assets/1119621/17501257/b8ed24fc-5da2-11e6-90c2-1bf225f13eeb.png">

[2016-08-09 01:40] clash99 commented on #266
Adjusted css for contacts table and file input for xs screens to eliminate x scrolling:

<img width="359" alt="screenshot 2016-08-08 20 39 55" src="https://cloud.githubusercontent.com/assets/1119621/17501849/63a51f80-5da8-11e6-81be-894846d071d5.png">

[2016-08-09 02:27] clash99 commented on #266
Tightened up single organization and single project header areas:

<img width="398" alt="screenshot 2016-08-08 21 26 19" src="https://cloud.githubusercontent.com/assets/1119621/17502600/d95738fc-5dae-11e6-90ef-b7a93ba0bf96.png">
<img width="373" alt="screenshot 2016-08-08 21 27 22" src="https://cloud.githubusercontent.com/assets/1119621/17502617/ed5c82f8-5dae-11e6-8401-c5154fcab9dd.png">

[2016-08-09 05:28] #324 closed

[2016-08-09 05:46] #528 closed

[2016-08-09 08:40] seav commented on #358
I think this messaging looks good.

[2016-08-09 08:44] ian-ross commented on #350
The code to deal with this in the backend is in the latest version of `django-jsonattrs` (>= 0.1.8), but exposing it in the UI is going to require a bit of thought.  It's tied to party and location editing, which are something we're probably going to do in the next sprint, so I'll close this for now.

[2016-08-09 08:44] #350 closed

[2016-08-09 08:48] ian-ross commented on #358
How about: We encourage you to mark the boundary of your project (if your project is not global). This makes map interactions simpler and also helps other users to find your project.

[2016-08-09 11:06] seav opened #537 "It's not possible to remove the URL for an organization or a project"
### Steps to reproduce the error
1. Have an organization or project with a URL (either by creating a new entity or editing an existing entity, if there is no entity yet with a URL).
2. Edit that organization or project to leave the URL field blank. Save.
3. Notice that the organization or project overview page still displays a URL.
4. Go to the organization or project's edit details page.
5. Notic

[2016-08-09 11:52] #530 closed

[2016-08-09 16:42] ian-ross commented on #269
These two issues are somewhat related.  The reason that some modals fade in and some just appear is that we have two different kinds of modals: "real modals", where the HTML for the modal is included in the page template (and has a class of "modal fade" to make it fade in) and a # link is used to trigger modal display; and "fake modals", which are full pages with their own URLs that just happen to

[2016-08-09 16:50] seav commented on #269
For the "fake modals", is there really a value in presenting them to the user as modals? For confirmation actions ("Are you sure you want to archive the project?") modals make sense. But for other forms that take up a lot of the user's time, such as the add organization form, they can be real pages with not much difference in user cognition.

[2016-08-09 17:55] #525 closed

[2016-08-09 17:58] clash99 commented on #269
I think we should move this one out since nothing is really "broken", just messy/ inconsistent.  Once I have time to look at everything all together, I will revisit with a recommendation.

@wonderchook - Can we move this to Sprint 8?

[2016-08-10 05:44] seav commented on #537
I have investigated this issue and had to go through Django's innards. It seems the problem is more general and I believe this issue can be fixed by upgrading to Django 1.10 (released last August 1).

The root cause is that in `BaseModelForm._post_clean()`, the `construct_instance()` function is being called with the wrong `exclude` parameter. (The correct value is the list of fields that are excl

[2016-08-10 06:31] wonderchook commented on #269
@clash99 yes, I only left it in sprint 7 because I wasn't sure how many items we'd be able to do with the UI.

[2016-08-10 06:32] wonderchook commented on #537
@seav I don't think we should upgrade Django for this Sprint 7 release, so I'm going to move it to Sprint 8.

[2016-08-10 07:06] wonderchook commented on #492
@clash99 looks great. I think the 1st option is the best one. How difficult will this be to implement?

[2016-08-10 08:46] #463 closed

[2016-08-10 14:08] oliverroick commented on #488
## Progress on porting tests to new approach:

- [ ] `account.test_views_default`
- [ ] `account.test_views_api`
- [ ] `core.test_views_default`
- [ ] `organization.test_views_api_organizations`
- [ ] `organization.test_views_api_projects`
- [ ] `organization.test_views_api_users`
- [ ] `organization.test_views_default_organizations`
- [ ] `organization.test_views_default_project`
- [ ] `organizat

[2016-08-11 02:37] clash99 opened #543 "User name in header bug"
### Steps to reproduce the error

While logged in, select a member of an organization.  The user name in the right side of the header changes to the user name selected.

Video:  http://screencast.com/t/ZLIuiED7KX0M

### Expected behavior

I would expect the user name in the header to remain constant to the user name that is logged in.

[2016-08-11 08:27] wonderchook commented on #358
I'm wondering if people would know what "project is global" is immediately or if they don't have enough information. Use what I've added before.

"We encourage you to mark the area in which your project takes place (if your project doesn't doesn't include the entire world). This makes interactions simpler and also helps other users to find your project."

[2016-08-11 08:41] wonderchook commented on #403
moving to Sprint 8, waiting on @fhpichel

[2016-08-11 08:42] wonderchook commented on #543
@seav I'm assuming you can take this one on?

[2016-08-11 10:02] #441 closed

[2016-08-11 12:32] #440 closed

[2016-08-11 12:34] #442 closed

[2016-08-11 12:38] ian-ross commented on #480
Closed by #545

[2016-08-11 12:38] #480 closed

[2016-08-11 13:16] ian-ross commented on #503
I've done some stuff to make test data loading a bit more regular, but I've not done anything else about cleaning functional tests up.  I think we can close this anyway once the relevant PR (#546) is merged, and just try to keep an eye on proliferating methods of doing things when we write functional tests in the future.

[2016-08-11 13:18] ian-ross commented on #432
@linzjax What's the status of this one now that your XForms submissions stuff has been merged?  I know you wanted to make the error messaging better, but do you think we can close this or move it to the backlog, since it's really only a problem because of the interim "users edit XLSForms" approach to questionnaires?

[2016-08-11 15:46] clash99 commented on #492
@seav - this is still in progress but I have a few questions I was hoping you could help with:

-  What is the best way to implement a page to only show on the demo site?  Eventually we will serve different variations of the page to the different sites, but for now we just want this to show on demo.cadasta.org.
-  The functional tests are breaking because the modal backdrop covers the map and the

[2016-08-11 23:57] seav commented on #492
@clash99: For the first question: I think the best way is to set a variable in [Django settings](https://github.com/Cadasta/cadasta-platform/tree/master/cadasta/config/settings). If you'll notice when you follow the link, we already provide different settings for production vs. development. We can split the production settings into the actual platform vs. the demo platform. I think the easiest set

[2016-08-11 23:59] seav commented on #492
For the functional tests, sure I can help with fixing them. Just tell me when you are ready.

I guess I just need to add code to close the splash screen so that normal testing steps can proceed?

[2016-08-12 00:02] seav commented on #543
@wonderchook, sure I'll work on this today.

[2016-08-12 00:33] bethschechter opened #548 "Organization Admin can delete herself, creating admin-less organization"
### Steps to reproduce the error

* Create an organization
* Add a member to the organization
* Delete organization creator

then enjoy endless errors!

[Please try to describe the actions that led to the incorrect behavior
in as much detail as possible.]

### Actual behavior

I thought I was actually deleting another member in my organization (Kate's account) but then I ended up deleting myself.

[2016-08-12 07:23] #503 closed

[2016-08-12 09:12] wonderchook commented on #521
@linzjax what is the status of this? Was it finished with your pull request? We can also move off if needed.

[2016-08-12 11:50] #543 closed

[2016-08-12 23:27] bethschechter opened #550 "Administrator cannot archive organization"
### Steps to reproduce the error

Create a new Organization
Then try to archive it using the Archive Organization button on the Organization Overview page.

(using Chrome)

[Please try to describe the actions that led to the incorrect behavior
in as much detail as possible.]

### Actual behavior

[Please describe the outcome of your actions.]

Clicking on the Archive Organization button does nothi

[2016-08-13 13:57] #358 closed

[2016-08-13 13:57] #443 closed

[2016-08-16 10:28] linzjax commented on #432
I would move it to the backlog (or close it for now since it's not technically a problem with our platform). I think since we're going through a handholding phase with those building xforms themselves, we'll be available to help work out kinks. Maybe one day we can actually update the messaging in geoodk

[2016-08-17 02:41] bethschechter opened #551 "going to "my location" doesn't seem to work"
### Steps to reproduce the error

[Please try to describe the actions that led to the incorrect behavior
in as much detail as possible.]

From Map view on Cadasta Platform, click on the little map pin icon and see what happens.

### Actual behavior

[Please describe the outcome of your actions.]

Clicking on the pin as described above does nothing.

### Expected behavior

[Please explain what beha

[2016-08-17 14:47] clash99 opened #552 "Resource photo orientation all landscape"
### Steps to reproduce the error

Upload a resource with a portrait layout.
### Actual behavior

In platform, all resource photos seem to have landscape layout.
### Expected behavior

I would expect photo orientation in platform to be the same as uploaded resource.

[2016-08-17 14:54] linzjax opened #553 "Attach resources uploaded through xforms to appropriate entities"
### Steps to reproduce the error

Currently if you want to add more than `party_photo` and `location_photo` they'll be uploaded to the project resources but not associated with any specific entity (party or location).

### Actual behavior

A user fills out an xls form and includes as many extra fields for resources for parties and locations as they want. Once the form is submitted, they only see o

[2016-08-17 15:00] linzjax opened #554 "Submitting multiple parties or locations per xform submission"
# Summary
Currently you can only submit one location and one party per xform submission. Users want to submit multiple parties for a single location, or multiple locations for a single party.

We should find a way to make `repeat` work and create multiple relationships and entities.
# Links to requirements and functional testing script
[Requirements](https://devwiki.corp.cadasta.org/XLS%20repeat%2

[2016-08-17 15:10] linzjax commented on #521
This was completed in the last PR

[2016-08-17 15:28] wonderchook opened #555 "Warning Message on XLSForm Reupload"
Warning Message on XLSForm Reupload

There should be a warning to the project manager to let them know uploading a new form to replace an old form will cause issues if they have people currently out collecting data.

[2016-08-17 16:44] seav opened #556 "Editing location geometry is not intuitive"
### Actual behavior
To edit a location's geometry, you first select the "Edit location" menu option in the platform, and then click on the "Edit layer" button on the map. Then you can edit the location geometry. To save, you first need to click on the "Save" button beside the "Edit layer" button on the map, and then click on the "Save" button on the platform.

This behavior is primarily due to the

[2016-08-18 08:32] #521 closed

[2016-08-18 08:36] #266 closed

[2016-08-18 09:46] bjohare commented on #432
Need to add logging of submission errors.

[2016-08-18 10:07] dpalomino opened #557 "Error editing a location when field length is greater than 32 chars in a text field"
### Steps to reproduce the error

* Open a location where there is a text field with more than 32 chars
* Go to Edit location
* Click on "Save" without really having done any actual edits
* You get an error saying that field is not allowed have more than 32 chars

### Actual behavior

* First, the error message does not appear at the top of the form response, user needs to scroll down
* Error mess

[2016-08-18 10:11] oliverroick commented on #495
We decided this isn't a problem. Closing.

[2016-08-18 10:11] #495 closed

[2016-08-18 10:13] linzjax commented on #557
I think it's [here in django-jsonattrs](https://github.com/Cadasta/django-jsonattrs/blob/b1b9927ba0e276fd875ee84cf99b00cb0fbb52b3/jsonattrs/forms.py#L62-L63)
[code]

There's the same logic in the [TenureRelationshipForm in the cadasta-platform](https://github.com/Cadasta/cadasta-platform/blob/b852b86fb9e76679379725c8aa78afd1513ee1e9/cadasta/spatial/forms.py#L103-L105)

[2016-08-18 10:24] wonderchook opened #558 "Add Functional Test Coverage"
## Areas that Need Functional Tests

[2016-08-18 10:26] clash99 opened #559 "Map interaction design work"
Wireframes for area around map interactions - locations, relationships, parties, resources.

[2016-08-18 10:32] clash99 opened #560 "Use unique location id in place of generic "Location""
If the location has a name attribute, show that.  If not, use the unique ID.  Have the ID available in the project name field so it is editable and the user can change it to be custom.

[2016-08-18 10:34] clash99 opened #561 "Improve field messaging, define criteria"
Inventory field names that should include user messaging and perhaps have criteria defined (username, password, etc.)

[2016-08-18 10:38] clash99 opened #562 "Add project-level settings for date formats"
Add editable defaults for date format - other options?

Design & development needed.

[2016-08-18 10:39] clash99 opened #563 "Hide arabic option in language dropdown in footer"

[2016-08-18 10:39] clash99 opened #564 "CSS formatting for right to left languages"
Need formatting for arabic and other right to left languages.

[2016-08-18 10:42] wonderchook opened #565 "Design Data Import UI"
[Requirements](https://devwiki.corp.cadasta.org/Data%20Import)

[2016-08-18 10:47] wonderchook opened #566 "Data Import"
# Summary

Many users already have existing data outside of the Cadasta platform. This feature will allow users to import both data into a new project and an existing project.
# Links to requirements and functional testing script

[Requirements](https://devwiki.corp.cadasta.org/Data%20Import)
# Acceptance criteria
# Task list (including tests)

Needs to be updated as task is better defined and res

[2016-08-18 11:00] ian-ross opened #567 "Field Papers integration: image processing"
Part 1: Convert Field Papers image processing scripts to run on AWS Lambda infrastructure (manually at first to work out any wrinkles with dependency installation and incompatibilities in the AWS Lambda runtime environment):
- [x] Atlas page rendering
- [x] Atlas index rendering
- [x] Atlas page merge
- [ ] Snapshot metadata extraction
- [ ] Full snapshot processing

Part 2: Automate AWS Lambda fu

[2016-08-18 11:02] ian-ross opened #568 "Field Papers integration: basic Django CRUD"
- [x] Atlas & atlas page models
- [ ] Mapset & snapshot models
- [ ] Job models
- [ ] Basic API views

[2016-08-18 11:04] ian-ross opened #569 "Field Papers integration: task management"
- [ ] Script setup of AWS infrastructure
- [ ] Generic task creation and management API
- [ ] Atlas creation task flow
- [ ] Snapshot processing task flow

[2016-08-18 11:20] bjohare opened #570 "Questionnaire data migration failing"
### Steps to reproduce the error

Duplicate entries in staging database causing questionnaire data migration to fail.

### Actual behavior

Questionnaire model ```unique_constraint``` on ```id_string``` and ```version``` fails to apply.

### Expected behavior

It should apply.

[2016-08-18 11:22] ian-ross commented on #550
The problem here isn't so much that the organization doesn't get archived, it's that we don't currently make any distinction between normal and archived entities in the UI.  So fixing this will involve updating all the views to filter out archived organizations (and the same sort of thing for projects as well, I guess).

[2016-08-18 12:26] clash99 commented on #551
Works in Firefox.

Chrome error in console:
getCurrentPosition() and watchPosition() no longer work on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details.

[2016-08-18 12:37] clash99 commented on #551
Decision was made to force ssl for platform and api.

[2016-08-18 12:38] seav opened #572 "Determine which modals should be converted into pages"
Forked from #269. See the discussion there.

[2016-08-18 12:39] #570 closed

[2016-08-18 12:40] seav commented on #269
The separate issue regarding modals vs. pages was forked as #572, which should be resolved first. For the modals that stay as modals, this issue is for making their fade-in appearance consistent across the website, if such fading is really desired.

[2016-08-18 13:26] oliverroick commented on #497
_Connections_ everywhere

[2016-08-18 14:34] seav opened #573 "Review the platform code and templates for untranslatable texts"
Currently, not all user-facing texts in the platform is translatable. These should be reviewed and then made translatable.

-----

Tasks to do this (marked done when changed in my working branch and pushed to Transifex to test they get extracted properly):

- [x] Page titles
- [x] Copyright notice in footer
- [x] OSM map data attribution (*though not "Geocoding by Mapzen" string...*)
- [x] Paginat

[2016-08-18 14:47] seav commented on #510
@clash99, can you check if the overview text in #510 is good?

[2016-08-19 08:25] clash99 opened #575 "Improve unregistered user experience with hopes to onboard them as registered users"
### Steps to reproduce the error
- As public user, open a project and try to select the map subtab on left.
- As a public user, I try to open a location from the project overview map.

<a href="http://www.screencast.com/t/aww5q4Xei">2016-08-19_1005</a>
### Actual behavior

I am redirected to a sign in form.  A bit confusing since as an unregistered user I basically have the door slammed in my face

[2016-08-21 20:14] bethschechter commented on #550
Oh I see. That makes sense; though from a user's perspective it just
appears to be broken. Might be something to consider for a future release.

[2016-08-21 21:41] bethschechter opened #576 "Project Location - "Submit Valid Date" with no info on how to format date"
### Steps to reproduce the error

* Try to create a new project location
* Enter a date that the project location was obtained
* Get error "Enter a valid date"

### Actual behavior

I tried to enter a date formatted like:
August 21, 2016

Then like:
08.21.2016

And then finally tried:
08/21.2016

It worked, but it took 3 tries

### Expected behavior

I expected that I'd get a note telling me what

[2016-08-22 10:22] ian-ross commented on #550
@bethschechter I agree 100% that it's broken!  We definitely need to fix this.

[2016-08-22 13:38] #510 closed

[2016-08-22 14:16] clash99 commented on #510
Looks good @seav - thank you!

[2016-08-22 15:05] wonderchook commented on #576
We should add a date picker to fields to date fields.

[2016-08-22 16:41] bethschechter commented on #550
copy that! Thanks Ian

@bethschechter

[2016-08-22 17:23] linzjax commented on #548
So I added some logic to check if the current logged in user is looking at their own member page, and if they are, hide the remove button. Two questions:

1) Is there any instance when we would want to give users the option to delete themselves?

2) @clash99: if we go with this, I'm assuming we'll want to clean up the extra line?
<img width="325" alt="screen shot 2016-08-22 at 1 19 22 pm" src="htt

[2016-08-22 17:54] seav commented on #548
Should we also prevent the admin from demoting him/herself from being an admin?

[2016-08-22 18:23] linzjax commented on #550
Questions:
1) Should archiving an organization freeze any possible actions on that organization other than 'unarchiving'?
2) Does archiving an organization cascade to the projects within the organization?

[2016-08-22 18:36] clash99 commented on #550
Original wireframe showing Active/ Inactive/ All option to right of search box.  I think we should update options to Active (default/ unarchived), Archived, and All.

![screenshot 2016-08-22 12 57 26](https://cloud.githubusercontent.com/assets/1119621/17866400/fd66d73a-686b-11e6-9965-b6a5a7e23572.png)

Also since the permissions have changed to allow beyond sysadmins to view these, we should add a

[2016-08-22 18:40] clash99 commented on #550
@linzjax

My thoughts to your questions:

1) Should archiving an organization freeze any possible actions on that organization other than 'unarchiving'?

2) Does archiving an organization cascade to the projects within the organization?

My understanding is yes on both counts.  We should include text in the archive modal to notify the user of the results of their archive actions.   We should inclu

[2016-08-22 20:04] amplifi commented on #551
@bethschechter @clash99 All platform and API URLs now redirect from http to https. Functionality seems correct in Chrome; can we confirm?

[2016-08-22 20:13] bethschechter commented on #551
confirming that it works in Chrome!

[2016-08-22 20:37] clash99 commented on #551
Works in Chrome but I am also seeing this in the console:

Mixed Content: The page at 'https://demo.cadasta.org/dashboard/' was loaded over HTTPS, but requested an insecure image 'http://c.tile.openstreetmap.org/1/1/1.png'. This content should also be served over HTTPS.

[2016-08-22 22:51] wonderchook commented on #551
@clash99 looks like this might fix it: https://github.com/Leaflet/Leaflet/issues/3186

This something you can do?

[2016-08-22 22:52] wonderchook commented on #550
Yes, an archived project shouldn't be able to be modified except to unarchive it. Archived orgs should cascade down as well.

[2016-08-22 22:53] wonderchook commented on #548
@seav I think so. If someone is no longer going to be an admin they should have to promote someone else to admin who can then remove them.

[2016-08-22 23:41] wonderchook opened #577 "Error Checking for Geotypes colliding w/being able to select Geotypes in XLSForms"
### Steps to reproduce the error
1. Create Project using this form [geoshape_questionnaire_0.1.xlsx](https://github.com/Cadasta/cadasta-platform/files/431356/geoshape_questionnaire_0.1.xlsx)
2. After saving project the error "There are two survey elements named 'location_geometry' in the section named 'b7rswi4e5qpehabiv425ujfx'." appears and the form is not uploaded.

### Expected behavior

@linzj

[2016-08-23 08:17] dpalomino commented on #577
Thanks @wonderchook, this is useful. Some partners were asking for this indeed. @linzjax, please let me know if I can help testing this...

[2016-08-23 08:29] ian-ross opened #578 "Organization name with non-Latin characters in dashboard popover"
### Steps to reproduce the error

- Create an organization with a name containing non-Latin characters.
- Create a project in the new organization with project extent geometry.
- Go to the main dashboard view and click on the project extent geometry.

### Actual behavior

The project popover appears with the organization name with "filler" boxes:

![bug-01](https://cloud.githubusercontent.com/asse

[2016-08-23 08:31] ian-ross opened #579 "Project extent rendering is confusing"
### Steps to reproduce the error

Look at the main dashboard with a number of projects with large geometric extent:

![bug-02](https://cloud.githubusercontent.com/assets/1113720/17885231/97aaacd0-691c-11e6-9ff6-70a0d3133362.png)
### Actual behavior

The blue shading inside the project extent geometry makes it hard to see the underlying map, and makes it especially confusing when there are multiple

[2016-08-23 08:48] ian-ross opened #580 "Translations need to be updated"
### Steps to reproduce the error

Select any non-English language in the language menu and browse through the platform.
### Actual behavior

There aren't a lot of translations...  Most of the translations that there are were done some months ago, mostly to test the multi-lingual messaging machinery.  And the translations were done by people in the development team rather than by professional trans

[2016-08-23 09:09] ian-ross opened #581 "Browser geolocation not reliable?"
When I use the "Go to my location" button on the dashboard, I end up in Vienna, instead of where I really am.  The browser (Chrome in my case) HTML5 geolocation interface really is returning Vienna as my location.  I can see this being confusing for users if it happens to them.

(This may be because I'm using an LTE wireless internet connection, so maybe my ISP reports my location as being somewhe

[2016-08-23 09:24] #578 closed

[2016-08-23 09:24] ian-ross commented on #578
I think this is just a font issue.

[2016-08-23 09:42] bjohare opened #582 "During resource upload, resources should be removed when user clicks the 'remove' link"
### Steps to reproduce the error

Open a project location. Select the _Relationships_ tab, then the _Relationship_ detail view. In the _Resources_ panel click _Add_. Upload a resource without saving the form. Click _Remove_ to remove the uploaded resource. Click _Cancel_.

### Actual behavior

The file remains on our server even though the user has chosen to remove the resource and has cancelled t

[2016-08-23 11:00] bjohare opened #583 "No xform submission error logging output in debug.log"
### Steps to reproduce the error

Submit an xform using ODKCollect which is known to be incorrect or out of date.

### Actual behavior

No logging output in Django _debug.log_ giving a reason for the submission failure.

### Expected behavior

There should be an entry in _debug.log_ giving a reason for the submission failure.

[2016-08-23 11:02] bjohare commented on #583
Probably need to configure a specific _xform_ logger in production settings. We should also improve the formatting of log entries to at least include the date and time of the error.

[2016-08-23 13:01] #583 closed

[2016-08-23 13:43] clash99 opened #585 "Benghali font replacement"
### Steps to reproduce the error

Look at staging site organization index

### Actual behavior

Unreadable font for Benghali organization

### Expected behavior

Fonts are replaced to be readable instead of boxes

Current:
![screenshot 2016-08-23 08 40 01](https://cloud.githubusercontent.com/assets/1119621/17894065/a38ce0a4-690d-11e6-8fad-aa88b9b2bfc1.png)

Expected:
![screenshot 2016-08-23 08 41

[2016-08-23 13:44] dpalomino opened #586 "select_multiple in XLS forms is not currently supported"
We are not currently supporting `select_multiple` questions in XLS forms (see [here](http://xlsform.org/#question-types)).

It'd be a nice feature to support. It is a quite common use case for partners that would like to collect information that is not mutually exclusive (like infrastructures that are available in one specific location such as power supply, sewerage, etc).

[2016-08-23 14:16] ian-ross opened #587 "Geometry "persistence" when scrolling map view"
### Steps to reproduce the error

Go to the map view of a project with project extent geometry.  Zoom the map view until some but not all edges of the project extent are visible on the map.  Press and hold the left mouse button and drag the map view to bring more of the project extent into the view.
### Actual behavior

"Ghost" edges appear when dragging the map, lined up with where the project ge

[2016-08-23 14:28] ian-ross commented on #579
After playing around a bit more with this, it seems that there's a more general issue here about rendering of polygons of different kinds on different map views.  It would be good to:

1. maintain a consistent style between the dashboard maps and project location maps, and
2. have a legend to explain what the different outlines mean.

For example, at the moment, project extents are displayed in th

[2016-08-23 14:38] ian-ross opened #588 "Possible to select "All Types" for relationship type"
When you create a relationship for a location, it's possible to select "All Types" from the relationship type dropdown list.  You then end up with a relationship with type "All Types".  Is this really right?  I would have thought that you need to select a specific relationship type.

(This is a result of https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/party/models.py#L289.)

[2016-08-23 15:43] clash99 commented on #492
Quick synopsis of reviewing third-party walkthrough providers.

Important features for us initially:

- Easy implementation
- Customizable css
- Multi-lingual
- Multi-page walkthrough
- White label
- Pricing
- Web and mobile-web support
- Analytics
- Local host supported
- Nice to have additional help features such as hotspots, inline help, chat

Reviewed these third-party walkthrough providers:

[2016-08-23 15:59] seav commented on #588
I'm not sure if this is the behavior since the very beginning, or if this is a regression. I saw the following screenshot before where "All Types" generates a required field error message but I don't know if this screenshot is a mockup or actual behavior that has now regressed:

![Screenshot](https://cloud.githubusercontent.com/assets/1119621/16840528/c7282de4-499a-11e6-800e-299bd4283bfb.png)

[2016-08-23 16:02] seav commented on #585
As mentioned by @ian-ross in Slack, this can be remedied by using web fonts. We really cannot expect users to have fonts installed for all possible Unicode scripts.

[2016-08-23 16:09] seav commented on #581
In my experience, [HTML5 geolocation API](https://dev.w3.org/geo/api/spec-source.html), which this Leaflet feature uses, is not very accurate without some sort of GPS enabled and available.

I guess the question is whether we really need this button. I imagine that the geolocation API is mainly targeted for navigation apps and the like. I don't think our users need the use case of looking at proje

[2016-08-23 16:10] seav commented on #580
Step #1 above is already filed as #573.

[2016-08-23 16:17] seav commented on #576
Duplicate of #461?

[2016-08-23 16:21] seav commented on #579
I think there was a discussion or suggestion about providing different colors or polygon styles for different types of locations (e.g., parcels vs. community boundaries) which can be customized by the project manager for usability purposes, though I can't find this discussion/suggestion. This may need to be considered in this Github issue.

[2016-08-23 16:36] linzjax opened #590 "Inconsistent Overview/Map Location Display"
### Steps to reproduce the error
- Log in as a user without permissions to project x.
- Go view project x.
- Overview page will display all locations/spatial units, and deny a lot of permissions.
- Click on the map tab.
- Map page will not display any locations/spatial units.
### Actual behavior

<img width="1280" alt="overview_without_permission" src="https://cloud.githubusercontent.com/assets/81

[2016-08-23 16:39] linzjax opened #591 "Reset password page needs some CSS love."
### Steps to reproduce the error

Using Chrome, click "forgot password" link on login page.
Follow the link in the email.
Arrive at this page:
<img width="1280" alt="reset_password_page" src="https://cloud.githubusercontent.com/assets/8128188/17900775/8250c434-692e-11e6-80e1-291e59f466af.png">

### Actual behavior
Sad default styling.

### Expected behavior
Lovely styling consistent with branding.

[2016-08-23 16:45] wonderchook commented on #576
Oops, yes closing as a duplicate

[2016-08-23 16:45] #576 closed

[2016-08-23 16:52] linzjax commented on #468
I'm also getting a permission denied error, but it's occurring because I appear to have the option to add a project to any organization I want to. The organization list should be limited to those you're a member of, and if you're not a member of any organization you should be redirected to create an organization first.

[2016-08-23 16:53] wonderchook commented on #588
@ian-ross which project are you seeing this in? I'm wondering if this is being caused by the XLSForm that is uploaded. I just made a new project without including a form and this isn't one of the options.

[2016-08-23 16:56] wonderchook commented on #588
Actually, sorry no looking in the wrong place. It would seem to me there wouldn't be a tenure type "All Types". @fhpichel and @nastynoel can you confirm this?

[2016-08-23 17:01] linzjax opened #592 "Questionnaires with select_one questions MUST have default or be required"
### Steps to reproduce the error

Create a questionnaire with a select_one question without a default that's not required.
Swipe through questions without selecting an answer
Enjoy your 500 server error
### Actual behavior

JSON attributes tries to save `""` as a value, and is not happy with the results.
### Expected behavior

Either we configure jsonattr to accept blank answers, or we force the u

[2016-08-23 17:02] wonderchook commented on #592
@linzjax would this be blank or null? I'm guessing that ODK is sending null?

[2016-08-23 17:03] wonderchook commented on #581
I think this is something we are going to need to get feedback on.

@dpalomino can you investigate with partners?

[2016-08-23 17:06] ian-ross commented on #468
@linzjax Hah.  That explains something I saw earlier.  Chandra had created a project in an organization I'd created, and I couldn't figure out how she'd done it!

[2016-08-23 17:11] linzjax commented on #577
@dpalomino @wonderchook: Try it with this questionnaire:

[geoshape_questionnaire_0.2.xlsx](https://github.com/Cadasta/cadasta-platform/files/433110/geoshape_questionnaire_0.2.xlsx)

[2016-08-23 17:17] linzjax commented on #592
From what I remember of the error messages it's sending a blank string (or at least a non-answer is getting saved as a blank string)

[2016-08-23 17:20] linzjax commented on #274
Seems like permissions in general could use a bit of attention: checking to make sure everything is correct, and hiding buttons the user shouldn't be clicking on. This should also apply to logged in users without permissions.

[2016-08-23 17:22] wonderchook commented on #468
So I'm wondering if this is still an issue since it was on demo a month ago and we've fixed some of the UI elements that lead to this happening? For example with the latest release you only get orgs as an option when creating your project where you have access

[2016-08-23 17:29] wonderchook commented on #577
Thanks @linzjax that works!

[2016-08-23 17:29] #577 closed

[2016-08-23 17:42] linzjax opened #593 "Cannot click on profile button while adding a project"
### Steps to reproduce the error
Chrome:

- Log in
- Start creating a project
- Get to step 2 (Add Details)
- Try clicking on your user name (top right corner)

### Actual behavior
Nothing happens (no drop down, no change of page)

### Expected behavior
I expect to see a drop down that allows me to edit my profile or log out.

[2016-08-23 17:47] linzjax commented on #468
Oh yeah, if you go to the project list and try to add a project from there you get the **full** list of organizations in the drop down.

If you add a project from an organization page, you don't even see the option to select another organization.

[2016-08-23 17:53] ian-ross commented on #468
That's kind of weird.  I only see a couple of organizations in the dropdown when I try to add a project from the project list.

[2016-08-23 17:54] linzjax commented on #468
<img width="1280" alt="all of the organizations" src="https://cloud.githubusercontent.com/assets/8128188/17903335/276b5498-6939-11e6-8ff2-fee148269662.png">

[2016-08-23 17:55] ian-ross commented on #468
That's on demo though.  I thought we were doing QA on staging?

[2016-08-23 17:56] linzjax commented on #468
(face-palm) I'll see myself out...

[2016-08-23 17:57] ian-ross commented on #468
Maybe we need different colour navbars for the different deployments?  It's really easy to get confused.

[2016-08-23 17:58] ian-ross commented on #468
Or maybe a little thing like the "Fork me on GitHub" ribbon (or whatever you call it) saying "STAGING" or "DEMO"?

[2016-08-23 19:22] linzjax opened #594 "Cannot cancel edit resource if changes are made"
### Steps to reproduce the error

- Upload a resource.
- Go to the edit screen of that resource
- Remove the file and try to save
- Try to cancel

### Actual behavior
The file reappears and the user is stuck on a loop on the resource edit form.

### Expected behavior
Undo all attempted changes and return the user to the resource detail view.

[2016-08-23 19:23] seav commented on #594
How different is this from #582?

[2016-08-23 19:26] linzjax commented on #594
The difference is that this is dealing with user navigation once the resource is already loaded, rather than whether or not the resource is uploaded. The user is stuck on the form and cannot cancel out.

They are similar though

[2016-08-23 19:28] linzjax opened #595 "Clicking on a resource row doesn't automatically check the checkbox"
### Steps to reproduce the error
Chrome:
- Go to a project
- Click the resources tab
- Add a resource from library
- Click on a resource anywhere except the checkmark.

### Actual behavior
Nothing

### Expected behavior
Checkbox is checked.

[2016-08-23 19:31] linzjax commented on #594
![resource_cancel_loop](https://cloud.githubusercontent.com/assets/8128188/17906760/a26e3e0a-6946-11e6-8831-2c345faea6fa.gif)

[2016-08-23 21:43] nastynoel commented on #588
Correct.

Can we take this opportunity to expand the list of possible relationship
and location types?

On Aug 24, 2016 02:57, "Kate Chapman" <notifications@github.com> wrote:

[2016-08-23 21:51] wonderchook opened #596 "Edit Project Location should be changed to Edit Project Boundary"
It is confusing to use the word location to mean multiple things in the platform. Change Edit Project Location to Edit Project Boundary.

![edit-project-location](https://cloud.githubusercontent.com/assets/67992/17911134/034e506c-6941-11e6-8115-51b6330ae4a5.jpg)

[2016-08-23 22:26] wonderchook opened #597 "Support GPS with Accuracy in XLSForm"
Updated format:

### Problem Statement

Some partners would require to check the GPS accuracy prior to accepting the submitted information into the platform.

### Context / Use Case

A partner working in a urban slum requiring sub-meter accuracy for validating the data. Being able to "block" capturing coordinates with less than a specified accuracy would be very critical for them.

### User Story

[2016-08-23 22:27] bethschechter opened #598 "Add New Project Location - Project Extent"
### Steps to reproduce the error

* Navigate to Add a new project location
* In the dropdown menu for _What type of location is this?_ I see "Project Extent"

### Actual behavior

(see above)

### Expected behavior

I would not expect to see "Project Extent" listed as a type of project location, as the project extent has already been created when the project area was created.

![image](https://clo

[2016-08-23 22:58] wonderchook commented on #594
@seav can you give fixing this a try?

[2016-08-23 23:01] wonderchook commented on #586
@dpalomino I think we need to gather together what needs to happen for this to work. I'm going to slot in sprint 9 for the time being.

[2016-08-23 23:29] wonderchook commented on #596
be nice to get this in sooner rather than later.

[2016-08-23 23:35] wonderchook commented on #585
How difficult is this to fix? @fhpichel is headed to Bangladesh so it would be good to tidy this up.

[2016-08-24 00:21] clash99 commented on #585
Not hard, I'll look at it this evening.

[2016-08-24 01:04] clash99 commented on #585
Spoke too soon - I don't think there is anything we can do.  Its a browser-based issue so fixes are available for the user to change the default font for their preferred browser.

I'm trying to brainstorm if there is another way.  If we knew the project/org font was benghali, we could force a font substitution on our side via css but we currently don't have any way of knowing that and I'm not sure

[2016-08-24 01:08] seav commented on #585
Couldn't a fallback font in the CSS work for this? https://en.wikipedia.org/wiki/Fallback_font

[2016-08-24 02:16] wonderchook commented on #585
One thought is that most Bengali speakers would be likely to have the right font installed. (I'm guessing here)

[2016-08-24 08:46] seav commented on #596
I am going to assume that we also want to consistently use the term "boundary" instead of "extent" to refer to this particular geometry.

[2016-08-24 10:37] #596 closed

[2016-08-24 12:25] wonderchook commented on #592
@ian-ross thoughts on the suggested jsonattr fix?

[2016-08-24 12:33] ian-ross commented on #592
If I understand what's being suggested, it's inconsistent with the fix to https://github.com/Cadasta/django-jsonattrs/issues/1 -- the whole blank vs. null thing in text fields in Django is a bit vexing.  Anyway, let me look at it.  I'm not quite clear on what the semantics of these `select_one` fields should be: if they're not required, you're basically saying that there's an extra implicit blank

[2016-08-24 12:33] wonderchook commented on #590
Non-permissioned users should be able to see spatial units and not open them. It is a bit weird it is happening on the overview page though.

[2016-08-24 12:35] wonderchook commented on #592
I think there are questions that would be skipped and not have a default choice. I think that required fields shouldn't have a blank choice. Non-required fields however people should be able to skip.

[2016-08-24 12:38] ian-ross commented on #590
For reference, users without any special project roles aren't supposed to be able to list or view any entities within the project (column "None" at https://devwiki.corp.cadasta.org/Permissioning%20policies).  That's what seems to be happening here (so at least the permissioning mechanisms are working right, even if the permissions are wrong!).

@wonderchook What do you mean by "able to see spatial

[2016-08-24 12:41] ian-ross commented on #592
@linzjax Are you trying to write a blank value into that attribute yourself?  Or are you saying that `django-jsonattrs` is generating a blank value itself?  If the former, I think the behaviour is correct: you would be trying to write a value that's not one of the allowed choices into the field.  Instead you can just not write a value at all (the field isn't required, so you don't need to put a va

[2016-08-24 12:44] wonderchook commented on #590
@ian-ross be able to see the outlines but not get to the details

[2016-08-24 12:47] ian-ross commented on #590
OK, thanks: in that case, I think just adding `spatial.list` to the default policy should make the outlines visible.  We might need to add a flag to disable the popovers linking to the details as well, but that should be simple to do.  I'll assign this one to myself.

[2016-08-24 12:57] linzjax commented on #592
@ian-ross So, when going through a form, I come across a `select_one` question (let's say a yes_no question) without either yes or no selected. I ignore it and continue through the form because it's not required. When I try to submit, I get this error:
[code]
So if a `select_one` question has neither a default answer, nor is required, django-jsonattr (or geoODK) generates a blank string `""` if it

[2016-08-24 13:06] ian-ross commented on #592
OK, let me see if I can figure out where that's coming from.  I don't think that `django-jsonattrs` ever generates data for attributes itself, so the blank value must be coming from somewhere before that point.

[2016-08-24 13:32] bjohare commented on #592
Noticed that _django-jsonattrs_ is not the latest version in _requirements/common.txt_ which may have an impact on this issue?

[2016-08-24 13:36] ian-ross commented on #592
Oopsie.  That's definitely not right.

[2016-08-24 13:38] ian-ross commented on #592
Dammit.  Let me try updating that and seeing if everything still works.

[2016-08-24 13:45] dpalomino commented on #585
Hi,

I've just checked in my laptop with Chrome, Firefox and Safari (for desktop), and for Chrome for Android, and with all of them is working fine.

Thanks!
David

[2016-08-24 13:52] seav commented on #585
Regarding the fallback fonts. It's in the CSS specification that when you list a bunch of fonts in the `font-family` CSS property and the more preferred font does not have a glyph for a character, it will try the remaining fonts in turn until it finds one that does have a glyph. Otherwise, it will display the "missing character" glyph.

So there is no need to detect which language or script our or

[2016-08-24 14:08] ian-ross commented on #585
There's this, which has glyphs for all of the Unicode basic multilingual plane (which covers most languages currently in use): https://en.wikipedia.org/wiki/GNU_Unifont  I've been trying to find a webfont version of it, without luck though.

[2016-08-24 16:10] seav commented on #594
This bug is caused by the change of the Cancel button's URL from:
[code]
to
[code]

The original URL is wrong, but using the HTTP referrer is wrong too because it will cause this looping bug from which there is no hope of escape. Because we can only reach the edit resource page from the resource detail page, I think the proper Cancel URL is the resource detail page.

That said, the current site al

[2016-08-24 18:52] linzjax opened #603 "API: Deleting user from an organization member list completely deletes the user account"
### Steps to reproduce the error
(using httpie)
Add a user to an organization.
Delete them from the organization:
[code]
Try to add them back.
Discover there is no longer a user with that username.

### Actual behavior
Deleting a user from an organization completely removes them from the database.

### Expected behavior
Deleting a user from an organization only removes them from that member list.

[2016-08-24 20:54] wonderchook commented on #598
@ian-ross is there an issue way to pull that out?

[2016-08-24 21:14] ian-ross commented on #603
This is happening here: https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/organization/views/api.py#L67-L68  What the code calls `role` there is actually the user, not the role.  Easy to fix by doing something like `role = OrganizationRole.objects.get(organization=self.org, user=user)` instead.  I'll fix it.

[2016-08-24 21:19] wonderchook commented on #598
Yes, pull out of the drop down.

[2016-08-24 21:27] ian-ross commented on #598
I'm not sure what the best way to do this is.  The list of spatial unit types is currently hard-coded here: https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/spatial/choices.py#L4-L12  The "project extent" choice is obviously a bit anomalous there, because it's not a value that can be selected for a user-generated spatial unit.  For the moment, we could just filter it out of the choi

[2016-08-24 22:52] wonderchook commented on #598
That was why I thought it might be hard. I think filtering it out for the time being is fine, since we'll be moving to configured types eventually.

[2016-08-25 07:29] bjohare opened #605 "XLSForms with blank line in settings tab raise 500 Error"
### Steps to reproduce the error

Upload an XLSFile with a blank line in the settings tab.

### Actual behavior

Raises 500 Server error. The actual error is _jsonattrs_ **KeyError**

### Expected behavior

Should raise _ValidationError_. This could be achieved by checking that ```questionnaire.filename != questionnaire.id_string```.

[2016-08-25 08:29] #594 closed

[2016-08-25 08:34] seav commented on #605
Should this be fixed before Monday (Aug 29)?

[2016-08-25 08:41] bjohare commented on #605
Not a showstopper as long as we're careful with partner forms. We should also rationalize the forms in _questionnaires/tests/files_. Not all are required and some have the blank line issue.

[2016-08-25 11:13] dpalomino commented on #586
Hi @wonderchook! Sure, let me know when works for you (or just ping me on skype).

[2016-08-25 11:32] dpalomino commented on #581
IMO I think it's more practical to go to the last visited location with a cookie as @ian-ross was suggesting. I can imagine most of cases partners working on the very similar area that they review frequently (probably from an office not necessarily close to that one).

Another option could be to add a new icon with the last visited position, so we would have three location icons: search, home, and

[2016-08-25 12:12] dpalomino commented on #605
I agree, as far as we would be careful this should not be a major issue. I've included a comment about this in [Questionnaire Guide in wiki](https://devwiki.corp.cadasta.org/Questionnaire%20Guide).

[2016-08-25 14:29] linzjax opened #606 "Footer glitching on smaller screen sizes on Organization Dashboards"
### Steps to reproduce the error
[CHROME]: Go to an individual organization page and start to decrease the screen width. Watch the footer get really enthusiastic about the space it's taking up.

(This is not newly introduced, it appears on demo as well)

### Actual behavior
<img width="931" alt="screen shot 2016-08-25 at 10 24 08 am" src="https://cloud.githubusercontent.com/assets/8128188/17972928

[2016-08-25 14:53] wonderchook commented on #581
@dpalomino the user needs to click the "go to my location" button for the zoom to occur. Agreed the default behavior should be where they last visited. Not sure we should take this out all together though. For example it goes directly to my house when I use the geoip location. Not sure how relevant this might be in places we work.

[2016-08-25 16:24] seav commented on #582
I've looked at this and this is a limitation of django-buckets. This bug cannot be fixed unless we update django-buckets or use a different widget that uploads files only when the user hits the "Save" button.

First, django-buckets' widget opportunistically uploads files once the user has selected a file and does not wait for the user to hit the "Save" button. I think this is good from a usability

[2016-08-25 18:44] wonderchook commented on #588
@nastynoel please open a new ticket for that.

I've marked this as a bug and we should fix it as we have time.

[2016-08-25 18:50] wonderchook commented on #580
Is step 1 a manual process where someone simple reviews all strings?

I'm thinking to test this we do the following:

- Review strings
- Pull out the source messages as suggested
- Have David translate into Spanish
- Pull translated messages
- @dpalomino can use the site in Spanish and look for things we've missed
- Engage translators (this is likely to be more partner based than specifically hiri

[2016-08-25 18:54] wonderchook commented on #575
I like option 3 as well. How would we handle when they sign in and they still don't have the rights to that action in a specific project?

[2016-08-25 19:01] ian-ross commented on #580
Yeah, step 1 involves manually looking for all strings that ought to be translated, and checking that they're within `_(...)` in Python files or within `{% trans ... %}` or `{% blocktrans %}` in templates.

I like your plan of getting quick Spanish translations from David: that will give us a good way of spotting where things are missing.  And Spanish is different enough to English that it's easy

[2016-08-25 19:01] wonderchook commented on #557
In the short-term I think we should increase the length of the field. In the long term the field length should be taken from the XLSForm.

[2016-08-25 19:03] ian-ross commented on #575
We can probably work out what actions are going to be possible for a newly registered user (not a member of any organisations) and only display the message for those.  Other actions probably shouldn't appear for non-registered users, otherwise it might be kind of annoying for them when they sign up and still aren't allowed to do the thing they were offered as a teaser for signing up.

[2016-08-25 19:05] wonderchook commented on #468
I'm going to close this as I believe it is no longer a problem with the upcoming release.

[2016-08-25 19:05] #468 closed

[2016-08-25 19:27] ian-ross commented on #557
This is something that's actually a bit annoying in Django.  You have maximum lengths on model fields, maximum lengths for form field validation, and (nominally) maximum lengths that make sense for different kinds of text form widgets.  And, as far as I know, there's no mechanism to line them up in any sensible way.  I thought I'd put something like a multiline text (so unlimited length) field int

[2016-08-25 19:42] wonderchook commented on #4
@dpalomino I think this is one for the backlog

[2016-08-25 19:43] wonderchook commented on #16
@dpalomino we'll need to define at some point what internal tools are needed to be built into the platform.

[2016-08-25 19:43] #16 closed

[2016-08-25 19:44] wonderchook commented on #18
@amplifi something we were thinking about a while back. Perhaps still relevant. Do you have ideas or thoughts?

[2016-08-25 19:45] wonderchook commented on #28
closed since bitemporal database is in the backlog

[2016-08-25 19:45] #28 closed

[2016-08-25 19:50] wonderchook commented on #30
@dpalomino currently we have defined roles. The plan was to allow organizations to define security roles within their orgs and projects. This is more complicated than just having the default roles, so it is something we need to think about as far as requirements and priority.

[2016-08-25 19:55] wonderchook commented on #41
@dpalomino another feature for some point. We need to better define what annotate is as well. I could see using the scanned paper as an item for data entry or maybe the annotations involve some other approach.

I quite like [Old Weather](https://www.oldweather.org/) which is crowdsourced ship log annotation as a really nice interface for doing data entry off of paper. I could see doing something s

[2016-08-25 19:57] wonderchook commented on #42
@dpalomino also for the backlog

[2016-08-25 20:01] wonderchook commented on #566
#43 is something to consider when building this feature.

[2016-08-25 20:08] #78 closed

[2016-08-25 20:16] wonderchook commented on #81
@dpalomino this needs to be in the backlog and will probably getting a higher priority than it seems like it needs due to grant requirements

[2016-08-25 20:16] wonderchook commented on #110
@dpalomino backlog

[2016-08-25 20:19] wonderchook commented on #168
@dpalomino something to be aware of regarding the record entry areas of the platform

[2016-08-26 10:30] dpalomino commented on #110
Included, thanks!

[2016-08-26 10:49] dpalomino commented on #81
Hi,

Thanks @wonderchook for the heads-up. Are we thinking in some specific 2FA approaches? Like mobile based authentication for instance? Maybe then the question is if we can assume that all platform users would own mobile devices.

If so, the simplest solution would be SMS or voice authentication. If connectivity is not an issue we could also think on Time-based One-Time Password (TOTP) solution

[2016-08-26 11:29] dpalomino commented on #42
Included!

I've split in different User Stories, so we would be able to define different priorities.

One question, what is the reason to include to ability to blank/fill selected areas of an image?
 - Are we going to include some kind of "transparency level" so we can highlight specific parts of a scanned document for instance?

[2016-08-26 12:40] dpalomino commented on #41
Thanks! Included in the backlog. I've maintained as a generic description for now, when we would be considering to include it I guess we would need to split this into several user stories.

[2016-08-26 12:49] dpalomino commented on #30
Included! Again as a generic user story, likely to be split in several when we commit to this.

[2016-08-26 13:58] dpalomino commented on #4
Included :)

[2016-08-26 17:56] clash99 commented on #492
Screenshot for splash screen walkthrough of dashboard for DEMO platform.

<img width="676" alt="screenshot 2016-08-26 12 07 42" src="https://cloud.githubusercontent.com/assets/1119621/18014480/be9165b4-6b88-11e6-9741-998da2498b8c.png">
<img width="364" alt="screenshot 2016-08-26 12 24 43" src="https://cloud.githubusercontent.com/assets/1119621/18014486/c4c86b76-6b88-11e6-9bf8-b41e61863567.png">
<i

[2016-08-26 18:12] linzjax commented on #592
Turns out integer fields also can't be left blank. They're sent empty strings, which (correctly) are not validated as integers.

[2016-08-26 18:15] #557 closed

[2016-08-26 18:56] linzjax opened #608 "API: Members added to an organization are automatically assigned as administrators"
### Steps to reproduce the error
Using httpie:
[code]
Check newly added users admin status

### Actual behavior
Users are assigned admin status automatically.

### Expected behavior
Users are assigned as members, and must explicitly be made admins.

[2016-08-26 19:53] clash99 opened #609 "Can't view members... but I can"
![screenshot 2016-08-26 14 33 57](https://cloud.githubusercontent.com/assets/1119621/18018494/e9c18368-6b9c-11e6-8b61-c91d0c4b1e7b.png)
### Steps to reproduce the error

As only a member of an organization or public, select the organization overview page.  You will see in the right column members listed.  (Right now it shows all but I think eventually it will only show 5?)  Select the "View all" b

[2016-08-26 19:56] clash99 opened #610 "Currently there is no way for a user to see which orgs they are a member of"
Future enhancement to see which organization a member belongs to and what permissions a user has (for org, projects, more?).  Would most likely be a build-out of the profile area.

[2016-08-26 19:57] clash99 commented on #609
Two things here -

1)  I'm a little confused on viewing permissions so I can't say for sure this is a bug.

2)  We need to think what is available (if anything) to public users.  This page could be sort of a waste.

[2016-08-26 20:07] clash99 commented on #548
For an org admin, disabled button and added alert text below.

![screenshot 2016-08-26 15 05 26](https://cloud.githubusercontent.com/assets/1119621/18018809/a1f2dcf6-6b9e-11e6-9c49-913a314a3b5d.png)

[2016-08-27 04:11] wonderchook commented on #610
@clash99 and @dpalomino what about having a short brainstorm next week about the profile area? I think we need to work it into the priorities.

[2016-08-27 04:13] wonderchook commented on #609
The public shouldn't be able to see all the members of a project. I think with the current permissions they shouldn't be able to see any of them. if we someday end up having public/private users or more granular permissions then maybe that would work differently.

[2016-08-27 04:15] wonderchook commented on #42
There are many, many questions. True requirements were really never developed for this.

[2016-08-27 04:18] wonderchook commented on #81
@dpalomino we haven't thought about specifics on this. The requirement is for "Grantee and Business Partner (client) Administrative Users" but I think if we do this we should make it more useful than that. I was assuming mobile based authentication, likely SMS. Since only super users would be required to use it and it would be opt in for everyone else I think that would be sufficient.

[2016-08-29 01:39] nastynoel opened #611 "Custom additional types for location and relationships"
As I user, I want the ability to create custom types for the location and relationship entities, which would be additional to those that already exist within the standard model and pick lists.

[2016-08-29 05:09] seav commented on #474
For this issue, we can probably link the number to the resources page. The issue to improve the project/library resources page has already been filed as #502.

[2016-08-29 05:27] seav commented on #261
Here's my proposed enhancements for resolving this issue:

1. Rename the action of adding a resource to an entity (project, location, etc.) to "attach" and the action of removing a resource from an entity to "detach". I feel that "attach" and "detach" better explains what the actions do than "add" and "remove". "Remove" might be confused with "delete", for instance.
2. Rename "Archive resource" to

[2016-08-29 05:33] seav opened #612 "Don't show the party picker when adding a new relationship if there are no parties yet"
### Steps to reproduce the error
In a project with no parties yet, go to a location (creating one if necessary), and then go to the add relationship form.

### Actual behavior
The party picker widget is shown and its empty. See screenshot below.

![screen shot 2016-08-29 at 13 25 42](https://cloud.githubusercontent.com/assets/873653/18041547/a1cbc198-6dec-11e6-9115-817541228715.png)

### Expected

[2016-08-29 08:58] fhpichel commented on #492
@clash99 thanks for the work on the splash screen / walk through.  One quick comment, on the last image (What do you want to do next?) with the left side (Start exploring...) would browsing the map be in the demo platform or production?  We should make clear and also reiterate that it would only be the public projects that are seen

[2016-08-29 09:16] bjohare opened #613 "GPX Import"
## Summary

We need to be able to upload GPX files into the platform in order to support the definition of location entity boundaries. Uploaded GPX files will be stored as project Resources.

## Requirements

The requirements are defined [here](https://devwiki.corp.cadasta.org/GPX%20Import).

## Task list

The work for this sprint aims to address the following **User Stories**:

1. As a data colle

[2016-08-29 09:46] dpalomino commented on #592
Thanks a lot @linzjax for let us know. Are we sure that these (select_one and integer) are the only types affected? We need to be careful with this when creating the forms for the partners...

[2016-08-29 11:27] bjohare opened #614 "Catch schema / attribute errors during project page load"
### Steps to reproduce the error

Browse to https://demo.cadasta.org/organizations/frankfurt-2-org/projects/frankfurt-main/. The page displays a 500 Server Error.

### Actual behavior

The page displays a 500 Server Error

### Expected behavior

The project page should be displayed.

[2016-08-29 13:45] seav opened #615 "Make pseudo-links behave more traditionally"
Currently, we have many pseudo-links on the website that require JavaScript to activate. These are mainly table rows, such as the table of organizations or table of projects. To go to an organization's overview page or the project's overview page, you need to click on the table row corresponding to the organization or project.

These pseudo-links do not behave like traditional links and therefore

[2016-08-29 14:20] linzjax commented on #592
I'll run a test with every possible attribute type today, and let you know.

[2016-08-29 14:21] linzjax commented on #615
Related to [#595](https://github.com/Cadasta/cadasta-platform/issues/595)

[2016-08-29 15:28] linzjax commented on #592
@dpalomino: The only types affected are select_one, integer, and decimal.

[2016-08-29 15:57] linzjax commented on #592
Is this the problem:
`default = field.get('default', '')`
https://github.com/Cadasta/cadasta-platform/blob/783c8a5c0f18317feddce44c73f7e6e445769ddb/cadasta/questionnaires/managers.py#L119

[2016-08-30 10:06] ian-ross commented on #608
This and #603 sort of go together, so I'll pick this one up too.

[2016-08-30 10:14] seav commented on #261
I've finished coding item № 6.i. above and here is how they look like:

As mentioned in № 4, the project resources list page shows all resources in the project, not just the ones attached to the project itself. For superusers, archived resources are also shown as seen below. For non-superusers, archived resources aren't shown. Resources that are attached to projects have a "Detach" button that let

[2016-08-30 11:36] seav commented on #533
I will partially fix this issue for the table of resources. The filename in the upload resource form is handled by django-buckets so I will leave that to @oliverroick.

[2016-08-30 14:59] wonderchook commented on #261
@seav looks good to me. Thinking maybe we should use a button that says "archived" instead of deleted. What do you think?

[2016-08-30 15:04] clash99 commented on #492
@fhpichel - All links would keep the user on the production site (except for the link to the production site).  I will make sure to include "public projects" in text whenever possible.

[2016-08-30 16:22] clash99 commented on #261
@seav - good stuff!  just a couple of comments:

- I think the term "deleted" is probably okay in this instance since unlike other areas in the platform, the typical user can't "unarchive".
- I think when deleting a resource that has attachments to other entities, we should consider how to inform the user that those connections will be removed as well.
- We should replace the word "connections" wi

[2016-08-30 17:22] wonderchook commented on #447
@oliverroick there are a couple API calls we need to add for the QGIS plugin to work. Notes from @ian-ross [here](https://devwiki.corp.cadasta.org/@QGIS%20Plugin). Let's discuss before you begin work.

[2016-08-30 22:02] #603 closed

[2016-08-30 22:02] #608 closed

[2016-08-31 00:56] clash99 opened #622 "Replace "i" link in header"
Replace "i" link in header from platform page on cadasta to help widget for inlinemanual.  Allows for searching and contextual help to be displayed in right panel.

- [x] Ensure links to all walkthroughs are displayed
- [x] Add a redirect to user guides (or do we want user guides in inlinemanual)
- [x] Add a redirect in the help to platform page on cadasta.org

[2016-08-31 00:58] wonderchook commented on #622
Does this need to happen for the walkthrough to be started this week? Or is this an enhancement?

[2016-08-31 01:06] clash99 commented on #622
Enhancement - quick fix but it will allow us to have walkthroughs available to anyone at anytime.  Also we should consider integrating user guides here.  It would allow users to search them on the platform.  We could also provide results contextual to page they are on.

[2016-08-31 01:16] wonderchook commented on #622
Is there multilingual support for the user guides if we integrate in this way?

[2016-08-31 01:57] clash99 commented on #622
It does support multiple languages.   The way it would work is we would need to pass the variable from the footer language selection through to the player to tell it which one language to choose.

[2016-08-31 02:35] clash99 opened #623 "Inline manual conditional variables for sign in options (project walkthrough)"
For project tour - add conditional logic so that based upon user's current login, can direct them to sign in as demo user if necessary.

[2016-08-31 02:38] clash99 commented on #492
- Added splash walkthrough of dashboard that shows once for everyone upon visiting Cadasta demo platform home page.  This can also be triggered by "i" underneath left map controls on dashboard.  This is a temporary fix until info link in header gets replaced with full help section where these walkthoughs will be available all the time. (#622)

- Added trigger for demo user sign-in walkthrough that

[2016-08-31 02:47] #492 closed

[2016-08-31 03:50] seav commented on #261
@wonderchook: given the suggestion that the UI should treat archived resources as if they are deleted, then I think it would be best to consistently use "delete"/"deleted"/"undelete" terms in the UI.

@clash99:
- I can add some additional text to the modal that confirms if the user really wants to delete the resource. It currently says: _"Are you sure you want to delete this resource?"_ We can add

[2016-08-31 15:15] dpalomino opened #624 "demo user credentials not working on staging/platform"
### Steps to reproduce the error

1. Go to https://platform.cadasta.org
2. Click on "?" icon close to "Sign in"
3. Follow the instructions and use demo/password as credentials

### Actual behavior

Either in staging or platform we get a password error. However in demo.cadasta.org is working fine.

### Expected behavior

Demo user should be working in demo, staging, and platform.

![screen shot 201

[2016-08-31 15:16] clash99 commented on #615
We should talk about this.  Maybe there is a middle ground here - I know there are ways to add some of those features while still maintaining a linked row.  For mobile and probably most our users, having a large clickable target is more appealing than being able to see the url or open in a new target.  Any table with checkboxes would be an exception (resources).  Just thinking out loud here but pe

[2016-08-31 15:25] clash99 commented on #624
This should only be displayed on demo so let me checkout what is going on.

[2016-08-31 16:07] clash99 commented on #624
Added contextual paths so the three current walkthroughs we have will only display on demo.cadasta.org.   These include:
- Sign in as demo user
- Quick start for dashboard
- Sample project tour (short version up but hope to expand this one)

This brings up a good question for future enhancements about what should be displayed for which server.  I'm assuming that there would be different versions p

[2016-08-31 16:11] clash99 commented on #624
@dpalomino:  Can you verify that this is only being displayed on demo for you and close if correct?

[2016-08-31 16:35] dpalomino commented on #624
Now it works perfectly! Only shown in demo.cadasta.org.

Thanks @clash99!

[2016-08-31 16:35] #624 closed

[2016-08-31 17:53] linzjax commented on #550
## Task List
### UI
- [ ] Archiving an organization freezes all actions except unarchiving
- [ ] Labels added to organization dashboards and list views to indicate they're archived.
- [ ] Test (Unit)
- [ ] Test (Functional)
- [ ] Archiving/Unarchving an organization should cascade to all projects within the organization
- [ ] Test (Unit)
- [ ] Test (Functional)
- [ ] Archiving a project freezes al

[2016-08-31 19:09] clash99 opened #626 "Use username in place of empty full name"
### Steps to reproduce the error

Member permissions page (under Organizations > Members > Select specific user)

Since username is required and full name isn't, we should use username instead of (or in place of) full name in member permissions title.

### Actual behavior

When full name isn't present, title is empty behind "Member:"

### Expected behavior

Would have expected username to show in

[2016-08-31 19:34] clash99 opened #627 "Member permissions ui problem with save"
Member permissions page:

Need to rework Save/Cancel button so that its more intuitive that you need to use those to change Member/Administrator on the left.  Currently they are on the right and it seems like those buttons only apply to that project permissions area.

[2016-08-31 22:43] #588 closed

[2016-09-01 00:34] wonderchook commented on #609
@dpalomino what do you think about this?

[2016-09-01 02:15] seav commented on #615
@clash99: Basically, it's OK to retain the linking behavior of the whole row. But my suggestion is to also add a duplicate normal link somewhere inside the row, such as the organization name or project name.

[2016-09-01 04:04] seav commented on #261
I've finished coding item № 6.ii. above to display a list of entities a resource is attached to in the resource's detail page, with the option to detach the resource from any of those entities. Here is how it looks like.

![screen shot 2016-09-01 at 12 02 13](https://cloud.githubusercontent.com/assets/873653/18155007/f1320638-703b-11e6-8a81-e65f56db34d4.png)

As always, feedback is very much welco

[2016-09-01 14:08] clash99 commented on #615
@seav - Sounds like a good idea.  I would assume the "main" text (typically name).  Is that what you were thinking?

[2016-09-01 14:24] seav commented on #615
Yup! That was what I was thinking.

[2016-09-01 14:58] clash99 opened #628 "Hamburger menu responsiveness"
### Steps to reproduce the error

View platform on iphone.

### Actual behavior

See hamburger menu not in header area on iphone (viewed on iphone6).  Looks alright in replicated responsive views but for some reason, not the same on actual phone :(

### Expected behavior

Adjust css so hamburger menu stays in header.  (After user in signed in, behavior is as expected)

Actual:
![canvas](https://cl

[2016-09-01 15:00] clash99 commented on #628
While in the area, ideas to improve usability:
- Add border around hamburger
- Reduce project name size

[2016-09-01 15:24] clash99 opened #629 "Error page roundup"
Design and content consideration for all 400s, 500s, other? error pages that may display on the Cadasta platform

[2016-09-01 17:16] wonderchook commented on #629
Should we get @aliensunrise involved in this from a branding perspective?

[2016-09-01 17:37] clash99 commented on #629
Plus perhaps a wordsmith too for voice and tone...  I will start by putting together first pass and then we can put them here for review and adjustments.

[2016-09-01 21:02] clash99 commented on #261
@seav - wow, you've done a lot of work on this one - looks good!

Nothing major but I've made some ui changes in the branch #261-addon.  Use at your own discretion :)

For small resources table within a location:
- Used condensed table due to real estate constraints
- Minimized some padding and margins to make better use of space
- Removed # of other attached entities...  thought about this one a

[2016-09-01 22:17] clash99 commented on #403
The documentation link in the details is broken.  Are there instructions to accompany the sample form?

[2016-09-01 22:45] wonderchook opened #631 ""Contact us" should have emailto link"
After resetting your password the messaging says "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes." We should make "contact us" a link to email support@cadasta.org

![screenshot_20160901-154053](https://cloud.githubusercontent.com/assets/67992/18186998/f241d48a-705a-11e6-98a1-02895f058543.png)

[2016-09-01 23:43] wonderchook commented on #403
This link is a better one: http://docs.cadasta.org/en/08-XLSForms.html

[2016-09-02 00:18] wonderchook opened #632 "Drop down for org admin user should not be active on project permissions page"
### Steps to reproduce the error

1. Create new project
2. Press "next" from project extent screen
3. Enter Project Name
4. Press "next"
5. Press "back"
6. Press "next"
7. Drop down for org admin appears.

### Actual behavior
State of permissions page before hitting back
![add-new-project1](https://cloud.githubusercontent.com/assets/67992/18188568/124e1c7c-7068-11e6-9ebd-c83cbcfd72ee.jpg)
State of

[2016-09-02 01:31] clash99 commented on #492
@wonderchook: Updated text on splash screen.  Shortened it to make it more scannable - let me know if we should modify:

<img width="647" alt="screenshot 2016-09-01 20 27 47" src="https://cloud.githubusercontent.com/assets/1119621/18189724/e5dc9ac2-7082-11e6-8edd-4e211056cbef.png">

[2016-09-02 02:48] clash99 commented on #403
Should we rename "questionnaire" to "data collection form" across the platform?

[2016-09-02 10:03] fhpichel commented on #403
My vote would be yes

On Fri, Sep 2, 2016 at 4:48 AM, Chandra Lash <notifications@github.com>
wrote:

[2016-09-02 10:11] ian-ross commented on #403
@fhpichel One thing we talked about some time ago was having a glossary for names of things in the platform (and also, probably separately, for land terms that everyone in Cadasta should know).  There are a number of competing factors that go into choosing the names for things in the platform: clarity, correctness, lack of ambiguity, translatability and "friendliness" are only some of them.  We ha

[2016-09-02 10:36] seav commented on #261
@clash, some replies:

One possibility is to remove the detach buttons here and only provide the function on the resource detail page.

Another option just to reduce the visual prominence is to replace the buttons with checkboxes and have a "Detach selected" button after the table to complement the Attach button. (We can also combine this with a selectable option to detach or delete (archive) the

[2016-09-02 10:39] fhpichel commented on #403
@ian-ross agreed.  I know we'd discussed that general glossary a while back, and certainly a need to be consistent / accurate within the platform.  @clash had started on a glossary for the platform - best thing to do would be buil off of that? https://docs.google.com/document/d/1Xrn-VUhY0xIpdD4URdf_uafgGlgoGntj486Jl9fVOts/edit#heading=h.j9xpg26t020b

[2016-09-02 10:47] ian-ross commented on #403
That's a good place to put things.

[2016-09-02 13:07] clash99 commented on #261
@seav -

1) We should leave the detach buttons because I think it makes sense right now.  The other option of adding a small download button/link and smaller detach button/link will be good test material for the future.

2) I agree the new resource table is better and adding a filter in #502 will only increase its worth.

I like having these discussions so I can bounce ui ideas around.  These chan

[2016-09-02 13:13] seav commented on #261
@clash, I have updated **enhancement/#261** with your changes. Please do review the interactions, especially with the Restore button on the project resources page, which I have now wired up.

[2016-09-02 13:16] clash99 commented on #403
Please review and let me know if this is what we want to say:

<img width="917" alt="screenshot 2016-09-02 08 08 37" src="https://cloud.githubusercontent.com/assets/1119621/18204844/8489ee7a-70e4-11e6-971e-2c445a48f63c.png">

Does it need more or less prominence?  I could add a little icon to draw attention to the spreadsheets if needed.  Let me know.

Sidenote: The user guide document we link to

[2016-09-02 14:16] clash99 commented on #403
Hmmm, I didn't start the glossary (maybe @wonderchook) but definitely a good idea!  We should make sure that the user guide is using the same language (http://docs.cadasta.org/en/) or if the public facing and internal terms are different, note that in our internal glossary.  It will be helpful in the long run.

@fhpichel - any feedback on the screenshot above?

[2016-09-02 14:23] ian-ross commented on #592
I'm getting a 400 for this, rather than a 500, which makes sense since it's an error in the data submitted from the client, rather than something that went wrong on the server.

More substantively though, it seems that the way to deal with this problem is for `django-jsonattrs` to do a better job of handling defaults.  I'm thinking that adding an explicit `has_default` flag to the `Attribute` tabl

[2016-09-02 14:43] wonderchook commented on #403
Couple things:

1. Let's not change the labels in the platform right now.
2. @dpalomino as the product owner should be responsible for this. Yes he could get input from @fhpichel + @nastynoel but this really part of the vision of the platform. It also needs to fit appropriately into the branding/communications we are doing generally.

[2016-09-02 14:53] wonderchook commented on #492
We use "Design, Collect and Share" where we [describe the platform.](http://cadasta.org/platform/), but that seems a bit awkward to me to use here. Any ideas?

[2016-09-02 15:12] dpalomino commented on #403
btw, I think we could update the [standard questionnaire](https://docs.google.com/spreadsheets/d/1QsqMTLlPH5KVbBcgnh6MHWkIR0pIFchVzkqBSoL92fA/edit#gid=2006567796), for instance to include the new "geotype" capability (to select among geoshape, geotrace, etc). I will try to take a look and create a new version...

I will try to review it later on..

[2016-09-02 15:49] ian-ross opened #635 "Ajax session to API authentication bridging"
We use two different forms of user authentication:

- When a user logs in on the platform site, we store a session token as a cookie in their browser, and this is used to authenticate the user for access control;
- For API requests, the user makes a request to the `api/v1/account/login` endpoint to get an authentication token.  This token is then used for authentication in subsequent API requests,

[2016-09-02 15:50] wonderchook commented on #403
@dpalomino that is fine. We need it to be finalized before the end of the sprint since we will make it a regular file and save within the platform.

[2016-09-02 15:58] wonderchook commented on #592
@ian-ross I think this makes sense and is something we should consider tackling in Sprint 9.

[2016-09-02 16:26] dpalomino commented on #609
I agree with @wonderchook, I think users should only be able to see other users within their own organization, so public users or users pertaining to other organizations will not see any user details on the right column  when accessing to the overview section of organizations other than theirs.

[2016-09-02 16:29] clash99 commented on #355
These are also in google drive folder here:  https://drive.google.com/a/cadasta.org/folderview?id=0BzpiEtMtHC3rbXRya0FiVVU2bm8&usp=sharing

New gpx and xml one has been added.

[2016-09-02 16:33] dpalomino commented on #592
Great, thanks! Added to the backlog (as tentative).

[2016-09-02 16:37] clash99 commented on #403
Updated screenshot for feedback:

![screenshot 2016-09-02 11 35 40](https://cloud.githubusercontent.com/assets/1119621/18211117/9e92f8e4-7101-11e6-88c4-b96255e7960a.png)

[2016-09-02 16:52] ian-ross commented on #635
It seems that this can be fixed by adding `rest_framework.authentication.SessionAuthentication` to the `DEFAULT_AUTHENTICATION_CLASSES` in the `REST_FRAMEWORK` section of the Django settings.  If you do this, Ajax calls from the platform Javascript work fine (you don't even seem to need to set the `withCredentials` flag in the `$.ajax` call).

[2016-09-02 18:06] wonderchook commented on #403
"For assistance with questionnaires view our user guide. To help you get started to samples have been provided a minimal questionnaire and a standard questionnaire."

I'm thinking we should reuse the term questionnaire even though it is a bit repetitive.  Thoughts?

[2016-09-02 19:50] #548 closed

[2016-09-02 19:53] #563 closed

[2016-09-02 22:05] clash99 commented on #585
https://www.google.com/get/noto/#sans-beng

[2016-09-04 02:28] fhpichel commented on #403
I think we can get rid of the second use of questionnaire, ie ""For assistance with questionnaires view our user guide. To help you get started to samples have been provided a minimal  and a standard questionnaire."

[2016-09-04 17:03] dpalomino opened #640 "Server error when uploading a questionnaire (after trying to do so with a incorrect one)"
### Steps to reproduce the error

I saw this in demo in this project:
https://demo.cadasta.org/organizations/uttaran/projects/uttaran-vulnerable-landowner/

STR:
1. I was uploading a new version of the questionnaire and didn't realize that there was an error in the syntax.
2. Brian's parsing worked nicely and let me know the what the issue was (I think missing a label or something like that)
3. I

[2016-09-04 17:38] dpalomino opened #641 "geo_types not working fine with ODK in *some* Android devices"
### Steps to reproduce the error

We have seen this some Android devices during a training. In some of them (a bit less than 50%) the ODK app was not showing properly the geotypes questions, so instead of showing the "Record GeoShape", "Record GeoTrace", etc, it is showing just a text line to introduce the coordinates manually.

Really weird, because in some of them ODK app was working fine, but o

[2016-09-04 23:05] linzjax opened #642 "API: Anonymous users can view full project list"
### Steps to reproduce the error
using httpie: `http GET http://localhost:8000/api/v1/projects/`

### Actual behavior
Results in a full list of projects including member information:
[code]

### Expected behavior
According to this test (which is somehow passing on master), it should result in a 403:
[code]

[2016-09-05 07:06] oliverroick commented on #635
@ian-ross Yes that's it I think. I remember that we had the same problem at UCL, and it was a quick fix.

[2016-09-05 07:49] oliverroick commented on #598
Do we need project extent on that list at all? `Project` has a geometry field for the extent, we won't be using `SpatialUnit` for project extents. This seems to be a legacy from our first drafts of the data model when we thought any geometry would be a spatial unit.

[2016-09-05 14:11] bjohare commented on #640
This is a type of schema conflict of the kind discussed here https://github.com/Cadasta/django-jsonattrs/issues/4.

The offending attribute is `amount_othersland`.

The questionnaire was originally uploaded on 2016-09-03. The attribute type of `amount_othersland` was originally `text`. The questionnaire was uploaded twice more with `amount_othersland` as `text`. There was one successful submission

[2016-09-05 14:26] bjohare opened #643 "Geopoint parse failure when there are also geotrace and geoshape questions in xlsform"
### Steps to reproduce the error

Try to submit to a form that has `geotrace`, `geoshape` and `geopoint` typed questions. See [here](https://docs.google.com/spreadsheets/d/1ZqhPeO8YAgZ_ikNmTb2X5esK83_R5W82fqDT6S8szOA/edit#gid=1077080677) for an example.

### Actual behavior

Throws a `400` error where the exception is `list index out of range`.

### Expected behavior

Form should submit successful

[2016-09-05 14:36] bjohare commented on #643
See https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/xforms/mixins/model_helper.py#L79. The following line should be `geotrace=False`

Also wondering if this database query is required? https://github.com/Cadasta/cadasta-platform/blob/master/cadasta/xforms/mixins/model_helper.py#L70

[2016-09-05 17:16] dpalomino opened #645 "Labels not displayed properly with multilanguage"
### Steps to reproduce the error

(seen in demo)

1. Create a questionnaire with "label" and "label::OtherLanguage" columns.
2. Use this in a project.
3. Labels for locations, parties, etc *in the web interface* are not properly displayed (see screenshots)
4. However in GeoODK is working fine and it's possible to swtich between languages
[Please try to describe the actions that led to the incorrec

[2016-09-06 02:25] seav commented on #629
Do we want to be cute like GitHub? https://github.com/404

[2016-09-06 05:09] ian-ross commented on #645
Duplicate of #389

[2016-09-06 05:09] #645 closed

[2016-09-06 05:30] ian-ross commented on #642
Heh.  From this it looks like both the result and the test are wrong!  Anonymous users should be able to list the public projects, but they shouldn't see the project users.  I'll fix this, since it may be something I've broken recently.

[2016-09-06 06:34] ian-ross commented on #640
I think that although this is more or less the same case as https://github.com/Cadasta/django-jsonattrs/issues/4, there's one difference that's screwing things up.  In the "normal" schema update case, you change a model instance field value that's used to select the attribute schema: change a selector field, the schema changes and `django-jsonattrs` checks for potential conflicts in attribute fiel

[2016-09-06 06:38] ian-ross commented on #598
@oliverroick Did we talk about that?  Maybe we did, and I forgot.  I was still thinking that we would move over to that model of things eventually (all geometry is a spatial unit).  I thought the `extent` field in `Project` was just an interim measure we put in place when we originally wrote the `Project` class, because we didn't have spatial units yet then.  Having all geometry as a single class

[2016-09-06 06:52] oliverroick commented on #598
This sounds reasonable; I didn't think about that. It that case, we obviously shouldn't remove the item from the list and just not display it when it's not needed. I think the best place to do that is in the form.

[2016-09-06 09:01] bjohare commented on #640
@ian-ross thanks for the above, I hadn't realised the issue with using non-pk fields on foreign key related models as selectors, but it makes sense. We do need changes to these fields to be detected. At some point in the future we'll need to support multiple questionnaires so the use of `current_questionnaire` will be dropped but in all probability we'll still need to use non-pk fk fields (I haven

[2016-09-06 10:11] #612 closed

[2016-09-06 10:52] ian-ross commented on #640
OK, I've opened an issue on django-jsonattrs to track this stuff: https://github.com/Cadasta/django-jsonattrs/issues/8

[2016-09-06 14:32] clash99 commented on #403
Should these sample files be linked to in google docs like in the user guide or should we copy them into the platform and link there?  For the second option, we will need to maintain the current file.  The first option keeps it all in one place.

Let me know.  Thanks!

[2016-09-06 17:32] wonderchook commented on #403
@clash99 I think we should have a regular file people can download. I think how to download the file from Google Docs might not be obvious to all users.

[2016-09-06 17:56] dpalomino commented on #403
I agree, I think a regular xlsx file would be easier. I still need to provide the sample file including the capability to select geoshape, geotrace, etc.

[2016-09-06 18:02] dpalomino commented on #643
Thanks @bjohare for checking this and help to find out what was going on!

Is it possible to try to fix this in this milestone (if it's not too difficult)? I think it's important for several partners...

[2016-09-06 18:55] wonderchook commented on #641
Could you try installing GeoODK and see what happens?

[2016-09-06 19:20] wonderchook commented on #629
Probably not "that cute", but I think we can be a little cute.

[2016-09-06 21:28] seav commented on #445
Reopening as there are still some select boxes that have non-blank defaults, such as the organization and members permission for the add project form. Some of them may also need further discussion. For example, setting "Public User" as the default for the member permission might be OK because you don't expect a project creator to explicitly set the permission of ALL organization members.

[2016-09-06 23:25] dpalomino commented on #641
With GeoODK was working fine with all devices, but there are still some people that may prefer ODK over GeoODK (we recommend GeoODK).

Sent on move

[2016-09-06 23:36] wonderchook commented on #641
@dpalomino are you letting individual users choose in training or do you mean potential partners? I would not recommend letting individual users in a project choose and only use one.

My other comment was about making sure they don't have other data collection apps installed based on ODK. I am able to reproduce the error by doing that on my own phone.

[2016-09-07 07:13] dpalomino commented on #641
Hi @wonderchook. We had plan to use ODK in training, because it was the partner's preference (surveyors were already using ODK and not GeoODK). Then we found that issue in some of the devices, but not in all of them. I was not able to found a pattern as it was appearing in old and new devices, with the last ODK version installed, etc.

After seeing that was failing in some cases with ODK we switch

[2016-09-07 13:15] clash99 commented on #357
Recommend doing this in tandem with #322 and #561 in Sprint 9.

[2016-09-07 14:11] clash99 commented on #403
@dpalomino I am going to use the current one for now but its easy to update.  We should make sure to update the one in google docs and in the platform together.  Let me know when the new one is available.

[2016-09-07 14:30] clash99 commented on #403
Added xlsx versions of the form to our s3 bucket so we can update the form anytime without having to coordinate with a code release.

Updated text and links on project add and edit pages.

![screenshot 2016-09-07 09 25 00](https://cloud.githubusercontent.com/assets/1119621/18315529/f90b5030-74dc-11e6-98ee-997d53866bec.png)

[2016-09-07 16:31] clash99 commented on #550
Couple of comments:

- I would think when an org or project is archived, they would still be display in the index in the alphabetized order with the "archived" label following the name.  Right now they display at the bottom of the list.

- All the member pages within an org are seeing this error when I try to add or edit:  'User' object has no attribute 'archived'.

[2016-09-07 16:34] clash99 commented on #550
Added css for "archived" labels in your branch:

![screenshot 2016-09-07 11 19 43](https://cloud.githubusercontent.com/assets/1119621/18320281/ca7aaf9c-74ee-11e6-8516-07abf8c5cefa.png)
![screenshot 2016-09-07 11 20 45](https://cloud.githubusercontent.com/assets/1119621/18320282/ca82f742-74ee-11e6-914b-8c1ee16ad2a0.png)
![screenshot 2016-09-07 11 29 11](https://cloud.githubusercontent.com/assets/11

[2016-09-07 17:00] clash99 opened #650 "Order permission roles according to level of permissions in select dropdown"
### Steps to reproduce the error

Select member permissions page for a project.

### Actual behavior

Dropdown to assign permission is out-of-order.

### Expected behavior

I would assume permissions would be listed in least amount to most amount of permission to show some sort of visual hierarchy for the user.

Recommended order:
- Public user (default/ least permissions)
- Project user
- Data co

[2016-09-07 20:11] wonderchook commented on #641
The application I discovered that interferes is [Geo Data Collect](https://play.google.com/store/apps/details?id=hosm.odk.collect.android&hl=en). If I have it installed with ODK then the geotrace and the geoshape don't work. I believe this is because it is using an old version of ODK libraries. There are probably other applications using ODK as a base and have old libraries. You might want to chec

[2016-09-07 20:16] wonderchook commented on #650
I agree!

[2016-09-07 22:11] clash99 commented on #628
Appears to be a safari error only.

[2016-09-07 22:58] clash99 commented on #551
The "my location" button is working and the error in console is no longer being displayed.  I think we can close this one.

[2016-09-08 00:13] #551 closed

[2016-09-08 10:24] oliverroick commented on #447
The API looks quite solid, only a few issues that we should address:

- A few endpoints use the keyword `<slug>` to identify organizations, whereas all other endpoints use `<organization>`. This is an internal problem and not very urgent, it just looks a bit off on our generated docs.
- There seems to be a bug in `organization.views.api.ProjectList`. The serializer requires the project in the cont

[2016-09-08 10:32] ian-ross commented on #447
What do you think about the extra features required for the QGIS plugin?  (Described briefly here: https://devwiki.corp.cadasta.org/@QGIS%20Plugin)

[2016-09-08 10:50] oliverroick commented on #447
Right, I knew I forgot something. I think, that's possible, but it seems like a bigger task and out of scope for this sprint. We should work out what permission filters each endpoint needs to support first.

[2016-09-08 10:55] ian-ross commented on #447
I definitely agree it's out of scope for the current sprint.  For the permissions filtering, I was wondering whether we could do something via the existing `APIPermissionRequiredMixin` class in django-tutelary.  It already does queryset filtering sometimes anyway, so it could just check the request for the `permissions` query parameter at that point and apply an additional filter if it's needed.

[2016-09-08 13:18] #261 closed

[2016-09-08 13:18] #497 closed

[2016-09-08 13:38] seav commented on #533
Reopening this because the unfriendly file name will still appear in the upload form:

![image](https://cloud.githubusercontent.com/assets/1119621/17491564/c2840fd8-5d6d-11e6-9fae-dba67362c2e8.png)

This is caused by JavaScript code in django-buckets. I only resolved the unfriendly filenames that appear in our platform.

[2016-09-08 13:49] seav commented on #533
OK. There's this little bit that slipped from my mind. When the user clicks on the "Download" button on the resource detail page, he or she gets prompted to download using the unfriendly filename because we link directly to the file uploaded in S3. We should provide the original filename in the [`download` HTML attribute](https://developer.mozilla.org/en/docs/Web/HTML/Element/a).

Current template

[2016-09-08 17:58] #272 closed

[2016-09-08 19:16] wonderchook commented on #403
This all looks good to me.

[2016-09-08 19:29] wonderchook commented on #488
To be merged after the features in the sprint are finished

[2016-09-08 19:33] wonderchook opened #653 "API Features for QGIS Plugin"
# Summary
There are some features not currently existing that need to be exposed by the API for the QGIS plugin features to be possible. They are permissions based filtering and attribute schema manipulation.
# Links to requirements and functional testing script
More details are available here [API Features are required for QGIS Plugin to work](https://devwiki.corp.cadasta.org/@QGIS%20Plugin)
# Ac

[2016-09-08 19:34] wonderchook commented on #488
I created #653 as a place holder for the remaining items needed for the QGIS plugin.

[2016-09-08 19:35] wonderchook commented on #447
I made #653 as a placeholder for the additional API features needed, it certainly needs to be written out more though.

[2016-09-08 20:03] wonderchook opened #654 "Determine Migration Rules for Schemas"
We need to decide on a set of migration rules for when a project schema is changed prior to beginning work creating the migration.

related to: #640 and https://github.com/Cadasta/django-jsonattrs/issues/8

[2016-09-08 20:14] wonderchook commented on #43
@dpalomino we need to gather more specific requirements for this.

@bjohare do you think it matters if we tackle this after the rest of the data import stuff has been done?

[2016-09-08 20:15] wonderchook commented on #553
we also need to consider how this will work with the #554

[2016-09-08 20:20] wonderchook commented on #559
@clash99 I'm pushing this off a sprint since I think you already have a lot on your plate for sprint 9

[2016-09-08 20:35] wonderchook commented on #580
related to #573

[2016-09-08 22:49] seav commented on #628
Is this issue resolved by PR #651? (Note the PR follow-up action: "Once released to staging, qa in mobile safari browser")

[2016-09-08 22:51] seav commented on #585
Is this issue closed by #639? Note @clash99's request above: "I would like for someone who was seeing the hex boxes to confirm that this is working correctly for them."

[2016-09-08 23:09] seav commented on #556
Needless to say, this also affects editing the project boundary.

[2016-09-09 07:01] oliverroick commented on #447
I will add some thoughts after I finished this task

[2016-09-09 07:18] bjohare commented on #43
@wonderchook we should be able to retrofit this to the data import work. Some additional requirements would be useful though..

[2016-09-09 09:00] oliverroick commented on #447
### Status update

This was working correctly, the endpoint does not support creating new projects.

Fixed

Fixed

Fixed

[2016-09-09 09:36] kavindya89 commented on #626
I'll work on this. This will be my first issue as a contributor. :)

[2016-09-09 09:56] oliverroick commented on #626
Great!

[2016-09-09 13:08] oliverroick commented on #447
### Status update

I did another check and found that the relationships are not serialized correctly for both `Party` and `SpatialUnit` models; the relationship list in the API responses for those entities contains just a list of `PartyRelationship` IDs or `SpatialRelationship` IDs, respectively. `TenureRelationships are not included.

I tried to solve the issue, but I ran into circular imports be

[2016-09-09 13:14] clash99 commented on #628
Passed QA in mobile Safari browser on staging.  Closing this task.

[2016-09-09 13:14] #628 closed

[2016-09-09 13:27] ian-ross commented on #585
I checked it and commented when I merged the PR, but I guess the PR didn't have the magic to close the issue. Anyway, it works!

[2016-09-09 13:27] #585 closed

[2016-09-09 13:40] seav commented on #447
I would suggest to remove listing the relationship field from the serialized party and spatial unit objects. This should remove the dependency of the `SpatialUnitSerializer` to the `TenureRelationshipSerializer`.

Anyway, if the user wants to explore the relationships, we still have the API endpoints that query the relationships given the party or spatial unit ID:
[code]

P.S. I really want to com

[2016-09-09 14:02] #403 closed

[2016-09-09 16:46] wonderchook commented on #43
Assigning to @dpalomino for requirements development so it can be included in Sprint 10.

[2016-09-09 17:07] clash99 commented on #606
Org overview - Fixed css for row-height responsive design and updated page to include projects and hide members.  Flipped left and right columns for responsive small screens.

![screenshot 2016-09-09 10 53 21](https://cloud.githubusercontent.com/assets/1119621/18395475/0a3f126c-7684-11e6-8c65-7ee3f8d67ff3.png)

Also made footer fixed height with no visible overflow in sm screens for dashboard and

[2016-09-09 22:40] ApheleiaS commented on #632
Hello, My name is Akanksha and I would like to work on this bug as a first contribution for candidacy for Outreachy upcoming round. I am new to Cadasta and am just setting up the env.

I was trying to reproduce this bug as reported on this URL : "https://platform-staging-api.cadasta.org/projects/new" as I could see in the bug report.
However on creating a new project here and typing in the project

[2016-09-09 22:47] wonderchook commented on #632
@ApheleiaS could you type in the exact directions you did to create a new project. Including what you input in so maybe I can help track it down?

[2016-09-09 22:48] wonderchook commented on #632
Actually in looking at the errors. Did you create a new organization and username prior to creating the project?

[2016-09-09 23:41] wonderchook opened #659 "Increase length of notes field from 500 characters to 2500 characters"
Users are putting long instructions in the note field type for XLSForms. Currently we only accept up to 500 characters. Let's increase the length to 2500. (The note type that brought this up as an issue was over 1000 characters).

[2016-09-10 03:50] kavindya89 commented on #626
@oliverroick @clash99 I noticed one more thing. In member list page when there isn't full name member first column. I'll fix that as well :)

[2016-09-10 18:32] kavindya89 commented on #626
@oliverroick @clash99 I noticed one more thing. In member list page when there isn't full name member first column. I'll fix that as well :)

[2016-09-10 18:45] kavindya89 commented on #626
Hi All,

I submit a pull request. Since this is my first pull request for the project, it may need changes. Appreciate your suggestions. Attached images as well.

Thanks you

[2016-09-10 18:45] kavindya89 commented on #626
![screen1](https://cloud.githubusercontent.com/assets/22070016/18412770/e592f370-77b4-11e6-9ecf-c3827a6b8e36.png)
![screen2](https://cloud.githubusercontent.com/assets/22070016/18412771/e59c141e-77b4-11e6-8237-2d5d3bfb0a02.png)

[2016-09-10 18:46] kavindya89 commented on #626
The user Geshani don't have a full name :)

[2016-09-11 09:44] #659 closed

[2016-09-12 02:09] nathalier commented on #631
Hi!
I'd like to work on it as my first issue here:)

[2016-09-12 09:48] dpalomino commented on #641
Thanks @wonderchook. I didn't see any other app, but I was unable to check in detail (the affected devices were not available later on). Maybe a recommendation for future sessions would be to deinstall all these other apps...

[2016-09-12 09:53] dpalomino commented on #43
Thanks @wonderchook, I will create some requirements for this.

[2016-09-12 10:02] bjohare opened #662 "Improve browser detection of .gpx files on GPX import"
### The problem

Currently, browser mime-type detection of files with `.gpx` extension is unreliable. GPX files that need to be imported into the platform must be renamed to have a `.xml` extension. We should investigage how to improve correct mime-type detection of `.gpx` files and/or improve _django-buckets_ error reporting if this is not possible.
### Actual behavior

GPX files to be imported m

[2016-09-12 10:06] bjohare opened #663 "Use marker clustering on GPX imported waypoints"
### Steps to reproduce the error

Marker clustering should be implemented for imported GPX waypoints.
### Actual behavior

No marker clustering is currently applied.
### Expected behavior

Imported waypoints should use the markerclustering library to cluster waypoints that are geographically proximate.

[2016-09-12 10:28] #533 closed

[2016-09-12 10:34] bjohare opened #664 "Create locations using imported GPX files without making use of the drawing tools"
### The problem

We need to be able to create `Locations` directly from imported GPX files without using the drawing tools. Attributes associated with a `waypoint`, `route` or `track` should be imported and used to assist the definition of the `Location`.

See [here](https://devwiki.corp.cadasta.org/GPX%20Import) for detailed requirements.
### Actual behavior

Currently, GPX layers are imported fo

[2016-09-12 11:08] ian-ross commented on #635
Fixed by @bjohare in #656

[2016-09-12 11:08] #635 closed

[2016-09-12 12:05] #447 closed

[2016-09-12 13:26] nathalier commented on #631
While I'm researching how to update translation (https://gitter.im/Cadasta/cadasta?at=57d6a3f383c1556511bd4c90), this is what I have so far: https://github.com/Cadasta/cadasta-platform/commit/5a95bd6ef905f02d8691ccda608d2bf76e8dc6d8 .
Any comments are appreciated!